[2022-04-21 00:27] #3221 closed

[2022-04-21 10:00] zymap opened #3231 "BP-51: BookKeeper client memory limits"
# BookKeeper client memory limits

# Motivation

If one bookie is slow (not down, just slow), the BK client will the acks to the user that the entries are written after the first 2 acks. In the meantime, it will keep waiting for the 3rd bookie to respond. If the bookie responds within the timeout, the entries can now be dropped from memory, otherwise the write will timeout internally and it will g

[2022-04-21 10:31] zymap commented on #3231
@merlimat @eolivelli @dlg99 Please help to review this proposal. Thanks!

[2022-04-21 11:31] nicoloboschi commented on #3209
Thanks @sulunemre . I created the label and added it to all the recent flaky-tests issues

[2022-04-21 11:31] #3209 closed

[2022-04-21 11:54] eolivelli commented on #3231
Is it a typo 'clientMemoryLimitByBytes'? Did you mean 'clientMemoryLimitBytes'?

[2022-04-21 13:46] nicoloboschi opened #3233 "Restore DistributedLog website"
**BUG REPORT**

***Describe the bug***

DistributedLog website is not available at: https://bookkeeper.apache.org/distributedlog/docs/latest/user_guide/api/core
I'm not sure the cause is the new website. The docs is in his old repository: https://github.com/apache/distributedlog/tree/master/website

[2022-04-21 13:47] hangc0276 commented on #3222
When we read the ledger, the first read reaches bk3, which is unavailable, it will set the `firstError` to `BookieHandleNotAvailableException`. And the schedule to the read to bk2. The bk2 returns `NoSuchEntryException` due to the ledger doesn't have any entries. In the callback, the `firstError` won't be updated as `NoSuchEntryException` and keeps `BookieHandleNotAvailableException`.

https://git

[2022-04-21 16:30] Raven888888 opened #3236 "Pulsar Bookkeeper dies unexpectedly"
Hello! I'd like to ask about 2 issues that I've faced:

**Question 1:**

We have 3 servers, each hosted Pulsar Broker, BK and ZK as a cluster. And for unknown reason, the Broker runs for a minute and stopped due to timeout error. And we notice that there are warnings from broker.log in Server1:

[code]

We know that this is due to the Broker in Server2 unexpectedly restarted, but this also happens

[2022-04-21 19:49] dlg99 opened #3237 "CLI: "--ledgeridformatter" inconsistently wired and ends up being unusable"
**BUG REPORT**

`LedgerCommand` supports following flags:

[code]

`ListLedgersCmd` (used by CLI to call `LedgerCommand`):
[code]

on attempt to use that option one gets

[code]

**Expected**: ledgeridformatter as usable option.

**same problem with `ListUnderreplicatedCmd` and possibly other commands**

[2022-04-21 19:59] #3237 closed

[2022-04-21 19:59] dlg99 commented on #3237
my bad, `bin/bookkeeper shell --ledgeridformat hex listledgers` works

[2022-04-22 00:47] zymap commented on #3231
@eolivelli  Yes, It's `clientMemoryLimitBytes`

[2022-04-23 13:40] Shoothzj opened #3243 "Can't directly run LocalBookkeeper from `bookkeeper-server` module"
Currently, we can't run LocalBookKeeper  directly from the bookkeeper-server module, because the `snappy-java` and `metrics-core` are marked as test dependency, the LocalBookKeeper needs them. Should we make these dependency to compile?

[2022-04-23 13:52] nicoloboschi commented on #3243
What's the advantage of the possibility to run it from the server module?

[2022-04-23 14:00] Shoothzj commented on #3243
@nicoloboschi the advantage is that allow people can run it directly from ide
<img width="719" alt="image" src="https://user-images.githubusercontent.com/12933197/164909141-95244d0f-6bcd-4bbd-8d81-148d74f8b18b.png">

[2022-04-25 04:46] Shoothzj opened #3247 "[prometheus] jvm_memory_direct_bytes_used metrics return Nan when using jdk11+"
***To Reproduce***
1. use jdk run localbookie
2. get prometheus metrics

***Additional context***
I am working on this.

[2022-04-25 22:28] #3222 closed

[2022-04-26 06:17] #3224 closed

[2022-04-26 19:17] dlg99 commented on #3243
I haven't looked at this closely, in case you have: how does it get these dependencies when runs from the command line? What's different in the jar built there/shell scripts that launch it?

[2022-04-26 19:21] dlg99 opened #3249 "Multiple tests marked as "@FlakyTest" and de-facto not running"
JUnit ignores tests with "@FlakyTest" annotation unless they have "@Test" annotation too

Affected test suites:

- TestLedgerAllocator
- TestDistributedLogAdmin
- TestDynamicConfigurationFeatureProvider
- TableClientSimpleTest
- BookKeeperDiskSpaceWeightedLedgerPlacementTest
- BookieDecommissionTest (I fixed this one in another PR)
- BookieStorageThresholdTest
- EntryLogTest

[code]

[2022-04-26 19:34] dlg99 commented on #3231
There are two sides of the backpressure configuration:
- client: https://github.com/apache/bookkeeper/pull/1088
- server: https://github.com/apache/bookkeeper/pull/1410

Ideally both have to be configured.

For the client side to work you'd have to configure clientWriteBufferLowWaterMark and clientWriteBufferHighWaterMark (default values might be ok) plus waitTimeoutOnBackpressureMs (default: -1,

[2022-04-26 21:25] #3165 closed

[2022-04-27 01:50] zymap commented on #3231
Thanks @dlg99 , I will take a look

[2022-04-28 06:51] Shoothzj opened #3250 "Should we shutdown the bookie or retry when registration failure"
about the flaky test https://github.com/apache/bookkeeper/issues/3206

I have figured out why testBookieServerZKExpireBehaviour falky.

It's due to Registration task, bookie will retry to registration when zk session expires. If the registration fail, it will cause the bookie shutdown ExitCode.ZK_REG_FAIL.

@dlg99 @eolivelli @merlimat PTAL

[2022-05-02 01:54] Shoothzj commented on #3121
usually, Mb means bytes, I don't think it needs to address in the doc.
I think this issue can be closed. @eolivelli @dlg99

[2022-05-02 02:03] Shoothzj commented on #2488
this issue can be closed by #3175 . Please try to build with the latest code.

[2022-05-02 06:37] #2505 closed

[2022-05-02 06:37] eolivelli commented on #3121
Yes it is bytes

[2022-05-02 06:37] #3121 closed

[2022-05-02 06:38] eolivelli commented on #2488
@LutzWeischerFujitsu can you please try again?

[2022-05-02 06:38] #2399 closed

[2022-05-02 06:52] Shoothzj commented on #2221
this can be closed by #2995

[2022-05-02 08:40] #2221 closed

[2022-05-02 08:40] #2510 closed

[2022-05-03 00:30] Shoothzj commented on #3243
@dlg99 In command line case, we have dependency in `bookkeeper-dist-server`, which scope is `compile`

[2022-05-04 06:24] #3168 closed

[2022-05-04 13:20] #3243 closed

[2022-05-04 13:44] #2669 closed

[2022-05-04 13:55] #2518 closed

[2022-05-04 13:56] nicoloboschi commented on #2508
Resolved by https://github.com/apache/bookkeeper/pull/3217

[2022-05-04 15:06] Shoothzj commented on #2872
closed by #2787

[2022-05-04 15:06] #2872 closed

[2022-05-04 15:40] nicoloboschi opened #3257 "Remove Powermockito usage in favor of mockito-inline"
This is the initial pull https://github.com/apache/bookkeeper/pull/3077

PowerMockito static mocks don't work well with the latest JDK class encapsulation mechanisms. The main problem is that PowerMockito, in order to mock a single static method of a class, try to setAccessible a lot of other apparently related classes. This means, starting from JDK17, you need to add --add-opens to the Java runti

[2022-05-04 18:12] RaulGracia opened #3258 "Bookkeeper 4.15 shows a write throughput drop of ~20% compared to Bookkeeper 4.14"
**BUG REPORT**

***Describe the bug***

We have done some performance regression tests on the Bookkeeper 4.15 RC and compared it with Bookkeeper 4.14. We have detected a performance regression of around 20% in write throughput in the new release candidate (the same performance regression may be also impacting current master).

We have used the following configurations:
- BK client 4.14 - BK server

[2022-05-04 18:38] merlimat commented on #3258
@RaulGracia Thanks for looking into this.

For the latency part, I think the 5 secs for 99pct is already a **huge** number, so I wouldn't weight too much on 5sec vs 7.5 secs. I would be interesting to see it in a more reasonable setting with <5ms 99pct and see the comparison 4.14 vs 4.15.

Can you include the throughput charts on the bookies too?
For profiling, it would be very helpful to get a fl

[2022-05-04 19:31] eolivelli commented on #3258
Are you using a docker image build from Bk repo?
Or are you using some BK package built from Pravega?
I am asking this because the set of dependencies may look different, especially Netty is usually a problem.

[2022-05-04 19:34] eolivelli commented on #3258
Can you share the bk configuration?
Is is exactly the same with 4.14 and 4.15?
Are you inheriting defaults or setting explicitly all the values?

[2022-05-04 22:58] dlg99 opened #3259 "ListUnderReplicatedCommand: support multiple include/exclude bookies"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

ListUnderReplicatedCommand: support multiple include/exclude bookies

* list underreplicated ledgers with replicas missing on either bookie1 OR bookie2, excluding bookie3 and bookie4
* list underreplicated ledgers with replicas missing on bookie1 AND bookie2

2. Indicate the importance of this issue to you (blocker, must-have

[2022-05-04 23:35] dlg99 commented on #3150
Assuming you cannot add a new disk/expand existing disk:

* can the bookie start as readonly? (forceReadOnlyBookie = true) I hope it won't try to create a journal in this case.
* Journal disk out of space: you can clean up older copies of journals, reduce journal file size to fit into the available space, reduce journalMaxBackups
* ledger disks out of space: reduce logSizeLimit to fit two entrilog

[2022-05-04 23:54] dave2wave commented on #3258
I ran the DataStax version of the OMB with two different Pulsar clusters based on 2.10. One with BookKeeper 4.15.0 and the other 4.14.5 using different changes provided by Andrey.

I ran a 1 million messages per second 10 topic 3 partition with 100 byte messages and a 400K messages per second 10 topic 3 partition with 1K messages scenario. Both tests ran in AWS us-west-2a and were nearly identical

[2022-05-05 00:32] merlimat commented on #3258
Thanks @dave2wave! It looks a very tiny regression on 99pct (~0.2 ms), which would be interesting to understand but I don't think it's really a blocker for the release.

Did you also run a max-throughput test?

[2022-05-05 00:40] dave2wave commented on #3258
The 1K test is the reverse. I really don't think these are too different. I've left the clusters up and will do any suggested workloads in the morning. Feel free to provide any particular workload configuration.

[2022-05-05 07:03] OlegKashtanov commented on #3258
I've added the Bookies write throughput charts. We can observe the same throughput difference as on Pravega side.
![bk-write-tp](https://user-images.githubusercontent.com/8101276/166875897-7dd86224-568c-4ab4-845e-1b3214c151a2.png)

We are using the BK code from apache/bookkeeper repo for building the BK package. After that we build the BK docker image using our own Dockerfile with different base i

[2022-05-07 02:49] fu-turer opened #3261 "spelling mistake in bk_server.conf"
![image](https://user-images.githubusercontent.com/25685998/167235038-4c090c04-febe-476d-a0c7-fc0c401b9cdf.png)

[2022-05-07 12:11] Shoothzj commented on #3261
closed by #3262

[2022-05-07 12:11] #3261 closed

[2022-05-09 08:08] RaulGracia commented on #3258
After multiple experiments, @OlegKashtanov has concluded that this issue in throughput drop seems not consistent based on the Bookkeeper commit being used and therefore, it may be related to our internal deployment/environment. Due to this, I will be closing this issue and re-open it if we identify that there is any consistent Bookkeeper-related performance problem. Thanks to all that helped to lo

[2022-05-09 08:08] #3258 closed

[2022-05-11 09:26] horizonzy opened #3268 "[Discuss] Shall we support ping-pong to check connection is still alive."
***Describe the bug***
Recently, we encounter an issue. The bookie request sometimes timedout.
Below is the log info:
[code]
Finally, we found that the network wall policy will drop packet after the connection didn't communicate with peer in a while.
So client packet didn't send to  server, and tcp retry reach max retry count, then close the connection.

Shall we support ping-pong by interval to c

[2022-05-11 11:18] zwOvO opened #3270 "[Doc] Invalid hyperlink for Apache Pulsar in the OverView page"
**BUG REPORT**

***Describe the bug***

Invalid hyperlink for Apache Pulsar#persistent-storage

***To Reproduce***

Steps to reproduce the behavior:
1. Go to [OverView](https://bookkeeper.apache.org/docs/overview)
2. Click on 'Apache Pulsar'

***Expected behavior***

404 error page

***Screenshots***
![image](https://user-images.githubusercontent.com/18533252/167837853-5c91daa8-3b1f-4c6a-abfd-0114

[2022-05-12 09:51] zwOvO opened #3275 "[website]Invalid hyperlink for bookkeeper.apache.org"
**BUG REPORT**

***Describe the bug***

The hyperlink to bookkeeper.apache.org is out of date

***To Reproduce***
**visit website**
[installation guide](https://bookkeeper.apache.org/docs/latest/getting-started/installation/)
[documentation](http://bookkeeper.apache.org/docs/latest/)

***Expected behavior***

1、404 error page
2、outdated FTP page

***Screenshots***
![image](https://user-images.gith

[2022-05-13 10:00] Torkin1 opened #3279 "set up sonarcloud ci analysis"

[2022-05-13 10:01] #3279 closed

[2022-05-17 11:20] #2514 closed

[2022-05-18 06:22] fu-turer opened #3282 "CleanupLedgerManager' futurers leak when zk abnormallity"
**BUG REPORT**

***Describe the bug***

pulsar broker can not read ledgers when zk abnormallity.  after some time running, threr are some error log like:
[code]
And a few hours ago, there are some error logs in pulsar broker:
[code]
this is pulsar broker memory head dump
[code]
![image](https://user-images.githubusercontent.com/25685998/168969148-572741b6-daaf-4a45-a474-91d3472ee65e.png)

***Addit

[2022-05-18 06:26] fu-turer commented on #3282
is something went wrong in this method ? futurers add promise but didn't remove. org.apache.bookkeeper.meta.CleanupLedgerManager#recordPromise
[code]

[2022-05-19 18:27] dlg99 opened #3284 "Add metrics (counter + latency) for ZK reconnect attempts"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

Metrics for ZK reconnects to be able monitor that and alert on frequent reconnect

2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).

   HIGH

there are log message for start/success/error on reconnect but monitoring on logs is not convenient.

4. Provide any additional detail on

[2022-05-22 13:24] leizhiyuan opened #3286 "improve the monitor alibility of OrderedExecutor"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

when we use OrderedExecutor, sometimes the task is slow, especially when we put the same  ledgerId  to one thread

now the timerRunnable will print

[code]
it is not helpful for solving some problem

maybe we can start a monitor thread, when the time  of one task  exceeds threshold in the thread pool. we  also printStackTrace

[2022-05-23 13:13] tal705 opened #3287 "Can not recognize ipv6 ip when init zk"
**BUG REPORT**

***Describe the bug***
when I use pulsar script and run initialize-cluster-metadata, logs show an error that ipv6 ip is Invalid hostname.

logs (I use x to replace some character):
[code]

***To Reproduce***
Pulsar Version:2.9.2 (it use bookkeeper 4.14.4)
Zk can be connected.
Use Pulsar script `bin/pulsar`, then run command:
[code]

***Expected behavior***
Solve this problem.

[2022-05-24 15:05] OlegKashtanov opened #3289 "DEBUG log level by default in Bookkeeper 4.15.0 release"
**BUG REPORT**

***Describe the bug***

In official image **apache/bookkeeper:4.15.0** there is a DEBUG log level by default when you start the container even the logging is configured for using INFO level.
BK java system properties:
[code]
log4j2.xml:
[code]
There is no issue with **apache/bookkeeper:4.14.5**, **apache/bookkeeper:4.14.4**, **apache/bookkeeper:4.14.3** and the **latest** images.

[2022-05-25 12:38] nicoloboschi opened #3290 "New website download page is not compliant with the ASF policy"
The download page has three ways it is breaking ASF Release Policies.
- Links to current releases should not be to [archive.apache.org](http://archive.apache.org/) - the preferred form is [www.apache.org/dyn/closer.lua/](http://www.apache.org/dyn/closer.lua/)
- There is no link to a KEYS file on [downloads.apache.org](http://downloads.apache.org/) with a discussion about verification by checking t

[2022-05-25 13:01] #3290 closed

[2022-05-25 14:13] GBM-tamerm opened #3292 "Bookkeeper shutdown when we stop ZK leader node"
**BUG REPORT**

***Describe the bug***

When we stop ZK leader node , it start new elections , and ZK clients get disconnected , any Bookie node with auto recovery running in the background will be shutdown with below exception
2022-05-24T02:13:33,263-0400 [AuditorElector-10.119.33.232:3181] ERROR org.apache.bookkeeper.replication.AuditorElector - Exception while performing auditor election
java.i

[2022-05-25 16:27] merlimat commented on #3292
The restart is caused by the auto-recovery component of the bookies. In general, it is better to run the auto-recovery as a separate service (it's completely stateless), rather than as part of the bookies.
That will make the bookies not to restart on ZK session loss.

[2022-05-25 19:05] merlimat commented on #3292
@GBM-tamerm yes, the auto-recovery process will still restart, though the bookie process won't do that anymore.

It will not be a problem since auto-recovery runs in background and won't cause any disruptions to existing clients.

[2022-05-25 19:45] GBM-tamerm commented on #3292
But it is causing issue as shown the above excpetion trace
the auto-recovery is failing when the leader ZK stopped and new election start , and when it fail , it still shut down bookies nodes that has auto-recovery , although i manually stopped auto recovery before shut down the ZK leader .
what is the solution?

[2022-05-25 22:13] GBM-tamerm commented on #3292
Same issue reported in BK community
https://github.com/apache/bookkeeper/issues/3094
any help is highly appreciated , thanks

[2022-05-25 22:43] merlimat commented on #3292
the auto-recovery is failing when the leader ZK stopped and new election start , and when it fail , it still shut down bookies nodes that has auto-recovery , although i manually stopped auto recovery before shut down the ZK leader .
what is the solution?

@GBM-tamerm In bookies you need to disable auto-recovery by setting in `bookkeeper.conf`:
[code]

Then you can run auto-recovery as a separate s

[2022-05-25 23:04] GBM-tamerm commented on #3292
i tried that now , but autorecovery is failing with below excpetion
2022-05-25T19:02:14,298-0400 [main] ERROR org.apache.bookkeeper.common.component.AbstractLifecycleComponent - Calling uncaughtExceptionHandler
2022-05-25T19:02:14,299-0400 [main] ERROR org.apache.bookkeeper.common.component.ComponentStarter - Triggered exceptionHandler of Component: autorecovery-server because of Exception in Thre

[2022-05-26 15:23] sudoHackIn opened #3293 "missing video link(possibly) in documentation"
In documentation about Paxos
https://bookkeeper.apache.org/docs/api/ledger-api/#leaders-and-followers-and-a-bit-of-background

in
Paxos is an abstract algorithm to implement this kind of agreement, while Zab and Raft are more practical protocols. **This video gives** a good overview about how these algorithms usually look

There possibly missing link to video (for example like this https://www.you

[2022-05-26 19:30] nicoloboschi commented on #3293
I checked the website git history and that video has never been there.
@sudoHackIn would you mind to add it ? the file to modify is https://github.com/apache/bookkeeper/blob/master/site3/website/docs/api/ledger-api.md

[2022-05-26 19:42] sudoHackIn commented on #3293
No problem, but i'm not sure what is the best source for link. Is provided video good enough?

[2022-05-27 22:02] sudoHackIn commented on #439
Hi,@sijie, what actually documentation about docker deployment should be [this](https://hub.docker.com/r/apache/bookkeeper) docker-image information (including docker-compose example) is good enough for me. Should we provide additional link to it from "Docker deployment" section?

[2022-05-29 03:19] boatrainlsz opened #3295 "JVM exited when running localbookie"
***Describe the bug***
JVM exited when running localbookie
bk version : latest
jdk version:
openjdk version "17.0.3" 2022-04-19
OpenJDK Runtime Environment Temurin-17.0.3+7 (build 17.0.3+7)
OpenJDK 64-Bit Server VM Temurin-17.0.3+7 (build 17.0.3+7, mixed mode, sharing)
***To Reproduce***

Steps to reproduce the behavior:
1. download latest bin zip from release page and upzip it
2. execute `bin/boo

[2022-05-29 18:39] sudoHackIn commented on #3295
This flag (-XX:+AggressiveOpts) was deprecated in JDK 11 and removed in JDK 12(https://bugs.java.com/bugdatabase/view_bug.do?bug_id=8199778), and according to link

So, may be the best solution - to remove AggressiveOpts and define AutoBoxCacheMax and BiasedLockingStartupDelay explicitly. According to [Java’s -XX:+AggressiveOpts: Can it slow you down?](https://www.opsian.com/blog/aggressive-opts/)

[2022-05-29 18:46] sudoHackIn commented on #3289
@nicoloboschi if you and @OlegKashtanov are not againts my help, i would like to help

[2022-05-30 00:52] Shoothzj commented on #3289
Sorry for my late reply. I must missed messages. @sudoHackIn Thanks for your help, I can assign this issue to you.

[2022-05-30 07:09] weiping-code commented on #3295
I can work on this

[2022-05-30 09:30] RaulGracia opened #3299 "Syntax error in conf/log4j2.cli.xml"
**BUG REPORT**

Problem with log4j configuration when using `bkctl` tool.

***To Reproduce***

Steps to reproduce the behavior:
Used `bkctl` tool on a pod with Bookkeeper 4.15 deployed and observed the following error:
[code]

***Expected behavior***

Logging should be working fine.

***Screenshots***

n/a

***Additional context***
The problem is related to wrong `xml` configuration. When deleting

[2022-05-30 11:26] Shoothzj commented on #3299
@RaulGracia In release 4.15.0? I can't reproduce the error using master code
<img width="1634" alt="image" src="https://user-images.githubusercontent.com/12933197/170982828-7c11f495-feb7-4d2e-b646-1cc5ce8f5115.png">

[2022-05-30 23:47] #472 closed

[2022-05-31 07:24] Shawyeok opened #3302 "Failed to compact entry log due to entry corrupted"
**BUG REPORT**
[code]

bookkeeper shell readlog output
[code]

As we can see above, there is a negative ledger number `-4637262668357016223`, I think it is entry somehow **corrupted**.

I cannot reproduce yet, let me know if need any details.

***Additional context***

Related https://github.com/apache/bookkeeper/issues/2103#issuecomment-501576069

[2022-06-02 00:16] Shoothzj opened #3304 "OWASP CI failure"
I have no idea where `maven-settings-3.3.9.jar` is imported. Can you give me some help?

@nicoloboschi @eolivelli @dlg99

[2022-06-03 00:45] Shoothzj commented on #3304
`maven-settings` is imported by `shrinkwrap`

[2022-06-03 00:45] #3304 closed

[2022-06-03 01:25] #2270 closed

[2022-06-03 05:23] #1514 closed

[2022-06-03 10:24] OlegKashtanov opened #3306 "Bookie can't start after rebooting due the cookie mistmatch"
**BUG REPORT**

***Describe the bug***
Bookie image version: **apache/bookkeeper:4.15.0**
The issue was found using Bookkeeper in Kubernetes. After restarting the Bookie pod, it will always be in the **CrashLoopBackOff** state due the cookies mismatch:
[code]
At the initial start Bookie uses the znode with **Bookie ID** for creating the cookie:
[code]
After  the restart it tries to find the cookie

[2022-06-05 08:14] Shoothzj opened #3312 "`https://bookkeeper.apache.org/community/bookkeeper_proposals 404` NOT FOUND"
https://bookkeeper.apache.org/community/bookkeeper_proposals 404 NOT FOUND

[2022-06-05 08:23] hezhangjian opened #3313 "[BP-52] Build and Run Bookkeeper on Java11"
## Motivation
Currently, bookkeeper keeps the compatible with java8. Java11, a lts version of jdk, provides new features and performance optimization. And Java11 was released in 2018 and is now mature. I think it's time to migrate to java11.

## Breaking Changes
java8 is not supported

## Release plan
Including this in bookkeeper 4.16.0

[2022-06-06 12:27] TakaHiro0208 opened #3316 "[AutoRecovery] keep rereplicate a ledger which maybe deleted"
**BUG REPORT**

***Describe the bug***

    Our Production pulsar cluster is multiple nodes with  E-Qw-Qa(3-3-2), enabling auto-recovery by "./bin/bookkeeper shell autorecovery -enable", bookkeeper version is 4.14.1 . Now one bookie server is down, and cluster do autoRecovery. However, there is a ledger can not read by the other 2 ensemble, the error is both : Ledger 1294 not found (It seems the l

[2022-06-07 03:14] #3293 closed

[2022-06-07 11:15] sudoHackIn commented on #2155
@Shoothzj may be we can close this issue, if it was fixed in related pr?

[2022-06-07 11:27] Shoothzj commented on #2155
@sudoHackIn Thanks for your contribution.

[2022-06-07 11:27] #2155 closed

[2022-06-07 13:06] nicoloboschi commented on #3313
Anyway, instead of targeting JDK11, I believe we can go with JDK17 and move the CI to JDK17.
I did some work on that direction but there's still this issue with powermockito: https://github.com/apache/bookkeeper/issues/3257

[2022-06-07 14:33] boatrainlsz commented on #3287
FYI:#1513

[2022-06-08 06:29] lordcheng10 opened #3322 "[BP-53] Two write caches become multi-cache blocks"
**BP**

### Motivation
The current write cache has only 2 blocks, which has the following deficiencies:
1.Insufficient use of cache: When half of the write cache is flushed, it must wait for all the data in the write cache to be flushed before it can be released. With the same write cache size, if we divide the write cache into multiple blocks, the cache resources can be released faster, preventin

[2022-06-10 09:26] RaulGracia opened #3327 "Add Pravega to use-cases in Readme/Documentation"
**BUG REPORT**

***Describe the bug***

We could add Pravega to the use-cases documentation of Bookkeeper, as it is an important dependency for Pravega.

***To Reproduce***
n/a

***Expected behavior***

Add Pravega to the use cases in doc.

***Screenshots***

n/a

***Additional context***

n/a

[2022-06-13 08:38] Shoothzj commented on #3327
closed by #3328

[2022-06-13 08:38] #3327 closed

[2022-06-14 09:55] #3132 closed

[2022-06-14 10:48] leizhiyuan opened #3332 "what the default session retry policy"
**QUESTION**

<img width="1395" alt="image" src="https://user-images.githubusercontent.com/2684384/173560139-33f0f326-7844-4dea-a225-7a23d635be11.png">

it seems AuditorElector do not set the session retry policy

<img width="1484" alt="企业微信截图_4e234bac-7d48-4970-bcb5-33d9929f79ca" src="https://user-images.githubusercontent.com/2684384/173560368-0dd45974-3fb1-45f7-9fb4-f9f4ff8ac67a.png">

our zk ti

[2022-06-16 00:23] Shoothzj commented on #3299
@RaulGracia  I will close this issue first, feel free to reopen it

[2022-06-16 00:23] #3299 closed

[2022-06-16 03:12] Nicklee007 opened #3338 "[improve] decommissionBookie always waiting too long time after ledgers be replicated completed"
**improve**

As the Decommissioning bookie case， always change the bookie status to readonly firstly, and then wait some data expired, but always it has some ledgers (about 100+ -- 300+) legacy not be cleaned and the leaved ledgers only has little data , when we running `bin/bookkeeper shell decommissionbookie -bookieid  ` to decommission the bookie ,  we always pending   about 10 min and have not

[2022-06-19 03:19] hangc0276 opened #3345 "backward-compat test in CI doesn't run at all"
The PR https://github.com/apache/bookkeeper/pull/3340 breaks the `backward-compact` test, after this PR merged, the `backward-compact-tests` in CI don't run at all.

https://github.com/apache/bookkeeper/runs/6928923882?check_suite_focus=true

[2022-06-19 23:30] leizhiyuan commented on #2773
@Vanlightly

thanks for your work， I want to ensure the step， so if we want to rebuild the ledger index， we need to

1. restart bookkeeper with read-only mode
2. rebuild the index with bookkeeper shell
3. restart with the normal node

if we rebuild the index with bookkeeper shell in a normal mode （maybe as you say， we run bk in container ）， what thing will be happened？ such as read operation and w

[2022-06-19 23:31] leizhiyuan commented on #3332
the original issue just like https://github.com/apache/bookkeeper/issues/3292

[2022-06-21 01:52] leizhiyuan commented on #3292
auto recovery component will take affect the  bookie-server , if zk leader down, auto recovery will throw a connection loss expcetion ,then it will execute the shutdown hook. auto recovery do not process connection loss correctly.

[2022-06-21 15:37] michaeljmarshall commented on #1947
This PR https://github.com/apache/bookkeeper/pull/3309 might help. At the very least, it is going to remove the warning log.

[2022-06-21 21:03] dlg99 commented on #2208
I think this will fix the issue: https://github.com/apache/bookkeeper/pull/3350

I encountered this in the logs of the customer's cluster.

[2022-06-21 21:18] dlg99 commented on #3338
I think the wait is related to https://github.com/apache/bookkeeper/blob/eadbdd4b6bfeef9924a3ff2c59fc3718cf3dc06b/bookkeeper-server/src/main/java/org/apache/bookkeeper/client/BookKeeperAdmin.java#L1623

You can make this time configurable via the decommission command flag / add logging.

[2022-06-21 21:45] dlg99 opened #3351 "Audito exits silently on ZK timeout"
**BUG REPORT**

***Describe the bug***

Autorecovery running standalone:

[code]

after loss of ZK connectivity.

Eventually this can get to the situation when there is no Auditor in the cluster.

***Expected behavior***

Auditor shutdown should either result in the thread restart/attempted reconnect to ZK, if needed or should trigger AR service's shutdown/fail healthcheck so k8s has a chance to r

[2022-06-22 02:39] Nicklee007 commented on #3338
@dlg99
Yep, the wait time related to the config of `maxSleepTimeInBetweenChecks`.  If we add command  parameter to change the `maxSleepTimeInBetweenChecks`, the users maybe could not forecast how long will it take to rereplicate completed. It's a risk if user set a small `maxSleepTimeInBetweenChecks` and then the auditor is running to do some time-consuming operation like `checkAllLedger` could no

[2022-06-23 16:51] horizonzy opened #3355 "Question about resolving network location."
**QUESTION**

I noticed that when we resolve network location for a bookieId, the bookieId must exist in knownBookies or historyBookies. If not, return “default-region/default-rack”. In some case, we need resolve the old bookieId which exists at old ledger metadata ensembles. The bookieId already shutdown for long time, knownBookies and historyBookies didn’t hold it. I can’t resolve these bookieId

[2022-06-24 02:09] horizonzy commented on #3355
Maybe I got it, if the bookie didn't active anymore, we didn't care the network location it is.

[2022-06-24 02:09] #3355 closed

[2022-06-24 12:49] zhongxp1219 commented on #2161
hi, @Shoothzj @fu-turer when i set httpServerEnabled=true, prometheus will not provide metrics, the code show as follows.
<img width="1342" alt="image" src="https://user-images.githubusercontent.com/22350886/175538570-de60d4da-46d0-46cb-b066-0cd78b09e948.png">

And, if i modified the code that let prometheus provides metric endpoint while set httpServerEnabled=true, it will return content-Type wit

[2022-06-24 18:28] dlg99 opened #3358 "ZkLedgerUnderreplicationManager: cache responses / reduce number of zk calls by isLedgerReplicationEnabled()"
It looks like ZkLedgerUnderreplicationManager.isLedgerReplicationEnabled() can cache the state and either use watcher (see notifyLedgerReplicationEnabled) + enableLedgerReplication/disableLedgerReplication or just some time interval (10sec or so) to cache the value for.

AFAICT Auditor.checkAllLedgers() calls it rather frequently

[2022-06-25 08:09] horizonzy opened #3360 "AutoRecovery memory leak problem."
**BUG REPORT**

#### In Auditor, we will checkAllLedger in the scheduled task `scheduleCheckAllLedgersTask`.
https://github.com/apache/bookkeeper/blob/677ccec3eb84f5be1b3556537871e14eb5e8359c/bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/Auditor.java#L1333

#### In ReplicationWorker, we will check ledgerFragment to replicate.
https://github.com/apache/bookkeeper/blob/677ccec3eb

[2022-06-25 08:21] horizonzy opened #3362 "Race condition problme in AbstractZkLedgerManager"
**BUG REPORT**

There are two methods in AbstractZkLedgerManager.
1. **registerLedgerMetadataListener**
https://github.com/apache/bookkeeper/blob/677ccec3eb84f5be1b3556537871e14eb5e8359c/bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/AbstractZkLedgerManager.java#L389-L409

2. **unregisterLedgerMetadataListener**
https://github.com/apache/bookkeeper/blob/677ccec3eb84f5be1b3556537871e14e

[2022-06-26 09:18] horizonzy commented on #3358
good idea.

[2022-06-28 22:19] dlg99 opened #3373 "Leaky abstractions: LedgerManagerFactory (possibly others) throws KeeperException"
Abstraction that hides implementation details of ledger manager throws exceptions specific to the implementation (ZK in this case).
E.g. this makes no sense for the Etcd based ledger manager.

[2022-06-29 13:54] horizonzy opened #3377 "BP-54: Repaired the ledger fragment which ensemble not adhere placement policy."
### Motivation

There is a user case about data availability.

1. They have two racks, they have a rack aware policy that ensures it writes across two racks.
2. They had some data on a topic with long retention
3. They ran a disaster recovery(DR) test, during this test, they shut down one rack.
4. During the period of the DR test, auto-recovery ran. Because the DR test only has one rack active, an

[2022-06-29 13:56] horizonzy commented on #3377
The proposal PR:
https://github.com/apache/bookkeeper/pull/3359

[2022-07-06 18:29] dlg99 opened #3389 "Prioritize compaction of entry logs with the lowest amount of remaining usable data"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

Prioritize compaction to free up more space faster.

2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).

must-have

3. Provide any additional detail on your proposed use case for this feature.

Looking at GarbageCollectorThread:

doCompactEntryLogs() iterates over entry logs in wh

[2022-07-07 03:20] dlg99 opened #3391 "Flaky-test: org.apache.bookkeeper.test.OpStatTest.testTopLevelBookieWriteCounters"
Got this on CI:

[code]

passed on rerun

[2022-07-07 14:33] aluccaroni opened #3394 "Upgrade JNA dependency"
**FEATURE REQUEST**

BookKeeper currently depend from JNA 3.2.7 (https://github.com/java-native-access/jna), released in 2010: we are a lot behind the current release.

We embed BK in our application and recently we encountered an issue with another peace of software that needs JNA 5.8.0+ in it's latest version, so we are stuck. There are no security issue on the JNA side (that I'm aware off) but

[2022-07-07 14:34] eolivelli commented on #3394
Do you have some error to share ? did you try to upgrade ?

[2022-07-12 00:13] dlg99 commented on #3394
let's see if this works: https://github.com/apache/bookkeeper/pull/3400
It built locally but I didn't run the tests

[2022-07-13 13:11] #3394 closed

[2022-07-14 08:04] wolfstudy opened #3405 "Ledger has been in IN_RECOVERY state and cannot be recovered"
**BUG REPORT**

***Describe the bug***

Initially, we found that a topic in Pulsar could not do normal message production and sending operations. Therefore, querying the stats and stats-internal of the current topic returns no results, as follows:

Status:

[code]

Status-internal:

[code]

At this point, I went to query Bookie's log and found the following error message:

![image](https://user-im

[2022-07-14 12:17] eolivelli commented on #3405
are you sure that this is a bookkeeper problem ?
do you have any logs from the bookkeeper client ? "org.apache.bookkeeper" loggers (excluding Pulsar mledger logs)

[2022-07-16 09:28] gaozhangmin opened #3408 "AutoRecovery caused DirectMemory OOM error."
Our prod environment went wrong last week, all bookies were killed because of direct memory OOM, this happened after one bookie's disk was broken, we tried to offline this bookie. After auditBookie triggered, all the bookies Direct Memory keep increase, it seem that, there is memory leak problem.

The ReplicateWorker log: x.x.x.x is the ip of lost bookie
[code]

And there are bookies quarantined b

[2022-07-18 08:22] #3295 closed

[2022-07-18 18:39] dlg99 commented on #3408
Do you have rereplicationEntryBatchSize set to a large value? try setting it back to default (10).

[2022-07-19 02:16] gaozhangmin commented on #3408
@dlg99  it's 500,  it's because of this setting?

[2022-07-20 01:52] StevenLuMT commented on #3408
can you provide a bookie configuration? I help you analyze it @gaozhangmin

[2022-07-20 02:15] hangc0276 opened #3412 "Prs need to be included in 4.16.0"
This issue is used to track Prs that need to be included in the BookKeeper 4.16.0 release.
  - [x] https://github.com/apache/bookkeeper/pull/3406
  - [x] https://github.com/apache/bookkeeper/pull/3361
  - [x] https://github.com/apache/bookkeeper/pull/3383
  - [x] https://github.com/apache/bookkeeper/pull/3384
  - [x] https://github.com/apache/bookkeeper/pull/3390
  - [x] https://github.com/apache/

[2022-07-21 03:28] dlg99 commented on #3250
de-facto doc:
https://github.com/apache/bookkeeper/blob/6b03b012f731536af56cc63ba29511f09994d11b/conf/bk_server.conf#L804-L809

BK will exit on SessionExpiredException from zk client; it is hard to recover from it (have to re-create the zk client + redo all initialization steps of all subcomponents) so better to exit and let k8s/supervisord restart the service.

[2022-07-21 03:31] dlg99 commented on #3059
dup of https://github.com/apache/bookkeeper/issues/3206

[2022-07-21 03:31] #3059 closed

[2022-07-21 16:31] dlg99 commented on #3206
Fixed

[2022-07-21 16:31] #3206 closed

[2022-07-21 17:26] StevenLuMT commented on #3405
I have a question what is ledger's config
EnsembleSize=?
WriteQuorum=?
AckQuorum=?

[2022-07-22 16:59] #3141 closed

[2022-07-24 02:07] StevenLuMT opened #3419 "Improve the function: set dir name to store index files."
This issue is used to track prs that need to be included in the BookKeeper 4.15.1/4.16.0 release.

- [x] [Basic function: directories to store index files #3352](https://github.com/apache/bookkeeper/pull/3352)
- [x] [add and check indexDirs in Cookie meta #3372](https://github.com/apache/bookkeeper/pull/3372)
- [x] [Add a param in cookie_generate for updating indexDirs #3380](https://github.com/ap

[2022-07-25 08:33] wenbingshen opened #3422 "Flaky-test: org.apache.bookkeeper.test.ReadOnlyBookieTest#testBookieShouldTurnWritableFromReadOnly"
Got this on CI: https://github.com/apache/bookkeeper/runs/7487903809?check_suite_focus=true
[code]

[2022-07-26 05:35] wenbingshen commented on #2665
@hangc0276 Could you help close this issue because related pr #3421 has fixed it and merged. Thanks.

[2022-07-27 03:15] tuhaihe commented on #3312
The link should be:
https://bookkeeper.apache.org/community/bookkeeper-proposals/ . @Shoothzj

[2022-07-27 07:03] #3312 closed

[2022-07-27 11:05] horizonzy commented on #3408
After research for a long time. We found that is bookie problem, the request from `ReplicationWorker` is too many.

The shutdown bookie holds many ledgers, when it shutdown, the `Auditor` mark many ledgers to underreplication.
And there are many `ReplicationWorker` to replicate ledger, the config `rereplicationEntryBatchSize ` is 500, so every `ReplicationWorker` will send 500 read request to book

[2022-07-27 11:59] horizonzy opened #3428 "Bookie GC pressure when use ReadEntryProcessorV3"
**BUG REPORT**
When we get entry from bookie in ReadEntryProcessorV3#readEntry, the response is DirectByteBuf, the v3 use proto buf response. So it will copy byte array to proto buf builder, it will use heap memory.

If the user read request is frequent, it will introduce gc pressure.

https://github.com/apache/bookkeeper/blob/ca7d7c23e3aa572befeb447157b3ef9d96bb1449/bookkeeper-server/src/main/jav

[2022-07-28 00:12] #3193 closed

[2022-07-28 04:17] horizonzy commented on #3408
And we found the `io.netty.buffer.PooledByteBufAllocator#directArenas` array size is 80, it also cause oom easier.

[2022-07-28 09:10] horizonzy opened #3430 "Cookie compatible problem."
**BUG REPORT**

In #3372, we introduce indexDirs in cookie. When the bookie start, it will check the indexDirs, there is a problem.

If the user already register cookie to RM before this pr, the cookie didn't contains indexDirs, cause the before version didn't contains property `indexDirs`, although user config `indexDirs` in the ServerConfiguration.

After this pr, the bookie restart, it will con

[2022-07-28 09:18] horizonzy commented on #3430
The error stack:
[code]

[2022-07-28 10:11] StevenLuMT commented on #3430
Thanks @horizonzy
I'm following up on this issue

[2022-07-28 17:40] dlg99 commented on #3428
there are a lot of places like that for v3 requests (grep for ByteString.copyFrom).
As I understand. that at leas a part of the reason for Pulsar to use v2 protocol https://github.com/apache/pulsar/blob/89b6a535aa8de8e2475cd39320897700e64d269e/conf/broker.conf#L870

You can try using UnsafeByteOperations.unsafeWrap instead of ByteString.copyFrom (e.g. see https://github.com/apache/bookkeeper/pull/

[2022-07-29 04:03] horizonzy commented on #3408
So this is a normal case, you can reduce `rereplicationEntryBatchSize ` value to decrease bookie server reque frequency.
If no more confusion, can be close.

[2022-07-29 04:41] #2806 closed

[2022-07-29 04:41] #2760 closed

[2022-07-29 08:57] #3422 closed

[2022-07-29 10:38] #2637 closed

[2022-07-29 12:11] #2115 closed

[2022-07-29 13:05] horizonzy commented on #3377
@eolivelli ping

[2022-07-31 03:30] #2879 closed

[2022-07-31 04:07] #3430 closed

[2022-07-31 08:42] yapxue commented on #3408
@horizonzy I also suffered OutOfDirectMemoryError when doing performance test. I send very huge writes and bookie will OOM and restart all the time. But in my case, replica recovery is disabled.
If it is caused by allocation fatser than release. But I can see  the direct memory is still not released after a long time even if I stopped prodcuer and entries rate is 0.
<img width="469" alt="Screen_Sh

[2022-07-31 09:07] horizonzy commented on #3408
BytBuf.release maybe not free PoolChunk. If The ByteBuf is cached by PoolThreadCache. The direct memory can't be release.

[2022-08-01 05:05] Shoothzj commented on #3412
https://github.com/apache/bookkeeper/pull/3435 I think this PR should be included in 4.16.0. It's useful for embedded bookkeeper users

[2022-08-01 06:05] leizhiyuan commented on #2220
this will occur in when you shutdown bk exceptionally, maybe oom or kill -9 ,

but this scene will occur sometimes , maybe bookkeeper  should provide a parameter to startup with skip this info.

[2022-08-01 12:53] horizonzy commented on #3377
@eolivelli  updated the BP, could you take a look again, thanks

[2022-08-01 14:18] MarvinCai commented on #3287
`bin/pulsar initialize-cluster-metadata` looks like the command to initialize cluster metadata for Pulsar cluster.
As in `bin/pulsar` script ipv6 support is explicitly disabled: https://github.com/apache/pulsar/blob/3f109d6cb7f128a5f8331e33477fd69c3c26d531/bin/pulsar#L275
But we can override it by using env var `export PULSAR_EXTRA_OPTS=-Djava.net.preferIPv4Stack=false`
Also if you were having tro

[2022-08-01 16:41] StevenLuMT commented on #3408
Your scene is different,I will discuss the details with you offline @yapxue

[2022-08-03 02:41] hangc0276 commented on #3377
@eolivelli Would you please help review this PR again? thanks. We hope this feature can be included in 4.16.0

[2022-08-03 05:03] wolfstudy commented on #3316
We encountered the same problem. When the AutoRecovery service is started with Bookie, it will find that the current Ledger ID has been deleted, but does Auto Recovery have no ability to automatically skip these Ledgers, or has it been trying to recover the deleted Ledgers?

[2022-08-03 05:04] wolfstudy commented on #3316
[code]

We are using version 4.14.4 of Bookie

[2022-08-03 08:14] wolfstudy commented on #3316
[code]

[2022-08-03 08:26] TakaHiR07 commented on #3316
My bookie version is 4.14.1 , and I finally solve it by
1. disable autoRecovery
2. remove this ledger from zk:/ledgers/undereplication/ledgers and restart bookie
3. enable autoRecovery

It seems bookie can skip unrecoverable ledger after pr-2870, proposed in bookie 4.14.4

[2022-08-07 14:01] yws-tracy commented on #2269
I met the same problem,  was your problems finally solved？

[2022-08-07 14:16] yws-tracy commented on #2269
@sunshujie1990  we met the same problem, was your problems finally solved？ we use DbLedgerStorage
<img width="1267" alt="image" src="https://user-images.githubusercontent.com/34879511/183294702-152a341a-9bf2-40f3-a538-8142d49e0181.png">

bookkeeper version:  4.10.0
bookie conf:
[code]
cc @sijie  is it a bug of bookkeeper in 4.10.0 version ?   any reply appreciate in adavance

[2022-08-08 04:10] davemasterdave opened #3441 "Incomplete implementation for etcd driver for metadata (Missing LedgerUnderreplicationManager and LedgerAuditorManager)"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

I would like to use the etcd driver to run Bookie servers in a production Kubernetes environment, using the cluster's built in etcd service, instead of running an extra Zookeeper cluster. However, it appears the driver implementation is incomplete, there is no implementation provided for ```LedgerUnderreplicationManager``` an

[2022-08-09 16:00] michaeljmarshall opened #3442 "Expose rocksDB metrics"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

Expose rocks db metrics (statistics) in the `/metrics` endpoint.

2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?

This feature should help make it easier to tune the different rocks db configurations.

3. Provid

[2022-08-10 04:06] michaeljmarshall commented on #3442
We could expose the metrics by adding these methods to the `KeyValueStorageRocksDB` class.

[code]

We might have trouble integrating them with the current `StatsLogger` because there is no way to register counters. If you look at the `EntryLocationIndexStats`, you'll see that it relies on registering a gauge. These metrics are not gauges though, so it could lead to some minor confusion when inter

[2022-08-10 04:09] michaeljmarshall commented on #3442
The available metrics are here: https://github.com/facebook/rocksdb/blob/d7ebb58cb531031853a183a5771bc4be8c10b45b/include/rocksdb/statistics.h. I am not very familiar with how Bookkeeper uses Rocks DB, so I am not certain which metrics would make the most sense to expose. There are several `_HIT` and `_MISS` metrics that might be meaningful.

[2022-08-10 07:52] lhotari commented on #3442
I have added a new metric for entry location index lookups with PR #3444 . That is slightly related. It doesn't go down into the RocksDB level, but it will help detect when RocksDB becomes a bottleneck.

[2022-08-10 12:01] disserakt opened #3445 "Bookkeeper data logs sometimes get ERROR - Failed to compact entry log"
Hi all!
Sometimes we see this ERROR message in the Bookkeeper logs:

`"log.level":"ERROR","message":"Failed to compact entry log 1111111111 due to unexpected error"`

We use Pulsar version for now - `2.9.2` and Bookkkeeper - `4.14.4 `
Our cluster consists of 9 brokers Pulsar and 9 bookies Bookkeeper. We use partitioned topics with 6 partitions. And our installation Pulsar <> Bookkeeper <> Zookeepe

[2022-08-11 16:26] hangc0276 commented on #3445
It looks like the ledgerId is < 0, which will lead to the above exception. I wonder whether your ledger log file is broken.
https://github.com/apache/bookkeeper/blob/de5d45fb823dc558f15bcb9d958b9c0a5144043c/bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/DefaultEntryLogger.java#L1007-L1011

It throw exception in `scanner.accept(ledgerId)`

[2022-08-15 16:15] disserakt commented on #3445
@hangc0276 - How can I check if the ledger log file is broken or not?

[2022-08-17 07:05] StevenLuMT opened #3447 "Standardize the check process of bookkeeper's workflow like pulsar project"
TestTLS.testConnectToLocalTLSClusterTLSClient can't run all successfully in branch master and 4.15.1-rc0,
it seems that this problem has appeared long ago, rather than being introduced separately in this 4.15.1-rc0

this picture is the result for 4.15.1-rc0's testcase result:
<img width="2248" alt="image" src="https://user-images.githubusercontent.com/42990025/185054556-c285197a-4494-429e-befb-c83

[2022-08-18 01:04] zymap commented on #3447
https://github.com/apache/bookkeeper/pull/3439
this PR is for this

[2022-08-19 16:44] StevenLuMT commented on #3447
yes, look good to me,thanks @zymap

[2022-08-24 03:16] kwenzh commented on #2264
I have a similar problem in pulsar2.8.1, use org.apache.bookkeeper-bookkeeper-server-4.14.2.jar,    can I fast fix it like this?

![image](https://user-images.githubusercontent.com/38367518/186312473-2d32413f-66a3-438f-bfb1-126016c1c4d6.png)

[code]

[2022-08-24 07:25] StevenLuMT commented on #3447
#3439  #3451 and #3453
fix for this

[2022-08-24 07:53] StevenLuMT opened #3455 "How to rerun the new workflow"
<img width="923" alt="image" src="https://user-images.githubusercontent.com/42990025/185718866-b7054dd7-502f-4371-8906-c43f8b1b166b.png">

the old workflow has error,the bug  is fixed in #3439  #3451 #3453
please rerun the new workflow:
-  reopen your pr
- or add some new commits

[2022-08-25 07:17] lordcheng10 opened #3456 "BP-56: Support non-stop bookie data migration and bookie offline"
### Motivation
**Going offline for a bookie probably goes through the following steps:**
1.Log on to the bookie node, check if there are underreplicated ledgers.
If there are, the decommission command will force them to be replicated: bin/bookkeeper shell listunderreplicated
2.Stop the bookie : bin/bookkeeper-daemon.sh stop bookie
3.Run the decommission command. If you have logged onto the node yo

[2022-08-25 09:13] lordcheng10 commented on #3456
discuss thread：https://lists.apache.org/thread/0zlsm7z5j34j23gtlhf7rf72lfq62jyk

[2022-08-29 03:28] zwOvO opened #3459 "[FIX][BOOKIE-SHELL] queryautorecoverystatus command not working"
**BUG REPORT**

***Describe the bug***

bin/bookkeeper shell shows the command as queryautorecoverystatus, but the command that actually works is querrecoverystatus

***To Reproduce***

Steps to reproduce the behavior:
1.$ bin/bookkeeper shell 2>&1|grep queryautorecoverystatus -C 1
       nukeexistingcluster -zkledgersrootpath <zkledgersrootpath> [-instanceid <instanceid> | -force]
       **querya

[2022-08-31 09:12] lordcheng10 commented on #3456
@eolivelli PTAL,thanks!

[2022-09-01 11:34] zymap opened #3464 "BookKeeper website dead links"
**BUG REPORT**

***Describe the bug***

The dead link check out a lot of links https://github.com/apache/bookkeeper/runs/8133789285?check_suite_focus=true, we need to update them all.

***To Reproduce***

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

***Expected behavior***

A clear and concise description of what you expected to happen.

[2022-09-02 10:42] RaulGracia opened #3466 "Missing ledgers when inducing network packet loss in Bookkeeper 4.15"
**BUG REPORT**

***Describe the bug***

During our tests of Pravega (https://cncf.pravega.io/), we have detected a regression after upgrading to Bookkeeper 4.15 (https://github.com/pravega/pravega/pull/6676). The regression is consistently reproducible when doing a fault injection test (30% network packet loss). Note that this kind of test consistently pass using Bookkeeper 4.14, for which we beli

[2022-09-02 11:36] eolivelli commented on #3466
A couple of questions:
- is the ledger znode present on ZK ?
- which are your replication parameters: ES, WQ, AQ ?
- how many bookies do you have ?

[2022-09-02 12:41] eolivelli commented on #3466
another question:
- how many entries are supposed to be in the ledger ? only 1 ?

[2022-09-02 13:58] RaulGracia commented on #3466
Thanks @eolivelli, reposting the answer in Slack for better visibility: https://pravega-io.slack.com/archives/C0151LSM46L/p1662115749173509

The cluster is not in state anymore, but if the Bookkeeper Client gets a `BKException$BKNoSuchLedgerExistsException`, my understanding is that it should not be there. However, I see that the ledger `3246 `is created at `2022-07-20 14:45:25,706` and then we ca

[2022-09-03 07:53] azhsmesos commented on #3286
I feel like I can use AOP to monitor timeout threads, but I need to spend time to understand how OrderedExecutor works, if need to implement development ,  please assign to me

[2022-09-05 01:38] #3115 closed

[2022-09-06 03:49] MarvinCai opened #3473 "Add option to clean up ledger created by simpletest."
As ledger created by simpletest can block the decommission process if we set the ensemble to 1(just for sanity test), so we could add option to clean up ledger created by simpletest if needed.

[2022-09-07 05:56] zhaohaidao commented on #3466
Not sure if it has something to do with this pr: ISSUE 3220-Autorecovery does not process underreplicated empty ledgers
https://github.com/apache/bookkeeper/pull/3239
If network packet loss causes a bookie to be determined to be unavailable. the ledgers on this unavailable bookie will become underreplicated and this ledgers will be closed by the autorecovery service.

[2022-09-08 03:09] hangc0276 commented on #3466
We found the same issue on the Pulsar side. https://github.com/apache/pulsar/issues/17520
We tested bk 4.15.0, and the unit test passed, but for bk 4.15.1, the unit test failed.
I revert PR https://github.com/apache/bookkeeper/pull/3239 in my local env, the unit test still failed with another exception.
[code]

[2022-09-09 08:51] RaulGracia commented on #3466
@eolivelli @zhaohaidao @hangc0276 We have done another set of failure injection tests to narrow down the issue. These are the results:
- Bookkeeper 4.14 server and Bookkeeper 4.14 client: Tests pass
- Bookkeeper 4.15 server and Bookkeeper 4.14 client: Tests pass
- Bookkeeper 4.15 server and Bookkeeper 4.15 client: Issue reproduced
- Bookkeeper 4.14 server and Bookkeeper 4.15 client: Issue reproduc

[2022-09-09 12:42] eolivelli commented on #3466
I have done some testing on master branch.
I have created some tests that simulate a "timeout" while performing recovery operations. And in every case I tests the BK client returns `BKLedgerRecoveryException`

After re-reading again the logs in this issue it seems that:
- the LAC on the ledger 3246 is at least 0 but no bookie has the entry
- in the same process (assuming that the logs come from th

[2022-09-09 12:43] eolivelli commented on #3466
I did a "git diff" between `branch-4.14` and `master` branch on the `bookkeeper-server/src/main/java/org/apache/bookkeeper/client` directory and I can't find any change that can be related to this problem.

[2022-09-09 12:44] eolivelli commented on #3466
@RaulGracia do you have "auto-recovery" running into your cluster?

[2022-09-09 12:51] eolivelli commented on #3466
@zhaohaidao your idea is interesting.

The fact that the client tries to read from entry 0 even if the ledger is empty means that something CLOSED the ledger and set the LAC to 0 (and not -1).

I am saying that LAC should be at least 0 because of these logs:
`2022-07-20T15:59:48.794605613+00:00 stdout F 2022-07-20 15:59:48,794 11507078 [core-1] ERROR i.p.s.server.logs.DurableLog - DurableLog[13] R

[2022-09-09 12:54] eolivelli commented on #3466
it is also interesting the the Writer tried to write entry 0

but it wasn't able to even send the write request.
That should lead to a "ensemble change", and to choose a new bookie.
If you have 4 bookies then we should see something more in the logs and the operation should move forward and the BK client should have tried to write the same entry to another set of bookies.
In the LedgerMetadata we

[2022-09-09 14:32] lordcheng10 commented on #3456
### Motivation
**Currently bookkeeper does not support data migration, only data recovery.**

We have a scenario where a large number of bookie nodes are offline, and we find that the bookie's offline solution is very time-consuming.

Bookie offline steps are as follows:
1. Set the bookie node to be offline to readOnly;
2. Wait for the Pulsar data on the Bookie node to be offline to expire and del

[2022-09-09 17:41] michaeljmarshall commented on #2945
It looks like this is due to a missed call to `requestProcessor.onReadRequestFinish();`. It is in both the V2 and the V3 protocol. I'll look into fixing this issue.

[2022-09-10 15:45] MarvinCai commented on #3351
@dlg99 according this code snippet, the DeatchWather should be able to catch the case and shut down the whole autorecovery right? https://github.com/apache/bookkeeper/blob/master/bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/AutoRecoveryMain.java#L213-L240
[code]

[2022-09-12 02:04] Shoothzj commented on #2908
closed by #2909

[2022-09-12 02:04] #2908 closed

[2022-09-12 06:57] #2945 closed

[2022-09-12 10:50] #3473 closed

[2022-09-13 13:03] #2736 closed

[2022-09-14 09:36] diegosalvi opened #3488 "A new simple API to create embeddable server instances"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
From 4.15 Bookie and BookieServer creation is changed. Is enough common for project to start an embedded version of BK using such classes. Instead of rewrite every time boilerplate code the full server instantiation can be extracted from Main class creating a public API to create BookieService from configurations and/or provid

[2022-09-14 18:14] dlg99 opened #3490 "EntryLogger: useless logging of ledgersMap"
[code]

expected to see content of the map

[2022-09-15 04:48] lordcheng10 commented on #3456
vote thread: https://lists.apache.org/thread/bw4b08bhposh3gk1xzfk4sskxkjdx53b

[2022-09-16 20:35] dlg99 commented on #3456
@lordcheng10 I think this BP needs at least the description of *how* the tool works and alternatives, not just "Execute the data migration command".

[2022-09-17 15:43] diegosalvi opened #3494 "BP-57: Add a public API for creating embeddable servers"
This is the master ticket for tracking BP-57

### Motivation

BK is used and run in many OS project as an embedded resource.
Every time a project needs to embed BK (think about Pulsar or Pravega for examples) boilerplate code need to be written (and then mantained as per 4.15 changes).
Depending from the contest new feature cannot be made directly available and more code need to be added.
To run a

[2022-09-18 15:31] lordcheng10 commented on #3456
@dlg99

**The replicasMigration command works as follows：**
1. List the ledgers on the bookie nodes (bookie1 and bookie2) to be offline, and write them to zookeeper， the path organization on zookeeper is as follows:

And write the bookie nodes of the migrating replicas to the migration path, for example:

2. Start the replica migration service ReplicasMigrationWorker in AutoRecoveryMain：

3. When

[2022-09-20 02:14] zymap commented on #3456
@3457 I think you need to add more details to the proposal to know how this work.
Like when will the migration does, how it does migration, and what will happen when you trigger the migration.
What interface do you want to add, and how are the ledgers located.

Because you have done the code, you can enhance this proposal according to your implementation. That would be helpful for other reviewers.

[2022-09-20 04:20] zymap commented on #3466
@RaulGracia
I saw the logs in step 2:

[code]

There have two things I noticed:

1. The ledger seems closed after it received the ReadLAC response.

[code]

2. Bookie channel is null in the callback. That looks like when the callback is triggered, the channel is close.

[code]

And looks like in the Pravega, the ledger handler closes again so the error happens again. (step 2 closed and step 3 clos

[2022-09-20 07:12] RaulGracia commented on #3466
@zymap thanks a lot for your analysis. Yes, you are right, we are using 4.14.2 concretely, as the last commit we have from mainline is [](https://github.com/apache/bookkeeper/commit/fb15b07892ceaa0955756a4c0f34149e1a142e14). And we do not have that PR #2794 when Bookkeeper works well with our fault injection tests. Maybe we could try another test with latest 4.14 commit, to see if the same issue i

[2022-09-20 09:02] jimmycxm commented on #3408
Got same issue. Is the problem resolved?

[2022-09-21 02:10] lordcheng10 commented on #3456
OK， I will do

[2022-09-22 00:02] Shoothzj commented on #3247
closed by #3252

[2022-09-22 00:02] #3247 closed

[2022-09-22 11:06] wolfstudy opened #3497 "Bookie OutOfDirectMemoryError"
**BUG REPORT**

***Describe the bug***

[code]

Bookie Version: `4.14.4`

[2022-09-22 11:07] wolfstudy commented on #3497
Unfortunately, we did not observe in this exception stack, where exactly the call caused Bookie to directly overflow the memory. In a production environment, this happens all of a sudden with a running Bookie.

[2022-09-23 00:38] FushuWang opened #3498 "[Doc] The bookkeeper command path is wrong in the demo of decommission doc."
**BUG REPORT**

The bookkeeper command path is wrong in the demo of [decommission doc](https://bookkeeper.apache.org/docs/admin/decomission/).

<img width="1259" alt="image" src="https://user-images.githubusercontent.com/93108425/191873762-8f45645f-bb65-431a-90d0-c03f0efea084.png">

[2022-09-23 08:46] #3498 closed

[2022-09-25 01:02] StevenLuMT opened #3502 "BP-58: Change the API for org.apache.bookkeeper.stats.Counter"
This is the master ticket for tracking BP-58 :

### Motivation

The latency of the OpStatsLogger.registerSuccessfulEvent calculation is to convert the time to milliseconds
but Counter.add nothing to do
so when using Counter for latency statistics, the time unit and OpStatsLogger are not unified, which is easy to be misleading.
then we unified latency metric unit

### Proposal
We already have the C

[2022-09-26 07:21] wolfstudy commented on #3497
Thanks @dlg99 's suggestion. Looking at the monitoring of JVM DirectMemory, it seems that the direct memory has leaked. We monitored the direct memory for 30 days and found that the direct memory grows exponentially and has not been released until it grows to the size of the maximum configured DirectMemory and then OOM occurs. . So I would like to further confirm whether there is a possibility of

[2022-09-26 20:24] dlg99 commented on #3494
+1

[2022-09-27 01:43] dlg99 commented on #3466
@RaulGracia is there any chance that lossy network caused some kind of split brain or data inconsistency on ZK side?
e.g. I recently dealt with the situation when out of 5 ZK nodes one had missed specific node, so the clients that were lucky enough to read form that node didn't see the data.
Can you browse the BK metadata using zkCli on all zk nodes to confirm that metadata for the missing ledger

[2022-09-27 06:57] RaulGracia commented on #3466
@dlg99 thanks Andrey. While this situation can indeed happen (specially inducing failure injection at the network level), my understanding is that that would happen to any version of Bookkeeper, right? However, our observation is that when executing this kind of tests, only Pravega using Bookkeeper 4.15 client gets into this situation where ledgers supposed to be there are not; when using Bookkeep

[2022-09-27 14:33] RaulGracia commented on #3494
+1

[2022-09-27 16:04] dlg99 commented on #3466
@RaulGracia My thought process was along the lines of updated ZK client making the problem easier to repro if that's ZK related.
I experimented locally and tried to inject errors in unit tests but had no luck.

[2022-09-28 09:27] laystao opened #3506 "ZoneawareEnsemblePlacementPolicyImpl is not work"
**QUESTION**
I find that  the method of ZoneawareEnsemblePlacementPolicyImpl : reorderReadSequence(), just return all  writeSet.  but an other Policy for Example :ZoneawareEnsemblePlacementPolicyImpl,  It will move the best bookie to the first place , to change the writeSet  sequence，  please tell me why and  Whether ZoneawareEnsemblePlacementPolicyImpl will be supported ？
![image](https://user-im

[2022-09-29 08:01] RaulGracia commented on #3466
FYI @zymap @eolivelli @dlg99 we have performed the same test again with Bookkeeper 4.14.3 client as suggested by @zymap, but we have not been able to reproduce the issue this time. So, at the moment, with the evidences we have we cannot say that #2794 is the root cause of the problem.

[2022-09-29 08:47] wolfstudy opened #3507 "In bookie 4.12.0, rocksdb(6.10.2) has memory leak?"
**BUG REPORT**

***Describe the bug***

Our 64GB machine uses 15GB of memory inside and outside the heap, but the machine kills the Bookie process directly because the system memory is not enough. The memory usage is all occupied by the Bookie process, so the only place to suspect is to call the sub-JNI part, and only rocksdb is left. The bookie version is 4.12.0, and the version of rocksdb is 6.1

[2022-09-30 08:05] lhotari opened #3511 "circe-checksum, cpu-affinity and native-io contain invalid maven metadata in pom.xml for packaging"
**BUG REPORT**

***Describe the bug***

circe-checksum, cpu-affinity and native-io contain invalid maven metadata in pom.xml for packaging.
This has an impact on Gradle builds. For example when using the Shadow plugin in Gradle, it won't properly locate the dependencies.

***To Reproduce***

Steps to reproduce the behavior:
1. Go to https://repo1.maven.org/maven2/org/apache/bookkeeper/circe-checks

[2022-09-30 14:19] mfremont commented on #3511
I've encountered this bug when running a client that has a transitive dependency on `org.apache.bookkeeper::circe-checksum` and built with Gradle. When run in a Docker container that has a base image of openjdk:11 or openjdk:17, I get the same `NoClassDefFoundError: com/scurrilous/circe/checksum/Crc32cIntChecksum` failure.

I experimented with changing the packaging in the POM to `jar`, installing

[2022-09-30 18:10] dlg99 commented on #3445
`bin/bookkeeper shell readlog` reads specific local entry log file

there is also `bin/bookkeeper shell localconsistencycheck` (Ithink bookie should be shut down for this one).

Also check the disk for errors.

[2022-09-30 22:25] lhotari opened #3514 "Documentation for readReorderThresholdPendingRequests is missing"
**BUG REPORT**

***Describe the bug***

Documentation for `readReorderThresholdPendingRequests` is missing from https://bookkeeper.apache.org/docs/reference/config/

***To Reproduce***

Steps to reproduce the behavior:
1. Go to https://bookkeeper.apache.org/docs/reference/config/
2. Search for "readReorderThresholdPendingRequests"
3. No results.

***Expected behavior***

readReorderThresholdPendin

[2022-09-30 22:37] lhotari commented on #3514
What I'm wondering about ensemblePlacementPolicyOrderSlowBookies is that I don't see  `[getEnsemblePlacementPolicySlowBookies](https://github.com/apache/bookkeeper/blob/c31dff9ff8dc3ec7454a62d71a9fff2af8505ee9/bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/ClientConfiguration.java#L1274)()` method being called in the code base at all. Is it a dead option? Am I missing some magical way

[2022-10-03 10:47] RaulGracia commented on #3466
Thanks a lot @dlg99, I can certainly review  #3513. But after the latest experiments we did with Bookkeeper 4.14.3, which includes #2794, we couldn't reproduce the issue, so I'm not sure that that PR is contributing to the issue described here. In any case, it is independent from the value that #3513 brings by itself.

The point is that the very same Pravega code has no issues using Bookkeeper 4.1

[2022-10-06 17:19] dlg99 commented on #3507
there were multiple changes around RocksDb.
Please try upgrading to BK 4.14.x (this should be easier than upgrade to 4.15).

[2022-10-07 04:04] golden-yang opened #3519 "BookKeeper 4.10.0 recovery issue"
**QUESTION**

BookKeeper 4.10.0 recovery issue.
A Bookie is broken beyond repair. When I try to restore a Ledger, I have this problem:
host3 is the broken host. When I try to recover it, it throws a ConnectTimeoutException with host3.

Am I using the recover command incorrectly?
`bin/bookkeeper shell recover host3:3181 -l 28190099`

This is the metadata of the ledger.

**ledgerID: 28190099
LedgerM

[2022-10-08 02:26] #3502 closed

[2022-10-08 03:17] wolfstudy commented on #3507
Thanks @dlg99 feedback, we are trying to upgrade Bookie version to 4.14.x. At the same time, I want to dump the memory in the heap to see if you can see what caused the memory leak. Is it because of the memory leak in RocksDB itself or because of a problem with the interface we call RocksDB JNI that caused the memory leak?

[2022-10-09 04:40] gaozhangmin opened #3521 "AutoRecovery tried to replicate entry larger than nettyMaxFrameSizeBytes"
maxMessageSize=10485760
nettyMaxFrameSizeBytes=15728640

The above configurations is related to max messages size on broker and bookkeeper side.
entry size is expected to be smaller than 10MB， because any entry larger than 10MB would be rejected on broker side. But during AutoRecovery, it throws below exception, caused write entry failed.

[code]

[2022-10-12 10:14] keyboardbobo opened #3524 "In high-traffic scenarios, disk space reclamation is slow"
We have 4 pulsar brokers and 4 bookie, the broker traffic is about 400M, the bookie traffic is about 1G, and the traffic is relatively large. During the day of the stress test, there will be a period of time when disk space will continue to rise and the recovery will be slow. The time interval and current limit values associated with recycling have been adjusted and do not solve the problem. But o

[2022-10-13 12:53] horizonzy opened #3527 "Direct memory leak of V2 protocol ReadResponse"
**BUG REPORT**
Recently, in our customer product, we found that the bookie direct memory increases slowly over time, finally it throws netty allocate direct memory failed exception, then bookie restart.

**Dump info**
So we dump the heap and found that there are some unreachable `ReadResponse`, and the data property `ByteBuf` refCnt is 2, and the  `ByteBuf` is also unreachable, so there is no chan

[2022-10-13 17:16] truong-hua opened #3529 "Bookie send a lot of request to zookeeper when cluster is degraded"
**BUG REPORT**

1. Please describe the issue you observed:

- What did you do?
I'm using Bookeeper 4.14.4 and runing a 5 nodes cluster. When one node of my bookie cluster is down, the bookie cluster send a lot of request to zookeeper and causes ZK CPU usage always over 100%.
The issue gone when the failed node is recover and rejoin in to the cluster properly.

This is my JAVA env:
[code]

The zook

[2022-10-14 09:06] nicoloboschi commented on #3447
@zymap @StevenLuMT I guess we can close this issue now

[2022-10-14 09:06] #3447 closed

[2022-10-14 17:57] michaeljmarshall commented on #3527
Thanks for the thorough analysis @horizonzy

[2022-10-14 17:59] lhotari commented on #3527
Good work @horizonzy

[2022-10-15 11:52] zwOvO opened #3532 "github contributing guidelines"
**QUESTION**
Why not write the github contribution guide to communicate how people should contribute to the bookkeeper project?

![image](https://user-images.githubusercontent.com/18533252/195984576-15cbd25e-6ae4-4315-8c84-dcbd301a73f5.png)

[github.com/setting-guidelines-for-repository-contributors](https://docs.github.com/en/communities/setting-up-your-project-for-healthy-contributions/setting-g

[2022-10-15 13:53] zwOvO opened #3534 "[fix][website]The community related variables are not replaced"
**BUG REPORT**

***Describe the bug***
The community related variables are not replaced

***To Reproduce***
1. Go to [website-admin-upgrade](https://bookkeeper.apache.org/docs/next/admin/upgrade)
2. See error

***Expected behavior***
Display hyperlink normally
[mailing list](https://bookkeeper.apache.org/community/mailing-lists)
[Slack Channel](https://apachebookkeeper.slack.com/)

***Screenshots*

[2022-10-16 03:09] zwOvO opened #3536 "[website]add the bookkeeper shell queryautorecoverystatus cmd documentation"
**FEATURE REQUEST**

The [bookkeeper shell queryautorecoverystatus](https://github.com/apache/bookkeeper/blob/b13dd20f0a905c615daef2e1ddcfa0e0979d1a07/bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/BookieShell.java#L1361) command is not publicly listed on the site
#2768
https://bookkeeper.apache.org/docs/reference/cli

[2022-10-17 04:19] dlg99 commented on #3529
The problem is most likely related to Autorecover and Auditor.
I'd start by looking at AR and auditor configuration to check if anything differs from the default, try to disable AR on bookies, and run it as a separate process, starting with one AR node. There also logs and metrics that should help you understand if the AR of Auditor is the one generating load.

[2022-10-17 04:28] dlg99 commented on #3524
It is hard to guess what's going on exactly.
It can be anything from too aggressively configured major GC that takes too long to XFS's speculative preallocation (there are xfs tools IIRC that let you explore that).
https://www.pulsar-neighborhood.io/articles/apache-bookkeeper-disk-usage-with-apache-pulsar/ has some general ideas (bookie-related part), for the rest you'd have to check logs and metr

[2022-10-17 04:30] dlg99 commented on #3521
is it possible that maxMessageSize/nettyMaxFrameSizeBytes were set to larger values a while ago thus allowing write of such large entry?

[2022-10-17 05:05] gaozhangmin commented on #3521
@dlg99  it's impossible.

[2022-10-17 06:55] keyboardbobo commented on #3524
@dlg99 Thank you for your reply
thank you for your reply. We have closed journal, and some files in the `entryLogMetaMap `of my debug `GarbageCollectorThread `have a usage rate of more than 99% before restarting (the disk has been confirmed to be refreshed before restarting), but the usage rate has become 0% after restarting. Is it possible to ledgersDb data Lost, resulting in accidental deletion?

[2022-10-17 08:31] eolivelli commented on #3466
I am working on this.
I am preparing a set of Pravega docker images to pass to Dell-EMC Quality Eng team who can run the tests.

The. docker images contain a build of Pravega compatible with BK 4.15 (thanks to @RaulGracia ) but with the BK client compiled at different points in the GIT history of 4.15.0.

This way we will see which commit broke the compatibility.

It will take much time because th

[2022-10-17 20:57] dlg99 commented on #3524
I can't say anything about data loss, I assume you'd notice that. TBH I doubt that.

As I said earlier, i'd look into two possibilities:

1. * xfs prealloc (can be reconfigured if it is a problem) or similar file system magic:  shut down the bookie gracefully, don't bring it up. If the disk space released at this point I'd start poking into prealloc configuration.
2. * GC configuration. Major GC i

[2022-10-18 07:55] gaozhangmin commented on #3521
@dlg99 It seems that it's caused by ByteBufList https://github.com/apache/bookkeeper/blob/30bdedc25a59aa7d4df3f5c0962095a574f0d653/bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerFragmentReplicator.java#L406-L422

[2022-10-18 09:50] keyboardbobo commented on #3524
Thanks for your suggestion, I'll give it a try @dlg99

[2022-10-18 10:39] horizonzy commented on #3521
The exception indicates that there is a large body write request in the bookie server, maybe there is an unknown bug at the AutoRecover client, it combines a large write request to send to the bookie server when the bookie server wants to decode the request body, it over the `nettyMaxFrameSizeBytes`, so throw an exception.

Is it easy to reproduce? If so, we can use TCP dump to dump the network pa

[2022-10-18 15:46] Shoothzj opened #3549 "migrate apply-config-from-env.py from python2 to python3"
python2 is deprecated now. we need to migrate to python3

[2022-10-18 15:55] xiang092689 commented on #3549
I want to work on this

[2022-10-18 19:03] aditya-kumbhar opened #3550 "Flaky-test: AuditorReplicasCheckTest"
AuditorReplicasCheckTest has the following tests that are flaky, detected using [Nondex](https://github.com/TestingResearchIllinois/NonDex).
testReplicasCheckForLedgersFoundHavingLessThanAQReplicasOfAnEntry()
testReplicasCheckForLedgersFoundHavingLessThanWQReplicasOfAnEntry()
testReplicasCheckForLedgersFoundHavingNoReplica()
testReplicasCheckForLedgersWithEmptySegments()

All fail with a similar e

[2022-10-19 00:51] #3490 closed

[2022-10-19 06:22] gaozhangmin commented on #3521
Next time  it occurred , i will dump the heap memory of ar client.

[2022-10-20 02:42] #3534 closed

[2022-10-20 06:20] merlimat opened #3559 "Improvements for handling many small entries"
The BK data path is very efficient when processing large entries and it's generally able to saturate the disk and network IO in these cases.

By contrast, when handling a large number of very small entries there are several inefficiencies that cause the CPU to become the bottleneck, because of the per-entry overhead.

There are several low-hanging fruits to tackle to improve performance:

#### Red

[2022-10-21 07:23] lhotari commented on #3559
I wonder if the changes could skew USE metrics ([BP-44](https://bookkeeper.apache.org/bps/BP-44-use-metrics/))?

[2022-10-21 11:02] zhaohaidao opened #3564 "Remove forceWrite call if syncData is disabled during journal creation"
**FEATURE REQUEST**

1. Try to optimize tail latency caused by forceWrite call duringjournal creation

3.  should-have
   Are you currently using any workarounds to address this issue? yes

4. Provide any additional detail on your proposed use case for this feature.

[2022-10-21 15:40] merlimat commented on #3559
If the timing trace is enabled on the executor it will be measured and collected in the same exact way as before.

In #3546 I've added few more metrics that would make it easier to have charts of submitted/completed/failed/rejected tasks..

The "failed" task counter in particular would be very useful to detect unexpected exceptions that might leave a future hanging.

[2022-10-21 16:08] Raven888888 commented on #1908
Faced this issue in our 3-node setup, but it is always the same 1 node that faced this problem.
Disk grows uncontrollably and the node died out of storage. Had to `bookieformat` every time.
But after some time it will happen again.

How can I fix the issue?

[2022-10-23 05:00] Raven888888 commented on #1908
This is what found in logs

Bookie
[code]

broker
[code]

[2022-10-24 09:00] zhaohaidao opened #3567 "Rocksdb instance throws Checksum Mismatch exception frequently with high workload in directio mode"
**BUG REPORT**

***Describe the bug***

Rocksdb instance throws Checksum Mismatch exception frequently with high workload in directio mode

***To Reproduce***

Steps to reproduce the behavior:
1. Run with high workload with openmessaging-benchmark(2000MB/s)

- 3 bookies
- 3 benchmark-worker
- 3 replica
- 3 writeQuorumSize
- 2 ackQuorumSize

2. See error

Oct 20 18:34:46 test_host pulsar[6380]: Cau

[2022-10-26 07:47] gaozhangmin opened #3582 "Task in readThreadPool queue would never be timeout."
Version: 4.14.5

Bookie readTread executor blocked forever after reaching the max size of queue.
It blocked at  `org.apache.bookkeeper.proto.PacketProcessorBase.sendResponseAndWait`
![image](https://user-images.githubusercontent.com/9278488/199161779-0ac53890-212e-4b44-b75d-b3ad26ea6bb4.png)
![image](https://user-images.githubusercontent.com/9278488/199161795-becbd386-20b2-4007-b31c-f93f931f781d.p

[2022-10-27 05:41] truong-hua opened #3583 "Disaster recovery in case of data lost"
**FEATURE REQUEST**

Sometimes, we lost all data of a bookie (it's ledgers, cookies and others). The problem here is that if a ledger of that bookie can not be recover due to any reason. The `shell decommission` command will stuck in waiting for these ledger to be replicated but of course it will never happen.

In reality we have some data that is defined not important and we are willing to lost i

[2022-10-27 09:45] gaozhangmin commented on #3583
In fact, you can just interrupt decommission, the already trigged audit would still be running until ledgers are full replicated. Then, delete this bookie's metadata from metadata store manually .
There's an improvement that using --force flag would just return successful after audit is being trigged and metadata is cleaned. don't wait until all missing ledgers are full replicated

[2022-10-28 13:40] zhaohaidao opened #3588 "In DirectIO mode, GarbageCollectorThread failed to read metadata from log header as meta is not flushed into the log file."
**BUG REPORT**

***Describe the bug***
<img width="1008" alt="image" src="https://user-images.githubusercontent.com/6216286/198606479-71993726-107e-48f8-936f-5b5c156c9db2.png">
When I was testing DirectIO mode, I observed a lot of unidentified read traffic from the metrics (I turned off consumption) after test finished. Through analysis, it can be seen that this traffic originated from the failure

[2022-10-30 03:36] #3588 closed

[2022-11-01 08:34] horizonzy commented on #3582
Please give the full dump file.

[2022-11-01 11:18] gaozhangmin commented on #3582
done

[2022-11-02 10:10] gaozhangmin commented on #3582
From metrics, the readPool's completedTask didn't increase any more,
I believe the thread pool encountered deadlock during  `sendResponseAndWait`,

[2022-11-02 18:08] david-streamlio commented on #3524
@keyboardbobo Any feedback on how the system performed after making these recommended configuration changes?

[2022-11-03 08:32] horizonzy commented on #3582
Which version did you use?

[2022-11-03 08:32] gaozhangmin commented on #3582
4.14.5

[2022-11-03 09:04] #2398 closed

[2022-11-04 00:23] armangurkan commented on #2330
We are experiencing this issue during cache flushing,
![image](https://user-images.githubusercontent.com/10432136/199859288-b67d3e0c-f773-4b85-9e32-d99ea74f6fec.png)

[2022-11-04 07:48] 1559924775 opened #3604 "the concurrency problem of the compaction process and the regular write process"
**BUG REPORT**

***Describe the bug***

we use SortedLedgerStorage+EntryLogManagerForSingleEntryLog.
When the entrylog file managed by EntryLogManagerForSingleEntryLog reaches the upper limit, the createNewLog method is executed. This operation is not locked, which will conflict with the addEntry executed in the compaction process, resulting in disordered entryLog file data.
![14e56f8a3e057508f446

[2022-11-04 07:53] zoltar9264 opened #3606 "bookkeeper-server-shaded report NoClassDefFoundError"
**BUG REPORT**

***Describe the bug***
 I am developing a flink state changelog storage  using bookkeeper-server-shaded. I get following error message. It seems that some of the dependencies are not being included in the shaded jar.
[code]

[2022-11-04 08:08] 1559924775 opened #3607 "Error in parsing entrylog file causes GC failure"
**BUG REPORT**

***Describe the bug***

When bookie GC encounters an entryLog file with disordered data, a IllegalArgumentException are not caught, resulting in the death of the GC thread and the end of the GC process.
This problem is encountered again in the next GC, resulting in the subsequent entrylog being unable to GC.
The problem described in this issue(#3604) will cause the entryLog file to

[2022-11-07 05:48] #3549 closed

[2022-11-07 09:57] zhaohaidao opened #3618 "[Bug] NPE throwed when recovering ledger: Cannot read field "distributionSchedule" because "this.lh" is null"
**BUG REPORT**
NPE throwed when recovering ledger: Cannot read field "distributionSchedule" because "this.lh" is null
***Describe the bug***

A clear and concise description of what the bug is.
During LedgerRecovery, the safeRun method of AddPendingOp will be executed. When handling failed bookies, bk client will try to replace failed bookies with healthy ones. However, if a NotEnoughBookieExcepti

[2022-11-08 06:37] #3582 closed

[2022-11-08 06:47] stanbog commented on #3289
Hello,

Is there any fix on this ?
We're running bookkeeper-4.15.2 and zookeeper-3.8.0 and both have the same issue.
We cannot run the log level in any other way lower than DEBUG, it also cannot write in a file, only via journalctl.
Is it a bug with this version ?

Thank you

[code]

[2022-11-08 07:09] gaozhangmin commented on #3606
@zoltar9264  See this pr https://github.com/apache/bookkeeper/pull/3624

[2022-11-10 02:20] gaozhangmin opened #3629 "Netty suspect leak"
Matser branch suspect leak

Leak log text
[leak.txt](https://github.com/apache/bookkeeper/files/9978791/leak.txt)

[code]

[2022-11-10 02:33] #3000 closed

[2022-11-10 08:38] horizonzy commented on #3629
I will trace it.

[2022-11-11 05:54] horizonzy commented on #3629
We need more context info.
How to reproduce it, I have tested it in the master branch, read and write didn't occur memory leak.

Is there some reproduce step?

[2022-11-14 01:24] #3550 closed

[2022-11-14 04:34] #3629 closed

[2022-11-14 08:48] wenbingshen opened #3636 "[improvement] Refactor Auditor to simplify the readability"
### Motivation

Currently, the Auditor class has more than 2,000 lines of code, including the definition and initialization of monitoring metrics, the scheduling and function execution of various detection tasks, the update of monitoring metrics, and some internal classes defined for detection; for beginners, read Auditor would be difficult and very poorly readable.

### Changes

I would like to d

[2022-11-14 14:36] zhaohaidao opened #3638 "Bookie shutdown failed with fatal error"
**BUG REPORT**

***Describe the bug***

Bookie shutdown failed with fatal error. fatal error log is followed

[code]

***To Reproduce***
I don't know how to produce thie issue yet. but it does occur frequently during testing

***Expected behavior***
Shutdown with no error

***Screenshots***

If applicable, add screenshots to help explain your problem.

***Additional context***

Add any other conte

[2022-11-14 22:22] mikemuske opened #3639 "ServerConfiguration returns incorrect property for httpServerTrustStorePassword"
**BUG REPORT**

***Describe the bug***

ServerConfiguration.getHttpServerTrustStorePassword() returns value of HTTP_SERVER_KEY_STORE_PASSWORD. Instead it should return the value of HTTP_SERVER_TRUST_STORE_PASSWORD.

***To Reproduce***

Steps to reproduce the behavior:
1. Set the following properties, specifying different key store and truststore files with different passwords:
httpServerTlsEnable=

[2022-11-18 11:46] tomaszmichalak opened #3656 "Latest Docker image use Bookkeeper 4.15.1 version"
**BUG REPORT**

`latest` Docker image uses `4.15.1` dependencies:

[code]

***Expected behavior***

We should always specify the Docker tag (released version) in production. However, tutorials and some PoCs can skip the tag version and use `latest`. The `latest` tag should point to the latest released version.

***Additional context***

The example from `docker` is not working now.

[2022-11-18 11:55] tomaszmichalak opened #3657 "Specify Zookeeper tag in Docker Compose"
**BUG REPORT**

The `pom.xml` file specifies Zookeeper version:
[code]

However, Docker Compose `docker/docker-compose.yml` configuration points to the latest tag, which can be a different version.

***Expected behavior***

Please replace: `image: zookeeper` with `image: zookeeper:3.8.0`.

***Additional context***

Can not start Docker Compose from `docker`.

[2022-11-18 12:14] eolivelli commented on #3657
could you please send a PR ?
thanks

[2022-11-23 06:23] horizonzy opened #3665 "RegionAwareEnsemblePlacementPolicy#onBookieRackChange didn't update perRegionPlacement."
**BUG REPORT**
RegionAwareEnsemblePlacementPolicy#onBookieRackChange didn't update perRegionPlacement.
There are 4 bookies `bookie-0`,`bookie-1`,`bookie-2`,`bookie-3`.
The rack info: `bookie-0:us-east-1a/rack-1`,`bookie-1:us-east-1b/rack-1`,`bookie-2:us-east-1a/rack-1`,`bookie-3:us-east-1b/rack-1`.

Use pulsar-admin to update the `bookie0` rack info.
[code]
After updating the rack info, the Region

[2022-11-23 12:34] RaulGracia commented on #3466
To wrap up this issue: We have done fault injection tests of Pravega and several Bookkeeper client versions and we have not been able to reproduce the original issue ([see details here](https://pravega-io.slack.com/archives/C0151LSM46L/p1663902150322149)). We have also upgraded Pravega `master` (future 0.14 release) to Bookkeeper 4.15.3. If the issue is reproduced again, we will reopen the issue.

[2022-11-23 12:34] #3466 closed

[2022-11-23 20:12] Ghatage opened #3667 "javac.target inconsistent with JDK used for compilation?"
**QUESTION**

Hi @sijie @eolivelli @dlg99,

I noticed that the root pom has [javac.target set to 1.8 ](https://github.com/apache/bookkeeper/blob/034e8997ab43850d2968d8780abf9bb6e57dabd5/pom.xml#L110)(jdk8) but we support compilation on jdk11 and jdk17 as well.
So wondering how that works if the javac.target is hard coded?

Does that infer that our code does not use any 11 / 17 specific features an

[2022-11-24 06:37] lifepuzzlefun opened #3668 "Need guide on bookkeeper upgrade."
i see document has upgrade part. we are now in 4.10.x, can we upgrade in place to 4.16.x ?

https://bookkeeper.apache.org/docs/admin/upgrade

[2022-11-24 11:22] horizonzy opened #3670 "Enhance SimpleTest command."
**BUG REPORT**
The SimpleTest only test ledger write, didn't include read, and it didn't delete the test ledger.

[2022-11-24 19:42] #3019 closed

[2022-11-25 06:27] #3606 closed

[2022-11-30 01:34] #3670 closed