[2018-09-27 20:10] ivankelly commented on #1712
I don't have a repro yet.

But this is local handle state, not remote metadata state. AFAICS the remote metadata state handling is safe.

The core of the problem is that a second call to #close on a handle, will return successfully before the first one is even finished. If that thread then takes any action based on what it thinks the state of the ledger is, it risks being wrong, since the first ca

[2018-09-27 23:02] sijie commented on #1712
okay now the problem makes sense to me.

[2018-09-28 07:50] ivankelly commented on #1712
I don't have a repro yet.

But this is local handle state, not remote metadata state. AFAICS the remote metadata state handling is safe.

The core of the problem is that a second call to #close on a handle, will return successfully before the first one is even finished. If that thread then takes any action based on what it thinks the state of the ledger is, it risks being wrong, since the first ca

[2018-09-28 14:58] sebbASF commented on #1213
It's long since time to delete 4.7.1 please

[2018-09-28 15:07] sebbASF opened #1715 "Download page use of archive links"
The download page currently links to "Latest stable release (version 4.7.2)" using the host archive.apache.org. However release 4.7.2 is still present on the mirrors.

Either release 4.7.2 is still current, in which case it must be linked from the mirror servers, or it is no longer current, and must be removed from the mirrors, and can then be linked from the archive server.

[It is unfair to burd

[2018-09-30 09:45] eolivelli commented on #1213
Okay will do. Sorry for delay @sebbASF

I will check/update the release procedure as well

[2018-10-02 13:28] eolivelli opened #1728 "Release procedure: drop old releases from dist.apache.org"
We have to upgrade the release guide in order to drop old releases from dist.apache.org.
We should keep only 1 version per active branch

[2018-10-02 13:29] eolivelli commented on #1728
Marking this as "important" because we have to fix this at least at next major release (when we will create a new release branch)

[2018-10-02 18:35] #1690 closed

[2018-10-03 10:54] ivankelly commented on #1712
Demonstration of issue.

https://github.com/ivankelly/bookkeeper/commit/2bcd8f32f176e618d0b214453eba84fe4a04f086

[2018-10-04 04:07] sijie commented on #1703
We are seeing this pretty often in pulsar when I attempted to use the latest master in pulsar.

https://builds.apache.org/job/pulsar_precommit_java8/4180/testReport/junit/org.apache.bookkeeper.mledger.impl/ManagedLedgerBkTest/ledgerFencedByAutoReplication/

[code]

[2018-10-04 04:17] sijie commented on #1660
This is fixed by #1666

[2018-10-04 04:17] #1660 closed

[2018-10-04 22:36] athanatos opened #1737 "EntryMemTable.newEntry retains reference to passed ByteBuffer array, can cause corruption on journal replay"
Journal.scanJournal reuses the same ByteBuffer for each entry, but (if the entry is large enough) EntryMemTable retains a reference to that array for each affected entry.  The result is that if any entry is large enough, the bytes that get written to the entryLog upon flush for that entry will be a prefix of the last entry replayed from that journal file.  This will in general corrupt any such ent

[2018-10-05 04:09] dlg99 opened #1738 "Journal: add a metric for the time ForceWriteRequest spent in the queue"
**BUG REPORT**

1. Please describe the issue you observed:

- What did you do?

Investigated latency spike in one of the bookie clusters.
At some point the question at hands was "ho much time ForceWriteRequests spend in the queue in this case".

- What did you expect to see?

Clear picture of where the latency went in the journal.

- What did you see instead?

no metric that helped.

[2018-10-05 04:40] dlg99 opened #1740 "IOUtils.close() only accepts Closeable as a vararg which results in unnecessary Object[] created if only one Closeable passed there"
**BUG REPORT**

1. Please describe the issue you observed:

IOUtils.close() only accepts Closeable as a vararg which results in unnecessary Object[] created if only one Closeable passed there
100% of close() usage is with only one Closeable.
While it is not very often used (log rotation, shutdown etc) we can still avoid this extra allocation.

[2018-10-05 22:31] #1740 closed

[2018-10-05 22:34] #1738 closed

[2018-10-05 22:36] #1703 closed

[2018-10-08 17:35] #1737 closed

[2018-10-10 06:17] huangdongfa opened #1748 "bookkeeper 4.4.0, PerChannelBookieClient connecting to bookie does not excute operationComplete()"
hdfs namenode use bookkeeper 4.4.0, PerChannelBookieClient  connecting to bookie does not  excute operationComplete() , but use netstat found connection state is ESTABLISHED

=========================================log====================
2018-10-10 13:51:31,586 INFO org.apache.bookkeeper.net.NetworkTopologyImpl: Adding a new node: /default-region/default-rack/10.22.43.25:3182
2018-10-10 13:51:31

[2018-10-10 06:32] sijie commented on #1748
@huangdongfa do you have any jstack on the hdfs namenode that shows `operationComplete` is not called?

btw, 4.4.0 is a almost 3-years old release :(

[2018-10-10 07:07] huangdongfa commented on #1748
this is stack file,
[bookkeeper-client.jstack.txt](https://github.com/apache/bookkeeper/files/2463469/bookkeeper-client.jstack.txt)

relevant code, look like netty don't callback  operationComplete()：
[code]

[2018-10-10 09:11] huangdongfa commented on #1748
It seems to work well after I tried to upgrade to 4.6.2 :)

[2018-10-10 11:41] eolivelli commented on #1748
Great to see BK used really with HDFS !
I thought it was only a prototype

[2018-10-12 09:11] sijie commented on #1748
@huangdongfa glad to hear that it works after upgrading 4.6.2 :)

4.4.0 is a many-years-old release already :)

[2018-10-12 09:12] sijie commented on #1748
closed this issue since the issue was resolved after upgrading from 4.4.0 to 4.6.2

[2018-10-12 09:12] #1748 closed

[2018-10-12 09:17] sijie commented on #1715
@sebbASF 4.7.2 is no longer current. 4.8.0 is the latest release. I just deleted 4.7.2 from dist, so it will no longer present on the mirrors.

[2018-10-12 09:17] #1715 closed

[2018-10-12 09:18] sijie commented on #1728
@eolivelli : there is already a section "Cleanup old releases" in the release guide, no?

[2018-10-12 11:46] eolivelli commented on #1728
I missed that. Sorry

[2018-10-12 11:46] #1728 closed

[2018-10-16 06:38] hefeiyun opened #1750 "web site of bookkeeper"
http://bookkeeper.apache.org/docs/4.7.2/overview/overview/
网站能做的更屎些吗？稀烂的布局，根本没法看。

[2018-10-17 10:58] sijie commented on #1750
@hefeiyun thank you for filing the issue. if you can provide more details about the problems you encountered at browsing the website, that would help us improve the website. and you are welcome to contribute to improve the website.

[2018-10-18 15:56] eolivelli opened #1752 "Etcd docker based tests are running on wrong jobs on CI"
For instance we have this error in Java 8 job:

[code]

[2018-10-18 15:59] eolivelli commented on #1752
@codingwangqi  can you please take a look ?
it is breaking many automatic QA pre commit tests.

Ideally such tests need a separate CI job or they should run with "integration tests" as they are running in docker. They are more like "system tests"

cc @sijie

[2018-10-21 02:33] codingwangqi commented on #1752
I think they can run as part of "integration tests", will take a look at how to do it.

[2018-10-21 06:05] eolivelli commented on #1752
@codingwangqi  thank you very much

[2018-10-24 07:06] hiscal2015 opened #1756 "[Question] metadataServiceUri with multiple zk servers"
Hi,

From the documents, I can see zkServers parameter has been deprecated in favor of using metadataServiceUri, but I can't see any example to define metadataServiceUri with multiple zk servers? Please help, thanks.
[code]
Is it something like this?
[code]

[2018-10-24 16:09] eolivelli commented on #1756
No, it should be like
zk://server2:port,server2:port/ledgers

[2018-10-24 18:37] athanatos opened #1757 "Ledger deletion racing with flush can cause a ledger index to be resurrected."
The fix to https://issues.apache.org/jira/browse/BOOKKEEPER-604 was fundamentally incomplete.  I think the move viable fix would be for the FileInfo object (the only viable point of synchronization between flush and delete) to remember that it's been deleted and ignore flushHeader() and moveToNewLocation().

[2018-10-25 16:47] david-streamlio opened #1761 "Document issue"
**BUG REPORT**

1. Please describe the issue you observed:

The instructions on the https://bookkeeper.apache.org/docs/4.8.0/getting-started/installation page
are incorrect.

**What did you do?**

 - git clone git://git.apache.org/bookkeeper.git/
 - mvn package assembly:single

**What did you expect to see?**

I expected the command to execute correctly.

**What did you see instead?**

Instead the

[2018-10-25 17:19] eolivelli commented on #1761
Try with
mvn clean install -Dstream -DskipTests

[2018-10-25 17:54] david-streamlio commented on #1761
I get the same error running "mvn clean install -Dstream -DskipTests package assembly:single"

[2018-10-25 18:46] eolivelli commented on #1761
Just use the command I am suggesting you will find the binaries into 'dist' folder (If I remember correctly).

In fact 'install' will include the packaging phase

[2018-10-25 18:56] david-streamlio commented on #1761
I am sure your command works, the issue I am pointing out is with the documentation itself and the fact that the "mvn package assembly:single" command that is listed on the web page, does not actually work.

[2018-10-25 19:39] eolivelli commented on #1761
Sure.
Let's fix it.
Do you have time to send a PR? The website is inside the repo

[2018-10-25 19:44] david-streamlio commented on #1761
I could send a PR. I guess the bigger question is do we want to just remove the non-working command from the documentation, or should we fix the pom.xml file so that the command works?

[2018-10-25 20:31] eolivelli commented on #1761
@sijie maybe you know the full history of the page...

To me it is better to run the command I suggested.
Maybe it is enough

mvn clean package -Dstream -DskipTests

[2018-10-26 21:11] david-streamlio opened #1763 "Example application link broken"
Documentation issue:

The "Example Application" link on the https://bookkeeper.apache.org/docs/latest/api/ledger-api/ page is broken.

The Link url is https://bookkeeper.apache.org/docs/latest/api/example-application, but when you click on it, you get a 404 "The requested URL /docs/latest/api/example-application was not found on this server." error instead.

[2018-10-28 13:52] sijie commented on #1763
This was fixed by #1764

[2018-10-28 13:52] #1763 closed

[2018-10-28 21:08] eolivelli commented on #1756
@hiscal2015 can you try with my suggested URI?

[2018-10-29 02:19] hiscal2015 commented on #1756
@eolivelli Sorry for delay, looks format zk://server1:port,server2:port,server3:port/ledgers does not work,

I tried with zk+hierarchical://server1:2181/ledgers,zk+hierarchical://server2:2181/ledgers,zk+hierarchical://server3:2181/ledgers, it works fine, can you have a double check? Thanks a lot.

[2018-10-29 07:00] eolivelli commented on #1756
This sounds to me as a big problem.
I have to performs trials and reproduce your case.
Are you using that config both on bookie and client?

[2018-10-29 07:04] hiscal2015 commented on #1756
Looks like the setting is only available on bookie, client only needs webservice and broker url.

[2018-10-29 18:46] sijie commented on #1756
@eolivelli I think the question how current code extracts zk servers from metadata service uri. I know dlog uri handles ';' and converts it to ','. but I am not very sure about the new metadata service uri, have to look more into this.

[2018-10-29 20:56] sijie opened #1767 "security vulnerabilities in 3rd party dependencies"
Similar as apache/pulsar#2882, bookkeeper has 3rd party dependencies that are exposed to security vulnerabilities

[code]

Results:

[code]

[2018-10-30 00:31] athanatos opened #1770 "bookie local consistency checker"
The bookie needs a way to perform online consistency checks within ledger storage.  For Sorted/InterleavedLedgerStorage, the prototype has already turned up a journal bug and several race conditions.  PR forthcoming.

[2018-10-30 00:34] athanatos commented on #1770
#1757 and #1737 were turned up by the protoype so far.
The underlying index scanning machinery will be used in #1602.

[2018-10-30 01:53] #1752 closed

[2018-10-30 18:55] sijie commented on #1756
@hiscal2015 any luck with `zk://server1:port;server2:port;server3:port/ledgers`?

[2018-10-31 21:28] mptap commented on #1767
@sijie I'm working on this

[2018-10-31 22:47] sijie commented on #1767
@mptap that's awesome. will take a look at your PR

[2018-11-01 02:36] hiscal2015 commented on #1756
@sijie My cluster was destroyed days ago, I'll get it back to you once cluster coming back again.

[2018-11-01 05:59] sijie commented on #1756
@hiscal2015 cool thank you

[2018-11-02 02:10] dlg99 opened #1781 "Add traces/zipkin support to simplify troubleshooting of slow requests"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

Add traces/zipkin support to simplify troubleshooting of slow requests

2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have). Are you currently using any workarounds to address this issue?

Should have.

3. Provide any additional detail on your proposed use case for this feature.

Tr

[2018-11-03 17:41] #1767 closed

[2018-11-05 16:58] hamadodene opened #1783 "OutOfDirectMemoryError with isForceGCAllowWhenNoSpace=true"
I inserted "bookie.advanced.isForceGCAllowWhenNoSpace=true"
in the bookkeeper service.conf to free up some space,
but it returned OutOfMemoryError to me.
I solved by adding the flag "-XX:MaxDirectMemorySize=2G" in the
configuration files and restarting the server.

18-11-05-17-17-33       Unexpected throwable caught
18-11-05-17-17-33       io.netty.util.internal.OutOfDirectMemoryError: failed to a

[2018-11-05 17:39] eolivelli commented on #1783
Side note: bookie.advanced.xxx is the way to pass configuration parameters to the Bookie in MagNews platform.

It seems that the bookie is allocating in memory the whole new file to be written.

@hamadodene can you please write about your case? The size of the files with data  and why you tried to add such flag?

[2018-11-05 21:44] sijie opened #1785 "BP-36: Stats documentation annotation"
**BP**

This is the master ticket for tracking BP-36 :

A common ask from people using bookkeeper is how they can monitor bookies and bookkeeper clients, what kind of metrics that bookkeeper exposes
and what are the important metrics. Currently bookkeeper doesn't provide any metrics page for guiding people on monitoring bookkeeper services.

In order to help people on this, we need to provide a fe

[2018-11-06 19:41] nicmichael opened #1791 "Read Submission should bypass OSE Threads"
**BUG REPORT**

1. Please describe the issue you observed:

Profiling of our Bookkeeper Client code for read requests shows that client threads spend half of their time in dispatching requests to OrderedExecutors (just the dispatch itself, not the execution inside OSE): 54% of their CPU time is spent in OrderedExecutor.executeOrdered() (called by LedgerHandle.readEntriesInternalAsync()). The high

[2018-11-06 19:43] nicmichael commented on #1791
![profiling_executeordered](https://user-images.githubusercontent.com/27270046/48089349-20c85780-e1b9-11e8-800f-4f63b97dfff9.png)

[2018-11-06 19:45] merlimat commented on #1791
I think pegging requests to thread should avoid the mutex contention.
Eg: reading multiple entries from different bookies, when these requests are completed we check if the all entries for the overall range was completed. This is protected by a mutex and if we have multiple thread it will lead to lower throughput

[2018-11-06 19:53] nicmichael commented on #1791
@merlimat I'm not sure I understand your comment. Are you referring to the completion of the read request?

I was thinking of only changing the read submission, but not the completion. Let me quickly open a pull request so you can see what changes I am proposing.

[2018-11-08 16:51] #1791 closed

[2018-11-09 16:29] ivankelly opened #1799 "bkctl is broken with default build options"
When building without the -Dstream profile enabled, the bkctl command is broken.

[code]

We shouldn't expect users to know they need to add special flags to maven to get a working build.

[2018-11-10 01:14] sijie commented on #1761
the doc page will be updated (fixed) by #1800

[2018-11-10 01:15] sijie commented on #1756
@hiscal2015 I am closing this issue since the question is answered. If you still see the issue, please reopen it.

[2018-11-10 01:15] #1756 closed

[2018-11-10 01:16] #1750 closed

[2018-11-12 12:43] #1799 closed

[2018-11-14 09:31] eolivelli opened #1811 "StandaloneTest does not pass without building sources with -Dstream profile"
**BUG REPORT**

1. Please describe the issue you observed:

Integration tests are not passing if you do not compile sources with -Dstream (Stream Storage profile)
I am seeing it on branch-4.8 but the same should be on master (4.9) as well

- What did you do?

[code]
- What did you expect to see?
All the tests are passing

- What did you see instead?
org.apache.bookkeeper.tests.integration.standalo

[2018-11-14 10:56] BramDeCneudt commented on #1615
Is this issue still open? I also have the same issue but with an other stacktrace:

I'm using the old 0.5.0 version from distributed log, has this been patched in the later versions?

`2018-11-14 10:28:00.425 ERROR [,,,] 1756 --- [        DL-io-1] io.netty.util.ResourceLeakDetector       : LEAK: ByteBuf.release() was not called before it's garbage-collected. See http://netty.io/wiki/reference-coun

[2018-11-14 18:31] sijie commented on #1615
@BramDeCneudt when did you observe this issue? at shutting down?

0.5.0 is pretty old version, I would suggest upgrading to 4.7.2 or 4.8.0

[2018-11-15 08:30] BramDeCneudt commented on #1615
@sijie thanks for the quick reply!
I always have this behaviour when starting up the application.

We are still using the version from the distributed log before it was ported to the bookkeeper repository but can't seem to find anywhere if the newer versions of bookkeeper are backwards compatible with the older versions and what changed on the distributed log repo during the multiple release of bo

[2018-11-15 08:32] eolivelli commented on #1615
@BramDeCneudt
there should be any "incompatibilty"

You'd better check the release notes of each release, but I bet you won't hit issues.

[2018-11-15 08:45] BramDeCneudt commented on #1615
@eolivelli Thanks for the reply, then I will first try to upgrade the version and see if the problems persists  thanks!

[2018-11-15 13:22] eolivelli commented on #1615
@BramDeCneudt FYI we are going to release 4.8.1 maybe you can upgrade to that version. If you have time you can try the release candidate

[2018-11-15 15:48] eolivelli opened #1815 "Make build pass on JDK12"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
Be able to build BookKeeper on JDK12

2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have). Are you currently using any workarounds to address this issue?
must-have

3. Provide any additional detail on your proposed use case for this feature.

Currently (4.9.0-SNAPSHOT)  there is one

[2018-11-20 10:06] jiazhai opened #1820 "Content need update for release management page"
In  [release management](http://bookkeeper.apache.org/community/releases/
)  page, some information is out of date.

such as:
[code]
and
[code]

[2018-11-20 10:07] eolivelli commented on #1820
good catch.
We can update it after releasing 4.8.1.

We have also to find a release manager for 4.9

[2018-11-20 13:50] ivankelly opened #1821 "TestVertxHttpServer hangs forever if 8080 already in use"
First off, it shouldn't be using 8080, it should be using a random free port.

But also, the test should fail rather than hanging forever. This is super annoying when you're running a full test run, and bookkeeper-server has passed and then you get caught on this.

[2018-11-20 19:31] ivankelly opened #1822 "Improve isolation of bookkeeper core and extensions"
Currently we have the -Dstream profile, which turns on the building of a bunch of "optional" extensions. However, when we test and when we release, we always enable the profile, so the isolation of the extensions is incomplete and never tested.

// will fill in rest later, about to get on plane

[2018-11-21 22:01] ivankelly commented on #1822
I think we should enable streamTests if stream is enable. I.e. make them the same thing.

[2018-11-21 22:05] eolivelli commented on #1822
+1 for dropping streamTest profile

[2018-11-24 13:10] eolivelli commented on #1815
Powermock is okay with 2.0.0rc4
and cpu affinity is okay.

We only have to deal with Lombok

[2018-11-28 07:13] hiscal2015 commented on #1756
@sijie @eolivelli

Today I changed metadataServiceUri to zk://server1:port;server2:port;server3:port/ledgers below logs:

[code]

Is that means this is succeed?

[2018-11-30 01:53] jiazhai commented on #1822
For user inside China, If they want to build bookkeeper, this mvn repo is not accessed, it would be better also handle it.
[code]

[2018-12-05 17:00] ivankelly opened #1863 "EtcdLedgerManager doesn't support layout versioning"
So we can't set the max ledger metadata format version, among other things.

[2018-12-05 17:17] ivankelly commented on #1821
Fixed in #1853

[2018-12-05 17:17] #1821 closed

[2018-12-05 17:21] sijie commented on #1863
@codingwangqi can you take a look at this?

[2018-12-06 13:09] codingwangqi commented on #1863
@ivankelly @sijie I don't quite understand the question here. are you talking about LedgerLayout? or something else?

[2018-12-08 01:48] sijie opened #1867 "BP-37: Improve configuration management for better documentation"
**BP**

This is the master ticket for tracking BP-37 :

[a short description for this BP]

Proposal PR - #&lt;pr-number&gt;

[2018-12-10 07:14] hiscal2015 opened #1880 "java.lang.IllegalStateException: State is not enabled"
bookkeeper version: 4.7.3
Pulsar broker version : 2.2.0

We have a 3 nodes bk cluster on bare metal and 3 brokers on Kubernetes. We followed the guide to create a function, but when our Pulsar function calls "putState" the following exception occurs:
[code]

Are there missing steps that we need to take to enable State for functions?
Please help, thanks.

[2018-12-10 08:21] sijie commented on #1880
@hiscal2015 : this is related to apache/pulsar#3140

[2018-12-10 09:30] hiscal2015 opened #1882 "grpc port 4181 not listening"
bk version: 4.7.3

bk_server.conf has storageserver.grpc.port=4181 defined, but port is not listening, is this expected? Thanks.
[code]

[2018-12-10 10:05] sijie commented on #1882
@hiscal2015

these settings belong to table service. table service is only enabled when https://github.com/apache/bookkeeper/blob/master/conf/bk_server.conf#L97 is enabled.

[2018-12-10 11:32] sijie commented on #1882
@hiscal2015 I see. that's because the metadata is not formatted yet. so the table service is not started correctly. we are currently working on the documentation for the table service. I would suggest waiting for 4.9.0 (which would come out in 1~2 weeks) before trying this feature out, till then we will have better documentation for this part.

[2018-12-10 11:55] hiscal2015 commented on #1882
@sijie Thanks for clarifying.

[2018-12-10 11:55] #1882 closed

[2018-12-11 13:16] ivankelly commented on #1863
@codingwangqi yes LedgerLayout. When a client or bookie writes and reads from a ledger manager they need to know the format. There's two parts to this. They need to know the layout of tree which they are reading, and they need to know the format of the contents of the nodes of the tree. In etcd, this is all implicit for now. Initially it was the same in ZK. Problems occur when you want to make a c

[2018-12-11 14:39] codingwangqi commented on #1863
@ivankelly :

There is a EtcdLayoutManager which is used for storing and retrieving LedgerLayout. However my understand is the ledger layout was used to handle different variants of zookeeper-based ledger managers (as what you said, from flat to hierarchical).

However Etcd is a key-value system, instead of tree system. so we don't think we are going to change how we structure key/values in Etcd.

[2018-12-11 14:54] ivankelly commented on #1863
@codingwangqi

It's happening now. If you want to be able to use binary metadata with etcd you'll need to manage this.
Once CURRENT_METADATA_FORMAT_VERSION is bumped (it will be in a few releases), clients will start to break, so we should deal with this now.

[2018-12-11 20:43] #1770 closed

[2018-12-12 00:33] codingwangqi commented on #1863
@ivankelly

I am a bit confused now.

Per my understanding, layout version is controlling the layout of how metadata is structured (e.g. in flat manager, it is just a flat structure in zk; in hierarchical, it is a hierarchical structure). However if you are just changing ledger metadata format, you should just bump `metadataFormatVersion` in metadata itself. You shouldn't change the layout version

[2018-12-12 09:54] ivankelly commented on #1863
We are using the metadataFormatVersion in the metadata itself to control the version of the individual pieces of metadata. The field in layout version is to control it for the cluster as a whole, and it's to set the "maximum" format that will be stored.

This is needed for scenarios where there are multiple versions of the software reading and writing the same ledger metadata. Lets say you have a

[2018-12-12 10:01] ivankelly commented on #1863
Once #1866 is in, I'll push a change to pin etcd to version 2, so that this doesn't surprise us in the future.

[2018-12-12 14:09] sijie commented on #1863
sorry I am also a bit confused now.

 why do we need this maximum version format stored in ledger layout? I think I am lost in the sequence of changes. Can you write a BP for the metadata changes (both #1858 and #1866)? I am not sure I am following the changes, and I felt I am missing some pieces here and there. The BP should cover - what are needed to be changed, what tools are needed, what is th

[2018-12-12 14:17] sijie commented on #1863
@ivankelly : also it seems that we added new fields to the layout format without bump layout version I #1858. it doesn't sound right to me. (I missed that in reviewing #1858). so I would suggest we hold on any metadata related PRs, and coming up with a BP with the whole picture about metadata changes, and make sure the community is aligned with the approach before merging any subsequent PRs.

[2018-12-12 14:20] ivankelly commented on #1863
Because if we don't clients which understand binary will start writing it by default. The alternative is to configure each client whether we want to use binary or not.

Sure. I was supposed to write one in july, but it fell to the side. This will likely delay 4.9.

Doesn't need a bump as the new field doesnt affect whether old readers can read it.

[2018-12-12 14:31] sijie commented on #1863
Lets come up with a BP, as we anyway need documentation for this.

[2018-12-12 14:32] sijie commented on #1863
4.9.0 will anyway be blocked for documentation if you don't have any. because metadata format changes require tools and documentation ready, otherwise 4.9.0 can't not be released.

[2018-12-12 14:48] ivankelly commented on #1863
Starting to think a client configuration option would be better. Can't remember why I went with a cluster wide. Need to think about it.

[2018-12-12 14:56] eolivelli commented on #1863
@ivankelly we can have several different BK clients on the same cluster, even from different applications.
It is common in my case to have BK 4.7 and 4.8 clients on the same cluster.

You have to be sure that new clients won't break old clients, but we also want a way to make the cluster metadata format version to be upgraded,

A client side configuration will be very tricky to handle, it would be

[2018-12-12 14:59] ivankelly commented on #1863
moving this to dev@ as an issue about etcd isn't the right forum

[2018-12-13 20:41] pasha-kuznetsov opened #1884 "BUG: dir_*_usage stats are reported as 0 for read-only bookies after a restart"
When a read-only bookie is restarted it keeps reporting `dir_*_usage` stats as `0` until it becomes writable again.

This is caused by the `LedgerDirsMonitor.check` only updating `diskUsages` if there are any writable dirs, or if the total usage goes below the low water mark, otherwise relying on previously filled values which are `0` after a bookie is restarted.

[Source](https://github.com/apach

[2018-12-14 01:45] #1884 closed

[2018-12-14 22:21] jvrao opened #1886 "Handle double bookie failures with outstanding metadata change."
Is this a question, feature request, bug report, or bookkeeper proposal?

**QUESTION**

Have you checked our documentation at http://bookkeeper.apache.org/ , If you could not find an answer there, please consider asking your question in our community forum at user@bookkeeper.apache.org, as it would benefit other members of our community.

**BUG REPORT**

1. Please describe the issue you observed:

[2018-12-19 21:23] athanatos opened #1891 "Error paths in Bookie.start() don't stop the LifecycleComponent in Main.doMain"
It looks to me like calling shutdown() in the error paths doesn't actually result in the LifecycleComponent in Main.doMain shutting down.  Normally, the DeathWatcher will raise an exception which'll be caught by the exception handler set in startComponent, but BookieServer.start() doesn't do that if the Bookie isn't running after start(). I think we just need to raise an exception in that branch i

[2018-12-21 22:16] athanatos opened #1892 "localConsistencyChecker: reset retry in loop"

[2018-12-27 10:50] #1380 closed, assigned to reddycharan

[2018-12-27 10:53] sijie commented on #812
The latest release scripts should already cover these steps.

[2018-12-27 10:53] #812 closed

[2018-12-27 10:54] sijie commented on #756
This is a duplicate of #1867

[2018-12-27 10:54] #756 closed

[2018-12-27 10:55] sijie commented on #1024
Closed this as all the tasks have been done.

[2018-12-27 10:55] #1024 closed

[2018-12-27 10:59] sijie commented on #1346
@reddycharan is this issue fixed with your entry log manager changes?

[2018-12-27 10:59] sijie commented on #1710
@eolivelli can we claim this is done?

[2018-12-27 11:02] eolivelli commented on #1710
Spotbugs is not passing on JDK11.

And we still have build passing on JDK11 but we do not have CI jobs on Jenkins:
- precommit
- nightly
....

I have bookies and clients running on JDK11 in production.
I was blocked in spotbugs change because you are suggesting to disable a rule on JDK11, it is quite tricky and in the meantime I was busy in other tasks (non-BK).
I can try to finish these tasks dur

[2019-01-04 00:41] #1892 closed

[2019-01-06 16:44] hboutemy opened #1895 "publishing official Bookkeeper source release to Maven Central"
I see that the Apache source release tarball is bookkeeper-4.8.1-src.tar.gz (in Apache dist https://www.apache.org/dist/bookkeeper/bookkeeper-4.8.1/ )
but on Maven Central, it is bookkeeper-4.8.1-source-release.zip that is published (in https://repo1.maven.org/maven2/org/apache/bookkeeper/bookkeeper/4.8.1/ )

and in 4.5.0 and 4.5.1, both archives (*-src.tar.gz and *-source-release.zip) were publis

[2019-01-06 17:17] eolivelli commented on #1895
Thank you @hboutemy, we wil try to fix this before the next release which will happen soon.
I think it is not worth to try to fix the past

[2019-01-06 17:50] hboutemy commented on #1895
no, past is past...

on fixing, you should easily be able to do as Maven core does = disable default source-release in root https://github.com/apache/maven/blob/master/pom.xml#L604 then publish your source-release in another artifact https://github.com/apache/maven/blob/master/apache-maven/pom.xml#L263 since you have currently the bookkeeper-dist module that looks equivalent to apache-maven

or yo

[2019-01-06 21:43] sijie commented on #1867
remove the milestone for master issue for now. since it is not possible to complete all the tasks in 4.9.0

[2019-01-06 21:45] sijie commented on #1710
@eolivelli can we move it to 4.10 then?

[2019-01-06 21:46] sijie commented on #1785
move this to 4.10, all the code changes are in place, however we need tools to leverage this annotation.

[2019-01-06 21:55] eolivelli commented on #1710
The only blocker for me is the spotbugs configuration.please check my last comment.

I fell I can finish this work thus week

[2019-01-07 04:33] FDU-SE-LAB opened #1896 "Your project apache/bookkeeper is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-01-07 08:45] sijie commented on #1895
I am wondering what is the motivation about this. apache dist is the only *binary* distribution channel for both source and binary packages, maven is for artifacts but we didn't use it for source distribution. It would be great to share more details behind this request.

[2019-01-08 17:56] eolivelli commented on #1895
@sijie we are deploying the sources of each module together with the binary to Maven central. This is very useful for developers, as IDEs can download the sources automatically from Maven centr

[2019-01-08 17:57] eolivelli commented on #1895
I had accidentally closed the issue. Sorry about that

[2019-01-09 06:59] hboutemy commented on #1895
@eolivelli the sources for the IDE are published along every artifact, as *-sources.jar, and it is a checked requirement for Central, then you don't have any issue on that
@sijie adding the buildable source release is not a strict requirement, but is a good practice since the sources for the IDE are not buildable, and Open Source is about source: source that is not buildable is not very useful. An

[2019-01-09 14:00] eolivelli opened #1897 "BookKeeper metadata service uri documentation is absent"
Here we have a very legacy documentation about the connection to the BookKeeper
https://bookkeeper.apache.org/docs/4.8.1/api/ledger-api/

We have to update such page because it is confusing for users which are trying to migrate to the new format:
zk+lmf://zookeeper/path

[2019-01-09 14:01] eolivelli commented on #1897
@sijie  @jiazhai
Do you have time to work on this issue before releasing 4.9 ?

[2019-01-09 14:49] eolivelli commented on #1897
and here we are suggesting to use FlatLedgerManagerFactory
https://bookkeeper.apache.org/docs/4.7.1/getting-started/concepts/#ledger-manager

[2019-01-10 00:23] reddycharan opened #1898 "implement isEnsembleAdheringToPlacementPolicy method for RegionAwareEnsemblePlacementPolicy"
**FEATURE REQUEST**

As part of https://github.com/apache/bookkeeper/pull/1883, EnsemblePlacementPolicy implementations are expected to be enhanced to log relevant metrics. This uses/depends on isEnsembleAdheringToPlacementPolicy method for each EnsemblePlacementPolicy. But for RegionAwareEnsemblePlacementPolicy this method is quite complicated considering the number of config parameters at play f

[2019-01-17 00:33] sijie commented on #1895
@hboutemy thank you for your comment.

Are you interested in contributing a fix for us?

[2019-01-17 06:13] eolivelli commented on #1897
Okay

Thank you for your hard work on docs, unfortunately few people give time for such vital activity

[2019-01-17 08:03] hboutemy commented on #1895
@sijie @eolivelli please review #1904

[2019-01-17 12:51] eolivelli commented on #1895
Committed your fix. Thanks

[2019-01-17 12:51] #1895 closed

[2019-01-17 15:54] adrianmo opened #1905 "Masquerading ZK errors as generic ZKException"
**BUG REPORT**

1. Please describe the issue you observed:

- What did you do?

We are in the process of updating BookKeeper dependency in Pravega from 4.5.0 to 4.7.3. In some tests, we try to create a Znode in a path that doesn't exist and expect to receive an exception accordingly.

- What did you expect to see?

We expect to see a [`KeeperException.NoNodeException`](https://github.com/apache/zo

[2019-01-17 15:57] eolivelli commented on #1905
Can you please report which API call is failing on BK ? it is not clear from the stacktrace

[2019-01-17 16:02] eolivelli commented on #1905
It should be easy to add the ZK error code to the ZKException or create a dummy KeeperException and attach to the ZKException as "cause"

[2019-01-17 16:58] eolivelli commented on #1905
I am leaning toward closing this ticket as 'won't fix'.
In general client should not rely on the internal errors of BK.
We are also stripping away the dependency from zk. So ZKException is already an internal implementation  detail

Is this blocker in your case?

[2019-01-21 08:57] sijie commented on #723
All the necessary changes are in master and will be shipped as part of 4.9.0.

[2019-01-21 08:57] #723 closed

[2019-01-21 08:58] sijie commented on #1710
#1849 (spotbugs change) is merged.

[2019-01-21 08:58] #1710 closed

[2019-01-21 13:01] codelipenghui opened #1908 "Bookie ledger replication error lead to increased disk usage"
**BUG REPORT**

Problem happens after reboot bookie(Bare metal), i can't remember a little bit about the detailed steps at the time.

Found that disk usage continued growth:
![image](https://user-images.githubusercontent.com/12592133/51472925-e6348b00-1db5-11e9-879a-b6d24c6ed009.png)

Then check the bookie log, found some ledger replicate error log:
[code]
This won't always happen, I also restarte

[2019-01-21 13:43] adrianmo commented on #1905
No, it's not a blocker, but this is preventing us from seeing the real cause of the exception. My question is, why rethrowing a generic ZKException if the real error cause is available?

[2019-01-21 22:34] sijie commented on #1908
@codelipenghui thank you for reporting this.

I think there are two problems behind this issue.

1) why the disk usage keeps growing?
2) why the four entries are not available?

I think the disk usage kept growing because replication worker keeps trying to replicate fragments but fail at the last 4 entries. when replication worker keeps doing that, it is writing entries again and again. so the dis

[2019-01-22 15:40] eolivelli opened #1912 "Cannot run bookie on JDK-11 from default package"
**BUG REPORT**

1. Please describe the issue you observed:

- What did you do?
Running a bookie on JDK-11 with the default package

- What did you expect to see?
The bookie is running

- What did you see instead?

[code]

[2019-01-22 15:43] eolivelli commented on #1912
in JDK11 they dropped many GC log related options in favour of a new set of flags, the workaround is to fix manually bin/common.sh

[2019-01-22 15:44] eolivelli opened #1913 "Cannot run Bookie with JDK8 if build on JDK-11"
**BUG REPORT**

1. Please describe the issue you observed:

- What did you do?
I have built BK 4.9 with jdk-11 and launched "localbookie"

- What did you expect to see?
The bookie is running

- What did you see instead?

[code]

[2019-01-22 15:47] eolivelli commented on #1913
This is actually a non-issue because we are releasing convenience binaries built on docker with jdk8.
This problem may arise in the future.

It is due to the new ByteBuffer#clear() covariant method which returns a ByteBuffer and not a Buffer as in JDK8. The problem is there since JDK9.

I have created this issue in order to track the problem, not willing to fix it.
The best fix would be to pass  "

[2019-01-22 15:47] #1913 closed

[2019-01-22 16:18] eolivelli opened #1914 "EnsemblePlacementPolicy exposes third party API "Pair" from commons-lang3 in a public API"
We are going to release a public API which depends on a third party library. This will introduce compatibility problems in the future.

EnsemblePlacementPolicy API is an extension point on the client side, we should not depend on APIs from third party providers.

The issue was introduced in #1883

This is very like to #67, #300 and #804

[2019-01-22 16:49] eolivelli commented on #1912
Yes, will send a patch. Not blocker for a release

[2019-01-22 18:16] reddycharan commented on #1914
@eolivelli @sijie will take care of this in couple of days. Thanks for creating an issue for this.

@jvrao fyi.

[2019-01-22 18:52] eolivelli commented on #1914
If you prefer @reddycharan I can send a patch.
The proposal from @sijie is to create a Pair class inside bookkeeper-common package.

I would like to move the release forward, because new  Pulsar release depends on this patch (AFAIK)

[2019-01-22 18:56] sijie commented on #1914
@eolivelli agreed with you. I think it is a straightforward task, @reddycharan if you agree with approach, @eolivelli can help with the code change.

[2019-01-22 20:07] reddycharan commented on #1914
@eolivelli @sijie I'm fine, you may proceed. Thanks.

[2019-01-25 13:31] ArvinDevel opened #1918 "Bypass journal ledger feature"
Is this a question, feature request, bug report, or bookkeeper proposal?

**FEATURE REQUEST**

1. Please describe the feature you are requesting.
Currently, BK write journal before flush data to persistent device which will cause two write of data. Since we already have replicas to guarantee the availability and has auto-recovery mechanism, sometimes we don't want this high reliability with writin

[2019-01-29 06:15] jiazhai commented on #1918
Comparing with 471, Seems this would change a lot in the IO path. @sijie @eolivelli What do you think of this idea?

[2019-01-29 17:21] eolivelli commented on #1918
We already discussed about this.
On the clientside we can have a new WriteFlag.
Handling of LAC should be like with DEFEREED_SYNC flag.

We can change force() to force and wait for a checkpoint of the memtable with this new flag: this way LAC will advance in a consistent way

[2019-01-29 18:20] merlimat commented on #1918
I too would like to have an option to avoid the journal completely. That would avoid the double data write (of course at the expense of data durability).

[2019-01-30 15:08] aluccaroni opened #1919 "BookKeeper switched to readonly after FileInfoDeletedException"
**BUG REPORT**

1. Please describe the issue you observed:
During normal operation of a cluster of 3 BookKeepers one switched to READONLY mode. Usually we see this kind of errors when a disk become full, but this time we found out a "FileInfoDeletedException" inside the logs. We restarted the Bookie and everything returned to normal.

Apache BookKeeper 4.7.3
Java 11.0.2+7

- What did you do?
n/a

[2019-01-30 22:05] ivankelly opened #1920 "zkServers & metadataServerUri are both specified in the config file by default"
We should specify that the deprecated ones are only used if metadataServiceUri is not specified, and have them commented out in conf file by default.

[2019-01-30 22:07] ivankelly opened #1921 "bkctl is shipping bin/bookkeeper"
The bkctl bin package is shipping bin/bookkeeper. Seems like it's in the wrong package.

[2019-01-30 22:08] ivankelly opened #1922 "bkctl simpletest fails silently"
if bkctl simpletest fails, it exits without output. This is confusing for the user.

[code]
In this case it was failing because there weren't enough bookies.

[2019-01-30 22:10] ivankelly opened #1923 "src package is missing stream/clients/python/scripts/docker_build.sh"
This prevents integration tests to be run against the src package.

[2019-01-30 22:11] ivankelly opened #1924 "standalone integration tests shouldn't run if -Dstream profile is omitted"
Because these tests depend on things that are only built if -Dstream is specified

[2019-01-31 10:57] ivankelly opened #1925 "localbookie error messages are rubbish when started incorrectly"
I couldn't remember the correct invokation. It didn't help me.

[code]

[2019-01-31 23:13] eolivelli commented on #1919
@athanatos @jvrao @reddycharan I this exception comes from one of your recent commits. Have you already seen this error?

Cc @sijie

[2019-02-01 00:37] sijie commented on #1918
@jvrao have you guys started the bypass-journal work? or @ArvinDevel are you interested in contributing this feature?

[2019-02-01 00:37] sijie commented on #1914
This has been fixed by #1916 in 4.9.0 release

[2019-02-01 00:37] #1914 closed

[2019-02-01 14:22] ivankelly opened #1926 "dlog core pulls in log4j"
dlog core is a client library. it shouldn't pull in log4j and the log4j slf4j adapter as that interferes with the logging of the application which is pulling it in.

[2019-02-01 14:25] ivankelly opened #1927 "localbookie cannot be started with a ledger path which isn't on the root level"
74bd92605bc4986705031aea8943905dbc9f9f85 allowed the client to overwrite localbookie configurations from conf/bk_server.conf

However, if you set the zkLedgersRootPath to something like /messaging/bookkeeper/ledgers, it will fail because it doesn't create the parent znodes (and there's no other way to do it since this is localbookie, and it only lives for the lifetime of the process).

[2019-02-02 03:11] ArvinDevel commented on #1918
@sijie I'm glad to contribute this feature, after I'm familiar with #471 and #743 , I'll make one clear BP for this feature.

[2019-02-06 02:35] sijie opened #1935 "BookieStickyReadsTest.stickyReadsWithFailures is flaky"
**BUG REPORT**

***Describe the bug***

BookieStickyReadsTest.stickyReadsWithFailures has been seen failing multiple times in jenkins CI.

***Expected behavior***

BookieStickyReadsTest should pass reliably

***Additional context***

Add any other context about the problem here.

[2019-02-06 02:36] sijie commented on #1935
/cc @merlimat

[2019-02-06 14:23] artus opened #1936 "MethodNotFoundException due to old Guava version."
This is a bug report

**BUG REPORT**

1. Please describe the issue you observed:

- We use the distributedlog-common library 4.3.7, which has a dependency on Guava 21.0
- We also use Guava 27.0.1 in our project ourselves (which has the distributedlog-common library as a dependency)
- We try writing to a log in distributedlog.

- We expect the record to be written.

- An exception is thrown:

	at o

[2019-02-06 14:24] artus commented on #1936
We fixed the issue by downgrading to Guava 21.0 ourselves, but this is not really acceptable as this version is almost 2 years older than the current one.

[2019-02-06 15:26] artus commented on #1615
We still have the same issue on version 4.3.7

You can see the stacktrace [here](https://gist.github.com/artus/0c09e14a00872166ef5c583b4018965d).

[2019-02-06 18:43] athanatos commented on #1919
@eolivelli Haven't seen it.  FileInfoDeletedException was added with the local consistency checker to indicate a call on a FileInfo after the gc had removed the ledger.  In this case, I think SortedLedgerStorage is flushing entries for a ledger which no longer exists.  What exception should be propagated in that case?

[2019-02-06 18:48] athanatos commented on #1919
Also, the patch in question doesn't show up in the apache 4.7.3 tag.  I guess this is an internal branch based on 4.7.3?

[2019-02-06 19:00] eolivelli commented on #1919
Thank you for checking

The main problem is that bookie switched to readonly mode.

We are using official 4.7.3 release.

[2019-02-06 19:02] athanatos commented on #1919
@eolivelli  Yeah, I was wrong on that one, I apparently added that bit to address a different race condition and later reused it.  I think the bug is that grabCleanPage shouldn't be able to obtain a page in that state, I'm taking a look.

[2019-02-06 19:04] eolivelli commented on #1919
@athanatos thank you

[2019-02-06 19:04] athanatos commented on #1919
@eolivelli How many times has this occurred?

[2019-02-06 19:20] eolivelli commented on #1919
I am leaving the answer to @aluccaroni
I don't know.
I think they saw it only once

[2019-02-06 19:53] athanatos commented on #1919
Looks like EntryMemTable.flushSnapshot will tolerate a NoLedgerException, but prior to my patch I think that this race would have resulted in a ChannelClosedException in which case it would still have transitioned to RO.  I think the right answer is for putEntryOffset to translate the FileInfoDeletedException into a NoLedgerException.

[2019-02-07 00:58] sijie commented on #1936
@artus have you tried to use `distributedlog-core-shaded` artifact instead of `distributedlog-core`. `distributedlog-core-shaded` shades the dependencies.

we will try to bump guava version in next release.

[2019-02-07 09:01] aluccaroni commented on #1919
@athanatos we have seen it only once in 3 weeks (since we have put the v4.7.3 in production)

[2019-02-11 17:16] adrianmo opened #1943 "Release Docker images based on bookkeeper-all"
**FEATURE REQUEST**

The origin of this feature request is our attempt to configure and enable Codahale metrics in our BookKeeper instance running on Docker. We realized that [Apache's BK Docker images](https://hub.docker.com/r/apache/bookkeeper) are based on the `bookkeeper-server` distribution, which only includes the Java classes for the Prometheus metrics provider.

Currently, BookKeeper is al

[2019-02-12 03:06] ArvinDevel opened #1945 "BP-38: Bypass journal ledger"
**BP**

This is the master ticket for tracking BP-38 :

To guarantee high durability, BK write journal before flush data to persistent device which will cause two write of data.
At the presence of replicating and auto-recovery mechanism, the two-write is a bit waste of the persistent device bandwidth,
especially on the [scenarios](https://cwiki.apache.org/confluence/display/BOOKKEEPER/BP-14+Relax+

[2019-02-13 15:00] Tielem commented on #1376
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

We create continuous streams of growing data, eg ledgers with entities.
However, we also require random access in the underlying data stream.

Proposed API's:

* getLastAddConfirmedByteOffset(): long

Returns the byte offset of the last byte of the last entry committed to the ledger.

* readBytes(long startOffset, long endOff

[2019-02-14 09:39] ivankelly commented on #1935
@sijie please linnk failed build and mark keep forver.

[2019-02-14 09:49] ivankelly commented on #1919
@athanatos are you working on a fix for this?

[2019-02-14 10:01] ivankelly commented on #1886
Fixed by #1887

[2019-02-14 10:01] #1886 closed

[2019-02-15 11:43] hamadodene opened #1947 "Failed to load Circe JNI library"
**BUG REPORT**

`
Feb 15, 2019 12:11:27 PM com.scurrilous.circe.checksum.Crc32cIntChecksum <clinit>
WARNING: Failed to load Circe JNI library. Falling back to Java based CRC32c provider
`

i have this warning when i use bookie with herddb in cluster mode (https://github.com/diennea/herddb).
i installed all dipendencies but it still doesn't work.
[code]

Sytem information where i run bookie:
`Linux

[2019-02-15 14:32] artus commented on #1936
@sijie We did not do it yet. The issue is currently fixed by just downgrading and we have other priorities now. I will try out the shaded artifact when we run into this issue again.

[2019-02-18 18:05] athanatos commented on #1919
Yeah, sorry, was on vacation last week.  I've got a patch I'll put up today.

[2019-02-18 23:14] athanatos commented on #1919
https://github.com/apache/bookkeeper/pull/1950

[2019-02-20 12:11] #1556 closed

[2019-02-21 09:36] sijie commented on #1880
close this one, since pulsar is going to release 2.3.0 this week.

[2019-02-21 09:36] #1880 closed

[2019-02-21 09:38] sijie commented on #1820
The release schedule has been updated after 4.9.0

[2019-02-21 09:38] #1820 closed

[2019-02-21 09:40] sijie commented on #1811
It is a dup of #1822

[2019-02-21 09:40] #1811 closed

[2019-02-21 09:41] sijie commented on #1783
It seems it is a setting problem. Close it for now. If there is anything required from bookkeeper, please reopen it.

[2019-02-21 09:41] #1783 closed

[2019-02-21 09:42] sijie commented on #1761
#1800 addressed part of the issue. others will be addressed by #1822

[2019-02-21 09:42] #1761 closed

[2019-02-21 09:43] sijie commented on #1712
This is fixed by #1889

[2019-02-21 09:43] #1712 closed

[2019-02-21 09:45] sijie commented on #1617
This is done by #1619

[2019-02-21 09:45] #1617 closed

[2019-02-21 09:46] sijie commented on #1602
This is done by #1770

[2019-02-21 09:46] #1602 closed

[2019-02-21 09:49] sijie commented on #1579
There is a PR for this #1580

[2019-02-21 09:53] sijie commented on #1516
I think we should switch to new java nio filesystem api for IO operations. so we can mock out the filesystem access using google's https://github.com/google/jimfs implementation.

[2019-02-21 09:57] sijie commented on #1510
#1476 only avoid double releasing. but still we need to cancel the scheduled speculative tasks.

[2019-02-21 10:17] eolivelli commented on #1516
@sijie it is a good idea. I am already using that technique on some project

[2019-02-22 03:38] zongtanghu commented on #1513
Nowdays，many enviroment is tranfering to Ipv6.So，supporting Ipv6 is very important.When will bookkeeper support ipv6 feature? @sijie

[2019-02-22 05:14] sijie commented on #1513
@zongtanghu - Agreed. We are looking into how to support ipv6. One of the problems we have regarding this is that bookkeeper is using `ip:port` as the identifier. We are looking into how to change bookie id advertisement and be able to support ip address changes, and also for ipv6 as well. I am writing up a BP (bookkeeper proposal) around this topic and will be sharing it with the community next w

[2019-02-22 09:43] zongtanghu commented on #1513
Okay,thanks for you reply.It's a very meaningful thing.Later,I will look at bookkeeper's source code in depth, and research to see Bookkeeper can be applied to which business scenarios for us. @sijie

[2019-02-25 05:35] #1531 closed

[2019-02-25 10:53] hugomiguelabreu opened #1960 "Configure sandbox binding"
**FEATURE REQUEST**
When running the docker sandbox, the default namespace for DistributedLog is bonded to the 127.0.0.1.

I think it would be nice to configure such IP, as for development sometimes there are multiple virtual machines and containers running. And for fast prototyping, the sandbox is very useful, but when deploying code on a VM that same machine will not be able to connect correctly

[2019-02-25 11:23] ivankelly opened #1961 "bin/dlog unbind is broken"
[code]

It looks like the builder for ZooKeeperClient requires something be set for the acl, even if null.

[2019-02-25 13:00] zymap opened #1962 "Failed to download twitter maven repo dependencies"
**BUG REPORT**

When compiling using maven, there are some twitter maven repo can't download.
The dependencies are used by twitter-science-provider module.

[2019-02-26 05:17] zymap commented on #1962
Can set ~/.m2/setting.xml using proxy:
[code]

[2019-02-26 12:01] eolivelli commented on #1962
@sijie  @yzang
do we need to support 'twitter-science-provider' in Community builds ?
I guess they are in use only at Twitter

[2019-02-26 12:10] sijie commented on #1962
I think it can still be built as part of `bookkeeper-all` distributions. but I don't think we should build twitter providers in normal processes. because 1) some of the twitter dependencies are only in twitter maven repo, but not at maven center. it causes problems for our CI builds; 2) twitter providers are not very popular as the other two modules - prometheus and codahale.

so I would suggest e

[2019-02-27 07:21] #1962 closed

[2019-02-27 19:41] athanatos opened #1967 "Ledger creation and removal can return erroneous errors if there is a zk ConnectionLoss event while the update is inflight"
The bookkeeper project ZooKeeperClient wrapper (not to be confused with ZooKeeper or the distributed log analogue) will resend zk node creations and removals upon reconnect after a ConnectionLoss event.  In the event that the original succeeded, the resent operation will erroneously return LedgerExistException or NoSuchLedgerExistsException for creation and removal respectively.

For removal, I pr

[2019-02-28 02:20] sijie commented on #1967
+1

[2019-02-28 12:29] eolivelli commented on #1967
+1

[2019-03-01 13:52] sijie opened #1969 "Allow a non-shaded bookkeeper client to connect to a shaded bookie"
**BUG REPORT**

***Describe the bug***

We introduced #1217 to address the problem for a shaded bookkeeper client to connect to a non-shaded bookie. It worked out well.

However if I run a bookie with dependencies shaded (e.g. in integration tests), a normal (non-shaded) bookie client can't connect to bookie.

***To Reproduce***

You have to shade the bookkeeper-server in order to reproduce it.

*

[2019-03-01 17:28] merlimat opened #1970 "Exception when sending read requests"
**BUG REPORT**

***Describe the bug***

Got reports from Pulsar users (with BK 4.9.0) of these errors:

[code]

[2019-03-01 19:37] eolivelli commented on #1970
Do you already have a reproducer?

[2019-03-01 19:37] merlimat commented on #1970
No, I haven't seen this error myself yet

[2019-03-01 20:04] grantwwu commented on #1970
I was the user reporting this - my current cluster is throwing this pretty much continuously - let me know if there's anything I can do.

[2019-03-01 22:30] athanatos commented on #1967
https://github.com/apache/bookkeeper/pull/1971

[2019-03-03 15:15] #1655 closed

[2019-03-05 09:09] zymap commented on #1925
Just input `bin/bookkeeper localbookie n`, it works well.

[2019-03-05 09:22] ivankelly commented on #1925
@zymap yes, that's not what this issue is about. This issue is that if you don't get the invocation correct, the error messages are completely unhelpful

[2019-03-05 09:49] zymap opened #1974 "Migrate command `bookieformat` from shell to bkctl"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

- Migrate command `bookieformat` from shell to bkctl.

2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?

- nice-to-have.

3. Provide any additional detail on your proposed use case for this feature.

[code]

[2019-03-08 09:48] ivankelly commented on #1970
Relates to https://github.com/apache/pulsar/issues/3715

[2019-03-11 07:15] zymap opened #1977 "Migrate command `bookieinit` from shell to bkctl"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
- Migrate command `bookieformat` from shell to bkctl
2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?
- nice-to-have
3. Provide any additional detail on your proposed use case for this feature.
[code]

[2019-03-11 19:22] RaulGracia opened #1979 "Broken "metrics" link in documentation"
**BUG REPORT**

***Describe the bug***

The [`metrics.md`](https://github.com/apache/bookkeeper/blob/28dee8464764b0edceeb31ce24424f0947b5789b/site/docs/4.7.1/admin/metrics.md) file has a broken link pointing to an unknown site:

This problem is also visible in the documentation page: https://bookkeeper.apache.org/docs/4.7.3/reference/metrics

***To Reproduce***

Just click the link posted above, y

[2019-03-12 09:08] zymap opened #1980 "Migrate command `ledger` from shell to bkctl"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
- Migrate command `ledger` from shell to bkctl
2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?
- nice-to-have
3. Provide any additional detail on your proposed use case for this feature.
[code]

[2019-03-12 16:30] #1977 closed

[2019-03-14 13:19] zymap opened #1982 "Migrate command `bookiesanity ` from shell to bkctl"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

- Migrate command `bookiesanity` from shell to bkctl

2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?

- nice-to-have

3. Provide any additional detail on your proposed use case for this feature.

[code]

[2019-03-14 15:34] mathewmoon opened #1984 "BKCtl does not respect -x option when creating stream znode"
**BUG REPORT**

***Describe the bug***
When running ``` org.apache.bookkeeper.tools.cli.BKCtl --conf /conf/bookkeeper.conf cluster init -x ${CLUSTER_NAME} zk+hierarchical://${ZK_HOST}```  distributedlog and ledgers are created inside of /<cluster name>, but stream is created in root znode:

[code]
***To Reproduce***
run ``` java ${OPTS}  org.apache.bookkeeper.tools.cli.BKCtl --conf /conf/bookkeepe

[2019-03-15 06:56] #1980 closed

[2019-03-15 08:14] zymap opened #1985 "Migrate command `convert-to-db-storage`"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

- Use bkctl to run command `convert-to-db-storage`

2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?
- nice-to-have
3. Provide any additional detail on your proposed use case for this feature.
[code]

[2019-03-15 13:32] zymap opened #1987 "Migrate command `convert-to-interleaved-storage`"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
- Use `bkctl` to run command `convert-to-interleaved-storage`
2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?
- nice-to-have
3. Provide any additional detail on your proposed use case for this feature.
[code]

[2019-03-16 11:48] #1974 closed

[2019-03-18 08:11] #1982 closed

[2019-03-18 10:17] zymap opened #1989 "Migrate command `listfilesondisk`"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
- Use `bkctl` to run command `listfilesondisc`
2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?
- nice-to-have
3. Provide any additional detail on your proposed use case for this feature.
[code]

[2019-03-19 15:38] #1985 closed

[2019-03-24 03:05] liketic commented on #1926
Hi @ivankelly , I found the scope of those dependencies  log4j and slf4j is test. So they will not be pulled in user's environment if I'm not wrong. It that's right?

[2019-03-25 02:50] #1987 closed

[2019-03-25 07:17] #1989 closed

[2019-03-26 04:40] sijie opened #2001 "[DbLedgerStorage] Failed to cleanup db indexes due to NoEntryException"
**BUG REPORT**

***Describe the bug***

[code]

db cleanup process will be aborted when failed to no entries found in entry index location.

***Expected behavior***

db clean up should proceed even there are no entries.

***Additional context***

[code]

removing entry locations and ledger index entry is not an atomic operation. if the bookie crashes between removed offsets and removing index entr

[2019-03-26 14:48] ivankelly commented on #1926
@liketic You're right. I must have been seeing things. Closing.

[2019-03-26 14:48] #1926 closed

[2019-03-27 03:38] zymap opened #2004 "Migrate command `listledgers`"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

- Using `bkctl` run command `listledgers`

2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?
- nice-to-have
3. Provide any additional detail on your proposed use case for this feature.
[code]

[2019-03-27 05:11] #1925 closed

[2019-03-27 15:35] #2001 closed

[2019-03-28 06:33] zymap opened #2007 "Migrate command `whoisauditor`"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
- Using `bkctl` run `whoisauditor`
2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?
- nice-to-have
3. Provide any additional detail on your proposed use case for this feature.
[code]

[2019-03-28 06:38] zymap opened #2009 "Migrate command `autorecovery`"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
- Using `bkctl` run `autorecovery`
2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?
- nice-to-have
3. Provide any additional detail on your proposed use case for this feature.
[code]

[2019-03-28 07:12] zymap opened #2011 "Migrate command `triggeraudit`"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
- Using `bkctl` run `triggeraudit`
2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?
- nice-to-have
3. Provide any additional detail on your proposed use case for this feature.
[code]

[2019-03-28 08:58] zymap opened #2013 "Migrate command `listunderreplicated`"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
- Using `bkctl` run `listunderreplicated`
2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?
- nice-to-have
3. Provide any additional detail on your proposed use case for this feature.
[code]

[2019-03-28 10:52] zymap opened #2015 "Migrate command `lostbookierecoverydelay`"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
- Using `bkctl` run `lostbookierecoverydelay`
2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?
- nice-to-have
3. Provide any additional detail on your proposed use case for this feature.
[code]

[2019-03-28 11:48] chairmank commented on #1970
I have observed this bug with BookKeeper 4.9.0 when using the tiered storage feature of Pulsar 2.3.0.

I added logging to `org.apache.bookkeeper.client.RoundRobinDistributionSchedule` and found that the `getWriteSet` method is being called with `entryId = -2`. `getWriteSet` calls the static `create` method of `WriteSetImpl`, which calls the private `reset` method, which looks like this:

[code]

T

[2019-03-28 23:20] sijie commented on #1970
I don't think bookkeeper should accept any reads reading entries with negative ids. there is already a defensive sanity check in `readAsync` call.
[code]

[2019-03-29 09:37] zymap opened #2018 "Migrate command `ledgermetadata`"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
- Using `bkctl` run `ledgermetadata`
2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?
- nice-to-have
3. Provide any additional detail on your proposed use case for this feature.
[code]

[2019-03-29 18:25] klevy-toast commented on #1970
Hi. I am also seeing this, when running the some [benchmarks](http://openmessaging.cloud/docs/benchmarks/) with 100GB of backlog.

[2019-03-29 18:40] sijie commented on #1970
FYI I am currently looking into this issue as well. Will post updates once I got any.

[2019-03-30 10:24] xinln opened #2020 "Error on starting pulsar standalone using Pulsar 2.2"
1. It was okay to start pulsar standalone using `bin/pulsar-daemon start standalone`
2. The machine was crashed due to other issues.
3. After the machine is rebooted, run `bin/pulsar-daemon start standalone` again. It failed to start due to following errors:
[code]

4. `bin/pulsar-daemon start standalone -nss` can bypass the issue.

[2019-03-31 05:27] liketic commented on #283
Hi @sijie , I opened #2021 , could you please take a look?

[2019-04-01 02:49] bd2019us opened #2023 "SECURITY: cachedTheadPool() may cause OutOfMemoryError when there are too many threads."
**BUG REPORT**

1. Please describe the issue you observed:

When the tasks are too many, using cached thread pool may risk in causing OutOfMemoryError, while fixed thread pool can be freely configured (thread number) to avoid the above error!

Besides, change cached thread pool to fixed thread pool has no performance loss if the thread number is properly set.

[2019-04-01 13:03] zymap opened #2025 "Migrate command `deleteledger`"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
- Using `bkctl` run `deleteledger`
2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?
- nice-to-have
3. Provide any additional detail on your proposed use case for this feature.
[code]

[2019-04-01 13:15] zymap opened #2027 "Migrate command `whatisinstanceid`"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
- Using `bkctl` run `instanceid`
2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?
- nice-to-have
3. Provide any additional detail on your proposed use case for this feature.
[code]

[2019-04-01 13:20] zymap opened #2029 "Migrate command `nukeexistingcluster`"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
- Using `bkctl` run `nukeexistingcluster`
2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?
- nice-to-have
3. Provide any additional detail on your proposed use case for this feature.
[code]

[2019-04-01 13:25] zymap opened #2031 "Migrate command `metaformat`"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
-Using `bkctl` run `metaformat`
2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?
- nice-to-have
3. Provide any additional detail on your proposed use case for this feature.
[code]

[2019-04-01 15:05] zymap opened #2033 "Migrate command `regenerate-interleaved-storage-index-file`"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
- Using `bkctl` run `regenerate-interleaved-storage-index-file`
2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?
- nice-to-have
3. Provide any additional detail on your proposed use case for this feature.
[code]

[2019-04-01 15:21] zymap opened #2036 "Migrate command `rebuild-db-ledger-locations-index`"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
- Using `bkctl` run `rebuild-db-ledger-locations-index`
2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?
- nice-to-have
3. Provide any additional detail on your proposed use case for this feature.
[code]

[2019-04-01 16:27] #2020 closed

[2019-04-02 02:36] zymap opened #2037 "Migrate command `show`"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
- Using `bkctl` run `show`
2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?
- nice-to-have
3. Provide any additional detail on your proposed use case for this feature.

[code]

[2019-04-02 02:40] #2037 closed

[2019-04-02 04:29] zymap opened #2038 "Migrate command `readlogmetadata`"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
- Using `bkctl` run `readlogmetadata`
2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?
- nice-to-have
3. Provide any additional detail on your proposed use case for this feature.
[code]

[2019-04-02 07:20] zymap opened #2040 "Migrate command `readledger`"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
- Using `bkctl` run `readledger`
2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?
- nice-to-have
3. Provide any additional detail on your proposed use case for this feature.
[code]

[2019-04-02 07:50] zymap opened #2042 "Migrate command `localconsistencycheck`"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
- Using `bkctl` run command `localconsistencycheck`
2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?
- nice-to-have
3. Provide any additional detail on your proposed use case for this feature.

[code]

[2019-04-02 08:34] #2025 closed

[2019-04-02 09:45] zymap opened #2044 "Migrate command `readlog`"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
- Using `bkctl` run `readlog`
2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?
- nice-to-have
3. Provide any additional detail on your proposed use case for this feature.
[code]

[2019-04-02 10:10] zymap opened #2046 "Migrate command `initnewcluster`"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
- Using `bkctl` run `initnewcluster`
2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?
- nice-to-have
3. Provide any additional detail on your proposed use case for this feature.

[code]

[2019-04-02 12:18] zymap opened #2049 "Migrate command `decommission`"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
- Using `bkctl` run `decommission`
2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?
- nice-to-have
3. Provide any additional detail on your proposed use case for this feature.
[code]

[2019-04-02 18:35] #2023 closed

[2019-04-02 23:23] nicmichael opened #2053 "FastCodahale Timers miscalculate percentiles"
**BUG REPORT**

***Describe the bug***

FastCodahale Timer implementation may miscalculate percentiles if snapshots of values are slightly out of sync, and if only few events have been recorded.

FastCodahale Timers use fine-grained locking and are meant to tolerate that (some) values change while being recorded or while snapshots are created. Currently, the total count of requests is not synchron

[2019-04-03 06:00] zymap opened #2055 "Migrate command `recover`"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
-Using `bkctl` run `recover`
2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?
- nice-to-have
3. Provide any additional detail on your proposed use case for this feature.
[code]

[2019-04-03 08:09] zymap opened #2057 "Migrate command `updateledgers`"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
- Using `bkctl` run `update`
2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?
- nice-to-have
3. Provide any additional detail on your proposed use case for this feature.
[code]

[2019-04-03 13:11] #2049 closed

[2019-04-03 13:12] zymap opened #2059 "Migrate command `updatecookie`"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
- Using `bkctl` run `updatecookie`
2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?
- nice-to-have
3. Provide any additional detail on your proposed use case for this feature.
[code]

[2019-04-03 13:16] #2004 closed

[2019-04-03 13:18] #2044 closed

[2019-04-03 13:18] #2029 closed

[2019-04-03 13:19] #2013 closed

[2019-04-03 13:19] #2046 closed

[2019-04-03 13:19] #2038 closed

[2019-04-03 13:20] #2015 closed

[2019-04-03 13:20] #2031 closed

[2019-04-03 14:43] #2042 closed

[2019-04-03 14:43] #2040 closed

[2019-04-05 07:00] eolivelli opened #2062 "Build failure on Java 11 due to javadoc plugin"
Build fail on 4.9.1 tag if using Java 11 (adoptopen jdk 11.0.2 + linux + maven 3.6.0):
[code]

[2019-04-09 12:24] #2033 closed

[2019-04-10 01:44] #2053 closed

[2019-04-10 03:11] #2057 closed

[2019-04-10 11:19] #2036 closed

[2019-04-11 02:58] #2027 closed

[2019-04-15 21:27] mtang01 opened #2064 "DirectMemoryCRC32Digest.update(ByteBuf) allocates lots of byte[]"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
Profiling shows the code block in bold is hit every time an entry is read from bookie.

[code]
This is due to ByteBuf being marked as read only (as a result buf.hasArray() == false)  from
[code]

2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any work

[2019-04-15 21:31] merlimat commented on #2064
@mtang01 Can you get the class name of the ByteBuf instance?

[2019-04-15 21:32] merlimat commented on #2064
Also, you could try with `Crc32C` which shouldn't have that issue.

[2019-04-15 21:43] mtang01 commented on #2064
@merlimat io.netty.buffer.ByteBuf used in DirectMemoryCRC32Digest.update wraps java.nioHeapByteBufferR at its core. I'll give crc32c a try. Thanks.

[2019-04-15 22:53] mtang01 commented on #2064
crc32c has the same problem. It calls com.scurrilous.circe.impl.resume, which allocates new byte[] due to ByteBuffer being read only.

[code]

[2019-04-15 23:01] merlimat commented on #2064
Ouch, yes, the problem is at the ByteBuffer level. For CRC32 it might be possible to just call `CRC32.update(input.nioBuffer())` that should be handled by JDK and should do the right thing.

[2019-04-16 00:22] mtang01 commented on #2064
CRC32.update(ByteBuffer) also allocates byte[]. The problem is a readonly ByteBuffer doesn't expose its byte[] data, which CRC needs.

[2019-04-17 06:19] jvrao opened #2065 "Need Explicit error message if ledger is not present on ZK"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

Client can get no ledger error in the following two scenarios.
    1. When client attempted to read/open an extent that
       is not on ZK (metadata server)
    2. When client attempted to read an ledger which is on metadata
       server, but somehow missing on bookies

    It is quite confusing to get the same error, NoSuc

[2019-04-17 10:46] eolivelli commented on #2065
+1 to be stated clearly in the release notes.
some application may break

[2019-04-19 00:44] #283 closed

[2019-04-19 17:11] #1967 closed

[2019-04-19 21:38] mtang01 opened #2067 "Reduce byte[] allocation in digest calculation in add entry flow"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

This request is an alternative solution to issue https://github.com/apache/bookkeeper/issues/791
The original fix makes 1 byte[] allocation to save more allocations when sending to bookie in v3 protocol.

Alternative solution removes this 1 byte[] allocation, and uses protoBuf ByteString.concat(ByteSring) to piece together pr

[2019-04-24 06:28] sijie opened #2071 "A bookkeeper should fallback to use v3 protocol for some types of requests if they are not implemented in v2"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

Currently not all the features are available in v2 protocol. Such as readLac, writeLac, getBookieInfo. The gap is increasing as well.  Moving forward, it is really hard to maintain what features are not available when `useV2WireProtocol` is used.

When a bookkeeper client is configured with `useV2WireProtocol = true`, it shou

[2019-04-24 06:28] sijie commented on #2071
/cc @zymap

[2019-04-27 06:39] karanmehta93 opened #2073 "ReadOnlyBookieTest#testBookieContinueWritingIfMultipleLedgersPresent is flaky"
**BUG REPORT**

***Describe the bug***

The test `testBookieContinueWritingIfMultipleLedgersPresent` contains a method `startNewBookieWithMultipleLedgerDirs`, which kills a bookie server and tries to start a new one bound to the port number which is 1 more than previous bookie's port number. On Jenkins instances where multiple processes might be running, this causes `io.netty.channel.unix.Errors$N

[2019-04-28 08:19] karanmehta93 opened #2075 "Bookieshell lastmark command isn't functional, always returning 0-0"
**BUG REPORT**

***Describe the bug***

Bookieshell lastmark command isn't functional. it is always returning 0-0

***To Reproduce***

On running bookkeeper cluster, go to bin directory and run `./bookkeeper shell lastmark`

***Expected behavior***

Read `lastMark` file present inside ledger directory to indicate the last persisted log file id and offset

***Screenshots***

<img width="1286" alt="

[2019-04-28 16:42] jirkadanek opened #2077 "ConcurrentLongHashSetTest.java: Math.abs does not always give a positive result (errorprone warning)"
**BUG REPORT**

***Describe the bug***

When compiling the project using the ErrorProne compiler, the following warning is emitted.

[MathAbsoluteRandom] Math.abs does not always give a positive result. Please consider other methods for positive random numbers. (See https://errorprone.info/bugpattern/MathAbsoluteRandom)

It is related to code at

https://github.com/apache/bookkeeper/blob/28dee8464

[2019-04-29 09:41] sijie commented on #2077
@merlimat can you take a look at this?

[2019-04-30 02:28] #2073 closed

[2019-04-30 02:31] #2067 closed

[2019-04-30 22:29] reddycharan opened #2078 "Implement getListOfEntriesOfLedger method for DbLedgerStorage"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

Implement getListOfEntriesOfLedger method for DbLedgerStorage. This is needed for supporting DbLedgerStorage for Cluster Metadata Checker (https://github.com/apache/bookkeeper/blob/master/site/bps/BP-34-cluster-metadata-checker.md).

2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-hav

[2019-05-01 03:28] zhaohaidao commented on #1927
Is there anyone working on it ?
I want to give it a try.

[2019-05-01 08:58] hellozepp opened #2079 "Modifying configuration `nettyMaxFrameSizeBytes` does not work"
**BUG REPORT**
configuration `nettyMaxFrameSizeBytes` does not work
***Describe the bug***
I tried to modify the configuration of bk_server to nettyMaxFrameSizeBytes=52428800(50M).I modified the bookie server-side configuration file conf/bk_server.conf, and then restart the bookkeeper service, Sending 5M data addEntry can be successful, but the following exception occurred when readEntries:
[code]

[2019-05-02 19:38] #2075 closed

[2019-05-03 05:55] maurya-m opened #2080 "Geo-replication setup on K8s cluster"
I am trying to setup geo-replication using bookkeeper with global zk established, test and my first create zk node is getting replication on the zk servers on the 2 different site clusters.

Now i am setting up bookkeeper (statefulset) using the below config paramenters , but my bookie servers are crashlooping, see below my parameters:

BK_zkServers: zookeeper-1.abcdefg.com,zookeeper-2.abcdefg.com

[2019-05-03 06:02] maurya-m commented on #960
@sijie , as suggesting here have tried setting up using statefulset using DNS records for the zk servers, but still the bookie servers are crashlooping , any pointers , have open a question , can please help here , thanks  for the support. https://github.com/apache/bookkeeper/issues/2080

[2019-05-03 06:23] sijie commented on #2080
@maurya-m Can you try using ";" instead of ","? I think when "," is used in the bookie service uri, java URI ignores the string after ",", hence the ledger path becomes empty.

BK_zkServers: zookeeper-1.abcdefg.com;zookeeper-2.abcdefg.com;zookeeper-3.abcdefg.com;zookeeper-4.abcdefg.com;zookeeper-5.abcdefg.com;zookeeper-6.abcdefg.com

Btw, if you are using kubernetes and have setup a service for zo

[2019-05-03 06:37] sijie commented on #2079
@hellozepp thank you for reporting this. we will take  a look.

[2019-05-03 06:47] sijie commented on #1927
@zhaohaidao I don't think so. Please go ahead. If you need any help, please let me know.

[2019-05-03 07:36] eolivelli commented on #2080
That's the same solution I was writing :)

[2019-05-03 07:52] maurya-m commented on #2080
@sijie thanks so much for the quick response:)

I corrected the ',' with ';' now the bookie servers are ready and running, but i am getting this warning message , any hints to resolve this too :

2019-05-03 07:47:55,713 - WARN  - [main-SendThread(zookeeper-1.abcdefg.com;zookeeper-2.abcdefg.com;zookeeper-3.abcdefg.com;zookeeper-4.abcdefg.com;zookeeper-5.abcdefg.com;zookeeper-6.abcdefg.com:2181):Cli

[2019-05-03 07:56] maurya-m commented on #2080
@sijie @eolivelli  , thanks for the 'zookeeper' service option to mention, i was playing with it earlier , was working for me , but now trying to test replication across clusters , and pointer on quick test for this usecase pls?

[2019-05-03 08:04] maurya-m commented on #2080
update: the recovery bookie pods are failing now on this , any ideas?

K8s Deployment spec:
-----------------------------
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: bookie-autorecovery
spec:
  replicas: 2
  template:
    metadata:
      labels:
        app: bookkeeper
        component: bookkeeper-replication
    spec:
      containers:
        - name: replication-worker

[2019-05-03 09:06] rolish commented on #2080
I'm working with Maurya on this. If we use zookeper k8s service  as value for BK_zkServers, it will reference only zookeeper servers on local cluster.
Based on the uncomplete article (and the only available I've found) https://bookkeeper.apache.org/docs/latest/admin/geo-replication/ it's not clear how to set it up.
We have global zookeeper which consist of servers distributed across multiple data

[2019-05-03 09:19] rolish commented on #2080
Bookie startup log:

[code]

[2019-05-04 03:38] jacky1193610322 opened #2083 "checkpoint when entry has one more directory to write"
**QUESTION**
when there are one more entry dir to write, entry log will divide into several part in different directory，when one entry log file is full，it will checkpoint，but between the last checkpoint and the current checkpoint， not all data put in the full entry log， some maybe in another entry log，because there are one more directory，if checkpoint success, some data may not persist in another

[2019-05-04 04:54] sijie commented on #2083
@jacky1193610322

Not sure if I fully understand your questions. But an entry log only belongs to one directory, when checkpoint happens, it does following:

a) flush the entry log file to make sure entries are persisted to the disks.
b) flush the index pages to make sure all index pages are persisted.
c) advanced the last mark in journal to the check-pointed mark.

If any crashes happen before c)

[2019-05-04 05:00] sijie commented on #2080
@maurya-m @rolish Ah I see. It seems that somehow the autorecovery doesn't parse the `;` separated string correctly.

Can you try to use `BK_metadataServiceUri ` to `zk://zookeeper-1.abcdefg.com;zookeeper-2.abcdefg.com;zookeeper-3.abcdefg.com;zookeeper-4.abcdefg.com;zookeeper-5.abcdefg.com;zookeeper-6.abcdefg.com/ledgers`, instead of using `BK_zkServers`?

[2019-05-04 05:02] sijie commented on #2080
@maurya-m one more thing (just out of curiosity) - when you are running on k8s, how do you expose the bookie pods to other pods in remote data center? For a geo-replicated bookkeeper cluster, you need AutoRecovery process be able to access all the bookie pods.

[2019-05-04 06:07] jacky1193610322 commented on #2083
thanks for your reply. yes, an entry log only belongs to one directory, but the data of one journal file will put in different entry log when there are have different directory, when one entry log flush and advanced the last mark, but the some data are put in another entry log may be not persisted. if this happen many times, gc remove the journal file when it reach the size limit or log number lim

[2019-05-04 06:37] eolivelli commented on #2083
We are always fsyncing writes before acknowledgement, so in theory you won't see data disappear.
The journal is an usual write ahead log, it has all of the data needed to recovery after last successful checkpoint

[2019-05-04 06:41] jacky1193610322 commented on #2083
@eolivelli
Thanks for your reply, I update comment before, can you read it again, and give me some advice?

[2019-05-05 16:52] eolivelli commented on #2083
@reddycharan

[2019-05-05 21:02] rolish commented on #2080
@sijie, thanks for this, very useful.
Using ``BK_metadataServiceUri`` instead of ``BK_zkServers`` (which is completely excluded from configmap) works both in case bookies and bookie-autorecovery. BK successfully connects to all global ZK nodes distributed across two data centers.
We are using statefulsets with ``hostNetwork: true`` for both ZK and BK nodes. Both Azure data centers are interconnect

[2019-05-05 21:09] rolish opened #2084 "Failed to fetch cluster metadata from zookeeper @/stream/metadata"
**QUESTION**
I'm trying to use streams with bookkeeper gprc.
Configmap:
[code]
version:
[code]
Getting startup exception:
[code]
Attaching full log of bookie-0:

[logs-from-bookie-in-bookie-0 (18).txt](https://github.com/apache/bookkeeper/files/3146021/logs-from-bookie-in-bookie-0.18.txt)

[2019-05-06 07:08] zymap commented on #2079
@hellozepp Do you have more error message when you use bookKeeper? Which type are you start ? I try it on my laptop it work looks good. I set `nettyMaxFrameSizeBytes=10485760` and my test code :
[code]

[2019-05-06 07:13] zymap commented on #2079
@hellozepp  Did you add `conf.setNettyMaxFrameSizeBytes(10 * 1024 * 1024);`  on client side ?

[2019-05-06 07:51] hellozepp commented on #2079
@zymap Thanks a lot. Setting this parameter it works. Seem to the document does not indicate that this value needs to be set on the client side.

[2019-05-06 08:02] hellozepp commented on #2079
@zymap shall we prompt the user in `Description`?
over here:
http://bookkeeper.apache.org/docs/4.8.0/reference/config/#nettyMaxFrameSizeBytes

[2019-05-06 08:17] sijie commented on #2079
yes we should. @hellozepp are you interested in contributing an improvement?

[2019-05-06 08:21] hellozepp commented on #2079
yes,let me try to submit this pr @sijie

[2019-05-06 08:31] hellozepp commented on #2079
Which version of site should be modified :) @sijie

[2019-05-06 08:47] rolish commented on #2084
zkCli.sh shows following objects (created by stream/distributedlog/core/src/main/java/org/apache/distributedlog/impl/BKNamespaceDriver.java) in zookeeper:
[zk: localhost:2181(CONNECTED) 5] ls /
[zookeeper, stream, ledgers]
[zk: localhost:2181(CONNECTED) 3] ls /stream
[storage]
[zk: localhost:2181(CONNECTED) 4] ls /stream/storage
[]
There is no /stream/metadata.

[2019-05-06 09:17] sijie commented on #2079
@hellozepp I think you can update latest first and then propagate the change to 4.9.* and 4.8.* versions.

[2019-05-06 11:39] #2079 closed

[2019-05-06 18:25] karanmehta93 opened #2087 "Update lastLogMark when replaying journal"
**QUESTION**

Consider the following scenario.

Bookie 1 started cleanly.
Bookie replays journals (there aren't any) and flushed `lastLogMark` to disk `(logFileId, logFileOffset) -> (0, 0)`
5 entries are written to it (Journal fsync done but entry logs are not flushed, hence `lastLogMark` is not updated on disk) `(logFileId, logFileOffset) -> (15156416854, 4096)`
Bookie crashes.
Bookie restarts in

[2019-05-06 18:40] karanmehta93 commented on #2087
I wrote up this test for `BookieInitializationTest` class to corroborate my understanding of the code. There are 3 different lines that print the checkpoint to console.

[code]

[2019-05-07 05:34] jvrao commented on #2087
I need to look at the code to fully understand what you are saying, but what is the issue do you see here? Potential dataloss? or the log can get replayed everytime bookie restarts hence it can create duplicate entries (over-replication) ? How is this different from the following scenario? checkpoint -> receive writes -> bookie turning RO ?

[2019-05-07 06:21] karanmehta93 commented on #2087
The issue here is log replay multiple times.

None

Yes, log will get replayed everytime. I modified the test to repeat the server restart portion of it couple times and observed that it flushes new files everytime, which can be a potential problem, given that bookie is probably out of space anyways (it has turned RO).

Looking at the code implementation, only disk full, `stateManager.transitionTo

[2019-05-10 05:16] #2059 closed

[2019-05-10 05:16] #2055 closed

[2019-05-10 05:16] #2018 closed

[2019-05-10 05:17] #2011 closed

[2019-05-10 05:17] #2009 closed

[2019-05-10 05:17] #2007 closed

[2019-05-10 11:15] zymap opened #2091 "Can't use `bin/bookkeeper bookie` start a new bookie"
**BUG REPORT**

***Describe the bug***
When I start a zooKeeper then start a bookie by `bin/bookkeeper bookie`:
[code]
zookkeeper

[code]
***To Reproduce***

1. start a zooKeeper server
2. start a bookie by `bin/bookkeeper bookie`

[2019-05-13 23:23] ArvinDevel commented on #2084
Before you start up the cluster, you should init the cluster meta by using "bin/bkctl cluster init -n `container number` `zkServers`“

[2019-05-14 17:54] ankit-j opened #2095 "Entries must be acknowledged by bookies in multiple fault domains before being acknowledged to client"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
Bookkeeper write logic makes sure that there are at least `ackQuorumSize` number of successful writes before sending ack back to the client. In many cases these may fall into the same fault domain. A mechanism to force bookkeeper to make sure that there are acks from at least `minNumRacksPerWriteQuorum` number of fault domains

[2019-05-21 05:35] #2091 closed

[2019-05-21 08:54] jacky1193610322 commented on #2083
Can someone help?

[2019-05-21 10:53] sijie commented on #2083
@jacky1193610322

It depends on which ledger storage you are talking about.

If you don't enable multiple entry log files approach, there is only one entry log is active. hence the problem you described in this example doesn't exist.

If you are talking about the multiple active entry log files approach, the checkpoint ensures all entry logs are flushed before completing checkpoint. hence the last

[2019-05-23 08:51] jacky1193610322 commented on #2083
@sijie
thanks for your reply. when the ledger storage is ldb, each directory has one SingleDirectoryDbLedgerStorage class, when the ldb add an entry, it will choose the SingleDirectoryDbLedgerStorage base on ledgerId hash, and the msgs of a journal file will be put in different SingleDirectoryDbLedgerStorage, when one SingleDirectoryDbLedgerStorage is full it will flush the memtable and move the l

[2019-05-27 04:12] jvrao opened #2101 "MDC context is missing from metadata path."
There are areas in the metadata path like:

ledgerManager.readLedgerMetadata(lId).whenComplete((metadata, exception) -> {
                if (exception == null) {
                    cb.isClosedComplete(BKException.Code.OK, metadata.getValue().isClosed(), ctx);

Where MDC context restoration is missed.

[2019-05-28 07:34] codelipenghui opened #2103 "Ledger directory is 100% used"
**Describe the bug**
A single ledger directory is 100% used, but other directories are used very low

**Screenshots**
![image](https://user-images.githubusercontent.com/12592133/58229119-674f5f00-7d63-11e9-8710-f97142fd7748.png)

**Heap dump**
https://drive.google.com/open?id=11J9OQjCj-pYgJxu0MLzEWg8ge63H71Te

**Bookkeeper version**
4.7.2

[2019-05-28 08:38] luoxn28 opened #2104 "why BookieNettyServer’s parentGroup and childGroup is same EventLoopGroup?"
**QUESTION**
as code, If use independent EventLoopGroup, connect event and write/read event  don't interact other. so, why  BookieNettyServer’s parentGroup and childGroup is same EventLoopGroup?
[code]
Looking forward to your reply, thans.

[2019-05-28 09:35] sijie commented on #2104
@luoxn28 since the bookie is implemented in asynchronous way, I don't think it really matter if using two separate EventLoopGroup.

[2019-05-28 13:51] luoxn28 commented on #2104
@sijie You're right, using an EventGroupLoop doesn't make much of a difference, especially in an asynchronous way, which makes little difference to the client.But it's better to use a different EventGroupLoop for isolation.

[2019-05-31 07:07] eolivelli opened #2106 "Update ZookKeeper dependency to 3.5.5"
Why should update to 3.5.5 due to:  CVE-2019-0201

More information
moderate severity
Vulnerable versions: >= 3.5.0, < 3.5.5
Patched version: 3.5.5

An issue is present in Apache ZooKeeper 1.0.0 to 3.4.13 and 3.5.0-alpha to 3.5.4-beta. ZooKeeper?s getACL() command doesn?t check any permission when retrieves the ACLs of the requested node and returns all information contained in the ACL Id field as

[2019-06-06 07:31] #1927 closed

[2019-06-07 07:09] eolivelli commented on #2106
@dmercuriali will pick up this issue soon.
We have been  using ZooKeeper 3.5.4 in production for quite a long time and we are switching to 3.5.5

[2019-06-13 03:34] hrsakai commented on #2103
Similar issue has happened in our environment.

Compaction suddenly stoped with following exception.
[code]
At this time, it seems that the `compacting` flag does not be changed to` false` because following line is not executed.
https://github.com/apache/bookkeeper/blob/release-4.7.3/bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/GarbageCollectorThread.java#L538

Therefore, after thi

[2019-06-13 07:01] hrsakai commented on #2103
I have found a negative number ledger id in entry log file.
[code]

[2019-06-13 07:30] sijie commented on #2103
@hrsakai it seems that the ledger doesn't exist in zookeeper (metadata store). but the entry in the entry log seems to be corrupted. Can you use `readlog` to check a few more entries before and after that "corrupted" entry in the same log? Maybe you can also use `readlog` to dump the list of entries (without entry payload) and share it here. We can use that to figure out what entry is corrupted an

[2019-06-13 10:18] hrsakai commented on #2103
@sijie
Thank you for your reply.
Here is the result of `bookkeeper shell readlog 6743`.
[readlog_6743.txt](https://github.com/apache/bookkeeper/files/3285405/readlog_6743.txt)

[2019-06-13 12:56] sijie commented on #1970
for Pulsar users who are following this issue, please refer [this comment](https://github.com/apache/pulsar/issues/3715#issuecomment-501682320) to get around the issue.

The negative entry id was introduced by a random generator used by StickyRead. I am sending a pull request to fix the issue.

[2019-06-21 03:19] #1970 closed

[2019-06-21 03:22] #1960 closed

[2019-06-24 20:09] mino181295 opened #2114 "Implement a method to get all the Bookies"
**FEATURE REQUEST**

I'm building a dashboard for Bookkeeper and I need a method to retrive from `BookKeeper` all the available Bookies including the down ones.

I have found `BookKeeper#getBookieInfo` and `BookKeeperAdmin#getAvailableBookies` but I didn't find a proper way to get the `BookieSocketAddress` inside the Zookeeper path `/ledgers/cookies`.

The workaround that I have right now is to ac

[2019-06-24 20:49] eolivelli commented on #2114
please add some link to your current code and how you are using BK client.

[2019-06-24 21:35] mino181295 commented on #2114
This is my current project https://github.com/diennea/bookkeeper-visual-manager/

And in this class I get connected to `BookKeeper` client and `BookKeeperAdmin`
https://github.com/diennea/bookkeeper-visual-manager/blob/master/src/main/java/org/bookkeepervisualmanager/bookkeeper/BookkeeperManager.java

[2019-06-25 02:15] codelipenghui opened #2115 "Add more more instructions for minorCompactionInterval in bookkeeper.conf"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

In bookkeeper.conf, `minorCompactionInterval` value must greater than `gcWaitTime`, otherwise bookie can't startup success. Add more instructions for warning this would be welcome.

2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).

nice-to-have

3. Provide any additional detail

[2019-06-25 02:15] codelipenghui commented on #2115
Relate to [pulsar-4558](https://github.com/apache/pulsar/issues/4558)

[2019-06-25 02:17] codelipenghui commented on #2115
@sijie I have added related issue in bookkeeper.

[2019-06-26 13:12] hugomiguelabreu commented on #1961
@ivankelly When unbinding, should the path for the namespace be deleted from ZooKeeper? Indeed adding `zkAclId(null)` solves this problem. I can make a pull request, I'm just confirming if no further changes are required.

[2019-06-26 15:10] eolivelli commented on #2114
@mino181295 I would add a new method
`RegistrationClient#getAllKnowBookies()`
that returns the list of all know bookies
and implement it in ZK metadata driver (ZKRegistrationClient).

for etcd we can return an empty list an log an error and create a new issue

The alternative  is to add a listCookies() method in RegistrationManager, I would prefer the first option because RegistrationClient we are

[2019-06-26 15:21] sijie commented on #1961
@hugomiguelabreu I don't think we need to delete the path. I think adding `zkAclId(null)` should fix this problem.

[2019-06-26 21:44] jvrao commented on #2114
We are working on something like this at Salesforce and we can commit to community soon. Basically we will be adding network location to the cookie and the client reads the persistent bookies (cookie) and ephemeral znodes(booke lease) to determine down bookies and also to learn the network location of active bookies for placement.

[2019-06-27 05:46] eolivelli commented on #2114
@jvrao good to hear that we are working on overlapping topics

do you think that this simpler API will be useless with your future change?

This approach works with every version of BK (I guess yours too, even with old bookies).

I don't want to duplicate work or code. In theory it is better to have only one way to achieve a single goal.

We can send this little patch out for review, so that you c

[2019-06-27 09:37] hugomiguelabreu commented on #1961
I have the PR ready. I have been testing. It seems that, once unbounded a namespace, if the zookeeper path is not deleted, a new binding to the same namespace wont work. Is this the expected outcome?

[2019-06-27 09:49] mino181295 commented on #2114
@jvrao I have submitted a draft PR. Can you take a look and see if it fits your needs?

[2019-06-27 12:30] eolivelli commented on #2114
@mino181295 @jvrao needs something more complex.
He wants to apply advanced placement strategies based on fault zones (datacenters/regions)

It is just important that your fix does not interfere with the other changes coming from SF

[2019-06-27 13:11] sijie commented on #1961
You probably can't create the binding. but I think you can update the binding.

[2019-06-27 13:21] hugomiguelabreu commented on #1961
That's correct, it is possible to update. Thanks.

[2019-07-04 05:36] massakam commented on #2103
@sijie I don't know why there is a ledger whose id is a negative number, but I fixed `GarbageCollectorThread` so that it does not stop if compaction of a specific entry log fails.
https://github.com/apache/bookkeeper/pull/2121
What do you think about this change?

[2019-07-12 08:04] #2103 closed

[2019-07-13 18:22] #2114 closed

[2019-07-17 07:41] #1961 closed

[2019-07-17 09:55] eolivelli opened #2124 "Test 'ListBookiesCommand ' is failing"
Test are failing on CI on current master on test ListBookiesCommand due to #2114 which is apparently flaky

[code]

[2019-07-17 09:56] eolivelli commented on #2124
@mino181295 can you please take a look ?
this is breaking  pull request validation

[2019-07-18 09:08] eolivelli commented on #2124
CI is broken
"unable to access 'https://github.com/apache/bookkeeper.git/': Could not resolve host: github.com"

[2019-07-19 08:43] 29x10 opened #2127 "Allow user override fixed SASL service name "bookkeeper""
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
Currently Bookkeeper's SASL's service name is hard code as SaslConstants.SASL_BOOKKEEPER_PROTOCOL which is `bookkeeper`. It would be great this value can be override by JVM property.

2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to a

[2019-07-21 06:14] #2124 closed

[2019-07-21 07:16] sijie commented on #2104
@luoxn28 agreed. Are you interested in contributing a feature to add an option to make it able to configure using a different EventGroupLoop for isolation?

[2019-07-23 17:14] pavankumarchaitanya opened #2130 "broken URLs in README for Programmer Guide, Tutorial and Java API"
**BUG REPORT**

Broken URLs in README for Programmer Guide, Tutorial and Java API

***To Reproduce***

Steps to reproduce the behavior:
1. Go to https://github.com/apache/bookkeeper
2. Click on Programmer Guide
3. URL opens http://bookkeeper.apache.org/docs/master/bookkeeperProgrammer.html
4. See error as below:
Not Found
The requested URL /docs/master/bookkeeperProgrammer.html was not found on th

[2019-07-26 11:38] eolivelli opened #2133 "Build fails on recent JDK11 versions"
CI started reporting errors about javadocs.
I can reproduce the same error on JDK11 and JDK22.
Even upgrading the javadoc plugin does not help.
I will try to send a fix soon

[code]

[2019-07-27 12:47] #2133 closed

[2019-07-27 12:49] #2130 closed

[2019-07-29 06:11] #2127 closed

[2019-07-29 10:50] DavidLiuXh opened #2136 "I want to know how to read the last message without close the current ledger?"
@sijie

         1) First create ledger, add msg 1, 2, 3 into the ledger
         2) Do not close the current ledger;
         3) Received the msg 1 and 2;
         4) Received the msg 3 after closed the ledger;

         I want to know how to read the last message without close the current ledger?

[2019-07-30 02:18] DavidLiuXh commented on #2136
Sorry, I send the question to mail list.

[2019-07-30 02:18] #2136 closed

[2019-07-31 07:34] karanmehta93 opened #2138 "Discuss the lifecycle of application data bytebuffer when adding new entries to ledger"
**QUESTION**

The issue [here](https://github.com/apache/bookkeeper/issues/2067) and the corresponding PR [here](https://github.com/apache/bookkeeper/commit/bd699e61d729f327b5de302089d11bc3dcadfeb8) made some deep changes as to how application level byte buffers are utilized and released by bookkeeper client.

With this change, application level data buffer should not be reused anytime and the com

[2019-07-31 07:45] eolivelli commented on #2138
I think that it is better to have a safe and robust API.
We should add a copy of the byte[].
If the user wants extra performances it can use the ByteBuf based API.

If you are using the (byte[], int, int) method it is very likely that you are using a part of a shared buffer and you are going to re use it, but with current behavior of BK you cannot write to the array anymore, because you won't ever

[2019-07-31 07:46] eolivelli commented on #2138
I am adding "priority/blocker"  label because we are talking about data corruption and we must take a decision before the next release

[2019-07-31 20:46] reddycharan commented on #2138
in the past I raised similar concern regarding rules/expectations of refcount of bytebufs, which are passed to client API

https://github.com/apache/bookkeeper/issues/1237

 @eolivelli @jvrao @sijie

[2019-08-01 00:17] sijie commented on #2138
regarding the reference count question, i don't think it is a problem whether the ref count starts with 0 or -1. If we clearly state how the reference count was handling when bookkeeper takes `ByteBuf`, then we are good. We agreed on adopting the netty's principle - the receiver is responsible for releasing the `ByteBuf`. That was adopted since 4.8.0.

regarding the question for `byte[]`, I think

[2019-08-01 08:45] eolivelli commented on #2138
@sijie
I think that usually in Java when you pass  (byte[],int,int) reference to a method like OutputStream#**write**(byte[], int, int) you expect to be able to recycle that byte[] array after returning from that call or catching an exception.

In this case our blocking API is not following the same behavior, if you have AQ<WQ you must not use the byte[] anymore, or at least never write to it (thi

[2019-08-02 06:42] sunjingji opened #2140 "how does the client choose the bookie to read?"
I'm newer to bookeeper. I wonder how the reader knows which bookie to read from for a given entry when striping writes(i.e., E > Qw) take place？

[2019-08-13 00:38] frank-dkvan opened #2142 "providing getting-started sample and tutorial/guideline about Bookkeeper Table Service and Stream feature for developers"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

just see few words about  Bookkeeper Table Service and Stream feature, but don't see any instructions for developers to use Bookkeeper Table Service and Stream feature to develop applications

2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workar

[2019-08-15 08:28] codelipenghui opened #2143 "org.apache.bookkeeper.bookie.BookieException$LedgerFencedException: null"
**BUG REPORT**

***Describe the bug***
The error log shows cause LedgerFencedException while add entry, but i don't know the `LedgerFencedException: null` means.
[code]

Here is the bookie log file:

[bookie.log](https://github.com/apache/bookkeeper/files/3504790/bookie.log)

[2019-08-16 08:14] 29x10 opened #2144 "Bookkeeper shell bookiesanity doesn't work when SASL enabled"
**BUG REPORT**

***Describe the bug***

After enable SASL on BookKeeper and Zookeeper, bookiesanity command report Unauthorized
 error
***To Reproduce***

Steps to reproduce the behavior:
Enable SASL on zookeeper and bookkeeper

***Expected behavior***

 bookkeeper shell bookiesanity work properly

***Screenshots***

If applicable, add screenshots to help explain your problem.

***Additional conte

[2019-08-16 09:26] 29x10 commented on #2144
add saslJaasClientAllowedIds to configuration files. default to `.*bookkeeper.*`

[2019-08-16 09:26] #2144 closed

[2019-08-16 09:43] lsy180829 opened #2145 "Using shell generate an unexpected cookie"
**BUG REPORT**

***Describe the bug***

When I run the order "bookkeeper shell cookie_generate", I got a new cookie, but this new cookie is different from the other cookie in zk.

Order( It belongs to pulsar ) :
./bin/bookkeeper shell cookie_generate -j data2/bookkeeper/journal -l data2/bookkeeper/ledgers -i 9285da1b-e1be-471b-8d11-d30d80212e68 -o /tmp/cookie.x 10.254.3.60:3181

The generated cook

[2019-08-16 09:49] eolivelli commented on #2145
this is a nasty problem, I am sorry.
maybe you can work around the problem just by using a sym link from data2 to data.
if your original problem is to expand bookie capacity you can add the new directory to the configuration and enable 'storage expansion', this way the bookie will start using the new directory as well

[2019-08-16 18:03] eolivelli commented on #2138
I think we shoul at least add explicit javadocs and let the application perform the copy if needed

[2019-08-18 04:55] sijie commented on #2145
@eolivelli I think this is a bug we should fix.

[2019-08-18 05:07] eolivelli commented on #2145
@sijie sure that is clear

[2019-08-18 15:49] sijie commented on #2062
@eolivelli since you have been working on java11 build, is this issue already fixed?

[2019-08-18 15:51] sijie commented on #2065
This has been implemented and fixed.

[2019-08-18 15:51] #2065 closed

[2019-08-18 15:52] sijie commented on #2071
This has been implemented and fixed by #2085

[2019-08-18 15:52] #2071 closed

[2019-08-18 15:52] eolivelli commented on #2062
Yes.
I don't have my laptop here to confirm but I think we are all green on jdk

[2019-08-18 15:52] #2062 closed

[2019-08-18 15:54] sijie commented on #2078
This is fixed by #1931

[2019-08-18 15:54] #2078 closed

[2019-08-18 15:56] sijie commented on #2080
@rolish sorry for really late response. for statefulset deployments, you should configure useHostName to advertise bookie hostname as the bookie id rather than ip. because ip is not a stable identifier for statefulset pods.

[2019-08-18 15:58] sijie commented on #2084
@rolish does Arvin's comment answer you question?

[2019-08-18 16:03] sijie commented on #2087
This is fixed by #2090 and #2105

[2019-08-18 16:03] #2087 closed

[2019-08-18 16:03] sijie commented on #2095
this is fixed by #2096

[2019-08-18 16:03] #2095 closed

[2019-08-18 16:07] sijie commented on #2140
@sunjingji

bookkeeper stores the ensemble of bookies as part of the metadata. so it will read the entries in the way how the entries are placed in the ensemble bookies. If it fails to read an entry from one replica, it will retry reading from other replicas.

[2019-08-18 16:13] sijie commented on #1343
@reddycharan are you still working on this?

[2019-08-18 16:20] sijie commented on #1000
All the bookkeeper CLI commands have been implemented in bkctl. Close it now.

[2019-08-18 16:20] #1000 closed

[2019-08-18 16:20] #1017 closed

[2019-08-18 16:22] #1102 closed

[2019-08-18 16:26] sijie commented on #861
This has been fixed.

[2019-08-18 16:26] #861 closed

[2019-08-18 16:30] sijie commented on #743
@eolivelli what is the current status of this BP?

[2019-08-18 16:31] sijie commented on #655
This has been fixed by #852

[2019-08-18 16:31] #655 closed

[2019-08-18 16:32] sijie commented on #637
Close this issue since it was a issue migrated from JIRA. We can reopen a new one is it becomes flaky again.

[2019-08-18 16:32] #637 closed

[2019-08-18 16:33] sijie commented on #634
This has been fixed by #1968

[2019-08-18 16:33] #634 closed

[2019-08-18 16:33] sijie commented on #633
This has been fixed by #2095

[2019-08-18 16:33] #633 closed

[2019-08-18 16:34] sijie commented on #632
This has been fixed by #2095

[2019-08-18 16:34] #632 closed

[2019-08-18 16:34] sijie commented on #631
Close this issue since it is an old issue migrated from JIRA. If it becomes flaky, we can reopen a new issue.

[2019-08-18 16:34] #631 closed

[2019-08-18 16:35] sijie commented on #623
This has been implemented.

[2019-08-18 16:35] #623 closed

[2019-08-18 16:35] sijie commented on #628
As commented above, this has been covered and fixed.

[2019-08-18 16:35] #628 closed

[2019-08-18 16:36] sijie commented on #629
Closed this issue since it is an old issue migrated from JIRA.

[2019-08-18 16:36] #629 closed

[2019-08-18 16:38] sijie commented on #630
This issue is not valid anymore because GC thread doesn't use zookeeper directly any more. It is all hidden behind metadata API.

[2019-08-18 16:38] #630 closed

[2019-08-18 16:44] sijie commented on #602
This is a duplication of #627

[2019-08-18 16:44] #602 closed

[2019-08-18 16:46] sijie commented on #592
Closed this issue since there are already several Auth provider.

[2019-08-18 16:46] #592 closed

[2019-08-18 16:46] sijie commented on #589
Closed this since the new bkctl takes care of it.

[2019-08-18 16:46] #589 closed

[2019-08-18 16:47] sijie commented on #581
Closed it as we don't need it.

[2019-08-18 16:47] #581 closed

[2019-08-18 16:48] sijie commented on #580
Closed it since there is no activities about this requirement.

[2019-08-18 16:48] #580 closed

[2019-08-18 16:49] sijie commented on #573
This has been addressed by the newly added bytebuf allocator.

[2019-08-18 16:49] #573 closed

[2019-08-18 16:51] sijie commented on #546
This has been fixed by #558

[2019-08-18 16:51] #546 closed

[2019-08-18 16:53] sijie commented on #502
Close this issue since it is an old issue. Will reopen if this test becomes flaky again.

[2019-08-18 16:53] #502 closed

[2019-08-18 16:55] #488 closed

[2019-08-18 16:58] sijie commented on #218
Close it since it is an old flaky test

[2019-08-18 16:58] #218 closed

[2019-08-18 18:16] eolivelli commented on #743
We have only WriteFlags.
No need for other stuff

[2019-08-19 10:44] sijie commented on #743
@eolivelli so can we close and mark BP-18 as completed. If we need more features, we can open a new one.

[2019-08-22 09:00] murong00 opened #2148 "Expect to display help information when using shell command with no args"
***Describe the bug***

When using the subcommands of `bookkeeper shell` with no args, it throws excepiton, such as below:
[code]
It will be better to print the usage of the subcommand for the beginners.

[2019-08-22 09:04] zymap commented on #2148
@murong00 you can use `bin/bookkeeper shell`. It will list all commands and how to use it.

[2019-08-27 01:53] ayolivia opened #2152 "Disk usage warn log is confused"
***Describe the bug***

The following log is weird since the default value of `diskUsageWarnThreshold` is 0.90:

[code]

[2019-08-28 13:23] eolivelli opened #2155 "Warning about lack of version in exec-maven-plugin"
**BUG REPORT**

***Describe the bug***
Maven is complaining about the lack of a specific version in org.apache.bookkeeper.tests:scripts

We should explicitly set a version

***To Reproduce***

just run
`mvn clean install -DskipTests -Dstream`

***Expected behavior***

No warning

[2019-09-16 20:08] addisonj opened #2161 "When httpServerEnabled=true, Prometheus reports doesn't set content-type"
**BUG REPORT**

***Describe the bug***

When running with `httpServerEnabled` set to true, `/metrics` endpoint stops sending a `content-type` header (this uses the `MetricsService`, see code here https://github.com/apache/bookkeeper/blob/28dee8464764b0edceeb31ce24424f0947b5789b/bookkeeper-server/src/main/java/org/apache/bookkeeper/server/http/service/MetricsService.java).
With the `httpServerEnabl

[2019-09-16 20:24] eolivelli commented on #2161
Good catch.
Do you want to work on a fix?
Maybe the implementation of the provider may have some callback to return one or more headers, with Content-Type among them

[2019-09-16 20:51] addisonj commented on #2161
yeah, I was just capturing this, don't have time at the moment but hope I get a minute to circle back soon

[2019-09-19 02:38] sydnash opened #2162 "decommissionbookie not complete correctly"
**BUG REPORT**

***Describe the bug***

I have four bookie for pulsar now, when i close one bookie, i want to know dose it ledger has been re-replicated to other bookie. so i use the command like this:

    ./bookkeeper shell decommissionbookie  --bookieid  closedbookieip:3181
and then i find that looply print the follow mesages:

10:34:53.292 [main] INFO  org.apache.bookkeeper.client.BookKeeperAd

[2019-09-19 06:06] sydnash commented on #2162
this may be the storage in bookie is to large.

[2019-09-19 06:06] #2162 closed

[2019-09-22 12:44] eolivelli commented on #2115
@sigee  @codelipenghui do you have cycles to provide a fix this week ?
I see this issue is marked for 4.10

[2019-09-24 05:16] atombender opened #2167 "Support for non-Java clients"
**FEATURE REQUEST**

Any multi-language support on the horizon? I seem some smatterings of Python, but it doesn't appear to be a full-featured clinet.

I have been researching BookKeeper as a potential solution for a system written in Go. However, the current API appears to be Java-only, even though the Bookie protocol (which is apparently undocumented?) is Protobuf.

I was puzzled by the fact tha

[2019-09-24 14:53] atombender commented on #2167
Thanks. Pulsar is complete overkill for this use case. We just require distributed, replicated persistent log streams — not messaging, schemas, functions, authentication, SQL, data feeds, etc.

Using Pulsar adds yet another operational dependency, so you end up with Pulsar, BookKeeper (which is a complex thing itself), and ZooKeeper. We already run Etcd, so ZooKeeper is an unnecessary burden which

[2019-09-24 17:52] eolivelli commented on #2167
@atombender we are receiving several requests about having the ability to use BK from other languages.
We also have ideas and design documents for an implementation,  we just lack some volunteer that has enough time to bring this effort to life.

[2019-09-25 01:40] karanmehta93 commented on #1046
Checkout https://quip.com/FmlEAnMbtjnU
@sijie @eolivelli Feel free to comment or add new ideas and your thoughts.

[2019-09-25 02:24] codelipenghui commented on #2115
@eolivelli Thanks for reminding, there is some tests fails, i have rerun the failed tests, if you already started the release process, you can move it to the next release version.

[2019-09-25 05:00] eolivelli commented on #2115
The jobs fail due to infrastructure problems on CI.
We have not so much hurry.
Let's ship this change

[2019-09-25 06:39] Tristan1900 opened #2168 "Bookkeeper docker script does not support passing multiple ledger&journal files"
**BUG REPORT**

***Describe the bug***

The config [here](https://github.com/apache/bookkeeper/blob/master/conf/bk_server.conf#L368) says Bookkeeper supports multiple ledger files. However, it won't work properly if we specify something like `BK_ledgerDirectories=/tmp/bk-ledgers1,/tmp/bk-ledgers2` as the script [here](https://github.com/apache/bookkeeper/blob/master/docker/scripts/common.sh#L79) s

[2019-09-27 04:17] ghost opened #2170 "KeeperErrorCode = NoNode"
**BUG REPORT**
[code]
A clear and concise description of what the bug is.

***To Reproduce***

Steps to reproduce the behavior:
1. start a docker pulsar standalone
2. execute above command

***Expected behavior***

Printing a delay or at least not print a stack trace

***Additional context***

pulsar:2.4.1

[2019-10-06 18:31] karanmehta93 opened #2174 "BP-39 Bookie checksum validation"
**BP**

This is the master ticket for tracking BP-39 Bookie checksum validation

Bookkeeper client calculates the checksum for the data it receives from application as well as the header. Recently, we hit a data corruption issue and was root caused at the fact that the data received by bookies was corrupted before even it was persisted to disk. This is a potentially serious condition, since we cou

[2019-10-11 01:21] karanmehta93 opened #2176 "Journal scan should throw IOException when it reads negative length"
**BUG REPORT**

***Describe the bug***

During journal replay, we can encounter negative length value if there is journal corruption. Currently, due to this bug, we pass negative length to limit a buffer, which throws `IllegalArgumentException`.

***To Reproduce***

Minor bug, good to have for debugging.

***Expected behavior***

Error handling should be done via IOExpection, and it should be thro

[2019-10-11 08:49] eolivelli commented on #2176
can you add version and stacktrace please? maybe FS type

In my opinion the fix is simple

[2019-10-15 03:25] karanmehta93 opened #2178 "JournalChannel should throw IOException if it cannot seek to desired position"
**BUG REPORT**

***Describe the bug***

Here's a piece of code from `JournalChannel.java`
[code]

***To Reproduce***

Create a corrupt journal file. Try seeking to the desired position.

***Expected behavior***

IOException should be thrown and bookie should be shutdown. Not sure if a retry would help. It's not really recoverable since journal file is corrupted.

@reddycharan @jvrao @eolivelli Ano

[2019-10-15 07:02] karanmehta93 commented on #2178
I discovered this earlier when one of my bug fixes moved the file pointer to LONG.MAX_VALUE to indicate as the EOF for any journal file. However I had hit this issue then in some docker based test and I had fixed it, but forgot to file this issue. This is especially critical, even though the fix might be trivial.

[2019-10-15 08:31] huangdongfa opened #2179 "Bookkeeper does not handle zookeeper return code=CONNECTIONLOSS when close ledgerhandle"
**QUESTION**
bookkeeper version: 4.6.2

The error log:
2019-10-15 01:08:48,415 [INFO ] ClientCnxn$SendThread:1096 Client session timed out, have not heard from server in 200000ms for sessionid 0x6a6db405922b0012, closing socket conne
ction and attempting reconnect
2019-10-15 01:08:48,516 [WARN ] AbstractZkLedgerManager$4:438 Conditional update ledger metadata failed: CONNECTIONLOSS
2019-10-15 01:0

[2019-10-15 08:52] #2179 closed

[2019-10-29 12:50] #2145 closed

[2019-10-29 12:59] jiazhai commented on #1908
would like to put it into 4.11

[2019-10-29 13:03] jiazhai commented on #1785
move this into 4.11

[2019-10-29 16:26] liangyuanpeng commented on #2167
If this part has any roadmap, that’s great.

[2019-10-31 09:03] Anonymitaet opened #2193 "[Doc] Update BookKeeper Guide"
Currently, the BookKeeper Guide is not complete, accurate, and up to date.
I've redesigned the doc architecture based on https://github.com/apache/bookkeeper/issues/439 as below.

![BK Doc](https://user-images.githubusercontent.com/50226895/70793690-df03da80-1dd6-11ea-9d62-f5247255e4d0.png)

--------------------

If you have any suggestions on the doc, do not hesitate to leave your comments here.

[2019-10-31 19:07] Ghatage commented on #609
Hi @ivankelly,

If I understand correctly, as of now, we are adding index directories directly to the ledgerDirs config option and instead we want to add another field to the cookie for `indexDirs` and populate it with the entries mentioned for the config option `indexDirectories` ?

[2019-11-01 05:06] NavidMitchell opened #2194 "Creating namespace throws error"
**BUG REPORT**

When trying to create a Distributed Log Namespace an error "java.io.IOException: No bkdl config bound under dl path"  is thrown.

***To Reproduce***
Run local bookkeeper

`DistributedLogConfiguration distributedLogConfiguration = new DistributedLogConfiguration()
                .setCreateStreamIfNotExists(true)
                .setExplicitTruncationByApplication(true)

[2019-11-01 10:06] sijie commented on #609
@Ghatage correct

[2019-11-04 23:18] NickPadilla commented on #2194
bump, I am having the same issue here. Any ideas?

[2019-11-04 23:53] NavidMitchell commented on #2194
It turns out this was noob mistake. Missed this in the docs.

Step 3: Create a DistributedLog namespace

Before using distributedlog, you need to create a distributedlog namespace to store your own list of streams. The zkServer for the local sandbox is 127.0.0.1:7000 and the bookkeeper's ledgers path is /ledgers. You could create a namespace pointing to the corresponding bookkeeper cluster.

No bo

[2019-11-05 16:25] eolivelli opened #2197 "bkctl binary distribution needs a 'logs' directory to be created manually"
**BUG REPORT**

***Describe the bug***

A clear and concise description of what the bug is.

***To Reproduce***

unzip bkctl-4.10.0-bin.tar.gz
set JAVA_HOME with JDK11+
run bin/bkctl

[code]

***Expected behavior***

The program runs well.

***Workaround***

Just simply creating the 'logs' directory solves the problem.

[2019-11-15 15:50] Ghatage commented on #2170
Looks like this command was executed before the Auditor was initialized.
@pouledodue can you please check if the logs show the following error message:
`Error while initializing LostBookieRecoveryDelay`

If you're blocked on this, as a work around you could quickly check if Auditor is up and running with this command:
`./bin/bookkeeper shell whoisauditor`
And then re-try what you were trying to do

[2019-11-28 04:00] Ghatage commented on #2194
@eolivelli should we close this?

[2019-11-28 04:02] Ghatage commented on #2140
@eolivelli @sijie should we close this?

[2019-11-28 05:25] #2140 closed

[2019-11-29 10:35] codelipenghui opened #2208 "NPE in RackwareEnsemblePlacementPolicyImpl."
**Describe the bug**
[code]
**To Reproduce**
Have no idea to reproduce it.

**Additional context**
in master branch

[2019-12-04 21:37] Ghatage opened #2209 "BP-40 Audit logging for BookieShell"
**BP**

This is the master ticket for tracking BP-40 : Audit logging for BookieShell.

In order to make a software compliant with the security and privacy controls, we need to meet certain audit requirements.
One of them being able to track every human / user intervention in the software.
Zookeeper has something similar going on in [ZOOKEEPER-1260](https://issues.apache.org/jira/browse/ZOOKEEPER-1

[2019-12-11 11:16] pedro93 opened #2212 "Docker-compose example not working"
**BUG REPORT**

***Describe the bug***
Tried to launch bookkeeper docker-compose environment locally but bookie containers failed, stating that bookkeeper metadata does not exist in zookeeper. This makes sense since every container was launched from scratch and the docker-compose file executes no logic to create said metadata. I would expect either the bookie node to create this metadata or have s

[2019-12-12 22:51] eolivelli opened #2215 "BP-38 Publish Bookie Service Info on Metadata Service"
**BP**

This is the master ticket for tracking BP-38 : Publish Bookie Service Info on Metadata Service

The proposal is about adding the ability for the Bookie to advertise on the Metadata Service (ZooKeeper) the exposed ports/services, like the HTTP service, Metrics...

Proposal PR - #2214
Implementation PR - #2213

[2019-12-13 10:45] aschiazza opened #2216 "Bookkeeper High CPU usage when StreamStorageLifecycleComponent extra component is active"
Hi, I've a trouble with Bookkeeper v4.9.2 ( I'm using Pulsar Docker image v2.4.1).
When I activate the StreamStorageLifecycleComponent adding this line
[code]
in bookkeeper.conf, the bookkeeper container is using 100% CPU.

In my test environment I have 1 Zookeeper server and 1 Bookkeeper bookie.

I report my broker.conf configuration section for table service
[code]

Thanks for your help

[2019-12-13 13:02] eolivelli commented on #2216
Are you able to take a dump of the stacktrace of the JVM? With jstack for instance

[2019-12-13 13:19] aschiazza commented on #2216
Thanks for the reply.

I have attached the JVM stacktrace and ps output.

[jstack_bookkeeper.txt](https://github.com/apache/bookkeeper/files/3960952/jstack_bookkeeper.txt)
[ps_bookkeeper.txt](https://github.com/apache/bookkeeper/files/3960953/ps_bookkeeper.txt)

[2019-12-13 13:53] eolivelli commented on #2216
It looks like a problem with some leader electiin.
I can't tell more now (I don't have my laptop)
Is the bookie able to talk to zookeeper?

[2019-12-13 14:17] aschiazza commented on #2216
I think bookie is able to talk to zookeeper. I test it in that way:
1- I attached a shell in bookkeeper container.
2 - started a zookeeper shell (bin/pulsar zookeeper-shell -server zookeeper:2181)
3 - in zk shell I typed ```ls /stream/servers/available```
4 - result is ```[172.25.0.6:4181]``` ( that is the IP of bookie container)

Can I test in some other way?

[2019-12-14 09:32] Anonymitaet commented on #2193
I divide this task into several subtasks and add a plan.

### Get started
- [ ] Run bookie locally (2019/12)
- [ ] Run bookie in Docker (2019/12)
- [ ] Use bookie with client libraries (2019/12)

### Concepts and architecture
- [ ] 2020/01

### Deployment
- [ ] 2020/02

### Administration
- [ ] 2020/03

### API
- [ ] 2020/04

### Security
- [ ] 2020/05

### Development
- [ ] 2020/06

### Performan

[2019-12-17 08:03] eolivelli opened #2218 "Write customMetadata on ledgers created by DistributedLog"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
It is very common for BookKeeper based applications to tag ledgers with common custom metadata, like:
- application: "name of the application"
- component: "component of the application"

DistributedLog is an API over BookKeeper and we need to write such tags on ledgers created by DistributedLog, in this case application won't

[2019-12-17 08:03] eolivelli commented on #2218
@diegosalvi @dmercuriali PTAL

[2019-12-18 10:13] andrekramer1 opened #2220 "Exception while replaying journals, shutting down"
We're running Apache Pulsar with bookkeeper on a Kubernetes cluster and we have bookies (2/3) failing to restart with the following exception:
09:49:25.511 [main] ERROR org.apache.bookkeeper.bookie.Bookie - Exception while replaying journals, shutting down
java.io.IOException: org.apache.bookkeeper.bookie.BookieException$OperationRejectedException
        at org.apache.bookkeeper.bookie.Bookie$4.p

[2019-12-19 11:21] aschiazza commented on #2216
Any suggestions?

[2019-12-19 22:55] NickPadilla commented on #2194
yes, you can close this issue. :)

[2019-12-22 09:33] eolivelli opened #2221 "Add support for https in Vertx HTTP server"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

Currently default http server (Vertx) do not start an https endpoint, we need such feature in order to be able to expose Booke endpoint with a minimal level of security.

2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this

[2019-12-22 09:33] eolivelli commented on #2221
@dmercuriali PTAL

[2019-12-26 10:20] huangdx0726 opened #2223 "Which method is recommended in BookKeeper"
**QUESTION**

In BookKeeper the `setZookeeper` method is Deprecated and `zk` method is recommended, But `zk` is Deprecated ,so which method should we use.

[2019-12-26 21:23] eolivelli commented on #2223
We are deprecating those methods for two reasons:
- BK client create its own zk client and the built-in one handles session expire automatically (you have to recreate the zk handle and do some stuff in case of session expire event)
- we are trying to not depend on zk any more, infact now we have two metadata providers zookeeper and etcd (partially implemented)

Reason 1) is the most important in m

[2019-12-27 01:09] huangdx0726 commented on #2223
I see,Thinks.

[2019-12-27 01:10] #2223 closed

[2019-12-27 07:34] coolbeevip opened #2224 "Test fails"
**QUESTION**

According to the developer documents https://cwiki.apache.org/confluence/display/BOOKKEEPER/Developer+Setup, I failed to build & test base the master branch

**Operating system && JVM**

java version "1.8.0_201"
Java(TM) SE Runtime Environment (build 1.8.0_201-b09)
Java HotSpot(TM) 64-Bit Server VM (build 25.201-b09, mixed mode)
Apache Maven 3.6.0 (97c98ec64a1fdfee7767ce5ffb20918da4f

[2019-12-27 08:08] coolbeevip commented on #2224
Modify this line https://github.com/apache/bookkeeper/blob/1adc93f05954fdb06d7e8b548d606e281831924a/bookkeeper-server/src/test/java/org/apache/bookkeeper/bookie/GarbageCollectorThreadTest.java#L58 as below to pass the test

[code]

[2019-12-27 10:29] codelipenghui opened #2225 "Document for Decommissioning Bookies Not Found"
**BUG REPORT**

![image](https://user-images.githubusercontent.com/12592133/71513771-c4e9f200-28d6-11ea-81e5-98b38a12e784.png)
![image](https://user-images.githubusercontent.com/12592133/71513782-cca99680-28d6-11ea-84cd-0f7c0d7946eb.png)

[2019-12-27 11:26] eolivelli commented on #2224
Can you please send a PR with your fix?

[2019-12-27 12:52] coolbeevip commented on #2224
Sure. I will submit a PR as soon as possible

[2019-12-28 13:36] eolivelli opened #2227 "Travis is failing with an error about LICENSE files"
**BUG REPORT**

***Describe the bug***
CI Travis jobs fail due to a validation error reported by check-binary-license script.
The error is on current master and on 4.10 branch

[code]
A clear and concise description of what the bug is.

***To Reproduce***

Just run this script from the command line (it will build BookKeeper and perform the license checj)
.travis_scripts/build.sh

***Expected behav

[2019-12-31 03:30] ravisharda opened #2229 "Topics/labels used for categorizing this repo do not represent Bookkeeper well"
**Problem:**

Currently, this repo has these topics specified for it: `bookkeeper`, `java` and `big-data`. This set of labels/topics do not accurately represent what Apache Bookkeeper is about, perhaps making it a tad harder for people to locate this project.

**Suggestion:**

Add a few more topics like `Distributed-Log`, `Distributed-Commit-Log`, `write-ahead-logging`, etc. to this repo.

[2019-12-31 03:48] liudezhi2098 opened #2230 "bookie reads messages in batches very slowly, it takes about 300 milliseconds to read 100"
**BUG REPORT**

***Describe the bug***

bookie reads messages in batches very slowly, it takes about 300 milliseconds to read 100

- SingleDirectoryDbLedgerStorage

            while (count < readAheadCacheBatchSize && currentEntryLogId == firstEntryLogId) {
                ByteBuf entry = entryLogger.internalReadEntry(orginalLedgerId, -1, currentEntryLocation,
                        false /* val

[2020-01-04 13:10] #2227 closed

[2020-01-06 15:29] eolivelli opened #2234 "testAutoRecoverySessionLoss is flaky and ends with a NullPointerException on Jenkins"
**BUG REPORT**

Today I have seen this error on Jenkins

***Describe the bug***
[code]

***To Reproduce***

I can't reproduce the problem consistently

[2020-01-07 08:15] #2224 closed

[2020-01-09 05:50] zymap opened #2236 "BKCtl can not show the result"
**BUG REPORT**

When I using bkctl to get the auditor, there is nothing to show. But I can get the auditor using REST API.

Dive into the code, I found the result is output to the log.

[code]

***Expected behavior***

The command result should output to the console.

[2020-01-09 06:32] eolivelli commented on #2236
I totally agree.
can you please send a patch?

[2020-01-09 06:47] zymap commented on #2236
@eolivelli Sure. I will send a pull request later.

[2020-01-10 07:49] liudezhi2098 opened #2239 "In some cases, Bookie obtained the local IP of 127.0.0.1, which caused an abnormal report status."
In some cases, Bookie obtained the local IP of 127.0.0.1, which caused an abnormal report status.

get ip method:
`InetAddress.getLocalHost().getHostAddress();`

host
[code]

_Although it can be solved by setting up the host, but the customer does not necessarily set it when using it, so if you do not rely on this when obtaining the IP, it will be much more friendly_

[2020-01-13 12:01] sijie opened #2242 "Migrate Jenkins CI to Github Actions"
*Motivation*

Jenkins has been very unstable. More and more apache projects are moving to use Github Actions. We should move to use Github Actions to improve stability and simplify the process.

[2020-01-13 13:17] eolivelli commented on #2242
+1

[2020-01-13 16:45] diegosalvi opened #2243 "ConcurrentModificationException while logging a collection"
**BUG REPORT**

***Describe the bug***

I got this stackstrace while running BK

[code]
The failing log line is
[code]

At this time I don't known which collection has been modified while logged (sentToHosts? heardFromHosts?) and I known that the concurrent is generated in slf4j but I think that the problem is in BK: a not concurrent collection has been modified by another thread (perhaps is just

[2020-01-13 21:02] irairdon opened #2244 "TLS support for Metrics API"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
I would like to be able to grab metrics from the metrics API using https rather than on standard http.

2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue? Currently I have to file an exception to our security team to

[2020-01-16 10:23] yangwenjie88 opened #2247 "Subscription metrics name error"
The metric name of the document is `pulse_subscription_unacked_messages` but Prometheus print is `pulsar_subscription_unacked_massages`  ,  word `messages` spelling mistakes

[2020-01-16 12:58] eolivelli commented on #2247
It looks like an issue in Pulsar and not on Bookkeeper

[2020-01-16 13:56] yangwenjie88 commented on #2247
Oh,yes!

[2020-01-16 13:56] #2247 closed

[2020-01-21 06:45] eolivelli opened #2252 "Travis fails on changes about the Website"
Travis builds are failing due to some error on "Bundler".

[code]

[2020-01-21 06:47] eolivelli commented on #2252
@sijie @jiazhai please take a look.
If you have some suggestion I can work on this problem but I don't know about Bundler/Ruby/Jekill

[2020-01-21 08:40] aluccaroni commented on #2252
Please note that to build the site on my machine (RHEL6) I had to force to use rubygems < 3.0.0 (like 2.7.10) since the makefile is not compatible with >3.0.0 (the no-ri and no-rdoc option for bundler are no more supported).
Anyway, I don't think this is the problem

[2020-01-25 13:19] atris commented on #2176
Can I please be assigned this issue?

[2020-01-25 13:19] atris commented on #2178
Can I please be assigned this issue?

[2020-01-25 13:48] karanmehta93 commented on #2176
@atris Please verify if there is an PR hanging out there, otherwise you can take it up!

[2020-01-25 14:01] eolivelli commented on #2176
Unfortunately we can't assign github issues to people who never contributed to the repository, or maybe even to non "committers"
anyway a PR will be very appreciated !
thank you @atris

[2020-01-25 14:35] dmercuriali commented on #2218
Started working on this. It's not done but I created a draft PR if someone wants to take a look.

[2020-01-25 15:58] atris commented on #2176
Ok, I am working on this one.

[2020-01-26 09:14] eolivelli commented on #2252
It looks like this problem
https://github.com/jekyll/jekyll/issues/7463

[2020-01-26 09:21] eolivelli commented on #2252
It looks like it is a problem with the Makefile

if I run directly this command, inside the docker container I have not problem
`bundle exec jekyll build --config _config.yml`

[2020-01-26 17:49] sijie commented on #2242
This has been fixed by #2246

[2020-01-26 17:49] #2242 closed

[2020-01-26 18:57] sijie commented on #2229
Created an INFRA jira to update the topics: https://issues.apache.org/jira/browse/INFRA-19774

[2020-01-26 19:02] sijie commented on #2220
@andrekramer1 operations are rejected when ledger storage is not able to flush within 10 seconds.

Can you provide more information about your environment?

- Where do you run your kubernetes cluster? Is it on the cloud or on-premise?
- What kind of disks are you using? What is the write bandwidth?

[2020-01-26 19:04] sijie commented on #2216
@aschiazza do you have the log of the bookies?

[2020-01-26 19:13] #2194 closed

[2020-01-26 19:14] sijie commented on #2178
@atris yeah feel free to take it if no pull request was sent out before.

[2020-01-26 19:17] sijie commented on #2170
@Ghatage sounds like a good suggestion. Are you interested in sending out a pull request for the enhancement?

[2020-01-27 08:39] aschiazza commented on #2216
Hi, thanks for the reply.
I attached the log of the bookie.
[bookkeeper_log.txt](https://github.com/apache/bookkeeper/files/4116160/bookkeeper_log.txt)

[2020-01-27 09:30] andrekramer1 commented on #2220
This was on a cluster of 3 Ubuntu VMs on a virtualized server. The ledger storage was a local disk mount using a k8s storage claim and the disk appeared to be accessible but the bookie repeatedly failed to start. We were unable to recover from it and deleted the bookie node.

[2020-01-30 03:30] atris commented on #1945
Hi -- Unless this is being actively worked on, can I take this one?

@sijie

[2020-01-30 04:13] sijie commented on #1945
@atris yes. I don't think @ArvinDevel is actively working on this. Feel free to take this one.

[2020-02-01 13:38] eolivelli commented on #2252
closed by #2256 thank you @aluccaroni

[2020-02-01 13:38] #2252 closed

[2020-02-01 13:39] eolivelli opened #2260 "org.apache.bookkeeper.bookie.TestEntryLog is very flaky (expecially on GitHub Actions machines)"
org.apache.bookkeeper.bookie.TestEntryLog test fails very often on GitHub actions, this is very annoying for contributors

[code]

[2020-02-01 13:41] eolivelli commented on #2260
@reddycharan can you take a look please ?

cc @rdhabalia

[2020-02-05 11:29] eolivelli opened #2261 "GitHub Actions "PR Validation" is running DistributedLog tests"
It looks like "PR Validation" is running tests, I was expecting that job to only run stuff like checkstyle, spotbugs....

I discovered this fact in #2228 because I saw a failed test

[code]

[2020-02-08 18:51] WJL3333 commented on #2212
i change some file and make it work. hope it help. https://github.com/WJL3333/bookeeper-docker-modified

[2020-02-13 15:45] hamadodene opened #2264 "Bookie cannot perform Garbage Collection: EntryLogger.scanEntryLog: java.lang.IllegalArgumentException: newCapacity: -610402302 (expected: 0-2147483647)"
**BUG REPORT**

***Describe the bug***

I got this stackstrace while BK was running  (BK version: 4.10.0)
[code]

***To Reproduce***
I'm sorry, I don't have any mean to reproduce it

[2020-02-15 16:42] eolivelli commented on #2260
I think that the problem is that this test is using an "entryLogger" variable that can be created by any of the other '@Test' methods.
A good fix would be to re-inizialize that variable, like how it is done in most of the other test methods in that file

[code]

[2020-02-15 22:15] pushkar-engagio commented on #2220
We are experiencing same issue where couple of nodes are not able to start any journal thread. The start up fails with an error "Exception while replaying journals, shutting down".

We are running the service on AWS instances with journal using gp2 volume and ledger using st1 volume. These are dedicated volumes for journal and ledger. OS is on it's own volume.

Any way to recover data from these n

[2020-02-15 22:22] pushkar-engagio commented on #2220
This is the exception that we see. The bookkeeper cluster is part of apache pulsar deployment.

21:24:25.285 [main] ERROR org.apache.bookkeeper.bookie.Bookie - Exception while replaying journals, shutting down
java.io.IOException: org.apache.bookkeeper.bookie.BookieException$OperationRejectedException
        at org.apache.bookkeeper.bookie.Bookie$4.process(Bookie.java:895) ~[org.apache.bookkeeper

[2020-02-17 08:12] #2260 closed

[2020-02-17 13:03] #2218 closed

[2020-02-18 14:00] eolivelli opened #2267 "Allow BookKeeper localbookie to start on Windows"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
In order to ease development of client applications it would be very useful to be able to start "bookkeeper localbookie" or even "bookkeeper standalone" on a Windows machine with "Git bash" or "cygwin"

2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using a

[2020-02-21 07:53] aloyszhang opened #2269 "Bookie shutdown due to OutOfDirectMemoryError"
**BUG REPORT**
Bookie shutdown due to  OutOfDirectMemoryError
***Describe the bug***
Bookie shutdown when client continuous send message.
[code]

***To Reproduce***
In my case,  there are 4 bookies  start with the following configuration.
bkenv.sh
[code]
bk_server.sh
[code]
Directory data1,data2,data3,data4,data5,data6,data7,date8,data9 are on different disk with  individual disk driver.
Then star

[2020-02-21 08:47] chengchampion opened #2270 "compile bookkeeper meet a linker question"
Failed to execute goal com.github.maven-nar:nar-maven-plugin:3.5.2:nar-validate (default-nar-validate) on project circe-checksum: Could not launch cmd.exe /X /C "link /?"，compile bookkeeper meet this question，how to do?

[2020-02-21 12:30] eolivelli commented on #2270
Are you on Windows?
Are you using cygwin or git bash ?

[2020-02-21 12:48] eolivelli commented on #2269
Which version of BK do you have?

[2020-02-21 14:35] eolivelli commented on #2269
Are you able to reproduce the problem with a single bookie ?
I mean, in order to create a simpler reproducer ?

[2020-02-22 02:54] aloyszhang commented on #2269
This problem happens when run pulsar on BookKeeper with ensemble 3, write quorum 3 and ack quorum 2.  Data are send to 3 bookies at the same time,  so ,I think the same problem will happeds with a single bookie.

[2020-02-23 10:21] eolivelli commented on #2269
We have a few features to prevent this situation.
Are you writing huge messages ?
Are you running the Bookie with the configuration shipped with Pulsar or the default values on "master" branch ?
You can try to tune the Bookie using Pulsar suggested values.

You can check all tunables about the maximum number of concurrent writes (pendingAdds) in this file:
https://github.com/apache/bookkeeper/blob

[2020-02-24 01:36] aloyszhang commented on #2269
Thanks ， I'll try.

[2020-02-24 08:48] chengchampion commented on #2270
yes i use windows. i just use ideal compile bookkeeper source code.and then meet this question.

[2020-02-24 11:52] hamadodene opened #2273 "Bookie does not try to download ledger from another bookie"
**BUG REPORT**

***Describe the bug***

We have a cluster of Bookkeeper with 3 servers.
For example we can considered (bk1,bk2 and bk3). We writing only inside bk1 and bk2 , and bk3 read from bk2.
When bk2 come down  bk3 continue to search reading from bk2.
We expected if bk2 come down, bk3 should try to read from bk1 and not continue to  try with bk2.

[code]
[code]
To reproduce it , follow my de

[2020-02-24 17:48] sijie commented on #2273
@hamadodene It attempts to read from bk-2. but it seems that bk-2 is not reachable - `No route to host: bk2/ip-address:3181`

[2020-02-24 18:05] eolivelli commented on #2273
I talked offline about this issue with @hamadodene .

The ledger is written with WQ=2 and ledger metadata point that segment to bk1 and bk2 bookies.
The client (reader) is on bk3.
It seems that BK is trying only to read from bk3.

The case here is that bk2 machine has been forcibly partitioned away from network.

@hamadodene please correct me if I am wrong.
Do you have more logs?

[2020-02-25 03:41] SunDapeng1 opened #2274 "The `metaformat` command does not delete `idgen` znode"
**BUG REPORT**
After `metaformat`, ledgerId does not count from 0

***To Reproduce***

Steps to reproduce the behavior:
1. create some ledgers
2. bin/bookkeeper shell metaformat
3. bin/bookkeeper shell simpletest
4. See error: The new ledgerid does not start at 0

***Expected behavior***
`metaformat`  deleted the ledger, and should have deleted ledgerid's records as well

[2020-02-25 08:30] hamadodene commented on #2273
@eolivelli  yes is correct,
bk2 had been partitioned from the network.
We were writing on bookkeeeper with replica 2 (precisely at that moment on bk1 and bk2) and at that moment bk3 was reading the data from bk2.
When bk2 was partitioned, we expected bk3 to read from bk1 after a few minutes. Instead after 30 minutes he was still trying to read the data from bk2.

I have this expection from bk3 log

[2020-02-28 14:36] cyxu2 opened #2275 "There are several CVEs in the project dependencies"
I found your project used some dependencies that contain CVEs. I suggest a library update to avoid potential risks. See below for more details:
* **Vulnerable Library Version:** org.apache.hadoop : hadoop-common : 2.7.3
  **CVE ID:** [CVE-2016-6811](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-6811), [CVE-2017-15718](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-15718), [CVE-2

[2020-02-28 19:24] eolivelli commented on #2275
Do you mind sending pull requests for upgrades?
One library at a time please.

It will be very appreciated.

We have a pending work for Zookeeper, that is harder.
Other deps would be easier

[2020-03-01 15:28] CleWang opened #2276 "Dependencies causes CVEs in your execution path"
I found you uses some dependencies with CVEs and the buggy methods of the CVEs are in the program execution path of your project. This makes your project insecure. I have suggested some version updates. Here is the detailed information:

* **Vulnerable Dependency:** org.apache.hadoop : hadoop-common : 2.7.3

* **Call Chain to Buggy Methods:**

  * **Some files in your project call the library meth

[2020-03-01 19:07] fpj commented on #2276
Please check this out before reporting security issues:

https://www.apache.org/security/

In this particular case, the vulnerability is known as you are pointing to a CVE, but in general it is best to follow the established protocol and report to the security list.

[2020-03-03 10:52] RaulGracia commented on #2269
@aloyszhang @eolivelli I have seen this problem as well. In our case, we have prevented this from happening by using `InterleavedLedgerStorage` instead of the default one (`SortedLedgerStorage`), as it does not contain `EntryMemTable` objects that seem to use significant amount of memory (tested with Bookkeeper 4.9.2). Of course, this decision comes at the cost of read performance, but in our case

[2020-03-03 11:45] RaulGracia opened #2277 "How to handle "not enough non-faulty Bookies" situation?"
**QUESTION**

We use Bookkeeper extensively in our project. While in general Bookkeeper provides good write performance, we noticed that under too much load, the Bookkeeper client may exhibit failures such as `BKNotEnoughBookiesException: Not enough non-faulty bookies available`.

As I understand, this problem may be caused due to the lack of throttling between the Bookkeeper Client (4.8.2) and Se

[2020-03-03 11:54] aloyszhang commented on #2269
Thanks for your suggestion @RaulGracia
Since I wanna to run Pulsar on BookKeeper.
I turn configuration to Pulsar suggested values which take `DbLedgerStorage` as Ledger Storage as  @eolivelli  suggested.
It runs well for the passed few days.

[2020-03-03 14:35] riverman282915 commented on #1756
Hi I can't get this to work..
I tried with different values, yet all i get is
`14:13:07.675 [main] INFO  org.apache.bookkeeper.meta.zk.ZKMetadataDriverBase - Initialize zookeeper metadata driver at metadata service uri zk+null://localhost:2181/ledgers : zkServers = lo
Caused by: org.apache.zookeeper.KeeperException$ConnectionLossException: KeeperErrorCode = ConnectionLoss
calhost:2181, ledgersRoot

[2020-03-04 13:47] eolivelli commented on #2277
@RaulGracia
IIUC your problem is about a Bookie that returns an error during a write due to server side throttling.
In this case I am expecting an *ensembleChange* .

I am trying to find in BK code the implementation of this behavior you are describing:
` However, the Bookkeeper Client is left in this state in which some of the Bookies are tagged as "faulty".`
But I can't find it: the **EnsemblePl

[2020-03-05 07:57] eolivelli commented on #2273
Finally we realized the "problem", it is not a strictly a bug in BookKeeper but it is a very unexpected behaviour that needs a workaround in the application and a workaround is not always possible.

The scenario is the following:
- we have the usual leader/follower pattern for BK users
- the leader holds on metadata service (ZooKeeper) a list of "active ledgers" that build up an unlimited stream o

[2020-03-05 11:38] aloyszhang opened #2279 "NullPointerException when execute `bin/bookkeeper shell readjournal`"
**BUG REPORT**

***Describe the bug***
Run
`./bin/bookkeeper shell readjournal -msg /data1/bookkeeper/journal/current/1709f92d291.txn   -dir /data1/bookkeeper/journal`

It throws exception
[code]
I found when  `ReadJournalCmd` initialized,  the "dir " `Option`  added with `hasArg` flag is false. So, we can't get the option's value of ”dir“ from shell command parameters.
Here is the related code
[c

[2020-03-06 07:15] #2178 closed

[2020-03-06 07:26] eolivelli commented on #2176
@atris it looks like we already merged a fix for this problem
https://github.com/apache/bookkeeper/pull/2177

[2020-03-10 13:25] hamadodene opened #2285 "Spammy log when one bookie of ensemble is down"
When one bookie of the ensemble is down, the others bookies client  spam in the log ***org.apache.bookkeeper.proto.PerChannelBookieClient*** this exception:

[code]
In our case, in 8m it produced 1,5gb log.
For riproduced it, i simple shutdown a bookie and checked **org.apache.bookkeeper.proto.PerChannelBookieClient**

[2020-03-14 07:34] eolivelli opened #2288 "Add ledger metadata to Ledger created by StreamStorage Module"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
Please add meaningful information to ledger created by StreamStorage module.
Namely:
-  DLCheckpointStore
- AbstractStateStoreWithJournal

2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?

nice-to-have

3. Provide

[2020-03-14 07:34] eolivelli commented on #2288
a preparative work has been done by @dmercuriali  with b84178af53d631b268143f9b8b0a3c3f731bf68a

[2020-03-14 15:35] chairmank opened #2289 "distribute Python apache-bookkeeper-client as a Conda package"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
I would like to be able to install the Python client library (`apache-bookkeeper-client`) using the [Conda](https://docs.conda.io/) package manager.

2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
Conda is the preferred package manager for a significant community of Python user

[2020-03-14 15:35] chairmank commented on #2289
I am familiar with Conda packages and volunteer to help.

[2020-03-14 16:53] eolivelli commented on #2289
@chairmank thank you, please send a PR.
If we have to update our release procedure please send a PR for that as well, you can find it on the "site" subdirectory

[2020-03-16 12:41] dmercuriali commented on #2288
Picking this up

[2020-03-18 18:18] eolivelli opened #2292 "BookKeeper is not compatible with ZookKeeper 3.6.0"
in ZKRegistrationManager  we are using the Utility function  org.apache.zookeeper.ZKUtil.deleteRecursive that has been changed in 3.6.0.

***To Reproduce***
Use ZooKeeper 3.6.0 in a project that is also using BookKeeper 4.10.0
(like https://github.com/diennea/herddb/pull/581)

BookKeeperAdmin won't be able to work.

[code]
***Expected behavior***
BookKeeperAdmin should be able to "format" the clus

[2020-03-18 18:32] eolivelli commented on #2292
I have created an issue in ZooKeeper
https://issues.apache.org/jira/browse/ZOOKEEPER-3763

[2020-03-20 17:08] eolivelli opened #2294 "Full build download distributedlog from apache snapshots repository"
**BUG REPORT**

***Describe the bug***

If you fresh clone bookkeeper from github, with an empty Maven repository, Maven tries to download distributedlog-core from apache snapshots and it is not using the binaries built during local compilation.

This can lead to weird behaviour and non reproducible builds

[code]

***To Reproduce***

run
mvn clean install -DskipTests -Dmaven.repo.local=YOURDIRECT

[2020-03-22 15:46] zyllt commented on #2216
@aschiazza Hi,I started StreamStorageLifecycleComponent according to your configuration, but it is `127.0.0.1:4181 `in zk,I tried many methods without success. Is there any other configuration?
my pulsar version is `2.5.0`.

[2020-03-22 16:09] eolivelli commented on #2292
With ZK 3.6.1 we won't have this problem anymore,
see
https://github.com/apache/zookeeper/pull/1287

[2020-03-23 07:52] zyllt opened #2295 "Incorrect StreamStorageLifecycleComponent ip address registered in zookeeper"
**QUESTION**
when I start the streamtorage service use  `extraServerComponents=org.apache.bookkeeper.stream.server.StreamStorageLifecycleComponent` in `Pulsar2.5.0`, I saw through `netstat` that it was already listened at `0.0.0.0:4181`, but when i watch `zookeeper` at path `ls /stream/servers/available` that is `127.0.0.1:4181`.
[code]
my bookkeeper conf
[code]

[2020-03-23 12:35] aschiazza commented on #2216
Hi @zyllt, I've attached my bookkeeper conf file.
[bookkeeper.conf.txt](https://github.com/apache/bookkeeper/files/4369294/bookkeeper.conf.txt)
I'm still using version `2.4.1` for my project.

in `functions_worker.yml` conf file I've added this line `stateStorageServiceUrl: bk://bookkeeper:4181`

I'm using docker-compose for my environment and the command for bookie container is `/pulsar/bin/bookk

[2020-03-23 14:45] zyllt commented on #2216
@aschiazza Thanks for your reply. I start bookie `bin/bookkeeper bookie` use  your bookkeeper conf file  without docker ,i type `ls /stream/servers/available` at `zk` ,it is still `127.0.0.1:4181`.
but when i use  docker-compose for my environment and the cmd is `bin/pulsar standalone`,the output of `bin/pulsar zookkeeper-shell && ls /stream/servers/available` is `[172.17.0.2:4181]`. that is the I

[2020-03-23 15:12] aschiazza commented on #2216
If you start pulsar in standalone mode all components (broker, bookie zk) start in a single container and registered to the loopback interface.
You should start each component (broker, bookie, zk) with proper command, for example
`/pulsar/bin/pulsar zookeeper` for zk
`/pulsar/bin/bookkeeper bookie`for bookie
`/pulsar/bin/pulsar broker`for pulsar broker
`/pulsar/bin/pulsar proxy`for pulsar proxy
`/

[2020-03-23 15:34] zyllt commented on #2216
@aschiazza thanks for your reply.May be my expression is incorrect, when I start bookie `bin/bookkeeper bookie` use your bookkeeper conf file without docker,my environment is product.
because my product environment do not support docker,i start `bookie` with docker  in my local environment.
First I test `bin/pulsar standalone` command with docker,the output of `bin/pulsar zookkeeper-shell && ls /s

[2020-03-23 15:39] aschiazza commented on #2216
in your local environment how do you start components? with which command?

[2020-03-24 03:40] zyllt commented on #2216
@aschiazza hi,thanks in advance for your reply,below I will describe my problem and test steps in detail.
First I followed the steps below when I started pulsar in my local environment(without docker),
1.command `bin/pulsar-daemon start zookeeper` for zk
2.`bin/pulsar-daemon start bookie` for bookkeeper(I use your bookie conf In addition to the `zkServers`)
3.`bin/pulsar-daemon start broker` for b

[2020-03-27 10:20] #2292 closed

[2020-03-27 10:21] eolivelli commented on #2274
@atris @mino181295 @dmercuriali  are you interested in providing a fix ?

[2020-03-27 10:21] eolivelli commented on #2244
@mino181295 @dmercuriali  are you interested in providing a fix ?

[2020-03-27 10:22] eolivelli commented on #2239
The fix for this problem is in https://github.com/apache/bookkeeper/pull/2240

[2020-03-27 16:44] aluccaroni commented on #2264
I saw this happening in another cluster. Here are some other logs at the same time:

org.apache.bookkeeper.common.util.SafeRunnable:
[code]

org.apache.bookkeeper.bookie.EntryLogger:
[code]

org.apache.bookkeeper.bookie.GarbageCollectorThread:
[code]

[2020-03-28 09:42] Shoothzj commented on #2143
how do you solve this ? I meet the smae situation

[2020-03-28 10:37] eolivelli commented on #2143
This is usually not a problem.
It means that another client opened the ledger for recovery.

Is your problem about 'null'?
It means that the message of the exception has not been filled but this shouldn't be a problem

[2020-03-28 15:06] Shoothzj commented on #2143
I was running plusar, and pulsar log says
 "Add for failed on bookie 10.0.0.194:3181 code EIO"
"Failed to write entry (16111, 1086): Bookie operation timeout"

And bookkeeper logs says this

![image](https://user-images.githubusercontent.com/12933197/77826103-6ee05100-7148-11ea-96ba-a27f406e3f45.png)

[2020-03-28 16:41] eolivelli commented on #2143
I don't know Pulsar workflow.
From BK perspective this is not a problem
Maybe your broker was fenced off by another broker.

The 'timeout' may be another clue. Maybe you experienced some delay/network/storage slowdown and some recovery happened in Pulsar broker

[2020-03-29 13:17] atris commented on #2274
I can take this up if no one is working on it

[2020-03-29 14:21] eolivelli commented on #2274
@atris thanks.
The fix should be quite straightforward and it will be useful.
We could cherry pick to 4.10 as well

[2020-03-29 14:32] atris commented on #2274
Thanks — I am on it

On Sun, 29 Mar 2020 at 19:51, Enrico Olivelli <notifications@github.com>
wrote:

--
Regards,

Atri
*l'apprenant*

[2020-04-03 20:25] ivankelly commented on #2273
@eolivelli
We've hit this internally also, coverage sets are broken.
See my comment: https://github.com/apache/bookkeeper/pull/2281/files#r403306604

[2020-04-03 20:33] eolivelli commented on #2273
@ivankelly thanks for sharing.
Your comment is useful

@rdhabalia please take a look

This is something we must fix in next release.

[2020-04-03 21:00] ivankelly commented on #2273
As I said in the linked comment above, I have a fix already. Will push on monday.

[2020-04-03 21:01] ivankelly commented on #2273
Also, for clarity, it's not data loss broken really. It's more an availability issue.

[2020-04-04 01:28] #2176 closed

[2020-04-04 01:39] karanmehta93 opened #2302 "Autorecovery may hang indefinitely when zookeeper connection blips"
**BUG REPORT**

***Describe the bug***

In our clusters, @reddycharan and @jvrao caught this issue. In certain circumstances, all AR processes were running but not performing any replication. Thus ledgers remain under-replicated for periods more than the threshold defined by our monitoring system. The reason is that the latch [here](https://github.com/apache/bookkeeper/blob/master/bookkeeper-serve

[2020-04-05 21:39] aschiazza commented on #2216
Hi @zyllt can you post or attach your bookkeeper configuration file?

[2020-04-07 02:26] Shoothzj opened #2304 "Where to config quorum mode?"
![image](https://user-images.githubusercontent.com/12933197/78623362-12a0ce00-78ba-11ea-9275-8572a146be84.png)

When I saw this, I search it for google, config file, 4.10 source code, I can't find where to config quorum type.

[2020-04-09 21:45] sijie commented on #2270
@chengchampion Currently the bookkeeper project builds some native code. I don't think the build script supports windows yet.

[2020-04-09 21:53] sijie commented on #2285
I think we can reduce the logging level to avoid the noisiness.

[2020-04-09 21:54] sijie commented on #2288
It is fixed by #2296

[2020-04-09 21:54] #2288 closed

[2020-04-09 22:02] sijie commented on #2279
This is fixed by #2280

[2020-04-09 22:02] #2279 closed

[2020-04-09 22:08] sijie commented on #2295
It seems to be related to the binding address. Are you interested in contributing a fix?

[2020-04-09 22:26] sijie commented on #2302
@karanmehta93 It seems that you have found the root cause. Are you going to contribute a bug fix?

[2020-04-10 15:45] karannparikh commented on #2302
Hey Sijie, I will be contributing the bug fix.

[2020-04-10 19:19] karanmehta93 commented on #2302
Just as a heads up, we don't have a integration test for it, but the fix is verified manually.
We need some plumbing to our test infra to accomplish it, which might take a while.

[2020-04-12 22:45] Ghatage opened #2305 "Bookies come up without a cookie in metadata store"
**BUG REPORT**

***Describe the bug***

Bookies are allowed tot boot up even if they don't have a cookie in the metadata store.

***To Reproduce***

Steps to reproduce the behavior in jUnit:
1. Boot up a bookie
2. Delete it's cookie from metadata store
3. Restart bookie
4. Bookie comes back up even without a cookie
5. This is a problem because any following operations on cookies will result in `In

[2020-04-13 07:26] #2230 closed

[2020-04-14 08:57] zyllt commented on #2216
hi @aschiazza I've attached my bookkeeper conf file.

[bookkeeper.conf.txt](https://github.com/apache/bookkeeper/files/4474236/bookkeeper.conf.txt)

[2020-04-14 10:52] aschiazza commented on #2216
@zyllt How many bookie nodes do you have? I think I read only one.
With these parameters:

dlog.bkcEnsembleSize=3
dlog.bkcWriteQuorumSize=2
dlog.bkcAckQuorumSize=2

you require a cluster ensamble composed by 3 bookie nodes (where segments are spread), and you require an ack quorum of 2.
If you have only one bookie node change these values to 1.

[2020-04-14 18:32] Ghatage commented on #2302
@karanmehta93 I think you tagged the wrong karan parikh.

[2020-04-15 01:48] Shoothzj opened #2308 "Can not run localbookie on jdk 14"
**BUG REPORT**

***Describe the bug***
Can not run localbookie on jdk 14. Bk can not connect to Zk.
A clear and concise description of what the bug is.
The old version of zookeeper, org.apache.zookeeper.client.StaticHostProvider#getHostString can not read the right value. For the resaon:

Unresolved InetSocketAddress.toString in different jdk version return different value.
1. jdk8 localhost:2181

[2020-04-15 05:45] eolivelli commented on #2308
It is due to Zookeeper 3.4 client.
We must upgrade to 3.5.7.
There is a pending PR for the upgrade.

The pr is not moving forward.
If you have time would you like to help with that patch?

[2020-04-15 06:08] Shoothzj commented on #2308
I would like to try this weekend and see if I can do it .I am freshly BookKeeper user

[2020-04-15 06:38] eolivelli commented on #2308
This is the pr #2112
it is failing on Integration Tests and needs a rebase
cc @dmercuriali

[2020-04-15 15:04] fantapsody opened #2310 "Add a toggle API for autorecovery"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

It would be convenient to support enable, disable, or check the status of autorecovery with REST API, just like what does in the toggle command:
https://bookkeeper.apache.org/docs/4.9.2/reference/cli/#bookkeeper-shell-autorecovery
https://github.com/apache/bookkeeper/blob/master/bookkeeper-server/src/main/java/org/apache/book

[2020-04-16 21:48] sijie commented on #2304
@Shoothzj can you point the link of the documentation page?

[2020-04-17 03:00] Shoothzj commented on #2304
![image](https://user-images.githubusercontent.com/12933197/79527602-9cab1c80-809a-11ea-85f3-f7d961097204.png)

https://bookkeeper.apache.org/docs/latest/admin/bookies/

[2020-04-18 09:02] fantapsody opened #2311 "Support to decode metadata in the API that list ledgers"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

The current list ledgers API output the metadata in a serialized binary format, which is not friendly to human operators and external tools, and is not consistent with the output of the [API that gets the metadata](https://bookkeeper.apache.org/docs/4.9.2/admin/http/#endpoint-apiv1ledgermetadataledger_idledger_id). For exampl

[2020-04-19 21:13] mino181295 commented on #2274
@atris I have taken this up. If you want you can review

[2020-04-20 13:56] eolivelli opened #2316 "API to delete multiple ledgers at once"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
Add the ability to drop a few ledgers in a single atomic operation.

2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
should-have

3. Provide any additional detail on your proposed use case for this feature.

We could leverage ZooKeeper "multi" operation
https://zookeeper.apache.

[2020-04-20 22:53] mino181295 commented on #2316
I can take this, a few question i had looking around the code:

- Is it better to convert
`removeLedgerMetadata(long ledgerId, Version version)`
to: `removeLedgerMetadata(Set<Long> ledgerIds, Version version)`
Or do you suggest creating a brand new method?
- In HierarchicalLedgerManager zk deletions are performed recursively and optimistically. Shoul i create a `ZKUtils#asyncCreateFullPathOptimist

[2020-04-21 09:57] eolivelli commented on #2316
@mino181295
`removeLedgerMetadata(Set<Long> ledgerIds, Version version)`
this API does not work, because for each ledger you need a different "Version" object.
So maybe it would look like this:
`removeLedgerMetadata(List<LedgerIdAndVersion> ledgerIds)`

is ZKUtils a BK class or a ZooKeeper class (check the package name) ?.
btw, the answer is that we have to use "multi" and we have to introduce a n

[2020-04-21 20:21] #2274 closed

[2020-04-22 18:32] phemmer opened #2318 "Clarification on usage of kv_rpc.proto PutRequest expected_version"
**QUESTION**

The kv_rpc.proto has a field [`expected_version`](https://github.com/apache/bookkeeper/blob/release-4.10.0/stream/proto/src/main/proto/kv_rpc.proto#L175) which I assume is for ensuring that the current version of a key is at the specified version prior to performing a change.

However there are still several open questions about how to properly use this functionality:
1. Is the versi

[2020-05-02 07:50] #2310 closed

[2020-05-07 07:23] #2106 closed

[2020-05-10 13:48] LiamClarkeNZ opened #2328 "[Doc] How do I add a new bookie?"
I am reading the documentation to advise a client on technical decisions. Scaling their system is part of that decision. The documentation neither explicitly or implicitly specifies how adding a new Bookie to a BookKeeper cluster works. Does it just work? Or do I need to take manual steps? Should I enable autorecovery?

Etc. etc.

[2020-05-10 15:00] eolivelli commented on #2328
Just start it as the first bookie.
It is all automatic

[2020-05-15 14:07] mino181295 opened #2330 "SortedLedgerStorage > Spammy log on mem-table size limit reached"
**BUG REPORT**

When the Bookie tries to flush the MemEntryTable on an `addEntry` it started to spam the log "Reached size null".

***Describe the bug***
[code]

***Expected behavior***

I expect that if it can't flush the checkpoint for this type of Exception the service stops

[2020-05-18 02:07] jiazhai commented on #2330
@mino181295 How is the issue comes out? Is there any steps to reproduce this?

[2020-05-18 13:28] mino181295 commented on #2330
We have seen that only once. When we stopped and restarted the Bookie and it didn't happen again.

[2020-05-18 21:54] rivernate opened #2335 "Configurable keep alive settings for the client"
**FEATURE REQUEST**

1. The current keep alive setting for the BK client is just on or off using [ClientConfiguration.java#getClientSockKeepalive](https://github.com/apache/bookkeeper/blob/adf086d54f85fa5321574300360f7fd86d47fe8b/bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/ClientConfiguration.java#L358). The behavior of which is determined by the operating system. There should be a

[2020-05-19 05:57] #2305 closed

[2020-05-21 10:04] coolbeevip opened #2340 "Bookkeeper write Metadata to zookeeper failed"
I build bookkeeper docker image locally based on master branch.

This is my docker-compose.yml

[code]

The log error is as follows：

[code]

[2020-05-21 17:09] coolbeevip opened #2341 "Add a way to configure bookkeeper parameters"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

In docker, the environment variable parameters are used applying-config-from-env.py to modify bk_server.conf. This inconsistency can be confusing for non-container deployments

2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address

[2020-05-22 13:45] coolbeevip opened #2345 "Is it possible to automatically check zookeeper and create bookkeeper metadata when starting bookkeeper?"
[main:ZKRegistrationManager@379] - BookKeeper metadata doesn't exist in zookeeper. Has the cluster been initialized? Try running bin/bookkeeper shell metaformat

[2020-05-22 13:47] eolivelli commented on #2345
You can use BookkeeperAdmin class.
It has a meta format method that does nothing if the cluster has already been initialized

[2020-05-22 14:10] coolbeevip commented on #2345
Why not use BookkeeperAdmin in ZKRegistrationManager to automatically initialize the cluster, Any explanation for that?

[code]

[2020-05-25 01:43] sijie commented on #2345
@coolbeevip adding initialization or format code into every bookie process is not a good idea. since every bookie will attempt to initialize or reformat the metadata. This usually would introduce many consistency problems. So we recommend administrators to initialize the metadata when setting up the cluster.

[2020-05-25 01:51] coolbeevip commented on #2345
Thank you for your reply

[2020-05-25 01:51] #2345 closed

[2020-05-27 06:17] #2311 closed

[2020-06-02 03:30] nicknezis commented on #2340
Is this related to #2219 ?

[2020-06-04 03:49] Ghatage opened #2354 "Certificate role based authorization for Bookkeeper"
This is the master ticket for tracking BP-41.

Even with TLS/mTLS authentication, any other service with rootCA is able to access Bookkeeper which is unacceptable as Bookkeeper is the source or truth.

This feature allows a predefined set of roles to be 'whitelisted' to be able
to access bookkeeper based on their client certificates.
It also introduces a structure for these roles to adhere to in o

[2020-06-04 08:37] eolivelli commented on #2277
Links to https://github.com/pravega/pravega/pull/4798

[2020-06-08 02:18] wolfstudy opened #2357 "Not enough non-faulty bookies available when sending a message that exceeds defaultMaxMessageSize"
**BUG REPORT**

***Describe the bug***

All configurations are the default configuration.

After starting, send a message that exceeds defaultMaxMessageSize, pulsar's broker is unavailable.

***To Reproduce***

test code of go:

[code]

broker error as follows:

[code]

***Expected behavior***

When I send a message that exceeds the maximum message allowed by pulsar, I expect pulsar's broker to fa

[2020-06-08 06:02] eolivelli commented on #2357
The problem is that at low level we have a protocol error and the bookie is treated as broken.
We should report an error earlier before trying to reach the bookie.
But we cannot know the current configuration of the bookie.
We could just add some max entry size on the client, probably left not configured by default.

[2020-06-08 06:02] eolivelli commented on #2357
You should see other errors before the ine you pasted

[2020-06-12 05:14] sijie opened #2358 "Add a command to list the ledgers are still alive in entry log file"
*Motivation*

For troubleshooting bookkeeper disk usage issues, having a tool to list the ledgers that are still alive in the entry log file is super useful.

[2020-06-14 03:53] LiamClarkeNZ commented on #2328
Thanks @eolivelli - will the Autorecovery daemon redistribute ledger replicas when the cluster increases in size? Or does it maintain existing ensembles but utilise the new bookie for any new ledgers?

[2020-06-14 05:38] eolivelli commented on #2328
Ledgers will stay on the original bookies if they are available.
New ledgers will go to new bookies.
Broken ledgers will be replicated to new bookies.

You can create your own LedgerPlacementPolicy that drives the placement of data

[2020-06-16 07:40] Gray-Fullbuster opened #2359 "When I start up bookie,I found an extra port I don’t know"
***netstat -anp | grep -i 'tcp\|udp' | grep LISTEN***

(Not all processes could be identified, non-owned process info
 will not be shown, you would have to be root to see it all.)
tcp &ensp;    0 &ensp;      0 0.0.0.0:44659  &ensp;          0.0.0.0:*  &ensp;              LISTEN&ensp;   26062/java
tcp &ensp;       0   &ensp;   0 0.0.0.0:32001        &ensp;   0.0.0.0:*     &ensp;          LISTEN

[2020-06-17 01:40] jiazhai commented on #2359
@Gray-Fullbuster Did you enabled HttpServer by set `httpServerEnabled=true`?

[2020-06-17 01:43] jiazhai commented on #2359
But it is strange since it will change after a restart. It does not seem like a config issue.
Does every bookie have the same issue?

[2020-06-17 01:47] Gray-Fullbuster commented on #2359
@jiazhai I set httpServerEnabled=false.Every bookie has its unknown,random port.

[2020-06-17 05:07] eolivelli commented on #2359
Are you enabling JMX? If so them it can be JMX

[2020-06-17 06:43] Gray-Fullbuster commented on #2359
Yes,I find this command in _bookkeeper_.
_exec ${JAVA} ${OPTS} ${JMX_ARGS} org.apache.bookkeeper.server.Main --conf ${BOOKIE_CONF} $@_
so,i delete _${JMX_ARGS}_,this port disappeared.thank you for the help

[2020-06-17 06:45] eolivelli commented on #2359
There should be a way to configure a fixed port.
But if you are not going to use JMX at all it is better to have it disabled.

[2020-06-17 06:52] Gray-Fullbuster commented on #2359
I want to bind 0.0.0.0 to native ip.How should i do?

[2020-06-17 07:04] eolivelli commented on #2359
Are you talking about JMX or about the Bookie endpoint ?
in the case of Bookie Endpoint it is not possible, because the ID of the bookie is made of pubblic-address + bookiePort
this fact will change in the future (hopefully 4.12) but now this is how it works.

So you can't bind to 0.0.0.0

You could bind to 0.0.0.0 but you have to configure the "advertised address" that is the public DNS name that

[2020-06-17 07:17] Gray-Fullbuster commented on #2359
Sorry,My description is wrong.I want to change 0.0.0.0:32001 to 127.0.0.1:32001

[2020-06-17 13:34] rudy2steiner commented on #2358
I'd like to try it, please assign it to me !

[2020-06-17 15:32] eolivelli commented on #2358
Just start working and send the PR.
Actually we cannot assign the issue to you

[2020-06-18 07:40] eolivelli commented on #2359
@Gray-Fullbuster  please check this out
https://stackoverflow.com/questions/331615/how-to-have-jmx-bind-to-a-specific-interface

[2020-06-18 07:43] eolivelli commented on #2340
No.
You are using
/bookkeeper/ledgers

just change it to "/ledgers"
or you have to add some zk-shell command to create /bookkeeper
I thought we fixed that problem in 4.10, but may it is some different execution path

[2020-06-18 07:43] eolivelli commented on #2335
@rivernate
do you have time to send a PR ?

[2020-06-18 18:01] rivernate commented on #2335
@eolivelli: I don't right now, we are currently getting by using the OS TCP keep alive settings.  But wanted to surface the problem we where having for visibility.

[2020-06-18 18:10] merlimat commented on #2335
The OS TCP keep-alive can be problematic, in that I believe the configuration might be tricky to adjust and the minimum time is anyway ~5min, which is a very long time.

[2020-06-18 19:02] rivernate commented on #2335
Yeah, it's not an ideal solution for sure. We have ours dialed back to 3 probes 11 seconds apart starting 1 second after a connection is idle, so ~45 sec timeout. That has solved the problems we were seeing but it would be nice to not rely on OS configuration for this, especially since it is a system wide configuration.

[2020-06-19 04:46] rudy2steiner commented on #2358
Would you mind explaining in what case , how to use the command and what the input and output you expect, I'm interested to handle this issue @sijie

[2020-06-19 17:19] Ghatage commented on #2308
@Shoothzj can you please rebase and try again since #2112 is merged?

[2020-07-05 03:08] rudy2steiner commented on #2358
do you mean to dump CompactableLedgerStorage.getActiveLedgersInRange,is that right?

[2020-07-05 18:17] sijie commented on #2358
@rudy2steiner My requirement is simple - the command will list all the ledgers of an entry log file are still "active" (exists in metadata storage)

[2020-07-06 03:40] rudy2steiner commented on #2358
I notice there is a piece of code(BookieShell.printEntryLogMetadata): using a specific entry log file id to read the entry log file meta(EntryLogMetadata) which contains all ledger id, is that meet your requirement but without checking the ledger is active or not?

[2020-07-06 07:46] sijie commented on #2358
Your understanding is correct.

[2020-07-06 09:20] rudy2steiner commented on #2358
ok, thanks for your confirmation

[2020-07-10 07:27] sntfrc opened #2371 "ListBookiesCommand.printBookies throws NullPointerException if bookie DNS name can't be resolved"
**BUG REPORT**

***Description***

"bookkeeper listbookies -a" crashes on unresolvable DNS names for a bookie, instead of going on to print other bookies.

`java.lang.NullPointerException
        at org.apache.bookkeeper.tools.cli.helpers.CommandHelpers.getBookieSocketAddrStringRepresentation(CommandHelpers.java:46)
        at org.apache.bookkeeper.tools.cli.commands.bookies.ListBookiesCommand.pri

[2020-07-13 09:05] eolivelli commented on #2294
fixed in 4.11

[2020-07-13 09:05] #2294 closed

[2020-07-13 09:06] eolivelli commented on #2359
can we close this issue @Gray-Fullbuster  ? did you manage to achieve your goal ?

[2020-07-13 09:08] eolivelli commented on #2264
We are hitting this problem in several deployments of BK, with different applications (MagNews.com, HerdDB, Majordodo...) since we moved to BK 4.10.0 (perhaps even with 4.9.2).

The fix would be simple, we can consider the file as corrupted and jump outside the loop.

[2020-07-13 09:10] eolivelli commented on #2264
Even restarting the bookie is not fixing the issue, the file appears corrupted.

is there any change we did that could lead to rewriting/corrupting EntryLogger files ? we are using classic EntryLogger (not multi entry logs).

@jvrao  @sijie @reddycharan @ivankelly  have you ever seen this problem in production ?

[2020-07-13 10:55] eolivelli commented on #2264
Fast fix for production:
1) look for "Extracting entry log meta from entryLog" line in logs and get the entry log id.
2) Convert the entry log id to base16 and append '.log' (If entry log id is 4053 than look for file fd5.log)
3) remove that file (do a backup!)
4) reboot the bookie

[2020-07-13 11:01] #2359 closed

[2020-07-13 20:08] Ghatage commented on #2225
Hi @codelipenghui,

Please check: https://bookkeeper.apache.org/docs/4.11.0/admin/decomission/

Thanks @eolivelli for rebuilding the website and fixing this! I think we can close this.

[2020-07-14 02:39] rudy2steiner commented on #2371
I'd like to help!

[2020-07-14 05:32] eolivelli commented on #2225
@Ghatage the weird fact is that I didn't do anything special, I have just run the same script that our bot does to build the website.
I hope your new version of the website will be released soon

[2020-07-14 05:46] eolivelli commented on #2371
Cool.
Looking for you patch

[2020-07-15 18:08] sijie opened #2374 "Bookie is not able to transition back to writable when persistBookieStatusEnabled is enabled"
**BUG REPORT**

1. Please describe the issue you observed:

- What did you do?

Enable `persistBookieStatusEnabled` by setting it to true.

- What did you expect to see?

When a bookie is turned to readonly due to disk filling up, it should be able to turn back to writable after the disk space is reclaimed.

- What did you see instead?

Once a bookie is turned to readonly, it stays readonly foreve

[2020-07-15 21:02] abroddle opened #2375 "How to properly configure transportation level TLS in BookKeeper - Documentation does not work"
As part of our Apache Pulsar cluster, we are trying to configure the Apache Bookkeeper to support TLS encryption.  We have tried both PEM and JKS configurations and we have seen that the data on the channel is NOT encrypted.

We see in log files (journal) that the Bookie and Broker say they are using TLS and we originally thought we were good.

When we run a tcpdump to look at the network traffic

[2020-07-16 00:35] mikecaat opened #2376 "Is it better that the `listbookies` command return bookieIds?"
**BUG REPORT**

Since I'm not familiar with this product,
please let me know if there are my misunderstood points.

***Describe the bug***

Since I want to test the scale in feature of bookkeeper,
I want to check which ledgers are stored on which server.

To do so, I decide to use `listledgers` command with `-bookieid` option.
But I misunderstood that `listbookies` don't output bookieIds.

( BTW,

[2020-07-17 01:50] sijie commented on #2376
@mikecaat I agreed that it is better to use bookieId across different places. Although sometime the bookie id can be an IP address, it would be good to also display the domain name. So your suggestion is great in general. But we should also consider including the domain information when listing bookies.

[2020-07-17 07:27] lbenc135 opened #2377 "ContextualVersionConflict grpcio dependency conflict"
**BUG REPORT**

ORIGINAL ISSUE: https://github.com/apache/pulsar/issues/7477

***Describe the bug***

When installing `pulsar-client==2.6.0` there's a dependency conflict with grpcio library.

In `apache-bookkeeper-client==4.11.0` the dependency `grpcio<1.26.0` was introduced, but `pulsar-client` installs the latest version.

The dependency tree is (as I understand it):

- pulsar-client (2.6.0)

[2020-07-17 08:48] odidev opened #2378 "Build fail after updating "rocksdb" and "netty-tcnative-boringssl-static" package"
**BUG REPORT**

***Describe the bug***
After updating the latest version of netty-tcnative-boringssl-static (2.0.31.Final) and rocksdb(6.10.2) package in pom.xml, build of bookkeeper-server package is failing due to compilation warning.
And after removing "Werror" option from compilerArguments, build passed successfully.

***To Reproduce***

Steps to reproduce the behavior:
1. Update netty-tcnativ

[2020-07-17 10:13] eolivelli commented on #2378
Please also update netty.
The error means that they deprecated one method and you should use the new method, check the Docs of the new version of that library

[2020-07-17 23:41] mikecaat commented on #2376
@sijie Thanks for replying. How about the following output?

[code]

[2020-07-18 00:13] sijie commented on #2376
Sounds good.

[2020-07-18 02:58] rudy2steiner commented on #2376
I'd like to help

[2020-07-20 16:50] sijie opened #2382 "BookKeeper client should handle IP address changes of bookkeeper pods"
When bookies are running on Kubernetes and are using `useHostNameAsBookieID` to advertise bookie address, bookies are using pod names as advertised addresses. When a bookie pod is restarted, the pod name is not changed but the IP address has been changed. The bookkeeper client doesn't have a mechanism to realize the IP address change. So the bookkeeper client has to wait until TCP timeout to re-es

[2020-07-24 14:19] eolivelli opened #2385 "NullPointerException in DLEventLog.purgePrevious with ZK 3.6.1"
**BUG REPORT**
The error is due to sending an empty "multi" op to ZK, that is broken in 3.6.1 (see https://github.com/apache/zookeeper/pull/1407)

A workaround would be to not issue the "multi" operation in case there is no op to do.
It will mitigate the problem, when the client is using 3.6.1 and cannot rollback to 3.5.x and untill the fix won't be shipped in 3.6.2

***Describe the bug***

[code]

[2020-07-27 01:54] nsriram13 commented on #2377
+1 for this issue. Can the dependency for be relaxed for bookkeeper Python client to be `grpcio (any)`?

[2020-07-28 07:11] padma81 opened #2387 "Security vulnerabilities in the apache/bookkeeper-4.9.2 image"
**BUG REPORT**
A security scanner has reported the following CVEs in the apache/bookkeeper:4.9.2 image.

|**Component**|**Current Version**|**CVE**|**Severity**|**Version to be upgraded to**|**References**|
|-----|----|----|----|-----|-----|
|Apache log4j|1.2.17|CVE-2017-5645|CRITICAL|2.8.2|https://nvd.nist.gov/vuln/detail/CVE-2017-5645|
|Apache log4j|1.2.17|CVE-2019-17571|CRITICAL|2.8.2|https://n

[2020-07-28 09:17] padma81 commented on #2387
Even though, for Java, the upgraded version is mentioned as 8u241, it is better to to upgrade to the latest security fix available.

[2020-07-28 09:53] eolivelli commented on #2308
this issue is solved in 4.11, as we upgrade ZK

[2020-07-28 09:53] #2308 closed

[2020-07-28 09:54] eolivelli commented on #2215
delivered with 4.11.0

[2020-07-28 09:54] #2215 closed

[2020-07-28 09:56] eolivelli commented on #1912
obsolete

[2020-07-28 09:56] #1912 closed

[2020-07-28 09:56] #1815 closed

[2020-07-28 10:02] eolivelli opened #2388 "Create HTTP Server provider for Embedded Bookies"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
If you run the Bookie inside the same process of another storage system (like https://github.com/diennea/herddb or https://github.com/diennea/blobit) and you want to expose the Bookie API on the same Java Web Container, you need to implement it as a Java Servlet.

2. Indicate the importance of this issue to you (blocker, must-

[2020-07-29 07:58] eolivelli commented on #2387
In my opinion it is time to switch to JDK11 for 4.12.0

cc @ravisharda @sijie @jiazhai @merlimat

[2020-07-29 11:15] deepanjanpal opened #2391 "Static Source Code Security Scanner showing Command Injection vulnerability in Bookkeeper"
**Static Source Code Security Scanner showing Command Injection vulnerability in Bookkeeper**

***OS Command Injection in Bookkeeper***

A clear and concise description of what the bug is.

***To Reproduce***

Steps to reproduce the behavior:
1. Launch a source code scan with Checkmarx Static Code Scanner
2. After completion of source code scan , tool throws OS command injection vulnerability agai

[2020-07-30 01:34] sijie commented on #2387
@eolivelli +1 from me. Although we also need to consider that Pulsar is using JDK8.

[2020-07-30 01:36] jiazhai commented on #2387
+1

[2020-07-31 03:44] ravisharda commented on #2387
Pravega also supports Java 8 as of now. Switching to Java 11 looks good to me, as long as it also continues to work with Java 8.

[2020-07-31 09:24] holmes07 opened #2394 "Data deletion logic doesn't work"
**BUG REPORT**

***Describe the bug***
1.I got log like this :Space left on device /data11/bookkeeper/ledgers/current : 159412490240, Used space fraction: 0.95951813 > threshold 0.95.
2. then i set the namespace ttl from 86400 to  900 seconds
    conf after updated :
   "message_ttl_in_seconds" : 900,
   "subscription_expiration_time_minutes" : 0,
   "retention_policies" : {
    "retentionTimeInMi

[2020-08-02 14:53] codelipenghui opened #2395 "Limit the scan rate of entry log"
**FEATURE REQUEST**

When bookies doing entry log compaction, the bookie will scan the entry log and rewrite the data that not yet deleted to the new entry log. It's better to add a limiter for the scanner to limit the read entry rate and read bytes rate of the old entry log.
Currently, the `compactionRateByBytes` and the `compactionRateByEntries` are limit the entry readding not limit the entry r

[2020-08-02 16:52] eolivelli commented on #2395
Can we find a better name?

The new name looks like a typo :)

[2020-08-03 01:39] sijie commented on #2394
@holmes07 The minor compaction threshold is 20% (https://github.com/apache/pulsar/blob/master/conf/bookkeeper.conf#L477). It means that minor compaction only kicks in when the active data usage is below 20%. From your log, it seems that the data usage of active ledgers are still above 20%. You might need to check why those ledgers are still active.

[2020-08-03 11:11] codelipenghui commented on #2395
@eolivelli How about `compactionWriteRateByBytes` and `compactionReadRateByBytes` ?

[2020-08-03 11:41] eolivelli commented on #2395
@codelipenghui  yeah. Those names sound really better

[2020-08-04 06:05] rudy2steiner commented on #2388
Please assign it to me, I'll work on this!

[2020-08-04 06:31] eolivelli commented on #2388
@rudy2steiner thank you

With current github permission scheme I cannot assign the issue to you, but you can work on it, as you written it here I guess no one else will work on this task

This is an example, that code is working well on BlobIt and we are copy/pasted it in other products in my company :-)
https://github.com/diennea/blobit/blob/master/blobit-services/src/main/java/blobit/server/Serv

[2020-08-04 14:10] rudy2steiner commented on #2388
ok

[2020-08-07 03:44] dreamcatchernick commented on #2269
hi @aloyszhang  i also saw this problem a few days ago. We are using pulsar 2.6.0， could you please tell me how to solve this issue?

[2020-08-08 09:15] eolivelli opened #2396 "BP-41: Separate BookieId from Bookie Network Address"
**BP**
This is the master ticket for tracking BP-41: Separate BookieId from Bookie Network Address

We want to separate the concepts of BookieId from BookieSocketAddress.
Currently (up to 4.11.x) there is a too strict coupling from the ID of a Bookie and its location:
- We are storing BookieSocketAddresses (simply a hostname:port or ip:port pair) into Ledger Metadata
- The Identity of a bookie is

[2020-08-10 01:30] sijie commented on #2396
@eolivelli this is a great initiative!

[2020-08-10 02:18] aloyszhang commented on #2269
@dreamcatchernick use `DbLedgerStorage`  instead of `SortedLedgerStorage `

[2020-08-11 15:21] deepanjanpal commented on #2391
Hi @sijie ,
Thanks for looking into it , may i please request in case any updates over here.

[2020-08-12 09:24] bleacha870721 commented on #2162
May I ask how this problem was solved @sydnash

[2020-08-13 08:32] #2385 closed

[2020-08-13 08:33] #2197 closed

[2020-08-13 10:33] Jennifer88huang commented on #1979
@RaulGracia thanks for raising the issue. It seems that the `metrics.md` file in the `reference` folder has no content.

[2020-08-14 14:29] rvashishth commented on #2328
@eolivelli,  How the cluster behave if we need to scale down?  [Docs explain the way to manually decommission bookies](https://bookkeeper.apache.org/docs/latest/admin/decomission/),  is there a way to auto-decommission the bookies when deployed on Kubernetes as Statefulset.

[2020-08-14 16:50] eolivelli opened #2398 "LedgerOpenOp may perform connection to a bookie inside the ZooKeeper client thread"
While working on BP-41 I saw this potential problem.
During OpenLedgerOp (openLedger) we are executing blocking I/O operations against the bookies in the main thread of ZooKeeper client,
This may slow down the whole processing of the client because the ZooKeeper client has only one single thread that execute callbacks.
See the stacktrace (it is not an error, it is just a dump)

Suggestions:
- use

[2020-08-14 16:54] eolivelli commented on #2398
I will send a patch soon

[2020-08-14 16:56] eolivelli commented on #2398
the same happens here:
[code]

[2020-08-14 16:59] eolivelli commented on #2398
the same happens here:
at org.apache.bookkeeper.proto.PerChannelBookieClient.connect(PerChannelBookieClient.java:541)
	at org.apache.bookkeeper.proto.PerChannelBookieClient.connectIfNeededAndDoOp(PerChannelBookieClient.java:666)
	at org.apache.bookkeeper.proto.DefaultPerChannelBookieClientPool.intialize(DefaultPerChannelBookieClientPool.java:92)
	at org.apache.bookkeeper.proto.BookieClientImpl.loo

[2020-08-14 17:10] sijie commented on #2328
@rvashishth you can write a script to automate the process. You can check https://github.com/streamnative/charts/blob/master/scripts/pulsar/decommission_bookies.sh for example.

[2020-08-15 06:32] eolivelli opened #2399 "Move CI builds to ci-hadoop.apache.org"
This issues tracks the activities to move to the new Jenkins infrastructure.
We have jobs declared as "Jenkins DSL".

I will track here the work

[2020-08-15 06:35] eolivelli commented on #2399
I have renamed the seed job configuration to job_seed.groovy.bak, otherwise it will overwrite itself at first run

[2020-08-18 09:59] deepanjanpal commented on #2391
Hi ,
any updates on this?

[2020-08-18 11:05] sydnash commented on #2162
I wait a long time for it to complete. up to three hours.

[2020-09-01 09:02] Technoboy- opened #2405 "Detected both log4j-over-slf4j.jar AND slf4j-log4j12.jar on the class path, preempting StackOverflowError."
I find that bk depends on log4j-over-slf4j and slf4j-log4j12, sometimes this will cause error.
http://www.slf4j.org/codes.html#log4jDelegationLoop