[2020-09-01 09:09] eolivelli commented on #2405
@Technoboy- thanks for reporting this issue.
Do you mind trying to contribute a fix ?

[2020-09-01 10:10] Technoboy- commented on #2405
Sure, I will try to fix it , you can assign it to me.

[2020-09-01 10:25] eolivelli commented on #2405
Unfortunately we can "assign" an issue only to users with write permissions ('committers').
Feel free to work on the issue, when we merge your contribution to the repository you will be listed as author

[2020-09-02 02:17] #2405 closed

[2020-09-02 16:44] lhotari opened #2408 "[documentation] "The flat ledger manager is the default" is a false claim"
The documentation claims that "The flat ledger manager is the default".
https://github.com/apache/bookkeeper/blob/master/site/docs/latest/getting-started/concepts.md#use-the-flat-ledger-manager-in-most-cases

However, the default is HierarchicalLedgerManagerFactory and this can be seen at
https://github.com/apache/bookkeeper/blob/a0d49fcb65a40b2b49fbfb6c50f60c7a9f66f67f/bookkeeper-server/src/main/

[2020-09-02 17:19] eolivelli commented on #2408
You are right
It is also deprecated.

Can you please send PR? The website is in this repository

[2020-09-04 01:37] liangyuanpeng commented on #2212
Still not working.

I had try `docker/docker-compose.yml` and `deploy/docker-compose/docker-compose.yaml`
[code]

Actually, `deploy/kubernetes/gke/bookkeeper.yaml`  have   same problem.

[2020-09-04 03:04] rudy2steiner commented on #2374
I'd like to work on this issue

[2020-09-04 05:46] sijie commented on #2358
This is fixed by #2369

[2020-09-04 05:46] #2358 closed

[2020-09-04 05:56] sijie commented on #2264
This is fixed by #2373

[2020-09-04 05:56] #2264 closed

[2020-09-04 05:57] #450 closed

[2020-09-04 06:35] eolivelli commented on #2212
@liangyuanpeng  I have reopened the case.

Do you want to help in fixing it ?

[2020-09-06 08:37] WJL3333 commented on #2212
docker-compose pull the image apache/bookkeeper:latest  from dockerhub. which is still the old version.

[2020-09-07 13:33] eolivelli commented on #2382
This issue will be covered by BP-41

[2020-09-07 13:35] eolivelli commented on #2236
resolved with #2268

[2020-09-07 13:35] #2236 closed

[2020-09-07 21:13] fmancini97 opened #2411 "BufferedChannel.write() method never ends if the BufferedChannel class is instantiated with capacity equal to 0"
**BUG REPORT**

***Describe the bug***

If you instantiate a BufferedChannel with capacity equal to 0 and invoke the BufferedChannel.write() method, the execution of this method never finishes.

***To Reproduce***

Steps to reproduce the behavior:
1. Instantiate a BufferedChannel with 0 capacity
2. Invoke the write() method with a non-empty bytes sequence in input

I attach the class of tests that

[2020-09-07 21:21] eolivelli commented on #2411
How does this fact affects BK?
Do you have any issue in production or in test env?

[2020-09-08 22:04] francesco1997 commented on #2411
Journal class would freeze when writing data in its log file if Journal class initializes BufferedChannel class with 0 capacity.

I have no issue in production or in test environment. I found this bug while doing unit tests on BufferedChannel class.

[2020-09-12 04:13] WJL3333 commented on #2408
submit a pr here https://github.com/apache/bookkeeper/pull/2413

[2020-09-21 09:44] #2285 closed

[2020-09-23 11:01] HashZhang opened #2416 "bookie format redundant clean ledgerDirs and indexDirs"
https://github.com/apache/bookkeeper/blob/ddfeaf9a11fc82cb3b1225a5754285435f2f7fab/bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/Bookie.java#L1563

I think it maybe a mistake and should put outside the loop of clean journalDirs, as shown below:

[code]

[2020-09-23 11:18] eolivelli commented on #2416
@HashZhang
you are right
can you please send a PR ?

[2020-09-26 10:22] WJL3333 opened #2420 "How to fence ledger from bookkeeper shell？"
for test propose, when use `./bookkeeper shell simpletest -ensemble 3 -writeQuorum 3 -ackQuorum 3 -numEntries 10000`
for some time. just kill the command. the ledger metadata left in OPEN status.

is there any way to fence ledger from command line ?

[2020-09-26 16:09] lifepuzzlefun opened #2421 "Why DbLedgerStorage doesn't use indexDirectories to store index ？"
in this line just set basePath use ledgerDirsManager which only manage one dir
https://github.com/apache/bookkeeper/blob/2c3d8f55895890e73b58a43e337f7ff9ac140675/bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/SingleDirectoryDbLedgerStorage.java#L143

and just use variable basePath to initialize ledgerDirsManager and LedgerMetadataIndex
https://github.com/apache/bookkeeper

[2020-09-28 02:09] jiazhai commented on #2421
@WJL3333 right. indexDirectories will be ignored when use DbLedgerStorage .  indexDirectories is used in other type of ledgerstorage, such as interlivedLedgerStorage

[2020-09-28 04:15] WJL3333 commented on #2421
@jiazhai thanks for reply. is there an plan to use this config? i wonder if rocksdb for index and entrylogger on the same disk
harm the performance. if this is just ok. maybe i can fix the document.

[2020-09-28 06:06] eolivelli commented on #2421
I can't remember this request in the past.
We should definitely take care of this.

It will be necessary to handle backward compatibility, that is to let bookies that have RocksDB on the current folder work

[2020-09-29 08:15] WJL3333 commented on #2421
@eolivelli thanks for reply. it seems a lot to take care. i need take a deep look inside.

[2020-09-29 16:40] nicoloboschi opened #2422 "BP-42: New Client API - list ledgers"
This is the master ticket for tracking BP-42:

The new Client API (org.apache.bookkeeper.client.api.BookKeeper) aims to replace obsolete BookKeeper API but some features are not implemented yet, like the functionalities provided by BookKeeperAdmin.
For example, it does not expose a method to list available ledgers, comparable to BookKeeperAdmin#listLedgers().
low.
We could improving it adding:
1)

[2020-10-03 10:38] Technoboy- opened #2424 "Typo for method name"
Maybe we should rename
[code]
to
[code]
BTW，javadoc and site docs occur a lot of typo for ackknowledged -> acknowledged

[2020-10-03 10:38] Technoboy- opened #2425 "Typo for method name"
Maybe we should rename
[code]
to
[code]
BTW，javadoc and site docs occur a lot of typo for ackknowledged -> acknowledged

[2020-10-03 10:40] #2424 closed

[2020-10-03 14:49] Technoboy- commented on #2425
Should we fix this ? @sijie

[2020-10-03 14:53] eolivelli commented on #2425
Feel free to send a patch

Thanks

[2020-10-05 22:46] Ghatage commented on #2302
@karannparikh any update? Looking forward to your first contribution to BK!

cc @eolivelli @sijie

[2020-10-07 10:48] padma81 commented on #2387
It would be really helpful if anyone could provide an update on this issue.

[2020-10-08 04:27] #2416 closed

[2020-10-08 04:29] #2425 closed

[2020-10-08 10:48] ca-simone-chiorazzo commented on #2377
Is there any update on this? Due to the fact that bookkeeper requires grpcio==1.25.0, we are not able to install grpcio on a max os x environment with python3.8 because no wheel has been published.

Is there a plan to relax this dependency?

[2020-10-08 11:16] eolivelli commented on #2377
@ca-simone-chiorazzo do you have time to provide a fix ?

[2020-10-08 12:34] ca-simone-chiorazzo commented on #2377
@eolivelli Yes, I'm going to open a PR with a fix on the requirements

[2020-10-08 13:21] ca-simone-chiorazzo commented on #2377
@eolivelli I've opened https://github.com/apache/bookkeeper/pull/2432

[2020-10-08 13:23] eolivelli commented on #2387
In my opinion we should work in these areas:
- update the base Docker image
- move to JDK11
- update jackson-databind dependencies
- Apache log4j comes from ZooKeeper project probably, but probably we could drop it
- update Netty to latest version

@nicoloboschi @Ghatage @mino181295  do you have time to pick up this items ? dependency upgrade / docker image upgrades

[2020-10-08 13:36] eolivelli commented on #2387
I am trying to upgrade to JDK11 here #2433

[2020-10-10 10:37] eolivelli commented on #335
This is what we have currently
https://issues.apache.org/jira/browse/INFRA-14756

[2020-10-11 19:08] karanmehta93 commented on #2335
@jvrao @reddycharan This might be of our interest.

[2020-10-12 00:39] Ghatage commented on #2387
@eolivelli The requirement for netty is to be at 4.1.44-Final at the least.
It seems we are already at netty [4.1.50-Final](https://github.com/apache/bookkeeper/blob/41412bc647f94d6e13d8dde6daa3081c010d0806/pom.xml#L153) which happened [just a month ago](https://github.com/apache/bookkeeper/commit/7850554a8349cedf1d9236a242e2f7739b471bc9) so I think we are good on that for future releases. Should

[2020-10-12 05:32] eolivelli commented on #2387
I am not sure we are going to cut new releases out of branch-4.9.
It is very old, probably it may have sense to update it on branch-4.10.

Btw if there is an interest in making this update let's do it.

[2020-10-12 13:13] rdehouss opened #2437 "Error about the data directories in the docker README.md"
**BUG REPORT**

***Describe the bug***

A typo slipped in the [README.md of the docker folder](https://github.com/apache/bookkeeper/tree/master/docker#bk_data_dir)

It says

The error is on `/data/bookkeeper/ledger` which should be `/data/bookkeeper/ledgers` (with a "s" at the end)

***To Reproduce***

Steps to reproduce the behavior:
1. Go to [README.md#L220](https://github.com/apache/bookkeeper/

[2020-10-12 13:18] eolivelli commented on #2437
@rdehouss thanks for your bug report. do you mind sending a simple PR to fix the issue ?

[2020-10-14 14:35] #2377 closed

[2020-10-14 15:11] Technoboy- opened #2439 "Create BookieNettyServer after newBookie"
When constructs BookieServer, newBookie maybe throw exception and then to shutdown nettyServer.
[code]
Should we create BookieNettyServer after newBookie like below :
[code]

[2020-10-17 16:31] Ghatage opened #2442 "[Documentation] New website - Complete the 'Project' page"
### **Preamble**
The current Apache Bookkeeper website is a custom made and hard to maintain. Most frameworks and dependencies it uses are out of date, so we decided to move on to building a Docusaurus based website, inspired by our sister project Apache Pulsar's website.
For our new docusaurus based website, we have the initial skeleton of the code already merged (under `site2/`). We now need you

[2020-10-17 16:35] Ghatage opened #2443 "[Documentation] New Website - Complete the 'Community' Page"
### **Preamble**
The current Apache Bookkeeper website is a custom made and hard to maintain. Most frameworks and dependencies it uses are out of date, so we decided to move on to building a Docusaurus based website, inspired by our sister project Apache Pulsar's website.
For our new docusaurus based website, we have the initial skeleton of the code already merged (under `site2/`). We now need you

[2020-10-17 16:58] Ghatage commented on #545
@eolivelli This looks related to https://github.com/apache/bookkeeper/issues/2396. Perhaps we can close this after BP-41 is done.

[2020-10-17 17:03] Ghatage commented on #347
@karanmehta93 was asking about protobuf copies in [this slack thread](https://apachebookkeeper.slack.com/archives/C6G5104SF/p1601423412004900). Looking forward to his update on this.

[2020-10-17 17:09] Ghatage commented on #1935
@sijie @merlimat This doesn't seem to be flaky anymore. Do we still want to keep this issue open?

[2020-10-17 17:13] Ghatage commented on #1905
@adrianmo https://github.com/apache/bookkeeper/pull/2384 from @eolivelli improves the details around ZKException, was wondering if that would be good enough for this ticket as well.

[2020-10-18 03:32] Technoboy- opened #2444 "Auditor#startAudit seems a bug."
https://github.com/apache/bookkeeper/blob/b95c753a87a97114012e0af2b11972c3df01d48d/bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/Auditor.java#L1040
Auditor#startAudit will set shutDownTask to false ,
![image](https://user-images.githubusercontent.com/6297296/96358044-76dbfe80-1135-11eb-98e7-865a808a1341.png)

and let  https://github.com/apache/bookkeeper/blob/b95c753a87a9711401

[2020-10-18 03:33] Technoboy- commented on #2444
cc @eolivelli @sijie

[2020-10-18 03:37] #2444 closed

[2020-10-18 04:47] rudy2steiner commented on #2442
I will work on it

[2020-10-18 06:02] Abhey commented on #2443
@Ghatage I would like to work on this one.

[2020-10-18 08:15] eolivelli commented on #2444
Why did you close this issue?

[2020-10-19 07:25] adrianmo commented on #1905
Yes, that PR should fix the issue. Thanks for the heads up @Ghatage.

[2020-10-19 07:25] #1905 closed

[2020-10-19 10:12] eolivelli commented on #1449
@sijie @jiazhai  FYI I have filed this new INFRA issue
https://issues.apache.org/jira/browse/INFRA-21000

because it looks like the autobuild is not working

[2020-10-19 11:13] eolivelli opened #2445 "Builds of Docker tag bookkeeper:latest are failing"
While building the :latest tag The Docker autobuild system fails because it is trying to download BookKeeper from
https://archive.apache.org/dist/bookkeeper/bookkeeper-latest/bookkeeper-server-latest-bin.tar.gz

See this INFRA ticket for reference
https://issues.apache.org/jira/browse/INFRA-21000

Suggestions for a fix:
- tweak the "docker/hooks/build" file in order to not override BK_VERSION vari

[2020-10-19 12:15] #2445 closed

[2020-10-19 17:07] bmaluruEMC commented on #2391
Any update on this please?

[2020-10-19 17:30] eolivelli commented on #2391
we are working on releasing BK 4.11.1 and also we are fixing the Docker autobuild (see #2446 )

[2020-10-21 15:59] #2443 closed

[2020-10-21 18:40] Ghatage commented on #1922
@ivankelly I ran bkctl simpletest with nothing setup and it failed with printing the stack traces.. do you think we can close this now?

[code]

[2020-10-22 17:09] Ghatage opened #2451 "[Documentation] New website - Add sidebar to the documentation page"
### **Preamble**
The current Apache Bookkeeper website is a custom made and hard to maintain. Most frameworks and dependencies it uses are out of date, so we decided to move on to building a Docusaurus based website, inspired by our sister project Apache Pulsar's website.
For our new docusaurus based website, we have the initial skeleton of the code already merged (under `site2/`). We now need you

[2020-10-22 17:09] Ghatage commented on #2451
@Abhey @rudy2steiner @nicoloboschi and anyone who might be interested!

[2020-10-22 17:50] Abhey commented on #2451
@Ghatage I can pick this one up.

[2020-10-22 20:05] Ghatage commented on #2376
I think we can close this. @eolivelli's [BookieId client side change has this requirement satisfied](https://github.com/apache/bookkeeper/commit/057f85ec1b977379938350f12d7ec99ff1162f29#diff-cc8d018692ca6293f9d0cc157beb6c654f2519aab1ad3e83b8402f31c76eff7dR69).
Please let me know if we can close this issue @mikecaat

[2020-10-22 23:22] Ghatage commented on #1262
@jiazhai It seems this work was done in https://github.com/apache/bookkeeper/issues/762.
Only thing remaining is to remove the deprecated code from `org.apache.bookkeeper.stats`.
What do you recommend we do next?

[2020-10-22 23:30] Ghatage commented on #2371
This seems to be closed under #2380.
Please reopen this / open a new issue if you find it not to be the case.

[2020-10-22 23:30] #2371 closed

[2020-10-22 23:39] Ghatage commented on #2225
Closing this as its been fixed. Verified with 4.11.1 release website as well.
Thanks for reporting this!

[2020-10-22 23:39] #2225 closed

[2020-10-23 00:00] Ghatage commented on #2138
@karanmehta93 Could you please update this discussion in light of your latest `ByteBuf` changes under https://github.com/apache/bookkeeper/pull/2441?

[2020-10-23 01:22] karannparikh commented on #2302
Hey @Ghatage, I will be submitting my fix for review by next week or over the weekend. Looking forward to my first contribution.

[2020-10-23 05:54] #2170 closed

[2020-10-23 15:15] reddycharan commented on #2170
@Ghatage yes it makes sense to suppress the callstacktrace and print the appropriate error message.

[2020-10-25 03:14] Technoboy- opened #2454 "Typo of naming LedgerStorage#setExplicitlac"
[code]

[2020-10-26 01:42] codelipenghui commented on #2454
@Technoboy- Are you interested in pushing a fix for this issue?

[2020-10-27 04:31] Ghatage commented on #1262
Mailing list conversation: [Thread](http://mail-archives.apache.org/mod_mbox/bookkeeper-dev/202010.mbox/browser)

[2020-10-27 05:25] karanmehta93 commented on #2138
The ByteBuf changes in #2441 are orthogonal to this issue. Buffers were managed completely by BK client before and after this change as well. #2441 is an internal optimization, which should be transparent to all users of BK.

[2020-10-27 15:30] Technoboy- opened #2461 "Question about EntryMemTable"
Question 1.
It seems that no need to create SkipListArena in snapshot every time.
https://github.com/apache/bookkeeper/blob/b1e602afc93cfd6299c43f99d26c9a6b7bcd27a7/bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/EntryMemTable.java#L184

Question 2.
From the comment, we return the checkpoint of the snapshot, but it's the newSkipList.
https://github.com/apache/bookkeeper/blob/b1e602afc

[2020-10-27 15:31] Technoboy- commented on #2461
@eolivelli

[2020-10-28 03:07] liangyuanpeng opened #2462 "[Question] Could not grab a clean page for ledger"
**QUESTION**

All of my bookie just print this log, and i am not idea for it .

I had reboot machine and not working.

[code]

# Reproduce
I''m not sure how can reproduce to it, and i don't why just happend.

# Other
Bookie Number :  3
bookkeeper version: apache/bookkeeper:4.10.0
All Mem: 16G

docker-compose file:

[code]

Thanks any help!

[2020-10-28 03:25] liangyuanpeng commented on #2462
some page cache usage:

journal of node bk:
[code]

ledgers of node bk:
[code]

[2020-10-28 03:59] Ghatage commented on #2462
Very interesting bug. Looks like the within `InterleavedLedgerStorage` we are not able to find an eligible clean page.
This could happen if we fail to flush the ledgers in order to get a clean page however there aren't enough related details to be sure. @liangyuanpeng Is it possible to set your BK server log properties to DEBUG mode and restart the bookie?
We should hope to see more logs which can

[2020-10-28 04:00] Ghatage commented on #2442
Hi @rudy2steiner any update?

[2020-10-28 11:41] eolivelli opened #2463 "java.lang.NullPointerException with metadataServiceUri = zk:///ledgers (Default on Docker image)"
***Describe the bug***
if you configure a bad metadata service uri you can this error

java.lang.NullPointerException
	at org.apache.bookkeeper.meta.zk.ZKMetadataDriverBase.getZKServersFromServiceUri(ZKMetadataDriverBase.java:64)
	at org.apache.bookkeeper.meta.zk.ZKMetadataDriverBase.initialize(ZKMetadataDriverBase.java:186)
	at org.apache.bookkeeper.meta.zk.ZKMetadataBookieDriver.initialize(ZKMet

[2020-10-28 11:41] eolivelli commented on #2463
@nicoloboschi PTAL

[2020-10-28 11:52] nicoloboschi commented on #2463
I can take care of it

[2020-10-28 20:47] Ghatage commented on #1046
@karanmehta93 the checksum in the write path is a great addition. Can you contribute it to the community code?

[2020-10-29 02:22] Ghatage opened #2466 "BookKeeper code coverage is broken because of Jenkins migration"
**BUG REPORT**

We recently have initiated a move to the new jenkins at -> https://ci-hadoop.apache.org/job/BookKeeper/
However, the code coverage job we have at coveralls is still synced to the old jenkins at -> https://builds.apache.org/job/bookkeeper_codecoverage/

***To Reproduce***

Last run job at https://coveralls.io/github/apache/bookkeeper is from August 17 2020

cc @sijie @eolivelli @jia

[2020-10-29 06:02] eolivelli commented on #2466
I am not sure anyone ever taken those reports into consideration, apart from the days when we set them up.

Btw it would be cool to resume that work.

I would find it more useful during pull requests validation, because you can easily check if the new code is covered by tests

[2020-10-29 06:57] Ghatage commented on #2466
Yes my thoughts exactly.
Code coverage driven testing has proven to reduce bugs. I've been
championing this at work and want to bring the same aspect to the community.

Code coverage per pull request commit.
Optional merge barrier based on % coverage of the commit vs a preset
threshold.

On Wed, Oct 28, 2020, 11:03 PM Enrico Olivelli <notifications@github.com>
wrote:

[2020-10-29 08:10] Technoboy- opened #2467 "Remove redundant synchronized"
In FileInfo#setFenced
![image](https://user-images.githubusercontent.com/6297296/97542000-010f4700-1a01-11eb-9012-c1cb8cb9d206.png)
It's no need to synchronized anymore.

[2020-10-29 09:58] mikecaat commented on #2376
Great, we can close.

[2020-10-29 10:53] eolivelli commented on #2461
[code]
@Technoboy-  probably if you do not create a new SkipListArena the old one would be dirty and it is more effective (better performance) to start with a brand new one.
Probably you can try to remove that line and run all of the tests and see if something breaks, then it the change is "safe" you should run some perf test that exercise that code path (I don't know how to do it, it is to be des

[2020-10-29 10:56] eolivelli commented on #2461
// get the checkpoint of the memtable.
                    cp = this.kvmap.cp;

probably the comment "get the checkpoint of the memtable" is to be moved a few lines above,
in this point we are simply updating the reference to the new kvmap

[2020-10-29 13:20] nicoloboschi commented on #2463
@eolivelli maybe we should change default zkServer param? I'd like ready-to-run solution, like 'localhost'? I don't really know BK docker container use cases

Otherwise we may add some useful logs when the container starts, explaining where to set zkserver parameter

[2020-10-29 13:30] eolivelli commented on #2463
The problem is not about docker. The problem us the NPE.
We should report a better error.

No one will ever run the docker image without ZK

[2020-10-30 09:31] #2376 closed

[2020-10-31 10:21] eolivelli commented on #1533
I am working on this task.
Hopefully we can deliver this fix for 4.12.0.

[2020-11-02 01:25] codelipenghui commented on #2467
@Technoboy- Are you interested in pushing a PR?

[2020-11-02 02:22] Technoboy- commented on #2467
#2468

[2020-11-02 04:32] Abhey commented on #2451
@Ghatage Sorry last week I was working on a priority task at my organization and hence couldn't get much time to work on this. Will work on the issue this week and will keep you posted.

[2020-11-03 03:23] aloyszhang opened #2475 "BookieRequestHandler should provide remote address when catch exception"
**BUG REPORT**

***Describe the bug***
Currently, [BookieRequestHandler](https://github.com/apache/bookkeeper/blob/master/bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/BookieRequestHandler.java#L70)  only provides exception cause when catching exceptions. I think it's better to also log the  remote address, since it's helpful for trouble shooting if bookie have lots of connections.

[2020-11-03 10:37] eolivelli commented on #2461
@Technoboy- please close this issue if I have answered to your question

[2020-11-03 13:48] eolivelli commented on #2475
@aloyszhang do you mind trying to send a pull request with a fix for this problem ?
we are going to release BookKeeper soon, we could add your fix into the release

[2020-11-03 16:09] aloyszhang commented on #2475
I'll work on this soon.

[2020-11-04 09:08] rudy2steiner commented on #2442
sorry, for late response, i will complete it in this week!

[2020-11-04 11:11] #2475 closed

[2020-11-04 15:13] #1262 closed

[2020-11-06 06:44] xiemeilong commented on #1205
When will this be documented. It seems a useful feature.

[2020-11-06 07:23] #2388 closed

[2020-11-06 07:25] #1979 closed

[2020-11-06 09:01] #2467 closed

[2020-11-06 11:46] RaulGracia opened #2482 "Bookkeeper client might not close the channel for several minutes after a Bookie crashes"
**BUG REPORT**

***Describe the bug***
We have found a problem, which we believe to be mostly related to the Bookkeeper client. The problem is as follows: we deploy a 3-Bookie ensemble in Kubernetes along with Pravega. Then, we reboot one of the Kubernetes nodes and this forces the restart of all pods running on it, including one Bookie. In such deployments, we have multiple Segment Stores connect

[2020-11-06 12:29] eolivelli commented on #2482
@RaulGracia
It is interesting the fixed 15min timeout
we have a default of 30 minutes in bookieQuarantineTimeSeconds

but it looks like that here you are not changing that value, and that feature btw won't come into play in your case
https://github.com/pravega/pravega/blob/7e8a26133281a86ca8823c4665fd7d2fb836eeb1/segmentstore/storage/impl/src/main/java/io/pravega/segmentstore/storage/impl/bookkeep

[2020-11-06 14:09] odidev commented on #2378
This is fixed in #2379

[2020-11-06 14:35] RaulGracia commented on #2482
Thanks @eolivelli, yes the 15 min timeout is something to think about. I'm not aware that any timeout at the OS/Network level has been changed for that test, but of course I can double check (note that all the servers are running on the same cluster, so the Network/OS configuration should be the same for all of them).

Another question regarding the logic of the Bookkeeper client itself is: should

[2020-11-06 14:40] #2378 closed

[2020-11-10 09:13] #2408 closed

[2020-11-11 03:10] 4onni opened #2483 "[Bug] The metric 'bookie_journal_JOURNAL_QUEUE_SIZE' has been growing negatively"
***Describe the bug***

The metric 'bookie_journal_JOURNAL_QUEUE_SIZE' has been growing negatively.

Bookkeeper version: 4.10.0

***Screenshots***

Metrics:
![image](https://user-images.githubusercontent.com/5661665/98760318-01024480-240e-11eb-999b-620edfedbdf1.png)
Dashboard:
![image](https://user-images.githubusercontent.com/5661665/98760430-373fc400-240e-11eb-8a55-86bf4522185a.png)

[2020-11-11 08:50] #2461 closed

[2020-11-11 10:09] eolivelli commented on #2483
IIRC we should have fixed this issue in 4.11 or in current 4.12.
Do you have a way to try ?

[2020-11-11 11:15] fpj commented on #2482
This situation seems to be happening because `channelInactive` is called when the underlying TCP closes, and it is taking long to time out in the case the other end of the connection is gone.

I see here in `PerChannelBookieClient`:

https://github.com/apache/bookkeeper/blob/master/bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/PerChannelBookieClient.java#L567

that we are setting `SO

[2020-11-11 13:16] eolivelli commented on #2482
@RaulGracia do you see this behavior out of docker/k8s ?

`Another question regarding the logic of the Bookkeeper client itself is: should the client attempt to re-create the channel always that a client/read/write timeout is detected? Such timeouts are in the configuration of the Bookkeeper client and I wonder if something could be done in the presence of such events to re-resolve the Bookie IP.`

[2020-11-11 14:26] RaulGracia commented on #2482
Thanks @eolivelli, you probably are right in this sentence:

But, as @fpj also described, the Bookkeeper client does not receive the `channelInactive` event. I understand that this implies that the connection to the old Bookie (the dead one with the old IP) is not yet closed for 15 minutes, due to an unknown reason. Apparently, something is holding that connection, or at least preventing the Bookk

[2020-11-11 14:57] Technoboy- commented on #2483
Yes, please refer to #2290 .

[2020-11-11 16:57] eolivelli commented on #2482
You can enable the explicit lac feature (set ClientConfiguration#explicitLacInterval), that issues a write every X milliseconds of inactivity.
It will be like a tunable application level keep-alive.

[2020-11-11 17:35] RaulGracia opened #2485 "How to recover from "IOException: Missing ledger signature" error?"
**QUESTION**

We have done a set of experiments with restarting a Kubernetes node with Bookies running inside. In one of the experiment, we found that one Bookie was not able to restart which the following:
[code]
After this, the Bookie process starts but it is unable to do any IO, including the readiness probes of the [Bookkeeper Operator](https://github.com/pravega/bookkeeper-operator). The ques

[2020-11-13 07:59] fpj commented on #2482
@eolivelli It doesn't look like it helps. The problem is that the channel is not closing, and the signal of inactivity (call to `channelInactive` in `PerChannelBookieClient`) is taking around 15 minutes to come. This is possibly because the TCP connection is exhausting its number of retries to send some data without getting an acknowledgement.

[2020-11-16 12:11] eolivelli commented on #2485
@RaulGracia probably you can simply drop the file.
We should handle more gracefully this error and do not prevent the Bookie to startup.

Do you have time to contribute a fix ?

[2020-11-16 14:24] jiazhai commented on #2396
Would like to close this issue. since all related PRs are merged

[2020-11-16 14:24] #2396 closed

[2020-11-17 05:23] sixhj opened #2486 "no Golang client"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?

3. Provide any additional detail on your proposed use case for this feature.

[2020-11-17 08:26] LutzWeischerFujitsu opened #2488 "mvn package -DskipTests fails on AArch64, Fedora 33 (Java 11, also on CentOS8, Java 1.8)"
...
[INFO] Apache BookKeeper :: Parent ........................ SUCCESS [  4.748 s]
[INFO] Apache BookKeeper :: Build Tools ................... SUCCESS [  2.190 s]
[INFO] Apache BookKeeper :: Circe Checksum Library ........ FAILURE [  0.216 s]
[INFO] Apache BookKeeper :: Stats API ..................... SKIPPED
[INFO] Apache BookKeeper :: CPU Affinity Library .......... SKIPPED
[INFO] Apache BookKe

[2020-11-17 08:50] massakam opened #2490 "Strange behavior of ensemble placement policies"
**QUESTION**

Strange behavior of ensemble placement policies

We use BookKeeper with Pulsar. We tried enabling the ensemble placement policy on Pulsar's broker and we saw some strange behavior. Please tell me if these behaviors are as expected.

1. If the policy is `RackawareEnsemblePlacementPolicy`, bookies with rack information and bookies without rack information cannot coexist in the same clu

[2020-11-18 09:01] brianjcj opened #2492 "Bug in ArrayGroupSort.java (in line 88, keySize shall be groupSize)"
**BUG REPORT**

***Describe the bug***

I am browsing the codes and just suspecting there is a bug in ArrayGroupSort.java(https://github.com/apache/bookkeeper/blob/master/bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/ArrayGroupSort.java#L88)

in line 88, keySize shall be groupSize instead?

[code]

***To Reproduce***

N/A

***Expected behavior***

A clear and concise des

[2020-11-18 09:13] eolivelli commented on #2492
thank you @brianjcj

can you create a test case that reproduces a problem ?
this way if there is a bug it would be easy to fix it

[2020-11-18 11:06] brianjcj commented on #2492
I am very new to bookkeeper. I has never run the program yet. I were just randomly browsing the codes and found some logic problems here. so....

[2020-11-18 11:47] brianjcj commented on #2492
sorry. the code is correct. my mistake!

[2020-11-18 11:47] #2492 closed

[2020-11-18 12:41] eolivelli commented on #2492
@brianjcj  no problem
thanks for checking

[2020-11-18 16:53] #2442 closed

[2020-11-24 13:06] #2437 closed

[2020-11-25 10:05] RaulGracia opened #2497 "Bookkeeper crashes under high load (TooLongFrameException)"
**BUG REPORT**

***Describe the bug***

We have been consistently observing (last months) that, under high load situations, Bookies (v4.9.2) may permanently crash. At first glance, the main reason for the problem seems that at some point, messages from Bookkeeper client (v4.9.2) could be malformed/corrupted, leading the Bookie to crash due to unknown op codes (`IllegalStateException`) and Netty fr

[2020-11-25 16:53] fpj commented on #2497
This issue seems to be related to the issue described in this PR:

https://github.com/apache/bookkeeper/pull/1240

Looking at the description of the PR, it doesn't look like we figured the source of the corruption. The next PR that touches the associated code in `BookieProtoEnconding` is this one:

https://github.com/apache/bookkeeper/pull/1286

[2020-11-25 19:53] rodrigoreis commented on #2212
I've to:

* Create a ZK cluster
* And in my BK services I've to explicit configure this environment variables as bellow to make work:
[code]

[2020-11-25 20:04] rodrigoreis commented on #2167
I'm trying to implement a simple client for dotnet, I'm reading to understand just as it was done for the Pulsar. The calls are made using gRPC but there is no low level documentation about those calls. Any help!?

[2020-11-26 07:54] eolivelli commented on #2497
@fpj regarding #1286 the problem was with JDK9+ and the fix was not really a "fix", I never found the root cause.

I am still finding double releases with clients that use v2 protocol (like Pulsar) and the client issues some command not supported by v2 (like write explicit LAC)

@RaulGracia are you using v2 protocol ? which JDK version ?

[2020-11-26 08:25] RaulGracia commented on #2497
Thanks @eolivelli, regarding your questions:
- No, we are using V3 protocol version (this is the client configuration default and we do not change it).
- We have seen this problem with both JDK8 and JDK11.

I will try with newer Bookkeeper version, but due to the nature of the failure, we suspect that it could be related to the Bookkeeper client, as it may send malformed/corrupted messages to the

[2020-11-26 15:13] eolivelli commented on #2497
Do you have ackquorumsize < writequorumsize ?

[2020-11-26 15:19] RaulGracia commented on #2497
@eolivelli yes, in these experiments we use that configuration.

[2020-11-26 15:56] eolivelli commented on #2497
oh, IIRC @karanmehta93 (or someone from SF) experienced the same problem,
at that time the problem was that the application reused the same byte[] (or ByteBuf) that was passed to the BK LedgerHandle.
Basically once you pass your byte[] or ByteBuf to BK you cannot use it anymore.

[2020-11-26 16:13] RaulGracia commented on #2497
thanks @eolivelli, this is indeed a potential reason for this problem to happen: if the client is using a byte[] and it is concurrently modified by the application, it may lead to this kind of issues. However, I remember discussions about the possibility this happens with @andreipaduroiu and I remember that he was quite sure that such byte[] are not modified once delivered to the Bookkeeper client

[2020-11-26 17:46] merlimat commented on #2497
The problem is in that there is no back-pressure in the client when `ack < write`.

With `3-3-2`, for example, if one bookie is slower the client will retain the original entry until it's acked by the 3 bookies, making the amount of memory required in bk client to be unbound.

[2020-11-26 20:47] andreipaduroiu commented on #2497
We generate a CompositeByteBuf for every write using unique heap buffers backed by byte arrays. We never reuse the buffers or underlying arrays, nor do we touch those buffers again after creating them and sending them to the BK client.

[2020-11-26 21:35] eolivelli commented on #2497
It would be good to see this work committed to our community repo
https://github.com/apache/bookkeeper/pull/2182
Basically it is a checksum check on the bookie side, this way if the client sends garbage we can detect it immediately.

[2020-11-27 06:31] eolivelli commented on #2497
@RaulGracia if you run the test with 3-3-3 (or WQ =AQ) do you see the same problem?

[2020-11-27 07:11] zxc190615 opened #2499 "circe-checksum(mvn clean package -DskipTests) in ARM64 platform error: cpuid.h: No such file or directory"
[INFO] --- nar-maven-plugin:3.5.2:nar-javah (default-nar-javah) @ circe-checksum ---
[INFO] Running /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.272.b10-1.el7_9.aarch64/bin/javah compiler on 2 classes...
[INFO] + /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.272.b10-1.el7_9.aarch64/bin/javah -classpath /home/zxc/shandong/bookkeeper-master/circe-checksum/target/      classes:/root/.m2/repository/com/google/guava/

[2020-11-27 11:50] karanmehta93 commented on #2497
@merlimat We do timeout individual bookie operations as well, right? These would probably result in a delayed write failure and an ensemble change for a later write. (It is still possible to overload the client if the ingest rate is too high)

[2020-11-27 12:00] karanmehta93 commented on #2497
@andreipaduroiu Can you describe your bytebuf in a bit more depth? Can you also provide more information as to which Bk client API is used?
The current contract is that all buffers passed to the client will automatically be released once write is completed.

[2020-11-27 13:59] RaulGracia commented on #2497
I have been testing a change in the last couple of days that seems to have fixed the problem: As the problem looks client-related, I have updated the Bookkeeper client form `4.9.2` to `4.12.0` in Pravega to execute benchmark experiments (Bookies are still `4.9.2`). After doing this change, I have not been able to reproduce again the `TooLongFrameException` at the server side in the last 2 days (no

[2020-11-27 23:17] michaeljmarshall opened #2500 "Documentation Clarification for dbStorage_writeCacheMaxSizeMb Config"
In the `bk_server.conf` file, the description of `dbStorage_writeCacheMaxSizeMb` says that "it should be big enough to hold a sub". Here is the exact reference:

https://github.com/apache/bookkeeper/blob/3a8f4b4d3e762ac24a0563eeaffd068efaab2b81/conf/bk_server.conf#L660-L663

I have two questions: what is a sub and how do I calculate the likely size of my sub to ensure good performance?

[2020-11-28 19:25] karanmehta93 commented on #2497
FYI @jvrao @Ghatage , something that we might also run into (under heavy load).
TLDR, netty version should be upgraded.
I have seen instances of this stack trace before in some first party clusters.

[2020-11-28 19:33] Ghatage commented on #2497
@karanmehta93 Thanks for bringing this up!
I think we can go only as high as `4.1.50.Final` before we start hitting other issues with dependent services.

[2020-11-28 19:34] Ghatage commented on #2497
@karanmehta93 Thanks for bringing this up!
I think we can go only as high as 4.1.50.Final before we start hitting other issues.

[2020-11-30 08:09] sijie commented on #2500
@michaeljmarshall It should be:

[code]

@Jennifer88huang Can you take a look at this documentation issue?

[2020-11-30 12:10] fpj commented on #2497
@karanmehta93 @Ghatage do you know which version of BK you're using when you hit this issue? As @RaulGracia pointed out, there are a few bug fixes in Netty 4.1.32-FINAL that might have resolved this, and if I'm not mistaken, the upgrade from `4.1.31.Final` to `4.1.32.Final` happened in `4.10.0`.

I'm asking because it would be important to know whether the upgrade to `4.1.32.Final` is sufficient f

[2020-11-30 17:14] michaeljmarshall commented on #2500
@sijie - thanks for the clarification. That certainly helps.

[2020-11-30 22:39] karanmehta93 commented on #2497
Looks like we are currently using `4.1.22.Final` version. I might have to do a deeper dive to check if we still see these ST's.

[2020-12-01 04:31] Jennifer88huang commented on #2500
@michaeljmarshall Thanks for raising the issue. Fixed in the docs in https://github.com/apache/pulsar/pull/8756/

[2020-12-01 16:58] #2500 closed

[2020-12-02 09:59] eolivelli opened #2504 "bin/bkctl cluster init fails with "java.lang.IllegalArgumentException: No service URI is provided""
**BUG REPORT**
I am trying to setup a StreamStorage Cluster, but the command to init the cluster is not working.

***Describe the bug***

If you run this command, there is no error and no way to understand what to do (without checking into BK code)

`bin/bkctl cluster init`

[code]

***Expected behavior***

The command succeedes

***Suggestions***
We should document how to start with the BK Stream

[2020-12-02 10:01] eolivelli commented on #2504
@Jennifer88huang the stream storage service is the state storage for Pulsar Functions
probably it is better to document how it works in the BookKeeper website
http://bookkeeper.apache.org/docs/4.12.0/overview/overview/

[2020-12-02 10:43] eolivelli opened #2505 "NullPointerException during the stop of a BookKeeper with BookKeeper Stream Storage Server"
**BUG REPORT**

***Describe the bug***

When you stop a Bookie with the StreamStorage server enabled you can see a scary NullPointerException.

We should avoid to throw the NPE, that is usually the symptom of a bug

***To Reproduce***

Steps to reproduce the behavior:
1. Start a bookie with `extraServerComponents=org.apache.bookkeeper.stream.server.StreamStorageLifecycleComponent`
2. Shutdown the

[2020-12-02 10:58] eolivelli commented on #2504
The right command is:
`bin/bkctl cluster init zk://localhost:2181/ledgers`

and you must not have run:
`bin/bkctl bookies init`
otherwise the command will fail with a meaningless error message

[2020-12-02 11:16] eolivelli commented on #2273
This issue has been fixed with BK 4.11

[2020-12-02 11:16] #2273 closed

[2020-12-02 14:43] Jennifer88huang commented on #2504
@eolivelli Thanks for your info. I'll take a look and deal with it this week.

[2020-12-03 04:57] rudy2steiner commented on #2505
I'll work on it

[2020-12-03 07:36] michaeljmarshall opened #2506 "Autorecovery Process Tries to Connect to Bookie that Cleanly Exited Cluster"
**BUG REPORT**

***Describe the bug***

After a bookie gracefully shuts down and leaves the cluster, autorecovery processes try (very frequently) to connect to the shutdown bookie leading to a ton of unnecessary calls, unnecessary logging, and increased CPU utilization.

***To Reproduce***

I am running bookkeeper as part of a pulsar cluster, so my process to stand up the bookkeeper nodes, zookeep

[2020-12-03 07:51] eolivelli commented on #2506
The BookKeeper client is using the 'available bookie' information only in the write path, when it uses the PlacementPolicy to choose which bookie to write to.
IIRC  there is no preliminary check on the availability of the bookie before readning.

btw it would be better that the BK client uses the availability information to direct the first read trial to an available bookie, and we can improve it.

[2020-12-03 08:18] eolivelli commented on #2504
With the BK package in Pulsar there is no problem, but in that case users are not using `bkctl` but `pulsar initialize-cluster-metadata `

btw StreamStorage is part of BK, so we should have here the docs and it should work without Pulsar

[2020-12-03 10:26] #2483 closed

[2020-12-04 06:16] michaeljmarshall commented on #2506
That would certainly explain he behavior I'm seeing. Further, I reproduced the problematic behavior today, and while looking at the pulsar brokers (also users of the BK client), I noticed that they were logging the same errors as well (and very frequently, too).

This is what I am hoping we'll be able to do. I am new to the Bookkeeper project, but from my perspective, it seems essential that clien

[2020-12-04 07:53] michaeljmarshall opened #2508 ""BookKeeper Internals" link is broken in README"
**BUG REPORT**

***Describe the bug***

The `BookKeeper Internals` link results in a `Not Found` web page.

***To Reproduce***

Steps to reproduce the behavior:
1. Go to https://github.com/apache/bookkeeper/blob/master/README.md#contributors
2. Click on `BookKeeper Internals` (or [this](https://bookkeeper.apache.org/docs/master/bookkeeperInternals.html))
3. See the `Not Found`

***Expected behavio

[2020-12-04 16:11] #2451 closed

[2020-12-08 10:38] QiAnXinCodeSafe opened #2509 "There is a vulnerability in Apache Hadoop 2.7.3,upgrade recommended"
https://github.com/apache/bookkeeper/blob/00622bce6279ecf40fe044abe5bd7a29722b2535/pom.xml#L136

CVE-2017-15718 CVE-2018-1296 CVE-2017-3166 CVE-2018-8009 CVE-2016-6811 CVE-2018-8029 CVE-2018-11768 CVE-2017-15713

Recommended upgrade version：
2.10.0

[2020-12-08 10:41] QiAnXinCodeSafe opened #2510 "There is a vulnerability in jackson-databind 1.9.11 ,upgrade recommended"
https://github.com/apache/bookkeeper/blob/00622bce6279ecf40fe044abe5bd7a29722b2535/pom.xml#L140

CVE-2017-15095 CVE-2018-7489 CVE-2019-14540 CVE-2019-16335 CVE-2019-17267 CVE-2019-14893 CVE-2018-5968 CVE-2019-10172

Recommended upgrade version：
2.6.7.4

[2020-12-08 10:43] QiAnXinCodeSafe opened #2511 "There is a vulnerability in Vert.x 3.5.3,upgrade recommended"
https://github.com/apache/bookkeeper/blob/00622bce6279ecf40fe044abe5bd7a29722b2535/pom.xml#L171

CVE-2018-12544 CVE-2019-17640 CVE-2018-12542
Recommended upgrade version：
3.9.4

[2020-12-08 10:47] QiAnXinCodeSafe opened #2512 "There is a vulnerability inApache Thrift 0.12.0,upgrade recommended"
https://github.com/apache/bookkeeper/blob/00622bce6279ecf40fe044abe5bd7a29722b2535/pom.xml#L149

CVE-2019-0205 CVE-2019-0210

Recommended upgrade version：
0.13.0-hotfix.1

[2020-12-08 10:54] QiAnXinCodeSafe opened #2513 "There is a vulnerability in Apache Commons Compress 1.15,upgrade recommended"
https://github.com/apache/bookkeeper/blob/00622bce6279ecf40fe044abe5bd7a29722b2535/pom.xml#L122

CVE-2019-12402 CVE-2018-11771 CVE-2018-1324
Recommended upgrade version：
1.19

[2020-12-08 10:58] fpj commented on #2513
Thanks for reporting this issue. I would encourage reading the security guidelines of Apache before reporting such issues:

http://apache.org/security/

In particular, the discussion of vulnerabilities is encouraged to be private.

[2020-12-08 18:59] #2422 closed

[2020-12-08 21:23] frankjkelly commented on #2220
Also seeing something similar in Bookkeeper `4.10` (part of Pulsar `2.6.1`)

{noformat}
19:46:57.746 [main] ERROR org.apache.bookkeeper.bookie.Journal - Invalid record found with negative length: -91356163
19:46:57.746 [main] ERROR org.apache.bookkeeper.bookie.Bookie - Exception while replaying journals, shutting down
java.io.IOException: Invalid record found with negative length -91356163
{noform

[2020-12-08 21:42] eolivelli commented on #2220
@frankjkelly the error seems pretty different
Can you please open a new ticket?

[2020-12-08 21:50] frankjkelly commented on #2220
It's OK I figured out a way around my issue using `bookkeeper shell bookieformat -deletecookie -f` on the bookkeeper pod experiencing the problem and then restarted the node and the problem went away

[2020-12-09 01:19] xuesongxs opened #2514 "[website] The links in the doc body do not work"
**BUG REPORT**

***Describe the bug***
![image](https://user-images.githubusercontent.com/54351417/101561101-a9043100-39ff-11eb-9f9e-bf3fd0d221b9.png)

[2020-12-09 06:26] Ghatage commented on #2513
@fpj FWIW I think this is a bot account which reports vulnerabilities for Pulsar. I've seen and fixed a few of those in Pulsar.
However now I guess it's also looking at Bookkeeper.

@sijie perhaps its worthwhile to look at the way this tool reports problems especially for Pulsar given its larger user base.

[2020-12-09 06:28] sijie commented on #2513
@Ghatage yeah. noted. we are thinking about integrating security scanning tools into release processes.

[2020-12-09 06:30] #2463 closed

[2020-12-09 16:07] eolivelli commented on #2514
it looks like any link on the page cannot be clicked

you can reach the release notes from the download page
http://bookkeeper.apache.org/releases/

We are working on a new website, I hope we can set it up soon

[2020-12-09 16:08] eolivelli commented on #2499
I am not sure we can do anything,
probably it would be better to break the build with some maven-enforcer rule.

it would be great to support this architecture, but we need some expert

[2020-12-09 16:55] amitvc opened #2518 "Broken link (basic concepts) under Getting started in the readme documentation"
**BUG REPORT**

***Describe the bug***
The  **basic concepts** is broken in the Getting started section in the readme on the project's github page.
A clear and concise description of what the bug is.

***To Reproduce***
Click on **basic concepts** link on the readme

Steps to reproduce the behavior:
1. Click ** basic concepts** link.
2. Takes you to https://bookkeeper.apache.org/docs/master/bookke

[2020-12-09 16:56] amitvc commented on #2518
Also this link is broken - https://bookkeeper.apache.org/docs/master/bookkeeperInternals.html

[2020-12-09 16:58] eolivelli commented on #2518
@amitvc  with @Ghatage and @nicoloboschi we are working on a new website.
if you want you can join the effort, I am sure that @Ghatage  and @nicoloboschi will be happy to introduce to this important effort,
feel we to ping them on slack

[2020-12-09 17:08] amitvc commented on #2518
Sounds good @eolivelli . I will ping them on slack channel.

[2020-12-11 20:20] michaeljmarshall commented on #2506
@eolivelli what do you think it'll take to update the bookkeeper client to prevent this behavior? Would this be large enough to be a proposal, or is it simply a feature? I'm interested in helping contribute a solution, but I'm new to the project, so I'll need some direction. Thanks!

[2020-12-11 21:29] eolivelli commented on #2506
Please try to set up a draft PR.
If the patch is too bug then we will start a BP.

I am not sure we need a configuration flag.

I guess that it is enough to ask to the BookieWatcher if a bookie is available before trying to use it, so it is already something very straightforward and expected

[2020-12-11 22:50] michaeljmarshall commented on #2518
Same as https://github.com/apache/bookkeeper/issues/2508

[2020-12-11 22:51] michaeljmarshall commented on #2506
Thanks for the direction. I'll look into the `BookieWatcher` and try to get a PR up soon.

[2020-12-14 08:19] michaeljmarshall commented on #2506
@eolivelli - after digging into the project a bit, I can see that there could be an improvement to the bookie client. However, I think the autorecovery process itself could also be improved by improving the logic in the following method:

https://github.com/apache/bookkeeper/blob/a1af31e915ec74a5066b8f1dadb15fd8cfaf8d43/bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerChecker.jav

[2020-12-17 16:00] RaulGracia opened #2521 "Out of direct buffer memory during moderate workload in Bookkeeper"
**BUG REPORT**

***Describe the bug***

We are testing Bookkeeper 4.9.2 (via Pulsar). The experiments consists of a set of 5-minute write/read workloads at 250MBps (1KB events). On each 5-minute workload, we vary the number of producers/readers (1, 10, 50, 100) and topic partitions (1, 10, 100, 500, 1000, 5000). We use 3 Bookies (jointly deployed with 3 Pulsar Brokers) and we write to Bookkeeper u

[2020-12-17 19:59] anvinjain opened #2522 "bookkeeper shell cookie_get command fails in pulsar v2.7.0"
**BUG REPORT**

***Describe the bug***
When executing `bin/bookkeeper shell cookie_get`, the command fails with no such method error.
[code]

A clear and concise description of what the bug is.

***To Reproduce***

Steps to reproduce the behavior:
1. Install pulsar locally in minikube
2. `kubectl exec -n pulsar -it "pulsar-mini-bookie-0" -- /bin/bash`
3. In the container, execute: `bin/bookkeeper

[2020-12-17 20:05] anvinjain commented on #2522
Already reported issue apache/pulsar#8993 can be closed if this is being fixed in bookkeeper

[2020-12-17 20:51] eolivelli commented on #2522
@anvinjain are you interested in sending a patch?
We have to upgrade the dependency in pom.xml, fix build issues and update LICENSE files (just grep and fine where license references are)

[2020-12-17 21:17] anvinjain commented on #2522
Sure, I will try to submit one in a couple of days

[2020-12-23 23:23] #2522 closed

[2021-01-05 03:38] michaeljmarshall commented on #2506
@eolivelli - what do you think about my comments on the above method? Thanks!

[2021-01-07 01:29] thinker0 opened #2528 "Broken Bookie"
**BUG REPORT**

***Describe the bug***

Broken bookie

***To Reproduce***

***Expected behavior***
[code]

A clear and concise description of what you expected to happen.

***Screenshots***
![image](https://user-images.githubusercontent.com/357785/103839449-bbdb5580-50d2-11eb-8796-814df33cdb3d.png)

If applicable, add screenshots to help explain your problem.
[code]

***Additional context***
Resta

[2021-01-11 10:33] hangc0276 opened #2529 "Bookie should not shutdown when disk IO error"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
In current Bookkeeper implementation, when disk occurs IO error, eg, disk readonly failure or disk sector failure, it will trigger bookie shutdown and the bookie can't startup before the bad disk kicked off by admin.
In my production, we has 24 disks per node and the disks' failure rate is high enough. If the bookie shutdown w

[2021-01-11 11:43] hangc0276 commented on #2529
Could you give me some suggestion? @sijie @merlimat @ivankelly @eolivelli @jiazhai

[2021-01-12 03:41] Jennifer88huang-zz opened #2530 "Some content do not display"
**BUG REPORT**

The following content do not display well or have "URL not found" error.

***To Reproduce***

1. Some community member could not open [this page](https://bookkeeper.apache.org/docs/master/bookkeeperStarted.html), when I open it, I found that some content is not displayed fully, see screenshot below.
![image](https://user-images.githubusercontent.com/47805623/104266532-c4fd6580-54ca

[2021-01-12 07:21] eolivelli commented on #2506
@michaeljmarshall your proposal makes sense to me.
I wonder if we should add a configuration entry in order to allow users to fallback to the legacy behaviour

cc @reddycharan @karanmehta93 @ivankelly @sijie

[2021-01-12 07:46] eolivelli opened #2531 "Noisy stacktrace always printed at boot"
**BUG REPORT**

Here an user reported a spammy log
https://github.com/apache/pulsar/issues/9138

Basically the problem is here:
https://github.com/apache/bookkeeper/blob/master/bookkeeper-server/src/main/java/org/apache/bookkeeper/client/DefaultBookieAddressResolver.java#L59
we are printing the stacktrace of the Exception, but we should not, it is only a problem in the log line

***Expected behavi

[2021-01-12 09:29] dianacle commented on #2531
I can commit a fix

[2021-01-13 07:21] #2513 closed

[2021-01-13 07:22] #2509 closed

[2021-01-13 07:26] eolivelli commented on #2420
you can use the 'readledger' with -force-recovery option
something like`
bookkeeper shell readledger -ledgerid XXX -force-recovery `

please close this ticket if you see it works

[2021-01-13 07:27] eolivelli commented on #2411
I am closing this ticket as it does not affect production users

[2021-01-13 07:27] #2411 closed

[2021-01-13 07:27] eolivelli commented on #2399
we moved all to GitHub actions, this ticket may be closed

[2021-01-13 07:28] eolivelli commented on #2399
before closing this issue we should remove the .test-infra directory, a patch is neeeded

[2021-01-13 07:31] eolivelli commented on #2382
this issue is covered by BP-41.

the fix is to set bookieId in your bk_server.conf.
we should document a possible upgrade story, but for new clusters it is quite easy to do it.

This is how we did it in HerdDB
https://github.com/diennea/herddb/commit/a77804d67cc4be1668f75dea040c356fa4542131

[2021-01-13 07:31] #2382 closed

[2021-01-13 09:56] eolivelli commented on #2529
in my opinion we do not have tools and features to handle this case.
but definitely we should do something
I have only experience of single disk Bookies

probably @jvrao @karanmehta93 or @merlimat  and @sijie may have more experience to share

[2021-01-13 10:07] sijie commented on #2529
@hangc0276 as we discussed offline, we should mark a disk as broken and trigger auto-recovery to replicate the entries on that disk.

[2021-01-14 12:06] WJL3333 commented on #2420
tks, i'll close the issue.

[2021-01-14 12:06] #2420 closed

[2021-01-16 01:29] AthenaXiao opened #2539 "Using a cryptographically weak Pseudo Random Number Generator (PRNG)"
We are a security research team at Virginia Tech. We are doing an empirical study about the usefulness of the existing security vulnerability detection tools. The following is a reported vulnerability by certain tools. We'll so appreciate it if you can give any feedback on it.

**Vulnerability Description**:

In file [bookkeeper/bookkeeper-server/src/main/java/org/apache/bookkeeper/client/DynamicW

[2021-01-16 06:01] WJL3333 opened #2540 "Support ledger read method based on the startLedgerId and max bytes"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
some method like `LedgerHandle.readAsync(long startEntryId, long maxBytes)`
which will try to read ledger until maxBytes meets or maxPos.

2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
should-have.
this can have a better control of response size returned to the caller.
and `Ka

[2021-01-16 07:20] eolivelli commented on #2539
That class in not related to security mechanisms, so it is not worth to use a SecureRandom

Thanks

[2021-01-16 07:20] #2539 closed

[2021-01-18 09:09] Shoothzj opened #2544 "ConcurrentModificationException when print LinkedList"
**BUG REPORT**

***Describe the bug***

![image](https://user-images.githubusercontent.com/12933197/104894609-e0c3a880-59af-11eb-963e-2245f234507c.png)

***To Reproduce***
![image](https://user-images.githubusercontent.com/12933197/104894485-be318f80-59af-11eb-8b7e-14a7e4a196af.png)

### What should we do ?
Do not print the linkedList
or
use read write lock to protect the list

By the way, will it

[2021-01-18 10:03] WJL3333 commented on #2544
LinkedList is not thread safe. Any Bookie error log or some other information? @Shoothzj

[2021-01-18 11:30] Shoothzj commented on #2544
Currently I have not log according to it. Maybe concurrently open the ledger  and flush?

[2021-01-18 13:37] eolivelli commented on #2544
that variable should be a CopyOnWriteArrayList and not a simple LinkedList

see here:
https://github.com/apache/bookkeeper/blob/master/bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/EntryLogManagerForEntryLogPerLedger.java#L277

probably this issue is a result of a refactor

[2021-01-18 14:52] Shoothzj commented on #2544
Apparently, change it to CopyOnWriteArrayList can fix this problem.
But may be there is another solution, see these code:
![image](https://user-images.githubusercontent.com/12933197/104929911-7b87ab80-59df-11eb-97a6-5cb8e351c722.png)
![image](https://user-images.githubusercontent.com/12933197/104929985-8e01e500-59df-11eb-8054-afd29aeca086.png)

May be we should add synchronize on method **commitEn

[2021-01-18 15:00] eolivelli commented on #2544
probably add those new synchronization points may cause additional issues

[2021-01-18 15:20] Shoothzj commented on #2544
The two children class of EntryLogManagerBase use different trick of sync.
One **EntryLogManagerForEntryLogPerLedger** use CopyOnWriteArrayList,
Another class EntryLogManagerForSingleEntryLog use volatile for replace reference, and synchronize for add

If we change **EntryLogManagerForSingleEntryLog** to CopyOnWriteArrayList, the other synchronize block like
![image](https://user-images.githubuser

[2021-01-19 00:47] Shoothzj commented on #2544
This annotation may prove that add sync is right, how about put sync on this method
![image](https://user-images.githubusercontent.com/12933197/104974427-f201c900-5a32-11eb-9ffd-7e572128e919.png)

[2021-01-19 00:55] Shoothzj commented on #2544
Refer to the addEntry method,
**EntryLogManagerForEntryLogPerLedger** locks per ledger
**EntryLogManagerForSingleEntryLog** locks itself

How about make the synchronization points only on call of **createNewLog** in class EntryLogManagerForSingleEntryLog.
Why **createNewLog** can't treat equality?

[2021-01-20 02:56] Shoothzj opened #2545 "OutOfDirectMemory during GarbageCollector"
**BUG REPORT**
Bookkeeper version 4.12.0 OutOfDirectMemory during GarbageCollector. It can't self-healing. Consequencely, disk being writing full.

***Screenshots***

![image](https://user-images.githubusercontent.com/12933197/105120936-28604680-5b0e-11eb-97c3-d2efcea3db49.png)

***Additional context***
JVM params
[code]
bk_conf and log
[conf_and_log.zip](https://github.com/apache/bookkeeper/files

[2021-01-20 06:56] hsaputra commented on #1205
@sijie , @eolivelli - seems like the issue is still missing documentation for the Table service API

[2021-01-21 03:44] ShPrajpati opened #2546 "Bookkeeper TLS upgrade"
I run a bookkeeper cluster that is backend for pulsar, it has no TLS and I want to turn TLS on specificallu using mTLS without bringing pulsar down. Is there a way I can achieve that?

[2021-01-24 02:03] AthenaXiao commented on #2539
Thank you so much for replying. We agree that this reported case is unable to know the context. There might be a gap between the tools and the demands in practices. We want to collect some information to narrow down the gap. We'll so appreciate it if you can share some opinions about the following questions. Your feedback is important for us to help improve the state-of-the-art.

1. What kind of s

[2021-01-26 18:27] dlg99 opened #2550 "Stream tests fails to run with “java.lang.UnsatisfiedLinkError: 'long org.rocksdb.LRUCache.newLRUCache(long, int, boolean, double)'”"
**BUG REPORT**

***Describe the bug***

Stream tests fails to run with “java.lang.UnsatisfiedLinkError: 'long org.rocksdb.LRUCache.newLRUCache(long, int, boolean, double)'”

***To Reproduce***

cd bookkeeper/stream/statelib
mvn clean install -DskipTests
mvn test -DstreamTests -Dtest=org.apache.bookkeeper.statelib.impl.rocksdb.checkpoint.RocksCheckpointerTest

Fails to run with “java.lang.Unsatisfi

[2021-01-26 18:55] dlg99 opened #2552 "DLCheckpointStore rethrows exceptions as FNFE but swallows the rootcause"
**BUG REPORT**

***Describe the bug***

DLCheckpointStore rethrows exceptions as FNFE but swallows the rootcause
This complicates (even makes it near impossible) to troubleshoot the problem

***To Reproduce***

got the
 ERROR org.apache.bookkeeper.statelib.impl.rocksdb.checkpoint.RocksCheckpointer - Failed to restore rocksdb ...
java.io.FileNotFoundException: ..../metadata
without any additional i

[2021-01-27 10:14] RaulGracia opened #2557 "Bookkeeper docker image build fails because of deprecated Python version for pip"
**BUG REPORT**

***Describe the bug***

The Bookkeeper image relies on Python 2.7 and `pip` to install `zk-shell`. To install `pip`, the Dockerfile uses `get-pip.py` that will install the most recent version of `pip`. However, the new version since January 2021 is no longer supporting Python 2.x. Actually, this warning message was present when building the image:
[code]
Now, the support to Python

[2021-01-27 12:56] #2557 closed

[2021-01-27 20:25] dlg99 opened #2559 "Stream storage: allow use of the hostname instead of the IP adress"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

Allow stream storage use of the hostname instead of the IP address.
Small dev environment can have IP addresses change but uses persistent host names.

2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?

blocker

[2021-01-29 16:31] eolivelli commented on #1205
@hsaputra you are totally right !

we really need doc for this feature

cc @Jennifer88huang

[2021-01-29 18:14] dlg99 opened #2561 "Overly long log line at ReadAheadEntryReader"
**BUG REPORT**

***Describe the bug***

Found a log with single log line of over 5 mil characters long
"org.apache.distributedlog.ReadAheadEntryReader - Starting the readahead entry reader for ..." + the details of ~16000 segments.

***Expected behavior***

something more compact. I.e. first N segments

[2021-01-29 18:19] sursingh opened #2563 "Rocksdb DLCheckpoint SST file corruption in statestore"
**BUG REPORT**

***Describe the bug***

During checkpointing large SST files can get corrupted. Since the SST files are shared among checkpoints, this will not be resolved by future checkpoints

***To Reproduce***

Add values to statestore such that SST files are larger than 128K. Wait for the checkpoints to happen. This would require multiple attempts

***Expected behavior***

Checkpoints should

[2021-01-29 18:52] dlg99 opened #2565 "Table Service: Bookie crash can leave checkpoint in a corrupt state resulting in non-working table service"
**BUG REPORT**

***Describe the bug***

bookie crash leaves checkpoint in a corrupt state (restore fails because of LogEmptyException: Log .../checkpoints/.../metadata:<default> has no records)

[code]

***To Reproduce***

Bookie has to crash at any point after the checkpoint is done with `createDirectories()` but before the `finalizeCheckpoint()` happened in the `RocksdbCheckpointTask.checkpoint(

[2021-01-29 19:00] sursingh opened #2567 "Save latest revision information in statestore."
**BUG REPORT**

***Describe the bug***

After restoring from the checkpoint, we need to replay later transactions from the journal. However we are missing the revision at which the checkpoint was created. Due to this we start replaying the transactions from the start of the journal.

***To Reproduce***

1. Add state to statestore
2. restart statestore
3. after checkpoint is restarted, the journal

[2021-01-29 20:03] #2563 closed

[2021-02-01 19:18] dlg99 opened #2572 "TableStoreImplTest fails because of NPE in AbstractStateStoreWithJournal initialization"
**BUG REPORT**

***Describe the bug***

TableStoreImplTest fails because of NPE in AbstractStateStoreWithJournal initialization.
This is a test issue.

***To Reproduce***

run TableStoreImplTest

***Expected behavior***

test pass

[2021-02-01 23:01] dlg99 opened #2574 "BKAsyncLogWriter swallows rootcause of the WriteException"
**BUG REPORT**

***Describe the bug***

Hard to troubleshoot error in case BKAsyncLogWriter throws "writer has been closed due to error"

***To Reproduce***

got the exception like
[code]

No original exception that caused the WriteException

***Expected behavior***

rootcause exception in the log

[2021-02-02 09:21] #2567 closed

[2021-02-02 23:58] dlg99 opened #2577 "Multiple tests failing in /stream subproject"
**BUG REPORT**

***Describe the bug***

Multiple tests failing in /stream subproject

***To Reproduce***

cd stream
mvn clean install -DskipTests
mvn test -DstreamTests

-> get multiple failing tests

***Expected behavior***

tests succeed

[2021-02-03 07:46] sijie commented on #1205
@hsaputra Apologized that I missed this message! Yes, we still need documentation. The feature is still a beta version. I know your team at Splunk is actively working on it. I am not sure if there are any major API changes or not. We might want to wait for your team to contribute the changes back to the bookkeeper project before @Jennifer88huang starts writing the documentation for it. What do you

[2021-02-03 17:21] dlg99 opened #2579 "unit tests log "WARNING: Illegal reflective access by com.google.protobuf.UnsafeUtil" on Java11"
**BUG REPORT**

***Describe the bug***

unit tests log "WARNING: Illegal reflective access by com.google.protobuf.UnsafeUtil" on Java11

***To Reproduce***

run unit tests on Java11, see the log

***Expected behavior***

up-to-date protobuf library, updated to Java9+

[2021-02-03 23:48] dlg99 opened #2581 "Table Service: encountered a deadlock under load, jstack points to grpc"
**BUG REPORT**

***Describe the bug***

TableService stopped working under load.
jstack points to a problem with GRPC that is fixed in later versions
[jstack.log](https://github.com/apache/bookkeeper/files/5922190/jstack.log)

[2021-02-04 00:47] EronWright commented on #2354
Just a comment on the BP itself, it is described as BP-41 but another proposal uses that identifier ([BP-41: Separate BookieId from Bookie Network Address](http://bookkeeper.apache.org/bps/BP-41-bookieid/)).  Meanwhile this proposal is not listed on the community site ([ref](http://bookkeeper.apache.org/community/bookkeeper_proposals/)).

[2021-02-08 01:25] Shoothzj opened #2584 "Out of direct memory. Bookkeeper's log only 50MB, but being consider as over 1G by bookie."
**BUG REPORT**
In my environment, has one log. The gc can't handle this log.
The extractEntryLogMetadataFromIndex method first throw an exception,
which is "Cannot deserialize ledgers map from entryId",
And then the scanEntryLog method disjudge the packet size.

***To Reproduce***
Currently, I don't know what reason.

***Screenshots***

![image](https://user-images.githubusercontent.com/12933197/1

[2021-02-08 02:04] Shoothzj commented on #2584
I hava uploaded the probleam log. Sorry for forgeting.

[2021-02-08 18:25] WJL3333 opened #2585 "How does ledger open with recovery works internal ?"
when ledger open with recovery. which data range will be recovery?

all entry data before LAC in the ensemble?

or

all the data available in the ensemble include those not reach Qa but already write in some bookie?

need some material on the consistent protocol.

[2021-02-08 18:26] #2540 closed

[2021-02-09 07:11] michaeljmarshall opened #2588 "Clarify getAllBookies javadoc"
It looks like the javadoc for `getWritableBookies` was copied to `getAllBookies`. I'm sure that `getAllBookies` includes all bookies, not just writable ones. However, I would like to clarify what "all bookies" actually includes. Does it include bookies that have shutdown and be unavailable but are not yet decommissioned? In other words, what triggers a bookie to be removed from the list of all boo

[2021-02-09 07:28] michaeljmarshall commented on #2506
@eolivelli - I took a look at this a bit, and I have some questions about design.

In order to make this code easiest to test, I think it makes sense to include a list of `badBookies` instead of `availableBookies`. In looking at the available methods in the bookkeeper admin, there is `getAvailableBookies` (which seems more like `getWritableBookies`), `getReadOnlyBookies`, and `getAllBookies`. I be

[2021-02-09 07:47] eolivelli commented on #2506
Adding more state to ZK is a problem, and it will add much complexity (without thinking about backward compatibility issues)

The BookieWatcher has its own cache (see BookieWatcherImpl), you can use it, this way you will save calls to ZK

[2021-02-09 07:51] michaeljmarshall commented on #2506
@eolivelli - thanks for the direction! That's helpful context.

[2021-02-09 19:18] dlg99 opened #2592 "Licenses check finds multiple problems"
**BUG REPORT**

***Describe the bug***

Licenses check finds multiple problems.

***To Reproduce***

[code]

get bunch of problems listed by every run of the `dev/check-binary-license`

***Expected behavior***

Licenses up-to-date.

***Additional context***

http://bookkeeper.apache.org/community/licensing/
https://github.com/apache/bookkeeper/pull/2582#issuecomment-775578408

[2021-02-09 19:21] dlg99 opened #2593 "Run license check as part of CI"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

Run license check as part of CI

2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?

must-have
Not running this as part of the CI makes it easy to miss; de-facto we are relying on the memory and attention span of a

[2021-02-09 20:46] eolivelli commented on #2592
It is a blocker for 4.13.0 release

[2021-02-09 21:47] dlg99 opened #2594 "GrpcChannelsTest and BKRegistrationNameResolverTest fail in /stream"
**BUG REPORT**

***Describe the bug***

GrpcChannelsTest and BKRegistrationNameResolverTest fail in /stream
***To Reproduce***

Steps to reproduce the behavior:

[code]

***Expected behavior***

all tests pass

[2021-02-09 23:51] hsaputra commented on #1205
HI @sijie , sorry for late response.
I think it would be ok to wait until the contribution is coming back upstream. It gives motivation to accelerate the initiative.

[2021-02-10 00:35] codelipenghui opened #2596 "Enable `isForceGCAllowWhenNoSpace` for the DBLedgerStorage"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

In some cases, users disabled the entry log compaction task to reduce the I/O load, this will also make the write latency more stable(I/O resource competition). I have checked the source code of the BookKeeper, I think the `isForceGCAllowWhenNoSpace` does not work for the DBLedgerStorage(the default value of Pulsar). Currentl

[2021-02-10 14:07] dianacle commented on #2592
I can try to pick up this issue

[2021-02-10 16:39] eolivelli commented on #2592
sure, thank you @dianacle  !

[2021-02-11 01:01] dlg99 commented on #2521
@RaulGracia have you tried configuring backpressure as outlined at http://mail-archives.apache.org/mod_mbox/bookkeeper-dev/202101.mbox/raw/%3CCAJuQM_54dNnC0QsZ6ROCEzjKSaTp7We10Q3V5sT%2BFUDP%3DE_nOg%40mail.gmail.com%3E/1

[2021-02-11 03:19] hsaputra opened #2598 "Documentation is missing for Table Service API from BP-30: BookKeeper Table Service"
**BUG REPORT**

***Describe the bug***

After fix for issue #1205 is delivered, it is missing documentation about the API, sample code, and background why this API is needed.

[2021-02-11 03:22] hsaputra commented on #1205
HI @sijia-w , @eolivelli - After talking to team at Splunk working on the State Store upgrades, looks like there is no, or very little changes to the Table Service API themselves.

I have filed bug for adding documentation for this new feature. It should be ok for @Jennifer88huang  to start adding doc for this feature.

FYI @merlimat

[2021-02-11 03:23] hsaputra commented on #2598
FYI @sijie

[2021-02-11 06:32] sijie commented on #1205
@hsaputra thank you for the heads up!  I will plan that with @Jennifer88huang.

[2021-02-11 07:37] eolivelli opened #2599 "Upgrade dropwizard metrics to 3.2.5"
As pointed out by @dlg99 we should have a consistent set of dependencies.

We should upgrade Dropwizard Metrics to 3.2.5, that is the same version used by ZooKeeper 3.6.2
https://github.com/apache/pulsar/pull/8590#discussion_r574120917

[2021-02-11 10:35] marcioapm opened #2601 "There is no DockerHub image for 4.12.1"
**BUG REPORT**

***Describe the bug***

There is no DockerHub image for 4.12.1

***To Reproduce***

Steps to reproduce the behavior:
1. Go to https://hub.docker.com/r/apache/bookkeeper/tags?page=1&ordering=last_updated&name=4.12
2. Observe there is no 4.12.1 image

***Expected behavior***

There is a 4.12.1 image

[2021-02-11 11:38] eolivelli commented on #2601
I have started a thread on ASK Infra slack channel, in order to ask for logs

[2021-02-12 18:10] dlg99 commented on #2546
@ShPrajpati it's been awhile since I dealt with this, so please double-check / experiment on the dev cluster.

First, you need to enable TLS on the server side but allow connections from the clients without the TLS.
IIRC `tlsClientAuthentication=false` in server config does that
Set the config options on teh server side and do rolling restart of the bookies, this should not affect clients (i.e. pu

[2021-02-16 11:19] #2506 closed

[2021-02-16 11:52] #2599 closed

[2021-02-16 11:52] #2594 closed

[2021-02-16 11:52] #2593 closed

[2021-02-16 11:53] #2592 closed

[2021-02-16 11:53] #2581 closed

[2021-02-16 11:54] #2574 closed

[2021-02-16 11:54] #2561 closed

[2021-02-16 11:54] #2559 closed

[2021-02-16 11:54] #2550 closed

[2021-02-16 19:26] #2531 closed

[2021-02-17 10:09] eolivelli commented on #2601
I still have to much info to share

[code]

[2021-02-17 14:27] ShPrajpati opened #2606 "How to upgrade Bookkeeper to use TLS with Zookeepers?"
I run a bookkeeper cluster that is back-end for pulsar. I am specifically using **mTLS** here and want to upgrade the **Bookkeepers** to use the **TLS** with **Zookeepers**.
Please advice what all configuration changes would bee needed in order to achieve that.

[2021-02-17 20:23] eolivelli commented on #2601
I tried to build it locally and it failed this way:

[code]

The problem is about python version

[2021-02-17 23:18] #2601 closed

[2021-02-18 01:58] shoothzj opened #2610 "Does CpuAffinity works well on kubernetes containers deploy"
If many proccess runs on virtual machine(many pod on a vm), bookkeeper is one of them.
Does `sched_setaffinity` works well ?

[2021-02-18 04:16] codelipenghui opened #2611 "Read entry log metadata by log file name does not work."
**BUG REPORT**

***Describe the bug***

Use `bin/bookkeeper shell readlogmetadata 2.log` does not works but `bin/bookkeeper shell readlogmetadata 2` is works.

***To Reproduce***

Steps to reproduce the behavior:
1. Use bin/bookkeeper shell listfilesondisc -entrylog to get all entry logs
2. Read log metadata of one entry log by the entry log file name
3. See error

[code]

***Expected behavior***

[2021-02-18 08:01] eolivelli commented on #2601
@marcioapm
the image is now available!

https://hub.docker.com/layers/apache/bookkeeper/4.12.1/images/sha256-07d1be6a035bac2d7b73f5d25926d52b7f46380fe0e172a7a1a666c4b18b02c8?context=explore

Can you please test it ?

[2021-02-18 12:12] RaulGracia opened #2612 "Wrong ReadLastAddConfirmed logic that can lead to data loss in client applications"
**BUG REPORT**

***Describe the bug***

We have found a bug when invoking `ReadLastAddConfirmed` that may lead the Bookkeeper client to return a wrong last entry or no entries at all when querying the Bookies. This behavior goes against of what is stated in the Javadoc, as it does not return the maximum entry id for a ledger within an ensemble: https://github.com/apache/bookkeeper/blob/67a02db73d6

[2021-02-18 13:01] fpj commented on #2612
This test case shows the issue:

[code]

[2021-02-18 13:26] eolivelli commented on #2612
I wonder how is it possible to run the bookie without data but preserving the bookie identity in production.
By the way, it may happen if you have journalSyncData=false or some other faulty filesytem (losing writes to the journal).

I agree that there is something wrong in `checkCovered`, the code returns `true` in case there is no reason to return `false` but we also must check that we do have a

[2021-02-18 14:20] fpj commented on #2612
@eolivelli thanks for having a look. The problem we observed is with the behavior of `ReadLastConfirmedOp`. If you check this if block:

[code]
https://github.com/apache/bookkeeper/blob/master/bookkeeper-server/src/main/java/org/apache/bookkeeper/client/ReadLastConfirmedOp.java#L139

as soon as it receives a no entry response, the predicate of this if block evaluates to true. `heardValidResponse`

[2021-02-18 14:24] eolivelli commented on #2612
Totally Agreed @fpj
and your unit test is self-explaining about the issue

[2021-02-18 20:16] dlg99 commented on #2612
1. Looks like bookie recovery process after the restart should be extended. IIRC it processes journal to replay entries that didn't make it to the entry log. It probably should check ledgers metadata against local data to detect data loss and go into a recovery state to read missing data from other bookies (or quarantine itself somehow and let autoreplicator deal with this)
In this case bookie cou

[2021-02-18 20:26] dlg99 commented on #2611
I think something like this should fix it:

[code]

please test/add unit tests ;)

[2021-02-18 20:57] #2552 closed

[2021-02-18 20:57] #2565 closed

[2021-02-18 20:58] #2572 closed

[2021-02-18 20:58] #2577 closed

[2021-02-18 23:21] #2579 closed

[2021-02-19 09:28] fpj commented on #2612
Thanks for chiming in, @dlg99. The call to read LAC is being used by the recovery procedure to determine from which entry id to start from. Like in the description of this issue, if there is a bookie _b_ that lost its data and responds with  `LedgerHandle.INVALID_ENTRY_ID`, then returning anything different than that value will make the recovery procedure skip through a bunch of entries that _b_ d

[2021-02-19 18:16] dlg99 commented on #2612
@fpj as I understand, checkCovered() makes sure that all "spreads" of entries got covered with AQ responses. You need to consider ES > WQ >= AQ here.
Everything is simple when ES = AQ, any single response is considered to be "authoritative" (assuming no single bookie data loss scenario).
Otherwise, for ES = 5, WQ = 2, AQ = 2, entries placement on bookies (round robin schedule)
[code]
if only b1 do

[2021-02-19 19:37] dlg99 commented on #2612
@fpj Maybe something like this works:

[code]

This is just to illustrate the idea.
I didn't even run the tests to check what it breaks (ReadLastConfirmedOpTest? ledger recovery tests?)
Also it needs new unit tests which is something I didn't have time for, otherwise I'd just send the PR.

[2021-02-20 08:45] Shoothzj opened #2613 "How about upgrade to log4j2?"
How about upgrade to log4j2 ? I can contribute this

[2021-02-20 13:24] Vanlightly opened #2614 "Existing fencing not enough to prevent data loss"
I have implemented the BookKeeper replication protocol in TLA+. You can find the specification and a readme here: https://github.com/Vanlightly/bookkeeper-tlaplus

The TLA+ model checker found a data loss scenario related to how fencing is used to protect split-brain and data loss.

**Protocol Defect**

The BookKeeper protocol defect found with this spec is that fencing of LAC reads is not enough

[2021-02-20 13:34] Vanlightly opened #2615 "Ledger recovery can fail due to invalid ensemble creation"
I have found a sequence of events that could lead to repeated failure of a ledger recovery process that would lead to data unavailability. I have verified this with both my TLA+ specification (https://github.com/Vanlightly/bookkeeper-tlaplus) of the replication protocol and new unit tests.

**BUG REPORT**

When a second writer performs recovery, it can end up trying to create an invalid ensemble w

[2021-02-20 18:05] fpj commented on #2612
Looking at it more closely and checking your responses, @dlg99 , I see that `checkCovered` is checking whether it received valid responses from a subset _S_ of bookies such that _S_ overlaps with every ack quorum. A valid response is not only an `OK` response, but also `NoSuchEntry` and `NoSuchLedger`. It might be worth double checking that there aren't other valid responses we are missing, but ot

[2021-02-22 10:40] eolivelli opened #2617 "[DistributedLog] [tests] Flaky TestDynamicConfigurationFeatureProvider.testReloadFeaturesFromOverlay"
I have seen this flaky test during 4.13.0rc0 validation.

***Describe the bug***

[code]

[2021-02-22 10:42] eolivelli opened #2618 "[Distributelog] [Tests] Flaky test TestBKDistributedLogManager.testSyncLogWithLedgerMetadata"
I have seen this flaky test during 4.13.0rc0 validation

***Describe the bug***
[code]

[2021-02-22 10:50] eolivelli commented on #2615
@Vanlightly thank you for sharing this issue

can you please advertise on dev@bookkeeper about your TLA+ work ?
https://github.com/Vanlightly/bookkeeper-tlaplus

[2021-02-22 13:01] Vanlightly commented on #2615
@eolivelli Yes of course. I will submit the PR for this issue once the PR for issue 2614 is merged as it has a dependency on that.

[2021-02-23 06:23] michaeljmarshall opened #2619 "bookie_journal_JOURNAL_QUEUE_SIZE Prometheus metric is negative"
@frankjkelly opened this issue https://github.com/apache/pulsar/issues/9634. Copying it here, as it is a bookkeeper issue.

Here is the original content of the issue:

[2021-02-23 06:42] michaeljmarshall commented on #2619
In digging into this issue, I noticed a couple different irregularities.

It looks like there might be an issue for which argument is passed into the `QueueEntry` constructor here. The final argument is `journalCbQueueSize`, but this method `journalStats.getJournalQueueSize()` is called to get the `Counter` that gets passed into constructor:

https://github.com/apache/bookkeeper/blob/26120e0436d00

[2021-02-23 08:11] eolivelli commented on #2619
@michaeljmarshall your findings are very interesting.
We should fix it.
Please go ahead
thanks

[2021-02-23 17:19] michaeljmarshall commented on #2619
In my haste to post a comment last night, I think I might have misunderstood the `Journal`'s code. What I posted above regarding the two places where we execute the runnable, I missed the line where we set the flushed value to `null` `(toFlush.set(i, null);`). I read more of this code this morning and am getting a better understanding, as is likely still an issue, but it might be different from my

[2021-02-23 17:23] klwilson227 opened #2620 "Rocksdb logs configurable write location."
**FEATURE REQUEST**

1. The rocksdb appears to write LOG files to ../data/bookkeeper/ledgers/current/ledgers/LOG and data/bookkeeper/ledgers/current/locations/LOG These log files roll and multiple of the LOG.XXX files can be seen on the disk after a few days. We would like to have the ability to write these logs to a different disk and keep the fast disk space allocated for the data in motion.

2.

[2021-02-24 04:43] michaeljmarshall commented on #2619
It looks like this issue has already been solved https://github.com/apache/bookkeeper/pull/2290. The user was running pulsar `2.6.1`, which pulled in bookkeeper `4.10.0`. Upgrading to pulsar `2.6.3` will resolve the bug for the negative `bookie_journal_JOURNAL_QUEUE_SIZE` metric.

Given that this bug is solved, my hypothesizing about other possible issues regarding executables being run multiple t

[2021-02-24 04:43] #2619 closed

[2021-02-24 05:12] michaeljmarshall opened #2622 "bookie_journal_JOURNAL_CB_QUEUE_SIZE grows unbounded"
**BUG REPORT**

***Describe the bug***

The `bookie_journal_JOURNAL_CB_QUEUE_SIZE` grows unbounded.

***To Reproduce***

Steps to reproduce the behavior:
1. I'm running pulsar 2.7.0 deployed with bookkeeper 4.12.0.
2. As entries are added, this metric increases, and does not show any signs of decreasing.
3. I'm seeing this through prometheus, but in my brief investigation, it appears to be fundame

[2021-02-24 05:12] michaeljmarshall commented on #2622
I noticed this issue while digging into https://github.com/apache/bookkeeper/issues/2619.

[2021-02-24 07:33] fpj opened #2624 "Update year in NOTICE copyright statement"
**BUG REPORT**

***Describe the bug***

Update the copyright statement in the NOTICE file.

***To Reproduce***
N/A

***Expected behavior***

No behavior change.

***Screenshots***

N/A

***Additional context***

Nothing else.

[2021-02-24 07:55] #2624 closed

[2021-02-25 23:01] dlg99 opened #2629 "[Website][Release procedure] missing/not described steps in the procedure"
**BUG REPORT**

Release guide and tools are out of sync.
https://bookkeeper.apache.org/community/release_guide/

A few issues that I encountered during 4.13.0 release (not in any particular order) are:

* "Update DC/OS BookKeeper package" step is no longer needed

* site publishing required manual steps not described in the release doc
[code]

* "Run linux docker container to build release candida

[2021-02-27 09:32] Vanlightly commented on #2612
@ivankelly and I have discussed this general scenario recently, where a  bookie is wiped clean and brought back with the same identity. This introduces arbitrary failures (bookies giving wrong answers) for which the current logic is not currently designed to handle. The current logic assumes any explicit positive or negative response to be trustworthy and acts accordingly.

If this scenario of a w

[2021-02-27 13:29] Vanlightly commented on #2612
I've documented the approach in more detail and created a new TLA+ specification that reproduces the data loss scenario (with say E=3,WQ=3,AQ=3) and also shows that the use of the limbo status avoids it (by setting the constant UseLimboStatus to TRUE). https://github.com/Vanlightly/bookkeeper-tlaplus/blob/main/LIMBO_README.md

[2021-02-28 13:11] Vanlightly commented on #2612
Also, is there not a cookie check that aborts the boot-up if the bookie starts up with its disk state wiped? In what circumstance could we desire that a wiped bookie is able to resume with the same identity?

[2021-03-01 09:10] ivankelly commented on #2612
I haven't read the whole thread, but I think i get the jist. As @Vanlightly says, this isn't a case that bookkeeper is currently designed for.
[code]
In this test case, the ledger has an ensemble of 3, write quorum of 3 and ack quorum of 3. I.e. no entry can have been acknowledged to a writer unless it has been written to all 3 nodes. So if a node responses with "No, I don't have it" it means that

[2021-03-01 09:18] ivankelly commented on #2612
btw, we're in the planning phase of getting this stuff out to OSS. I started a couple of months ago but got buried by other work. Some other folks are picking it up now though.

[2021-03-03 03:22] Shoothzj opened #2634 "Can we upgrade SortedLedgerStorage to DbLedgerStorage in production environment"
Can we upgrade SortedLedgerStorage to DbLedgerStorage in production environment ?
Is there any problem?

[2021-03-03 03:57] codelipenghui commented on #2634
I think you need to decommission the bookie first and then cleanup the bookie, change to DbLedgerStorage and then add it back to the cluster, seems we can change the LedgerStorage directly.

[2021-03-03 06:15] eolivelli commented on #2634
There are command line tools to perform the upgrade.

Check this command
bin/bookkeeper shell

[2021-03-03 07:38] codelipenghui commented on #2634
Oh, cool. Got it, bin/bookkeeper shell convert-to-db-storage.

[2021-03-03 08:19] Shoothzj commented on #2634
Cool. Thanks

[2021-03-03 08:19] #2634 closed

[2021-03-04 03:35] Shoothzj opened #2637 "The metrics about jvm_memory_direct_bytes_used"
The mertics about `jvm_memory_direct_bytes_used` is acquired by netty's `PlatformDependent#DIRECT_MEMORY_COUNTER`.
Which can only acquired the memory used by netty.
How about rename `jvm_memory_direct_bytes_used` to `netty_memory_direct_bytes_used`,

And use `java.nio.Bits#RESERVED_MEMORY` for jvm direct memory metrics.

[2021-03-04 04:23] klwilson227 opened #2638 "Compaction Limits"
**FEATURE REQUEST**

Currently the compaction feature allows for two compaction specifications (minor and major) that define how the system will perform compaction. Each minor and major can be given a interval and threshold which tells the duration between runs, and the usage % of the entrylog to be considered for compaction. There also exists a rate limit on either (bytes or entries to be written

[2021-03-04 04:24] codelipenghui commented on #2638
Thanks @klwilson227, we will take look this issue soon.

[2021-03-04 14:29] klwilson227 commented on #2638
I did not see anything in the code regarding ordering of the compaction. If there is a limit in the time frame, then the order becomes important as well. By tackling the oldest logs first we may free up more space quicker. Than working from the latest logs backwards.

[2021-03-05 00:43] codelipenghui commented on #2638
Yes, agree. I also did not see anything in the code regarding the ordering of the compaction. I have a short conversation with @jiazhai yesterday, we will work on an enhancement ASAP.

[2021-03-05 01:50] pkumar-singh opened #2640 "BP-43: Gradle migration"
**BP**

This is the master ticket for tracking BP-43 :
This BP intends to migrate existing maven based build and release pipeline to gradle based on.

Proposal PR - https://github.com/apache/bookkeeper/pull/2639

[2021-03-05 15:12] klwilson227 commented on #2638
With regards to the compaction we saw some behavior, in our latest CHO run with compaction enable where there seemed to be a time when over 200 logs per bookie were eligible for compaction (at .3 and below) ... Where as the trend looked something like the following on a single node
     08:37:29.809+0000,,smperfqa37.hpeswlab.net,helmcharts,itomdipulsar-,bookkeeper-2,"08:37:29.809 [GarbageCollector

[2021-03-05 15:15] klwilson227 commented on #2638
The other thought I had was should the compaction of the bookies be staggered within the interval so not all bookies compact the ledgers at the same time. By staggering the bookies, we don't end up adding extra IOPS on all bookies at the same time causing larger ripple on the incoming rates.

[2021-03-05 16:02] klwilson227 commented on #2638
The precipitating event to the above issues, may have been a bookkeeper restart. which forced movement of ledger data using auto recovery.

[2021-03-05 17:56] pkumar-singh commented on #2640
Addressed all the comments.

[2021-03-08 01:15] #2596 closed

[2021-03-12 10:10] Vanlightly commented on #2614
This has been fixed by #2616

[2021-03-12 10:10] #2614 closed

[2021-03-17 13:09] jiazhai commented on #2584
Discussed with @Shoothzj. It happened after force shutdown the Bookie, and the log file not flushed entirely.  then when the bookie restarted, the log file could not be recovered.

[2021-03-18 05:16] massakam opened #2652 "How to correct ledger ensembles that are not adhering to the placement policy"
**QUESTION**

BookKeeper has a setting called `auditorPeriodicPlacementPolicyCheckInterval`. According to [the official documentation](https://bookkeeper.apache.org/docs/latest/reference/config/#autorecovery-auditor-settings), enabling this will allow us to detect ledgers whose ensembles are not adhering to the placement policy. However, this feature does not seem to correct the ensembles. Is ther

[2021-03-18 09:19] Vanlightly commented on #2615
PR is coming very soon. I have modified the unit test to add the following scenario which is another way of reproducing the issue, but with less bookies.

[code]

[2021-03-18 18:16] #2622 closed

[2021-03-22 03:17] baomingyu opened #2655 "bookie will be down (out of memory), when there are a lots of ledgers under /ledgers/underreplication/ledgers to replication"
why is there many times register  ,that will make bookie out of memory

When i change 3 3 2 to 2 2 2 after reduce bookie nodes from 5 to 2
ZK has a lots of ledgers mate data infos,  and the 2 bookie  nodes  had old data.
Running bookies cluster that has two nodes, without running any producers or consumers.
 some minutes or hours later , watching the memory info of one bookie using  jstat:
![image

[2021-03-23 01:52] baomingyu commented on #2655
For this question , I find LedgerOpenOp.java -> openWithMetadata function may be have one bug.
such as :
First step:
it create one object of  ReadOnlyLedgerHandle class , and it will register listener use this object:
![image](https://user-images.githubusercontent.com/8108604/112080105-54ef1800-8bbc-11eb-85a1-288a351be5a3.png)
![image](https://user-images.githubusercontent.com/8108604/112080196-7f

[2021-03-24 18:30] karanmehta93 opened #2660 "Bookkeeper client throttling logic is based upon entryId instead of ledgerId"
**BUG REPORT**

***Describe the bug***

Before accepting the write, the client checks if netty channels to all the bookies are available. The logic is currently based on [entryId](https://github.com/apache/bookkeeper/blob/master/bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerHandle.java#L1343). However, in BookieClientImpl, we select the actual channel based on [ledgerId](https

[2021-03-29 19:17] dlg99 commented on #2660
@karanmehta93 I think you are correct about the ledgerId.
Please review https://github.com/apache/bookkeeper/pull/2664 for the fix.

I don't think it will help you with underlying problem which you still have to rootcause.
The worst this problem does it selects wrong channel and detects it as non-writable. With switch to the ledger Id some other ledger will end up blocked on non-writable channel.

[2021-03-29 20:35] dlg99 opened #2665 "ReadOnlyBookieTest is flaky"
**BUG REPORT**

***Describe the bug***

ReadOnlyBookieTest is flaky on current master branch

***To Reproduce***

mvn clean install -DskipTests
cd bookkeeper-server/
run a few times:
 mvn test -Dtest=org.apache.bookkeeper.test.ReadOnlyBookieTest

[code]

[2021-03-30 06:27] eolivelli opened #2669 "Update Netty to 4.1.60.final"
***Describe the bug***

Upgrade netty to resolve security issues in the current version.

https://nvd.nist.gov/vuln/detail/CVE-2021-21295
https://nvd.nist.gov/vuln/detail/CVE-2021-21290

We upgraded Netty in Pulsar to latest version see
https://github.com/apache/pulsar/pull/10073

[2021-04-06 03:01] ruanwenjun commented on #2669
Maybe I can do this upgrade task.

[2021-04-08 22:12] #2640 closed

[2021-04-12 18:06] #2615 closed

[2021-04-22 04:06] dinghram commented on #2620
Fixed in PR https://github.com/apache/bookkeeper/pull/2698

[2021-04-22 19:44] wmccarley opened #2699 "bk_server.conf & website are missing doc for tlsCertificatePath"
**BUG REPORT**

***Describe the bug***

The default `bk_server.conf` file that ships in the `conf` directory does not contain a placeholder for `tlsCertificatePath`, it is also not documented on the website.

If you attempt to start the server with tls, even if your private key and cert are in one PEM file you still need to set this property and `tlsKeyStore` otherwise you will get: `org.apache.bo

[2021-04-23 04:37] nicknezis opened #2700 "Distributedlog Core Shaded Jar fails with a NoClassDefFoundError"
**BUG REPORT**

***Describe the bug***
After upgrading to a new version of `distributedlog-core-shaded` jar in Apache Heron, I ran into the following error message. It seems that some of the transitive dependencies are not being included in the shaded jar.

[code]

This is the list of transitive dependencies that are not being included. Is this by design? It seems that by not including the depende

[2021-04-23 04:43] eolivelli commented on #2700
Can you try to use the regular, non shaded I mean, jar?
Or if you need a single jar you could try to change here the pom.xml to disable relocation.

[2021-04-30 06:26] tieke1121 opened #2702 "Run bookies locally"
ronganxia@C02FGF1HMD6M bookkeeper-4.11.1 % pwd
/Users/ronganxia/soft/bookkeeper/bookie1/bookkeeper-4.11.1
ronganxia@C02FGF1HMD6M bookkeeper-4.11.1 % bin/bookkeeper localbookie 10
Couldn't find module '(org.apache.bookkeeper-)?bookkeeper-server' jar.
Do you want me to run `mvn package -DskipTests` for you ? (y|n) y
see output at /Users/ronganxia/soft/bookkeeper/bookie1/bookkeeper-4.11.1/logs/build.

[2021-04-30 06:27] tieke1121 commented on #2702
run bookies locally error

[2021-05-03 18:44] #2660 closed

[2021-05-03 18:56] jvrao commented on #2660
Yes, but the worst is because we are just throttling and not failing/changing ensemble. Hence latencies wentup without going through our fastfail model. But you right the underlying problem of why the channel is not writable still needs to be figured out.

[2021-05-04 06:36] stanbog opened #2704 "Bookkeeper doesn't create a log file"
Hello,

We have a bookkeeper cluster made from 3 nodes.
We would like to forward the logs into splunk but the bookkeeper service doesn't generate any logs files other than journalctl.

Those are the log properties that we currently have:

[code]

I would expect to find the log `bookkeeper-server.log` under `$BK_HOME/logs` but that doesn't exist.

Any help would be appreciated.

Thank you.

[2021-05-05 14:21] Vanlightly opened #2705 "BP-44: Running without the journal"
**BP**

This is the master ticket for tracking BP-44.

This proposal describes changes to BookKeeper to allow it to run without running writes through the journal while still maintaining consistency.

Proposal PR #2706

[2021-05-07 00:56] greatle opened #2709 "lost last entry?"
**QUESTION**
In test class：
https://github.com/apache/bookkeeper/blob/master/bookkeeper-server/src/test/java/org/apache/bookkeeper/client/TestReadLastConfirmedAndEntry.java
testAdvancedLacWithEmptyResponse（）
![image](https://user-images.githubusercontent.com/17866905/117382472-3006f800-af11-11eb-9281-3f6c1f6fc098.png)
A total of  "expectedEntryIdToFail + 1" entries are written here, but only "expe

[2021-05-07 01:29] greatle commented on #2709
In a real bookkeeper cluster, the same is . If writer is close, the last entry can be read. Otherwise, the last entry can't be read all the time, no matter how long wait or call the "force()" method of writer. In actual production environment, it is possible to write N entries in a period of time, but only N -1 entries can be read immediately. The N-th entry can be read only when it is written to

[2021-05-07 15:50] dlg99 opened #2711 "BK needs additional test (possibly, fixes) for TLS1.3 support"
**BUG REPORT**

***Describe the bug***

TLSv1.3 has been enabled by default since Netty 4.1.52.Final (when the JDK contains TLSv1.3). TLSv1.3 support has been available in Java 8 since 8u262 .

The handshake protocol in TLSv1.3 is different than in TLSv1.2 as explained in https://stackoverflow.com/a/62465859 . This difference isn't handled in Bookkeeper production code and test code.

***Additiona

[2021-05-07 16:08] dlg99 commented on #2711
some context from the dev list, courtesy of @lhotari:

--------
I can confirm that the PR checks pass after excluding TLSv1.3 from enabled
protocols:
https://github.com/apache/bookkeeper/pull/2696/commits/6003a374d5aec30d7059a21e473ac91417b5cdc3

There should be tests for both TLSv1.2 and TLSv1.3 because of the
differences in TLS handshake described in
https://urldefense.proofpoint.com/v2/url?u=ht

[2021-05-09 21:00] merlimat commented on #2620
#2698 was merged

[2021-05-09 21:00] #2620 closed

[2021-05-17 06:00] Sunny-Island commented on #2702
Try to check ` bookkeeper-4.11.1/bookkeeper-server/target/build_classpath.out` file, if it shows you can't find `Could not resolve dependencies for project`, you may need to change `settings.xml` file for maven. After that, run `mvn clean install -U
`

[2021-05-19 04:31] xuesongxs opened #2715 "Attempt to write to fenced ledger Exception"
**BUG REPORT**

***Describe the bug***
![image](https://user-images.githubusercontent.com/54351417/118756626-ea95e380-b89d-11eb-8103-b4c15ac54f03.png)

pulsar 2.6.2
bookkeeper 4.10.0

[2021-05-20 23:11] devinbost opened #2716 "High volume of PendingAddOp write failures due to timeouts"
I noticed that we were getting a large volume of these messages:

`DEBUG org.apache.bookkeeper.client.LedgerHandle - pending add not completed: PendingAddOp(lid:3510117, eid:27, completed:false)`
It seemed like they were getting caused by timeouts, so I checked the log for how many timeouts we were seeing:
[code]
That's over half a million timeouts over 2 hours on a test cluster, and I don't think

[2021-05-22 21:30] Ghatage commented on #2704
That's very weird.
Can you check if you have the proper permissions on the log directory for the process?

[2021-05-22 21:31] Ghatage commented on #2613
I think this is a discussion better had on the dev mailing list @Shoothzj. Could you please send out a note there?

[2021-05-24 14:23] ArvinDevel commented on #2709
This is not a bug. Original BK protocol only piggyback LAC when appending new entry, so when you write the last entry, the writer can only piggyback (lastEntryId - 1) as LAC to the server. The newest  BK protocol support write LAC intermittently by setting  `explicitLacInterval` parameter.

[2021-05-25 11:09] stanbog commented on #2704
Hello,

Thank you for your answer.

Yes, the permissions seem to be correct.

This is what I have in the `$BK_HOME`:

[code]

Under `logs` directory I have a bunch of `gc_xxxxxx.log` files , but no `bookkeeper-server.log`

[code]

[2021-05-25 15:30] dlg99 opened #2721 "Review backwards compat tests to drop old versions"
**FEATURE REQUEST**

Some older versions can be dropped from the backwards compat tests.
We'll need to decide which ones / how far back should the tests go.

i.e. see https://github.com/apache/bookkeeper/pull/2719

[2021-05-31 07:05] eolivelli opened #2725 "Sometimes bin/bookkeeper localbookie does not work from source code"
When you run the command `bin/bookkeeper localbookie 1` from the source code it may happen that it does not work and finished with
`Error: Could not find or load main class org.apache.bookkeeper.util.LocalBookKeeper`

This is because the `find_module_jar` function finds these files as main BK server jar:
[code]

***To Reproduce***

Run
[code]

***Suggested fix***
Enhance `find_module_jar` in order

[2021-06-01 11:09] 10fish opened #2726 "Run failed with JAVA_HOME env containing space(s)"
**BUG REPORT**

***Describe the bug***

ran locally with `$ ./bin/bookkeeper localbookie 10` on my mac, failed.

***To Reproduce***

Steps to reproduce the behavior:
1. run `mvn clean install` with a success.
2. run `./bin/bookkeeper localbookie 10` just under the root of the project

***Expected behavior***

output looks like:
[code]

***Additional context***

after printing variables before the

[2021-06-01 13:36] Sunny-Island commented on #2726
I have reproduced this error.
It seems caused by the space in `JAVA_HOME`.
Try to install new java in MacOS and change `JAVA_HOME` path.

[2021-06-01 14:01] Sunny-Island commented on #2726
I think adding double quotation can also works.
open bin/bookkeeper in vim or other editor, change 166 line:
`  exec ${JAVA} ${OPTS} ${JMX_ARGS} -Dzookeeper.4lw.commands.whitelist='*' org.apache.bookkeeper.util.LocalBookKeeper ${NUMBER} ${BOOKIE_CONF} $@`
to
`  exec "${JAVA}" ${OPTS} ${JMX_ARGS} -Dzookeeper.4lw.commands.whitelist='*' org.apache.bookkeeper.util.LocalBookKeeper ${NUMBER} ${BOOKIE_CO

[2021-06-02 01:52] 10fish commented on #2726
Yeah, I just did that, and it worked. I just wonder whether there should be a fix.

[2021-06-03 06:22] Sunny-Island commented on #2726
[#2727](https://github.com/apache/bookkeeper/pull/2727)

[2021-06-03 18:34] RaulGracia opened #2728 "Entry Log GC may get blocked when using entryLogPerLedgerEnabled option"
**BUG REPORT**

***Describe the bug***

_Summary_: We use `entryLogPerLedgerEnabled:"true"` option in environments that have SSDs/NVMes to exploit drive parallelism and it provides significant improvements (as suggested in documentation). However, under high throughput workloads (1GBps, 6 Bookies, 3 replicas), our experiments showed us that there is a consistent problem with this option in which,

[2021-06-07 04:14] laystao commented on #2499
so.Do you have other solutions now?

[2021-06-07 04:16] laystao commented on #2499
Failed to execute goal com.github.maven-nar:nar-maven-plugin:3.5.2:nar-validate (default-nar-validate) on project circe-checksum: NAR: One of two things may be wrong here:
[ERROR]
[ERROR] 1. <Name> tag is missing inside the <Linker> tag of your NAR configuration
[ERROR]
[ERROR] 2. no linker is defined in the aol.properties file for 'aarch64.MacOSX.linker'

[2021-06-07 18:18] dlg99 commented on #2728
@reddycharan any suggestions here? Do you still use ELPL?

@RaulGracia I don't remember all details of the ELPL/compaction and work that happened afterwards, I'd start with checking:
major/minor compaction intervals, and [flushInterval](https://github.com/apache/bookkeeper/blob/16e8ba772bb5cf4c7546fb559bd9d455d4e42625/conf/bk_server.conf#L430). I am not sure if ledgerStorageClass affects this, but

[2021-06-08 10:11] hangc0276 opened #2729 "【BUG】BookKeeper Netty chennel OOM"
**BUG REPORT**

***Describe the bug***
When running hundreds of bookie in BookKeeper cluster, and auditor triggered to check ledgers, it throw OOM
[code]

The code introduced by #2441 , and it change `serializeProtobuf` message from heap to direct memory. The code as follow
[code]

I doubt whether will casue direct memory leak due to not release.

[2021-06-08 10:13] hangc0276 commented on #2729
@merlimat @eolivelli  @sijie  PTAL, thanks.

[2021-06-08 11:35] lhotari commented on #2729
@hangc0276 Do you have a chance to run with `-Dio.netty.leakDetectionLevel=advanced -Dio.netty.leakDetection.targetRecords=30` in the JVM options for the BookKeeper server? That would enable the Netty leak detector and print out log entries that would help locate the possible leak.

It's also possible that there isn't a memory leak and it's simply caused by high memory requirements when there's hi

[2021-06-08 12:21] hangc0276 commented on #2729
@lhotari Thanks for your feedback. Our production bookkeeper cluster has hundreds of bookie instances, and i should roll restart all bookie instances to add those JVM options. The OOM only occurs when auditor starts to scan all ledgers, and the JVM direct memory monitor shows no direct memory used and the bookie instance with low load.

[2021-06-08 12:28] hangc0276 commented on #2729
It may occurs in large scale bookkeeper cluster, and only occurs on Auditor bookie instance. I try to enable those JVM options first. Do you have any other ideas about this OOM?

[2021-06-08 12:34] lhotari commented on #2729
Well, there's a lot of ideas of how to debug it, but debugging in production is something where you have to be very cautious. :)

[2021-06-08 12:37] lhotari commented on #2729
@hangc0276  Can you share more information about the Bookeeper version and your environment?
What are your current JVM options? What type of deployment ? k8s or bare metal?

[2021-06-08 13:09] hangc0276 commented on #2729
@karanmehta93 Do you have any ideas?

[2021-06-08 15:26] karanmehta93 commented on #2729
@hangc0276 In my understanding, this change shouldn't increase/decrease direct memory usage from before.

Earlier, when the heap buffer was allocated, netty lib used to allocate direct memory and then copy contents there. Now that is bypassed.

Netty lib takes the responsibility of releasing memory.

[2021-06-08 16:35] dlg99 commented on #2729
@hangc0276 It is more than likely that there is no leak at all and application simply runs out of (direct) memory under specific load (when auditor/autorecovery works).

I think your options are:

1.  increase direct memory (jvm option)
2. set `autoRecoveryDaemonEnabled=false` on bookies and[ run autorecovery as a separate instance(s)](https://bookkeeper.apache.org/docs/latest/admin/autorecovery/)

[2021-06-08 16:59] dlg99 opened #2731 "BP-45: a pluggable way to modify payload sent to the ledger"
**BP**

This is the master ticket for tracking BP-45 :

The proposed change targets addition of a pluggable way to modify payload sent to the ledger. Specific use cases include GDPR compliance, encryption, and compression. While these can be implemented at the application level, having this as a BK client level extension unlocks such functionality to any application built on top of Bookkeeper.

Pr

[2021-06-09 07:36] lhotari opened #2732 "[Security] org.inferred:freebuilder:1.14.9 dependency causes Bookkeeper to be flagged for jQuery vulnerabilities"
**BUG REPORT**

The org.inferred:freebuilder:1.14.9 dependency causes Bookkeeper to be flagged for jQuery vulnerabilities.
This happens in the Sonatype IQ vulnerability scanner which will also scan embedded js files. For example, it finds jQuery at the path `org/inferred/freebuilder/shaded/org/openjdk/tools/javadoc/internal/doclets/formats/html/resources/jquery/external/jquery
jquery-1.10.2.js` in

[2021-06-09 07:48] lhotari opened #2733 "[Security] com.squareup.okhttp-okhttp-2.7.4.jar is old and vulnerable"
**BUG REPORT**

In library vulnerability scanning, Bookkeeper gets flagged because of com.squareup.okhttp-okhttp-2.7.4.jar . This happens in Sonatype IQ scanning.

This library version contains several problems:
* it is more than 5 years old
* CVE-2021-0341
* sonatype-2018-0035

This issue is most likely not a real security issue, but a problem that Bookkeeper gets flagged as vulnerable because of

[2021-06-09 08:07] eolivelli commented on #2732
BookKEeper does not have a Web UI
this is a false positive

btw I agree that we can mark it as "optional" or exclude it at all

[2021-06-10 10:34] fpj commented on #2728
@dlg99 any particular why you and others don't use this option? We are observing much higher performance with `entryLogPerLedgerEnabled:"true"` in the hardware we are testing with. I'm curious to know why this is not popular given the performance benefit.

[2021-06-10 12:14] eolivelli commented on #2728
@fpj I believe that the problem is that no one knows about it :-)

In general in BK we have the problem that there is no advertising about new features

We are doing some internal testing at DataStax for this option, especially for the fact that with this option it is easier that when you delete a ledger it is deleted from disk more promptly (see BP-45).

[2021-06-10 12:14] eolivelli commented on #2728
@diegosalvi @nicoloboschi are you enabling this option in production for BlobIt/EmailSuccess ?

[2021-06-10 14:06] thinker0 opened #2736 "bookies hosts by metrics grow exponentially."
**BUG REPORT**
There are many, many, many Prometheus Metrics names.

***Describe the bug***
[code]

bookies hosts by metrics grow exponentially.

***To Reproduce***

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

***Expected behavior***
Prometheus OOM (200Gbyte)

***Screenshots***
![image](https://user-images.githubusercontent.com/357785/1

[2021-06-10 14:14] eolivelli commented on #2736
which version of BK are you using ?
how many bookies ?
do bookies have a dynamic address ?

[2021-06-10 14:15] thinker0 commented on #2736
- pulsar-2.7.2
- 120ea bookies
- yes (apache mesos/aurora)

[2021-06-10 14:26] thinker0 commented on #2736
Can change this ?
https://github.com/apache/incubator-heron/pull/3493

[2021-06-10 16:47] sursingh commented on #2736
I think this has already been addressed: https://github.com/apache/bookkeeper/blame/master/bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/PerChannelBookieClient.java#L407

4.14.1 release should have this change

[2021-06-10 23:27] thinker0 commented on #2736
@sursingh Is it compatible with Pulsar 2.7.2 version?

[2021-06-11 00:18] sursingh commented on #2736
2.7.2 is using bookkeeper 4.12.x so doesn't have this change. You may need to backport this to 4.12.x bookkeeper.

[2021-06-11 00:24] dlg99 commented on #2728
@fpj ELPL gets tricky if you don't know size/number of ledgers. I.e. in multi tenants cluster tenants can end up with too many small ledgers (or many tenants/topics in pulsar with ledger rotation policy on the schedule) + large disk.

I don't remember all the context from the time when ELPL was implemented, I think the following factors should be considered:
* File system doesn't always handle too

[2021-06-11 00:25] thinker0 commented on #2736
https://github.com/apache/bookkeeper/releases/tag/release-4.14.1

Nothing binary ?

[2021-06-11 00:49] sursingh commented on #2736
Binary jars can be downloaded from maven. https://mvnrepository.com/artifact/org.apache.bookkeeper/bookkeeper-server

[2021-06-11 09:40] RaulGracia opened #2737 "Bookkeeper image 4.14.1 not available in DockerHub"
**BUG REPORT**

***Describe the bug***

Bookkeeper 4.14.1 is not available in DockerHub for download: https://hub.docker.com/r/apache/bookkeeper/tags?page=1&ordering=last_updated

***To Reproduce***

See https://hub.docker.com/r/apache/bookkeeper/tags?page=1&ordering=last_updated

***Expected behavior***

n/a

***Screenshots***

n/a

***Additional context***

n/a

[2021-06-11 10:42] eolivelli commented on #2737
@dlg99 you succeeded to have the docker image 4.14.0 published.
it should be similar to 4.14.11.
do you have any idea ?

@merlimat you were the release manager for 4.14.1, did you notice something strange during the execution of the procedure ?

more context:
docker images are built by a ASF infra bot, that scans the tags and then builds the docker image for dockerhub using this script
https://git

[2021-06-11 10:43] eolivelli commented on #2737
I am trying with

[code]

[2021-06-11 10:47] eolivelli commented on #2737
and I am able to build the image correctly

[2021-06-11 10:50] AndreyKoltsov1997 commented on #2737
I've noticed that `BK_VERSION` variable within [Dockerfile](https://github.com/apache/bookkeeper/blob/master/docker/Dockerfile) hadn't been changed since 4.12.1.
Could it cause an issue within any of CI / automated Docker image build processes?

[2021-06-11 10:52] eolivelli commented on #2737
I started a conversation on the Slack channel of the ASF Infra
https://the-asf.slack.com/archives/CBX4TSBQ8/p1623408711319700

[2021-06-11 10:53] eolivelli commented on #2737
This is something we should update at every release.
That variable drives the 'latest' tag.
you can see how the script works https://github.com/apache/bookkeeper/blob/master/docker/hooks/build

do you mind sending a PR for the update ? @AndreyKoltsov1997

[2021-06-11 11:38] AndreyKoltsov1997 opened #2738 "BK_VERSION variable doesn't match release version in some branches."
**BUG REPORT**

***Describe the bug***

BK_VERSION environment variable hadn't been updated within Dockerfiles on some of the branches.
On `branch-*` branches, the last update had been made for `4.12.1`, on `release-*` branches - `4.9.0`.

***To Reproduce***

Steps to reproduce the behavior:
****See Dockerfile for the following branches:****
* [4.13](https://github.com/apache/bookkeeper/blob/branc

[2021-06-11 11:42] AndreyKoltsov1997 commented on #2738
Hi, @eolivelli!
Currently, I'm thinking about sending multiple PRs to all of the branches listed within the issue.
Would it make sense to send a PRs to all of the branches or we should rather focus on a particular ones?

[2021-06-11 14:09] eolivelli commented on #2737
JIRA ticket
https://issues.apache.org/jira/browse/INFRA-21985

[2021-06-11 16:30] sijie commented on #2736
@thinker0 Can you create an issue in Pulsar? We can upgrade the bookkeeper version for Pulsar 2.7.3 release.

[2021-06-14 13:02] tuapuikia commented on #2220
Hi,

I had this issue today and found out the bookie journal is using all my EBS IOPS burst credit. My default journal size is 50GB and I have an above  50k/s publishing rate in the persistent topic.

The issue went away after the disk resized to 200GB with 600 IOPS base performance.

[2021-06-14 13:04] frankjkelly commented on #2220
Thanks @tuapuikia - yeah when we increased our EBS disks to GP3 and properly sized our write caches we did not see this any more. We made a number of tweaks - hard to tell which caused the issue to be resolved.

[2021-06-16 08:38] OlegKashtanov commented on #2728
I reproduced that issue using Bookkeeper benchmark tool.
The following deployment and test steps:
#### Configuration
- Kubernetes cluster
- 3 ZKs
- 6 BKs. 1 NVME drive per BK (both for Ledger and Journal).
- 1 BK benchmark tool
#### Deployment steps
- Deploy ZK operator:
[code]
- Deploy bookkeeper operator
[code]
- Apply the following configmap:
[code]
- Build Bookie image using docker file https:

[2021-06-17 02:38] nicknezis commented on #2700
I believe this is still an issue, but I was able to update our Apache Heron codebase to use the non-shaded jar. https://github.com/apache/incubator-heron/pull/3692

[2021-06-17 14:01] codelipenghui opened #2741 "NPE when getting ledger metadata"
**BUG REPORT**

***Describe the bug***

[code]

***To Reproduce***

See https://github.com/apache/pulsar/pull/10957

[2021-06-18 13:21] eolivelli commented on #2737
docker image is ready
https://hub.docker.com/layers/apache/bookkeeper/4.14.1/images/sha256-633216094f61036eb92333b9f602571f32c7d91d276a59659c0f792c5d7b2a3f?context=repo

@RaulGracia thank you for sharing your findings

[2021-06-18 13:21] #2737 closed

[2021-06-22 13:45] devinbost commented on #2357
@eolivelli What about adding an endpoint that would allow configurations like that to be retrieved?

[2021-06-22 14:21] Shoothzj commented on #2304
It's should be a out-dated doc. Close this issue.

[2021-06-22 14:21] #2304 closed

[2021-06-24 03:47] #2733 closed

[2021-06-24 03:48] #2699 closed

[2021-06-24 03:49] #2511 closed

[2021-06-27 21:58] #2732 closed

[2021-06-28 12:53] padma81 opened #2746 "Security Vulnerabilities in CentOS 7 image, Upgrade image to CentOS 8"
**BUG REPORT**

***Vulnerability scanning of BookKeeper image shows security issues***

The BookKeeper 4.12.1 docker image when put to vulnerability scanning shows a lot of Critical/High severity issues in the CentOS 7 image. Most of these CVEs are not fixed in CentOS 7 and the suggestion is to upgrade to CentOS 8. Please find below the list of Critical/High CVEs:

CVE-2009-5155
CVE-2014-9114
CVE-

[2021-06-29 09:32] HashZhang opened #2747 "Maybe Read Lac should be spread to all nodes of bookie"
There is a little inconsistency in the last confirmed fetch while ledger is open. for example:
I have 4 bookies run in local, their configurations are:
**bk_server_1.conf**
[code]
**bk_server_2.conf**
[code]
**bk_server_3.conf**
[code]
**bk_server_4.conf**
[code]

**enable these bookies and I have application shown below**:
[code]

During sleep time, shut down one of the ensemble. Then during read

[2021-06-29 14:41] timjbutler commented on #2746
CentOS hasn't pushed a version in 5 months at this point. (https://hub.docker.com/_/centos?tab=tags&page=1&ordering=last_updated)
I don't know how the changes in the CentOS project will change support for the CentOS base image, but moving to a non-CentOS base image with a higher level of support could be considered.

[2021-06-29 20:00] eolivelli commented on #2746
Are you interested in sending a PR?
The dockerfile is in the docker directory

[2021-06-30 02:26] HashZhang opened #2748 "Why lac is always less than entryId?"
Why lac is always less than entryId? If the ledger is not closed and currently no more entries are produced, the last one will not be read forever unless there is a new entry or ledger is closed?

[2021-06-30 06:19] eolivelli commented on #2748
the LAC is piggybacked by default during writes

but you can configure `explicitLacInterval` and the BK client will send in background updates about the LAC even without any writes.

https://github.com/apache/bookkeeper/blob/master/bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/ClientConfiguration.java#L128

[2021-06-30 06:36] HashZhang commented on #2748
I see, Generally LACs are piggy-backed on writes

[2021-06-30 06:36] #2748 closed

[2021-06-30 06:37] #2747 closed

[2021-06-30 06:37] HashZhang commented on #2747
I see, Generally LACs are piggy-backed on writes

[2021-06-30 07:06] eolivelli commented on #2747
in order to "fix" your problem you have to start a writer that performs a "recovery", this way the ledger will be "fixed" and the entry will be available to readers

[2021-07-11 11:49] potiuk opened #2752 "Migrate to the next version of Python `requests` when released"
Hello Maintainers, 

I am a PMC member of Apache Airflow, and I wanted to give you a bit of heads-up with rather important migration to the upcoming version of `requests` library in your Python release. 

Since you are using `requests` library in your project, you are affected.

As discussed at length in https://issues.apache.org/jira/browse/LEGAL-572  we found out that the `chardet` library used

[2021-07-11 12:22] eolivelli commented on #2752
Thank you @potiuk

@nicoloboschi @zymap would you be interested in following up on this task?

[2021-07-12 07:59] zymap commented on #2752
Hi @eolivelli, I checkout the python code. Looks like we only have a python client for stream storage, and I don't find any file is import the `requests`, maybe we can remove it from the `setup.py`?

[2021-07-13 15:38] potiuk commented on #2752
Requests 2.26.0 released without the mandatory `chardet` dependency:

https://pypi.org/project/requests/2.26.0/

Instead of chardet, use the MIT-licensed charset_normalizer for Python3 to remove license ambiguity for projects bundling requests. If chardet is already installed on your machine it will be used instead of charset_normalizer to keep backwards compatibility. (#5797)

You can also instal

[2021-07-13 22:18] #2726 closed

[2021-07-14 05:31] eolivelli commented on #2752
@zymap you are right.
Can you try your proposal? CI will validate it.

IIRC we are also using it on the bk-merge script as well, but in that case the user has to manually install it.

[2021-07-14 12:55] gaozhangmin opened #2753 "Some ledger failed replicated because of readLac failed，On what situation, this would happen?"
Some ledger failed replicate because of readLac failed，On what situation, this would happen?

[2021-07-15 04:26] gaozhangmin opened #2755 "AutoRecovery failed replicate ledger which in open state, because, it would read lac from failed bookie."
As title, When bookie is lost, the ledger which state is open cannot replicated because of reading lac from failed bookie.
it would failed read lac from failed bookie, because it cannot be connected.

How bookkeeper auto recovery deal with open ledger in failed bookie ?

I don't know if it's a bug or not.

The error log:
[code]

[2021-07-15 04:27] #2753 closed

[2021-07-15 17:37] devinbost commented on #2220
@frankjkelly Doesn't that command wipe the bookie?

[2021-07-23 03:06] thinker0 commented on #2528
One pulsar-2.8.0 Bookies node was a problem.
pulsar-2.7.2 downgrade

[code]

[2021-07-23 08:20] Vanlightly commented on #2528
Hi,

This is an issue with entry log corruption, I was planning on posting this
very problem this week.

I was investigating an entry log corruption we had in production and ran
long running system tests to try and reproduce. I hit this issue on every
test within a few hours or a couple of days.
Normally you would use the DbLedgerStorage with Pulsar but I had
accidentally set BookKeeper to use Sor

[2021-08-04 02:08] startjava opened #2759 "bookkeeper have bug!"
https://github.com/apache/pulsar/issues/11413

please fix !

[2021-08-09 09:29] suiyuzeng opened #2760 "Bookkeeper shutdown when zookeeper connection just timeout"
***Describe the bug***
Bookkeeper begin to shutdown after a zookeeper connection timeout. Session is not expired and it was attempting reconnect.
In the log, there is a ConnectionLossException when a node was deleted in org.apache.bookkeeper.meta.ZkLedgerUnderreplicationManager#releaseUnderreplicatedLedger. It can not be processed in org.apache.bookkeeper.replication.ReplicationWorker#deferLedgerL

[2021-08-13 08:53] #2512 closed

[2021-08-16 01:29] zymap commented on #2752
Resolved by #2754, close this issue

[2021-08-16 01:29] #2752 closed

[2021-08-19 09:42] gaozhangmin opened #2766 "Ledgers remaining underreplicated even when bookies come back from the dead"
### Describe
When 2 or more bookies in the cluster are down, the auto-recovery gets triggered, but as these come back online, the rereplication worker should Ideally skip the rereplication of the ledgers that are marked as underreplicated. But the ledgers are rereplicated instead

### To Reproduce
Steps to reproduce the behavior:

Create a cluster with enough bookies for this test (>5)
Start publi

[2021-08-23 06:57] Shoothzj opened #2770 "In class SortedLedgerStorage's method ledgerExists, why don't we simplely return false"
Class SortedLedgerStorage, method ledgerExists
[code]
I want to know why calculate ledgerExists() two times? Thanks

[2021-08-24 12:50] Vanlightly opened #2773 "Rebuild db ledgers index command"
File corruption of the ledgers index (DbLedgerStorage) has happened in production and we currently have no good way of resolving it. There exists a locations index rebuild command, this issue describes a new command targeted at the ledgers index.

This command should only be run when either the bookie is offline, or when in readonly mode to avoid data loss. Container based environments may not be

[2021-08-25 12:05] #2482 closed

[2021-09-02 14:23] #2766 closed

[2021-09-03 04:25] #2545 closed

[2021-09-03 06:38] casuallc opened #2784 "Can not get real ip when use RackawareEnsemblePlacementPolicy"
**BUG REPORT**

***Describe the bug***

- set ensemblePlacementPolicy=org.apache.bookkeeper.client.RackawareEnsemblePlacementPolicy
- set reppDnsResolverClass=myclass(implements DNSToSwitchMapping)

In some server, I get 127.0.0.1 when the method DNSToSwitchMapping.resolve called.
But the real ip (129.x.x.x) is expected.

***Screenshots***

![image](https://user-images.githubusercontent.com/947360

[2021-09-03 07:55] casuallc opened #2786 "How to use my own dns resolver ???"
**QUESTION**

There is no way to use my own dns resolver in `BookKeeperClient`, but I can use it in other places.

Should this in conflict?

[code]

**who can give me a answer of :**
-  only DNSResolverForRows or DNSResolverForRacks will returned.
-  if config `reppDnsResolverClass` is set, my onw dns resolver will be loaded in other places.

**dose this in conflict...**

[2021-09-07 14:16] eolivelli opened #2787 "TestPerChannelBookieClient.testEpollChannelTcpUserTimeout fails"
**BUG REPORT**
After we committed https://github.com/apache/bookkeeper/commit/c8d4086697f85c9093f4da2c907a13e17c198914 I see this test failing very often on DataStax CI, that run the tests against current BookKeeper master, on JDK8.

***Describe the bug***
This is the error

[ERROR] Failures:
[ERROR] org.apache.bookkeeper.proto.TestPerChannelBookieClient.testEpollChannelTcpUserTimeout
[ERROR]   Ru

[2021-09-07 14:17] eolivelli commented on #2787
@RaulGracia can you please take a look ?
is it possible that Netty adapts the value ?

[2021-09-07 14:21] eolivelli commented on #2787
for reference:
[ApacheBookKeeper] $ mvn -s /tmp/settings10138559118398016608.xml -v
Apache Maven 3.6.0
Maven home: /usr/share/maven
Java version: 1.8.0_292, vendor: Private Build, runtime: /usr/lib/jvm/java-8-openjdk-amd64/jre
Default locale: en, platform encoding: UTF-8
OS name: "linux", version: "4.15.0-64-generic", arch: "amd64", family: "unix"

[2021-09-10 06:27] TimXu0713 opened #2789 "How to add a new disk to an exists bookie node?"
**QUESTION**

The remaining disk space of my bookkeeper cluster is running out. How can I expand the storage capacity by increasing the existing node disks instead of increasing the number of nodes? Because I don't have more machines. Is there any guid docment?

[2021-09-12 01:24] fantapsody commented on #2789
The command [`bin/bookkeeper shell expandstorage`](https://bookkeeper.apache.org/docs/latest/reference/cli/#bookkeeper-shell-expandstorage) may help you. It has a REST API as well.

[2021-09-14 10:23] RaulGracia opened #2791 "Fix multiple CVEs related to library versions"
**BUG REPORT**

***Describe the bug***

Bookkeeper contains multiple libraries with known vulnerabilities. With some minor library upgrades, most of these CVEs can be removed:

(Commons IO)
CVE-2021-29425   (BDSA-2021-0922)

(Jetty)
CVE-2021-34428   (BDSA-2021-1877)
CVE-2021-28169 (BDSA-2021-1714)
CVE-2021-28165 (BDSA-2021-0848)
CVE-2021-28163 (BDSA-2021-0850)
CVE-2020-27223 (BDSA-2020-4221)
CVE-2

[2021-09-15 06:48] gaozhangmin commented on #2755
reason:  http://mail-archives.apache.org/mod_mbox/bookkeeper-dev/202109.mbox/browser

[2021-09-15 06:48] #2755 closed

[2021-09-15 10:21] jdfrozen commented on #2786
请教咋配置RackawareEnsemblePlacementPolicy，有相关的文档嘛，pulsar和bookkeeper的文档不清不楚的

[2021-09-16 08:23] RaulGracia opened #2795 "Bookkeeper upgrade using Bookie ID may fail due to cookie mismatch"
**BUG REPORT**

***Describe the bug***

We have tested upgrading Bookkeeper (in Kubernetes) from 4.11 to 4.14. Concretely, in the new version of Bookkeeper, we wanted to make use of the [Bookie ID functionality](https://github.com/apache/bookkeeper/issues/2396) to assign arbitrary identifiers to Bookies, different to the network-related info.

During the upgrade process, we found a cookie mismatch

[2021-09-16 08:43] eolivelli commented on #2795
If I remember correctly when I implemented bookieId I had to keep this behaviour otherwise some tests about enabling/disabling bookie id based on hostname failed.

Can you send the PR and possibly add a test case that reproduces the problem?

If all tests pass then I believe that we can go with your proposal

[2021-09-16 09:21] RaulGracia commented on #2787
@eolivelli sure, will allocate some time soon to fix this flaky test.

[2021-09-16 13:07] eolivelli commented on #2787
@RaulGracia did you have time to take a look ?

[2021-09-16 13:37] RaulGracia commented on #2787
@eolivelli not yet, my plan is to address this one after the release of Pravega 0.10 (going on right now).

[2021-09-24 00:47] #2773 closed

[2021-09-24 10:36] suiyuzeng opened #2806 "OOM as 1 million ledgers per entry log"
**BUG REPORT**

***Describe the bug***
There is about 1M ledgers in per entry log. After running for a while, OOM will appear. And there is still enough memory.
There are two OOM positions, as follows:
Position 1：
2021-09-21 02:22:08,323 [SyncThread-7-1] ERROR org.apache.bookkeeper.bookie.SyncThread - Exception in SyncThread
java.lang.OutOfMemoryError: Java heap space
    at org.apache.bookkeeper.

[2021-10-05 08:59] #2787 closed

[2021-10-05 10:47] itskannanraj commented on #2375
@abroddle could you please let me know how did you fix the issue, I have the same exact issue and am unable to start the bookkeeper with TLS.

[2021-10-06 17:07] RaulGracia opened #2815 "Upgrade to log4j2 to get rid of CVE-2019-17571"
**BUG REPORT**

***Describe the bug***

Log4j1.x has a relevant and public security vulnerability: [CVE-2019-17571](https://nvd.nist.gov/vuln/detail/CVE-2019-17571). The solution is to upgrade Bookkeeper to log4j2 to remove that CVE.

***To Reproduce***

Scanning Bookkeeper image reports this CVE.

***Expected behavior***

Remove CVE from Bookkeeper.

***Screenshots***

n/a

***Additional context*

[2021-10-07 07:28] spova commented on #2375
I'm facing the same issue. Looks like there is no TLS on the server side or something is missed in documentation.
Tried with `openssl s_client -debug -connect localhost:3181`, here's the server output:

`2021-10-07 10:27:30,290 - INFO  - [bookie-io-1-9:AuthHandler$ServerSideHandler$AuthHandshakeCompleteCallback@223] - Authentication success on server side
2021-10-07 10:27:30,290 - INFO  - [bookie-

[2021-10-08 10:02] wangjialing218 commented on #2529
@sijie @hangc0276 we also meet this problem in our production.
Is it possible to add such feature in bookie? Such as `dfs.datanode.failed.volumes.tolerated` in hdfs.

[2021-10-08 14:54] hamadodene commented on #2528
@eolivelli  the BK version is 4.11.1

[2021-10-12 02:41] hangc0276 opened #2820 "Journal thread fetch entry from queue cost too much time on acquireInterruptibly"
**BUG REPORT**

***Describe the bug***
The bookie configuration list as follow.
- 24 cores
- 48 bookie-io threads
- 1 journal directory on NVME SSD
- 3 ledger directories on NVME SSD
- journalQueueSize is 10000

The write throughput keeps on 500MB/s.
When read request increase and the read throughput reaches about 600MB/s, the journal queue will be full for a long time.  I check the journal sync l

[2021-10-13 09:48] Myasuka opened #2823 "Why KeyValueStorageRocksDB set the table format version as 2 explicitly?"
**QUESTION**

`KeyValueStorageRocksDB` sets the table format version as 2 explicitly:
`tableOptions.setFormatVersion(2);`

From my experience, newly format could suppory partitioned index&filter, which could help improve performance much better with limited block cache, and the newer version sould be compatiable with older version. Why bookkeeper must set the version as 2?

[2021-10-13 18:37] dlg99 commented on #2823
@merlimat @sijie do you have any context for this?

[2021-10-14 08:41] RaulGracia opened #2825 "Fix gradle.dependencies related to PR 2792"
**BUG REPORT**

***Describe the bug***
Currently, `gradle` build is not being exercised as a check to merge PRs. PR #2792 upgraded several libraries in Maven and Gradle to fix several security vulnerabilities. However, when exercised via `gradle`, changes in `gradle.dependencies` seem to break the build. We need to revert the changes in `gradle.dependencies` that differ from the Manven changes (al

[2021-10-14 16:20] karanmehta93 opened #2831 "ReadEntryProcessorV3 code doesn't piggyback LAC when its requested"
**BUG REPORT**

***Describe the bug***

Code https://github.com/apache/bookkeeper/blob/master/bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/ReadEntryProcessorV3.java#L180-L185

When we are enabling “readLACPiggyBack” flag but we don’t get the expected result because of this issue.

***To Reproduce***

Manually checked

***Expected behavior***

If `readLACPiggyBack` flag is sent by cl

[2021-10-15 06:19] #2825 closed

[2021-10-15 07:21] #2795 closed

[2021-10-15 07:21] RaulGracia commented on #2728
Closed via #2779.

[2021-10-18 10:37] Vanlightly opened #2834 "BP-44: USE metrics"
**BP**

This is the master ticket for tracking BP-44 : USE metrics

Updating metrics to allow operators to employ the USE method for diagnosing bottlenecks.

Proposal PR - #2835

[2021-10-19 08:48] RaulGracia opened #2837 "Remove unnecessary log bindings from Bookkeeper packages"
**BUG REPORT**

***Describe the bug***

Based on [this discussion](https://github.com/apache/bookkeeper/pull/2816/files#r729987757), PR #2816 needs to keep log4j bindings out of at least bookkeeper-common and server bookkeeper-packages. The goal is to keep these packages just requiring Slf4j as a dependency.

***To Reproduce***

Check dependencies related to log4j in pom/gradle files.

***Expected

[2021-10-21 19:10] pkumar-singh opened #2840 "Gradle bin/bookkeeper script not working locally with gradle due to wrong lib path"
**BUG REPORT**

***Describe the bug***
When built using gradle path of the libs changes from target/ to build/libs/.
Therefore, script does not find jar files and tries to run mvn package.

***To Reproduce***
1. . Build using gradle `./gradlew build -x test -x checkstyleMain -x checkstyleTest -x spotbugsTest -x spotbugsMain -x rat -x signDistTar`

2. Try and run
`bin/bookkeeper standalone`
Couldn'

[2021-10-25 07:30] hezhangjian opened #2846 "Can not run on java 17 due to `module java.base does not "opens java.util.zip" to unnamed module`"
**BUG REPORT**
Bookkeeper cannot run on jdk 17
![image](https://user-images.githubusercontent.com/12933197/138652891-3cffd179-7a19-4387-b988-62c668c2b478.png)

due to `module java.base does not "opens java.util.zip" to unnamed module`

[2021-10-25 09:22] nicoloboschi opened #2849 "Gradle build - some submodules are skipped"
Some projects are not included in the gradle build

- metadata-drivers/etcd
- bookkeeper-http/servlet-http-server
- stream/bk-grpc-name-resolver
- tests/backward-compat/*
- tests/docker-images
- tests/integrations-tests-base-groovy
- tests/scripts
- tests/shaded/*

[2021-10-26 06:45] equanz opened #2854 "When ScanAndCompareGarbageCollector#removeOverReplicatedledgers is called, underreplicated ledger locks are still acquired."
**BUG REPORT**

***Describe the bug***

When ScanAndCompareGarbageCollector#removeOverReplicatedledgers is called, all of underreplicated ledger locks are still acquired.
This issue is caused by https://github.com/apache/bookkeeper/pull/2833. In this PR, the method uses [LedgerUnderreplicationManager#acquireUnderreplicatedLedger](https://github.com/apache/bookkeeper/blob/4ae5b3b5a6bf5a13ea73a2f615

[2021-10-27 13:42] #2837 closed, assigned to RaulGracia

[2021-10-29 12:01] #2846 closed, assigned to nobody

[2021-10-29 15:05] eolivelli opened #2872 "BookieJournalTest fails on JDK11"
**BUG REPORT**

***Describe the bug***

BookieJournalTest fails with the error below, on ubuntu on JDK11.

***To Reproduce***
Run the test on JDK11 with a virtual machine for which there is no mapping for the "default host"

***Expected behavior***

No error.

***Screenshots***
[code]

[2021-10-30 15:18] #2849 closed

[2021-11-01 04:18] equanz commented on #2854
To solve this issue, I have created https://github.com/apache/bookkeeper/pull/2855.

[2021-11-02 06:58] #2854 closed

[2021-11-05 06:23] wuzhanpeng opened #2878 "Any suggestions for optimizing rocksdb parameters in huge throughput scenarios?"
**QUESTION**

In our usage scenario, in the case of high-throughput writes, we found that the cpu utilization of rokskdb:low:XX thread can easily reach 100%. Are there any good suggestions for optimizing the rocksdb parameters in this situation?

As you can see from the screenshot:
![image](https://user-images.githubusercontent.com/14341827/140466861-65049771-71df-459b-9753-aba865c079d1.png)

We h

[2021-11-05 06:27] wuzhanpeng commented on #2878
@merlimat @eolivelli @dlg99 Would you mind to take a look?

[2021-11-05 09:14] aloyszhang opened #2879 "Journal thread exit while bookie is still on"
**BUG REPORT**
Bookie does not exist when the on journal thread exists.
***Describe the bug***
I have a bookie which has three directories, after running for some days, the bookie is not healthy when test by
[code]
And the jstack show almost all `bookie-io` thread are waiting for journal adding an entry to the queue.

[code]
And also, there are only two threads for the journal left which means one

[2021-11-05 09:33] aloyszhang commented on #2879
The logic about the journal thread exit is as follow:
https://github.com/apache/bookkeeper/blob/master/bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/Journal.java#L1145-L1156

[code]
When breaking the while loop of the journal thread, bookie interrupts the journal thread and closes the BufferedChannel for the journal file.
I think it's better to exit all bookie services and maybe we

[2021-11-05 13:14] Vanlightly commented on #2879
The Journal is a BookieCriticalThread so if we simply rethrow the exception it will terminate the bookie. This is not exactly a graceful shutdown though. A better alternative is to replace

[code]

in the BookieImpl run() method with a check to see if any journal thread has exited, this will then lead to a controlled shutdown.

[2021-11-05 13:58] eolivelli commented on #2879
`The Journal is a BookieCriticalThread `
in fact I am surprised that we are catching that exception.

Probably this is due to the fact that we are supporting multiple journals.
But I believe that we should terminate the Bookie as soon as possible.

`in the BookieImpl run() method with a check to see if any journal thread has exited, this will then lead to a controlled shutdown.`

I agree with this

[2021-11-06 02:17] aloyszhang commented on #2879
@eolivelli  I'd like to fix this problem, but I see @pradeepbn  has already sent a pull request https://github.com/apache/bookkeeper/pull/2868

[2021-11-06 02:23] aloyszhang commented on #2879
Update, it seems #2868 is a different problem, so I'll send a patch, and please assign this issue to me @eolivelli

[2021-11-06 03:10] pradeepbn commented on #2879
@aloyszhang feel free to ping me on slack- we can chat if there is a potential overlap in our solution.

[2021-11-08 08:34] #2269 closed

[2021-11-08 12:30] eolivelli commented on #2879
@aloyszhang you are correct #2868  is another problem

[2021-11-10 13:32] wuzhanpeng opened #2889 "Can not execute ReadLogMetadata with file name in bookkeeper shell"
**BUG REPORT**

***Describe the bug***

Can not execute `ReadLogMetadata` with file name in bookkeeper shell.

The parameter of `ReadLogMetadata` that cannot be parsed as numbers will eventually be converted to `0.log` due to `logId` in `ReadLogMetadataFlags` is never initialized.

***To Reproduce***

Steps to reproduce the behavior:
Execute command:
`bin/bookkeeper shell readlogmetadata XXX.log`

[2021-11-14 07:23] 1559924775 opened #2894 "Uneven distribution of journal directory"
**BUG REPORT**

***Describe the bug***

When the journal directory is configured to be even, the ledger allocated to each journal will be uneven. The root cause is that almost all the ledger IDs generated by the LedgerIdGenerator class are even. The number of ZK temporary order nodes is determined by the cversion of the parent node. Whenever a child node is added or deleted, it will increase by 1.

[2021-11-14 09:10] 1559924775 commented on #2894
pr  link : https://github.com/apache/bookkeeper/pull/2895#issue-1052886572

[2021-11-14 09:36] 1559924775 opened #2896 "Adjust checkpoint timing adaptively according to throughput"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

When using the singleentrylog mode, depending on the throughput, for example, under the throughput of 200m / s, The default value of the configuration parameter logsizelimit is 1.2g. At this time, due to the large throughput, the generation of checkpoint tasks is fast, but the execution time of checkpoint tasks is long. The s

[2021-11-14 10:24] 1559924775 commented on #2894
In our application scenario, we need to provide a single machine with 200m / s capability, so we need to configure the journal to two disks

I think there is no problem with uneven distribution of ledgerids. Ledgerids themselves are just an ID and have no other role. Routing strategies should not consider whether ledgerids are unevenly distributed. They should exclude the influence of the upper la

[2021-11-16 17:37] dlg99 opened #2898 "DistributedLog can lose a correctly written segment at a correctly closed DLM"
**BUG REPORT**

***Describe the bug***

DistributedLog can lose a correctly written segment.
Found while looking at flaky tests at `TestBKDistributedLogManager`.

The scenario looks like:
Open DLM
write a few segments
close DLM
Open another DLM
read the segments back
->  sometimes a whole segment worth of data is lost.

***To Reproduce***

Steps to reproduce the behavior:

Add the following code t

[2021-11-16 21:47] dlg99 commented on #2898
@sijie FYI

[2021-11-17 09:36] aloyszhang opened #2900 "Bookie can't startup with a comma-separated`metadataServiceUri`"
**BUG REPORT**

Bookie can't startup with a comma-separated `metadataServiceUri`
***Describe the bug***
Bookie can't parse a comma-separated configuration.

***To Reproduce***

Steps to reproduce the behavior:
1. Set the `metadataServiceUri` with a comma-separated  value like
[code]
2. then start bookie will get the exception:
[code]

***Expected behavior***

Bookie should startup normally.

***Sc

[2021-11-19 19:02] michaeljmarshall commented on #2208
I'm seeing this bug too. @codelipenghui - did you find a solution to this issue?

[2021-11-19 19:51] michaeljmarshall commented on #2208
Adding some details here as I investigate this NPE.

The NPE is coming from the following code block (the lines have changed a bit since this issue was reported): https://github.com/apache/bookkeeper/blob/e9e9bf92f7c124fb11d8de57fdfec860441ac8a8/bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RackawareEnsemblePlacementPolicyImpl.java#L1026-L1038.

It looks like the underlying issue mu

[2021-11-19 20:08] michaeljmarshall commented on #2208
I think the race comes here:

https://github.com/apache/bookkeeper/blob/e9e9bf92f7c124fb11d8de57fdfec860441ac8a8/bookkeeper-server/src/main/java/org/apache/bookkeeper/client/LedgerHandle.java#L1934-L1936

Essentially, we get this "currentEnsemble" set, and assume that the set contains only `knownBookies`. However, we don't acquire the `rwLock` until later, which means that while the "currentEnsemb

[2021-11-22 08:51] StevenLuMT opened #2904 "Is it possible to automatically check zookeeper and create bookkeeper metadata when starting bookkeeper?"
same like the old question：https://github.com/apache/bookkeeper/issues/2345

hi, I have another question，if the automatically create bookkeeper metadata  can  avoid to introduce many consistency problems,
then whether is  it necessary to submit the codes for this automation function?

Looking forward to your reply, thank you

[2021-11-22 08:56] StevenLuMT commented on #2904
@coolbeevip @sijie

[2021-11-24 02:32] yunfeng79 opened #2905 "ERROR org.apache.bookkeeper.proto.PerChannelBookieClient"
apache-pulsar-2.8.0
apache plusar cluster
1 dbus-n1
2 dbus-n2
3 dbus-n3

dbus-n1
10:17:57.061 [BookKeeperClientWorker-OrderedExecutor-0-0] ERROR org.apache.bookkeeper.proto.PerChannelBookieClient - Cannot connect to dbus-n1:13181 as endpoint resolution failed (probably bookie is down) err org.apache.bookkeeper.proto.BookieAddressResolver$BookieIdNotResolvedException: Cannot resolve bookieId dbus-n

[2021-11-24 15:18] hangc0276 commented on #2889
The root case is https://github.com/apache/bookkeeper/pull/2349

[2021-11-25 08:56] zengguan commented on #2499
i fixed this in my M1 MacOS

step 1: I added this section to my aol.properties file

`#
# MacOSX ("Mac OS X" => MacOSX) Apple Silicon M1 (64 bits)
#
aarch64.MacOSX.linker=g++

aarch64.MacOSX.g++.cpp.compiler=g++
aarch64.MacOSX.g++.cpp.defines=Darwin GNU_GCC
aarch64.MacOSX.g++.cpp.options=-Wall -Wno-long-long -Wpointer-arith -Wconversion
aarch64.MacOSX.g++.cpp.includes=**/*.cc **/*.cpp **/*.cxx
aar

[2021-11-25 09:10] zengguan commented on #2488
[code]

i fixed this in my M1 MacOS

step 1: I added this section to my aol.properties file

aol.properties:

[code]

step 2: To use a custom aol properties file, you have to set a property like this in your pom.xml:
  <properties>
    <nar.aolProperties>${project.basedir}/bookkeeper/circe-checksum/aol.properties</nar.aolProperties>
  </properties>

and then I build success:

[code]

[2021-11-25 09:29] Vanlightly opened #2908 "Do not throw NoEntryException when failing to read entry log"
Ledger recovery counts on bookies to respond with OK or an error when a client performing recovery reads an entry that was previously acknowledged to the original client. If a bookie responds with a NoSuchEntry or NoSuchLedger for such an entry, then recovery may close the ledger at that point, truncating it (data loss).

The EntryLogger can throw a NoEntryException if a log file is corrupted, thu

[2021-11-26 01:06] #2239 closed

[2021-11-26 06:21] #2894 closed

[2021-11-26 08:09] yunfeng79 opened #2912 "java.io.IOException: Error open RocksDB database"
apache-pulsar-2.8.0

apache-pulsar-2.8.0 cluster stop
apache-pulsar-2.8.0 cluster  start

error information:

15:06:37.344 [main] INFO  org.apache.bookkeeper.bookie.storage.ldb.SingleDirectoryDbLedgerStorage - Creating single directory db ledger storage on /home/apache-pulsar-2.8.0/data/bookkeeper/ledgers/current
15:06:37.545 [main] INFO  org.apache.bookkeeper.proto.BookieNettyServer - Shutting do

[2021-11-30 04:24] hangc0276 commented on #2395
After deep into the compaction code, i found there is no need to divide  `compactionRateByBytes` into `compactionWriteRateByBytes` and `compactionReadRateByBytes`
https://github.com/apache/bookkeeper/blob/abf1a96e38bb74f7f7a47e9b6f2b337bd07d622f/bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/EntryLogger.java#L1009-L1051

The reason is
1. The entry log scanner will just read each entr

[2021-11-30 07:17] anchal0997 commented on #2908
Hi @Vanlightly , I would like to work on this issue.

[2021-11-30 11:15] Vanlightly commented on #2585
You can find the protocol described concisely in a TLA+ specification here: https://github.com/Vanlightly/bookkeeper-tlaplus/blob/main/BookKeeperProtocol.tla

To answer your specific question, ledger recovery focuses on the last ensemble of the ledger. It starts at the highest known LAC of the ensemble of bookies and stops when it reaches the last unrecoverable entry. Unrecoverable means that no A

[2021-11-30 11:15] #2585 closed

[2021-11-30 12:51] WJL3333 commented on #2585
thanks for explain : - ) TLA+ is a good material to understand bookkeeper !

[2021-12-06 11:32] StevenLuMT opened #2927 "EntryLocationIndex.getLastEntryInLedger has bug when the ledger has been deleted"
**BUG REPORT**

***Describe the bug***

A ledger's EntryLocationIndex has bean deleted, EntryLocationIndex.deletedLedgers contains this ledgerId,
then fence and get lac from this ledger ,then the bug will be fired

***To Reproduce***

Steps to reproduce the behavior:

1.  A ledger's EntryLocationIndex has bean deleted, EntryLocationIndex.deletedLedgers contains this ledgerId
2. fence and get lac f

[2021-12-06 12:44] mingyifei opened #2929 "No network topology script is found when using script based DNS resolver."
code:
`        BookKeeper bk = new BookKeeper("127.0.0.1:2181");
`
version: 4.15.0-SNAPSHOT(master install)

20:40:27.105 [main] ERROR org.apache.bookkeeper.client.RackawareEnsemblePlacementPolicyImpl - Failed to initialize DNS Resolver org.apache.bookkeeper.net.ScriptBasedMapping, used default subnet resolver
java.lang.RuntimeException: No network topology script is found when using script based

[2021-12-06 12:46] mingyifei commented on #2929
![image](https://user-images.githubusercontent.com/38995810/144848483-558ac7b5-5c0d-4d8d-a366-314a4a676316.png)

[2021-12-06 12:47] mingyifei commented on #2929
what should i do?

[2021-12-06 22:49] nicoloboschi opened #2930 "Enable backward-compatibility tests"
Currently, building BookKeeper with Maven doesn't trigger the tests under `tests/backward-compat`. (neither with `-PintegrationTests` and `-DintegrationTests`
With Gradle these tests run in the test phase but they fail due to timeout while connecting to ZK container.

We need to
1) make sure the tests are run during build (both Maven and Gradle)
2) fix all the tests

I will start a discussion on d

[2021-12-07 13:12] zymap commented on #2929
It means there is no network topology script and it will going to use the default subnet resolver. I think it's just a warning and it shouldn't impact your usage.

[2021-12-09 07:19] mingyifei commented on #2929
ok. I commented validateConf.

[2021-12-09 07:19] #2929 closed

[2021-12-09 22:50] hsaputra commented on #2930
FYI @Vanlightly , @pkumar-singh , @ivankelly

[2021-12-09 23:40] pkumar-singh commented on #2930
@nicoloboschi Very good idea. Giving some pointers. We are already using gradle to run integration tests with test container. Kindly see If you can lift something from there and reuse.

[2021-12-15 13:20] wenbingshen opened #2941 "[BUG] Bookie will infinite waiting for shutdown due to throttler limit"
**BUG REPORT**

***Describe the bug***

Our compaction current limiting configuration is as follows, the traffic configuration is very small.
The compact limit configuration is so small because we encountered compact which caused the disk io to be too high.

**bookkeeper.conf**
`isThrottleByBytes=true`
`compactionRateByEntries=1000`
`compactionRateByBytes=150000`
![image](https://user-images.githu

[2021-12-15 17:30] mauricebarnum opened #2943 "BP-44: Support for writing ledger entries with O_DIRECT"
**BP**

This is the master ticket for tracking BP-44 :

Add support for writing ledger entries, bypassing the file system's buffering.  On supported systems (currently Linux and MacOS), files are opened with O_DIRECT and page-aligned buffers are maintained by the BookKeeper application.  Access to the operating system's IO API is via a thin JNI binding.

Proposal PR - https://github.com/apache/boo

[2021-12-15 17:50] Vanlightly commented on #2943
This will need to be BP-47. BP-44 - 46 are not yet merged but do exist.

[2021-12-16 06:40] dragonls opened #2945 "Bookkeeper "READ_ENTRY (Inprogress)" keeps non zero"
**BUG REPORT**

***Describe the bug***

I'm using Pulsar 2.7.2, the Bookkeeper version is 4.12.0.

The grafana panel shows that "READ_ENTRY (Inprogress)", the metrics of "bookkeeper_server_READ_ENTRY_IN_PROGRESS" , is not 0.
![image](https://user-images.githubusercontent.com/2565118/146320423-cc9aac11-8b3d-4c11-9ed7-bfd510f24a8f.png)

While the indicator is rising abnormally, the read latency also

[2021-12-16 06:47] dragonls commented on #2945
The disk IO seems to be OK, nothing special.
![image](https://user-images.githubusercontent.com/2565118/146321844-9ce21b6b-3181-4269-a473-1bb2ad0f76c3.png)

[2021-12-16 06:54] dragonls commented on #2945
The log shows that lots of `No ledger found while trying to read last entry: xxx` first:
[code]

And then lots of `Bookie operation timeout`:
[code]

Also some `LedgerFencedException`:
[code]

And `Too many requests to the same Bookie`:
[code]

Also `Queue at limit of 5000 items`:
[code]

[2021-12-16 14:59] 3286360470 commented on #2499
thanks for your solution, it's worked for me. I build bk on M1, there're to many questions.

[2021-12-17 06:06] wenbingshen commented on #2941
@eolivelli Can you help take a look at this issue? Thanks.

[2021-12-18 04:49] kezhuw opened #2948 "Deadlock on Journal.ForceWriteThread.forceWriteRequests.put when `journalQueueSize` is small"
**BUG REPORT**

***Describe the bug***
`Journal.forceWriteRequests` is a blocking queue, it is solely consumed by `ForceWriteThread`, but `ForceWriteThread` also put blocking when posting group force write marker.

***To Reproduce***
I pushed a [reproducing branch](https://github.com/kezhuw/bookkeeper/tree/potential-deadlock-forceWriteRequests-put-reproducing) in my fork with commit https://github

[2021-12-20 13:06] gaozhangmin opened #2950 "Change `org.apache.bookkeeper.server.Main` classname，for better recognition."
I suggest change classname `org.apache.bookkeeper.server.Main` to some  more related with bookkeeper.

When using  `jps` commands. it outputs:
![image](https://user-images.githubusercontent.com/9278488/146771377-4c49635a-00be-41c4-8334-054e21a0928e.png)

[2021-12-22 11:04] kezhuw opened #2953 "Mismatch between javadoc of `org.apache.bookkeeper.client.api.LedgerEntry.getLength` and its implementation"
**BUG REPORT**

***Describe the bug***
* Javadoc here:
[code]
* The implementation returns accumulated entry payload(not metadata) length till returned entry(inclusive).

***To Reproduce***
Omit.

***Expected behavior***
Consistent between javadoc and its implementation.

***Screenshots***

None.

***Additional context***
I checked [commit tree](https://github.com/apache/bookkeeper/tree/95373234a2

[2021-12-23 09:02] sunshujie1990 opened #2956 "waitBackOffTime does not take effect while BKException occurred in ReplicationWorker"
**BUG REPORT**

pulsar version 2.8.1
bookkeeper version 4.1.42

***Describe the bug***

org.apache.bookkeeper.replication.ReplicationWorker

BKException cached and return false(org.apache.bookkeeper.replication.ReplicationWorker#rereplicate(long)), this leads to waitBackOffTime does not take effect(org.apache.bookkeeper.replication.ReplicationWorker#run).

![image](https://user-images.githubuserco

[2021-12-24 03:06] czhfe opened #2960 "Pulsar is producing and consuming messages, the bookie_READ_BYTES indicator does not change"
**BUG REPORT**

***Describe the bug***

I am using pulsar 2.7.2 and Bookkeeper version is 4.12.0

I am using pulsar 2.7.2 and Bookkeeper version is 4.12.0

I am using the pulsar-perf tool for pulsar performance testing, and in the process I found that the read entry metric of the grafana panel Throughput(MB/s) has been zero

By accessing the Bookkeeper metrics interface at http://Bookkeeper_IP:met

[2022-01-01 14:40] 3286360470 commented on #2960
pulsar has broker cache, can you show the broker cache miss metrics(pulsar_ml_cache_misses_throughput), if the cache miss metrics is 0, so bookie's read entry should be 0.

[2022-01-05 11:18] 1559924775 opened #2974 "When the journal directory is even, the journal data is unevenly distributed"
**BUG REPORT**

***Describe the bug***

When the journal directory is configured to be even, the ledger allocated to each journal will be uneven. The root cause is that almost all the ledger IDs generated by the LedgerIdGenerator class are even. The number of ZK temporary order nodes is determined by the cversion of the parent node. Whenever a child node is added or deleted, it will increase by 1.

[2022-01-06 12:13] mingyifei opened #2977 "Some questions about bookeeper."
After the bookeeper obtains the FileChannel, it writes the called write(), reads the called read(), write() writes to the system buffer, and force writes to the disk through fileChannel.force(). Why not use mmap here?

[2022-01-06 12:47] #2977 closed

[2022-01-11 08:29] lordcheng10 opened #2984 "journalRemoveFromPageCache default value probably we should set to false"
**BUG REPORT**

***Describe the bug***
The configuration is as follows:
journalDirectories=/data1/bk-journal
ledgerDirectories=/data2/bk-data,/data3/bk-data,/data4/bk-data
data1~data4 are all physical disks.
Online, we found that when read miss cache(At this time, data2~4 disks will have more reads.), At this time, the flush delay of the joint disk data1 has increased：
![image](https://user-images

[2022-01-11 08:30] lordcheng10 commented on #2984
@eolivelli @merlimat @pkumar-singh @sijie PTAL,thanks!

[2022-01-11 08:36] lordcheng10 commented on #2984
Also I would like to know what was the purpose of this remove action from page cache in the first place?
In order to release the page cache and improve read performance?
@sijie @eolivelli @pkumar-singh @merlimat

[2022-01-13 03:05] jameschen789 commented on #2700
It is a bug, shade jar should include <include>com.google.guava:failureaccess</include>

[2022-01-13 11:09] Shawyeok opened #2990 "Could not delete old journal file"
**BUG REPORT**

***Describe the bug***
Unexpected log by logger `org.apache.bookkeeper.bookie.Journal`
[code]

***Additional context***
- bookkeeper version: `4.14.2`
- pulsar version: `2.8.1`
- os: `CentOS Linux release 7.9.2009 (Core)`
- kernel: `3.10.0-1160.45.1.el7.x86_64`

cc @codelipenghui

[2022-01-14 06:47] wuzhanpeng opened #2992 "BP-48: Add R/W speed limit mechanism for entry files"
**BP**

This is the master ticket for tracking BP-48 :

This proposal mainly analyzes what disk performance problems may occur in the process of reading and writing entry files, and provides a solution to avoid these problems to a certain extent through the speed limiter, thereby improving the availability and stability of the bookkeeper cluster.

Proposal PR - #abc

[2022-01-19 03:47] wolfstudy opened #2998 "[CMD] bookkeeper shell listbookies -all error"
**BUG REPORT**

***Describe the bug***

When we execute the offline command to log off a bookie node from the bookie cluster, and execute the command `bookkeeper shell listbookies -all`, the following error will be reported:

[code]

But executing `bookkeeper shell listbookies -rw` and `bookkeeper shell listbookies -ro` can output normally, and can also correspond to the list of bookie nodes store

[2022-01-19 07:17] sunshujie1990 commented on #2269
@dreamcatchernick Have your problems finally been solved？

[2022-01-19 10:26] Shoothzj opened #3000 "[security] Can I change the permission of `.log` and `.idx`"
Current, in my test environment, I have
- .idx file with permission, 644
- .log file with permission, 755

I want to change the permission to
- .idx file 640
- .log file 740

How can I make it ?
If there is code needs to change. I'd like to submit a PR.

[2022-01-19 10:27] Shoothzj commented on #3000
@eolivelli @dlg99 @merlimat @pkumar-singh could you please give me some adivce, thank you

[2022-01-20 03:58] 315157973 opened #3003 "Split read and write orderExecutor"
**BUG REPORT**

***Describe the bug***

Now the read and write of BookkeeperClient share an orderExecutor. When cold data is read, it will take a long time. At this time, the read request will be blocked, resulting in the write timeout.

***Expected behavior***
Thread pools for reading and writing should be separated

[2022-01-21 02:32] dlg99 commented on #2878
@wuzhanpeng I suggest starting with profiling.

JFR (java flight recorder) is packaged with the JDK. It is an easy to use profiler (cpu/memory/GC).
In case you haven't used it:

```jcmd <PID_HERE> JFR.start duration=60s settings=profile filename=flight.jfr```

This will collect the profile into the file. If the systems is too busy the profile can get quite large (but it compresses well), you can t

[2022-01-21 03:40] dlg99 commented on #3000
I think it is enough to run bookie under the account that has access to the files/directories (and the cookie file). Stop the bookie, chmod/chown as needed, start the bookie. Also, why do you need 740 (includes execute permission for the user) on the log files if 640 is enough for the idx? FWIW I didn't have to deal with this for a few years, my memory might be murky

@reddycharan do you have any

[2022-01-21 04:33] kezhuw opened #3005 "Ack broken entry succeed in ensemble change unsetting"
**BUG REPORT**

***Describe the bug***
Ack broken entry succeed in ensemble change unsetting.

Besides this, `LedgerHandle.pendingAddOps` were read and then poped in nested:
* Read in `LedgerHandle.unsetSuccessAndSendWriteRequest`.
* Poped in call chain `PendingAddOp.unsetSuccessAndSendWriteRequest` to `LedgerHandle.sendAddSuccessCallbacks`

This guess this is dangerous.

***To Reproduce***
I crea

[2022-01-21 12:14] 315157973 opened #3007 "Create Ledger Timeout"
**BUG REPORT**

***Describe the bug***

When there is a network failure, the creation of Ledger will never end, resulting in the inability to write subsequent data

<img width="998" alt="wecom-temp-410e08dbeffc33326aa3aac4d85cf9b1" src="https://user-images.githubusercontent.com/9758905/150524087-666cd82d-8e81-42c9-8a96-8682f7738457.png">

***To Reproduce***

Steps to reproduce the behavior:
1. cut

[2022-01-27 03:24] imChenChen opened #3015 "install failed"
java-v:1.8, mvn-:3.8.4

last error:
[code]

[2022-01-27 03:25] imChenChen commented on #3015
command:
[code]

[2022-01-27 05:39] #3015 closed

[2022-01-27 05:50] imChenChen opened #3016 "install falied"
- command: `mvn clean install -DskipTests -U -e`
- error info:
[code]

[2022-01-27 07:50] nicoloboschi commented on #3016
Maven has been dropped from the project. You have to use Gradle instead.

[code]

[2022-01-27 08:04] #3016 closed

[2022-01-27 08:05] imChenChen commented on #3016
@nicoloboschi  ok thank u

[2022-01-27 10:28] nicoloboschi opened #3019 "[website] Update release process guide to Gradle"
We need to edit the [release process guide](https://bookkeeper.apache.org/community/release_guide/) removing maven commands and then explain how cut to and push the release using gradle

Reference: https://github.com/apache/bookkeeper/pull/2681

[2022-01-27 10:28] nicoloboschi commented on #3019
@pkumar-singh do you have time to work on that ?

[2022-01-27 20:49] pkumar-singh commented on #3019
Yes sure.

[2022-02-02 15:26] Vanlightly commented on #2974
Changing the routing without some kind of migration will result in effective data loss. Plus an md5 hash is relatively expensive.

The issue here is that ledger ids are all even. I am seeing this myself which results in only even numbered read threads from being routed to. This problem of even ledger ids affects the selection of journals, ledger storage, read threads and write threads. It is a rea

[2022-02-04 17:32] dlg99 opened #3024 "RocksDB occasionally crashes with _ZN7rocksdb6DBImpl11NewIteratorERKNS_11ReadOptionsEPNS_18ColumnFamilyHandleE+0x14f"
**BUG REPORT**

***Describe the bug***

RocksDB occasionally (?) crashes with _ZN7rocksdb6DBImpl11NewIteratorERKNS_11ReadOptionsEPNS_18ColumnFamilyHandleE+0x14f

I noticed that tests got flakier on CI, tried to repro, tests succeeded on all local runs but I noticed the error log.

***To Reproduce***

No idea. Ran the tests for the bookkeeper-server, tests do retries.
When I checked later the test

[2022-02-04 17:49] dlg99 commented on #2974
@Vanlightly @eolivelli I updated OrderedExecutor to better distribute data across the threads, added tests reproducing the issue. please take a look:

https://github.com/apache/bookkeeper/pull/3023

This does not address the fact that generated ledger ids are skewed towards even numbers.
This does not fix routing of the journals/data dirs.

[2022-02-04 19:38] dlg99 opened #3025 "Java 11 support is incomplete, CI check for the Java 11 support is not enough"
**BUG REPORT**

***Describe the bug***

***To Reproduce***

1. Make sure Java 11 is used
2. `./gradlew bookkeeper-server:test -i --tests="org.apache.bookkeeper.bookie.BookieJournalTest"`
3. tests fail, see errors

[code]

***Expected behavior***

test succeeds

***Additional context***

[Looks like add-exports is needed](https://stackoverflow.com/a/42541096/2237794) for the build and runtime (and

[2022-02-04 23:09] #2930 closed

[2022-02-07 08:12] #3007 closed

[2022-02-08 02:19] hangc0276 commented on #2943
@mauricebarnum Would you please give more details about the motivation and design for this proposal?

[2022-02-09 21:14] #3024 closed

[2022-02-09 21:43] dlg99 opened #3031 "[FLAKY TEST] stream:storage:impl:test / MVCCStoreFactoryImplTest flaked on CI"
**BUG REPORT**

MVCCStoreFactoryImplTest flaked on CI run

[code]

***Expected behavior***

stable passing test

[2022-02-10 01:10] dlg99 opened #3033 "[FLAKY TEST] :bookkeeper-server:test failed with SIGSEGV on CI"
**BUG REPORT**

Test failed

[code]

***Expected behavior***

repeatedly passing test

[2022-02-10 01:13] dlg99 opened #3034 "[FLAKY TEST] :stream:statelib:test failed with "Wanted but not invoked: runnable.run();" on CI"
**BUG REPORT**

***Describe the bug***

Tests flaked with
[code]

***Expected behavior***

repeatedly passing tests

[2022-02-10 23:44] dlg99 opened #3038 "[FLAKY TEST] org.apache.bookkeeper.bookie.CompactionByBytesTest flaked on CI with "AssertionError: Found entry log file ([0,1,2].log that should have not been compacted""
**BUG REPORT**

***To Reproduce***

run `./gradlew bookkeeper-server:test --tests="org.apache.bookkeeper.bookie.CompactionByBytesTest"` or `./gradlew bookkeeper-server:test --tests="org.apache.bookkeeper.bookie.CompactionByBytesTest.testMinorCompactionWithMaxTimeMillis"`
test flakes

[code]

***Expected behavior***

test passes reliably

[2022-02-11 00:23] dlg99 opened #3040 "[FLAKY TEST] RocksDB segfaulted during CompactionTest: rocksdb::DBImpl::NewIterator(rocksdb::ReadOptions const&, rocksdb::ColumnFamilyHandle*)"
**BUG REPORT**

***Describe the bug***

happened during run of `./gradlew bookkeeper-server:test --tests="org.apache.bookkeeper.bookie.CompactionByBytesTest"`
Not sure how easily reproducible it is.

Possibly related to https://github.com/facebook/rocksdb/issues/7948 (using `rocksDb: "6.27.3"` at the moment of crash)

[code]

***Expected behavior***

no crash

***Additional context***

Log:

[hs_e

[2022-02-11 18:41] dlg99 commented on #3040
It is tricky to mock / will require otherwise useless refactoring/test injection, but I reproed it with minimal modifications.
The trick is to force GC thread to create an iterator on already closed PersistentEntryLogMetadataMap/underlying RocksDB. Probably any kind of access to it is enough.

[code]

[2022-02-11 22:08] #3038 closed

[2022-02-11 22:15] dlg99 commented on #3033
hard to say without looking at `.../bookkeeper-server/hs_err_pid8605.log` but there is a chance this one is the same as https://github.com/apache/bookkeeper/issues/3040

@nicoloboschi is it possible to pick up logs like `hs_err_pid.*\.log` (if exists) from any directory in case of the test failure on CI and package with other logs for review? Unfortunately RocksDB segfaults end up creating these i

[2022-02-11 22:42] nicoloboschi opened #3044 "[FLAKY_TEST] EtcdLedgerManagerTest > testRegisterLedgerMetadataListener hangs out forever"
[code]

https://pipelines.actions.githubusercontent.com/EMeCU0s3nV8mEzpqEGqbbDjtOUKCLJV4IPXg8mh4qtgdpzCGW6/_apis/pipelines/1/runs/22296/signedlogcontent/2?urlExpires=2022-02-11T22%3A39%3A36.7885983Z&urlSigningMethod=HMACV1&urlSignature=3qSfC9etL1o8Vw3X4I9uy5oLDi3VbGALXrpnBO%2FysiI%3D

[2022-02-11 22:42] #1400 closed

[2022-02-14 17:58] dlg99 commented on #3003
This is done on purpose for writable ledgers.
Read-only ledgers (cold data) don't use OSE. Please take a look at https://github.com/apache/bookkeeper/pull/1792 / https://github.com/apache/bookkeeper/issues/1791

[2022-02-14 18:03] #1239 closed

[2022-02-14 19:00] #2823 closed

[2022-02-14 19:53] dlg99 opened #3047 "Gradle: "Execution optimizations have been disabled for task...""
**BUG REPORT**

***Describe the bug***

Gradle logs `"Execution optimizations have been disabled for task..."`

***To Reproduce***

`./gradlew build -x signDistTar -x test` reports

get messages like that for multiple modules:

[code]

***Expected behavior***

No warnings, hopefully faster builds

[2022-02-14 19:55] dlg99 commented on #3047
@pkumar-singh @sursingh I believe you are more familiar with gradle. Can you take a look please?

[2022-02-14 20:03] pkumar-singh commented on #3047
Sure let me take a look.

[2022-02-14 20:59] dlg99 opened #3048 "Flaky-test: "Compatibility Check Java11" times out frequently"
"Compatibility Check Java11" workflow times out frequently on CI

[2022-02-15 06:16] 315157973 commented on #3003
Thank you very much for your reply.
When the Ledger is in the Writable state, can we guarantee that the data is not read from disk?
As long as data is read from the hard disk, when there are many read requests,  the read affects the write, resulting in a write timeout

[2022-02-15 06:30] lujiwen commented on #3019
@pkumar-singh I am developing this project locally, and I want to release for my own project, what is the gradle command to release? Thank you!

[2022-02-15 18:57] dlg99 commented on #3048
Duplicate of https://github.com/apache/bookkeeper/issues/3044

[2022-02-15 18:57] #3048 closed

[2022-02-15 21:33] dlg99 opened #3052 "Flaky-test: org.apache.bookkeeper.replication.BookieAutoRecoveryTest failures with "AssertionError: Should be marked as replicated""
[code]

[2022-02-16 03:09] zcola commented on #2529
+1

[2022-02-16 14:23] AliIoT opened #3057 "[SECURITY] Weak security algorithm used by MacDigestManager"
https://github.com/apache/bookkeeper/blob/7018d2fff35de96a90a1008366e38580e448fb84/bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/checksum/MacDigestManager.java#L43-L44

[2022-02-16 14:37] AliIoT opened #3058 "[SECURITY] Hardcode the password in DigestTypeBenchmark"
https://github.com/apache/bookkeeper/blob/7018d2fff35de96a90a1008366e38580e448fb84/microbenchmarks/src/main/java/org/apache/bookkeeper/proto/checksum/DigestTypeBenchmark.java#L109

Is it ok to hardcode the password in DigestTypeBenchmark? It seems to be a benchmark class, won't use in production. Am I right?
Thanks for your help.

[2022-02-16 21:29] dlg99 opened #3059 "Flaky-test: org.apache.bookkeeper.test.BookieZKExpireTest flaked with "AssertionError: Bookie should not shutdown on losing zk session""
[code]

[2022-02-17 19:16] mauricebarnum commented on #3057
This is required by the V2 wire protocol.   I don't know what's required to remove that, but at the least I see that Pulsar is still defaulting to v2.

Maybe there's some sort of "yeah, sorry" annotation that can be added so code scanners wouldn't complain?

[2022-02-17 21:52] dlg99 opened #3063 "Flaky-test: org.apache.distributedlog.TestBKDistributedLogManager testTwoWritersOnLockDisabled flakes with "KeeperErrorCode = BadVersion""
happens on attempt to create second writer immediately after the first one.
i only was able to repro this by running the whole suite, rtest passses if I run just this test alone.
Sleep between writer creations helps with the test but probably this worth looking at.

[code]

[code]

[2022-02-18 01:08] dlg99 commented on #3057
DigestManager isn't used for the security but for the checksum/checksum validation.

CRC32 should be the default: https://github.com/apache/bookkeeper/blob/7018d2fff35de96a90a1008366e38580e448fb84/conf/bk_server.conf#L883-L884 and https://github.com/apache/bookkeeper/blob/7018d2fff35de96a90a1008366e38580e448fb84/bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/ClientConfiguration.java#L2

[2022-02-18 01:09] dlg99 commented on #3058
Correct, this is just for the benchmarks.

[2022-02-18 01:09] #3058 closed

[2022-02-18 03:45] dlg99 opened #3066 "Flaky-test: org.apache.bookkeeper.bookie.FileInfoBackingCacheTest testRaceGuavaEvictAndReleaseBeforeRetain is slow"
from CI log of the "Remaining Tests" job:

[code]

[2022-02-21 07:15] shustsud opened #3070 "checkAllLedgers gets stuck when read throttling is enabled."
**BUG REPORT**

***Describe the bug***

checkAllLedgers gets stuck when read throttling is enabled.

***To Reproduce***

Run TestLedgerChecker with low read throttle value, i.e.,

1. Modify `LedgerChecker checker = new LedgerChecker(bkc);` to `LedgerChecker checker = new LedgerChecker(bkc, 1);`.
https://github.com/apache/bookkeeper/blob/d4d0060bc38995777da5cc2363c7af897a908f27/bookkeeper-server/sr

[2022-02-22 10:03] yahya99223 commented on #2270
Any ideas on how to overcome this issue on Win 10?

[2022-02-22 18:44] lordcheng10 commented on #3070
What is the throttle configuration.
What is the relationship between each understanding and speed limit? @shustsud

[2022-02-24 02:26] kezhuw opened #3075 "Docker run failed due to empty httpServerPort"
**BUG REPORT**

***Describe the bug***
1. `BOOKIE_HTTP_PORT` is unset in `Dockerfile`.
2. `BK_httpServerPort` will be empty.
3. `httpServerPort` in `bk_server.conf` will be overrode to empty
4. Startup failed.

***To Reproduce***
1. Run image without additional env `BOOKIE_HTTP_PORT`.
2. Docker run failed.

***Expected behavior***
Only `BK_zkServers`(or other meta service related option) should be

[2022-02-24 03:02] shustsud commented on #3070
@lordcheng10

readEntryComplete(callback) is run in the BookKeeperClientWorker-OrderedExecutor thread.
[code]

Then, BookKeeperClientWorker-OrderedExecutor thread acquires the lock of semaphore.
[code]

If all BookKeeperClientWorker-OrderedExecutor threads are waiting to acquire the lock, there are no available BookKeeperClientWorker-OrderedExecutor threads, so readEntryComplete(callback) will not

[2022-02-25 17:26] #2898 closed

[2022-02-26 00:18] #3034 closed

[2022-03-01 12:15] StevenLuMT commented on #2956
bugfix in this pr:   #2967

[2022-03-01 12:20] StevenLuMT commented on #2927
bugfix in pr #2946

[2022-03-01 12:20] #2927 closed

[2022-03-01 12:22] StevenLuMT commented on #2760
bugfix in pr #2958

[2022-03-03 04:49] czhfe opened #3079 "Bookeeper disk space is not freed"
**BUG REPORT**

***Describe the bug***

Bookkeeper disk space is not freed, through troubleshooting found that the file handle is not freed.

***Expected behavior***

Release file handles normally to free up disk space.

***Screenshots***
![image](https://user-images.githubusercontent.com/19341806/156498122-8cbd08e7-e8d2-4d29-829d-4bf6148ecaa1.png)

[2022-03-03 11:57] pjfanning commented on #2387
https://github.com/apache/bookkeeper/pull/2816 seems to sort out log4j - but the latest official release (4.14.4) still has log4jv1 dependency (via slf4j-log4j12) - so maybe a new release is justified

https://repo1.maven.org/maven2/org/apache/bookkeeper/bookkeeper-server/4.14.4/bookkeeper-server-4.14.4.pom

[2022-03-07 11:38] wuzhanpeng opened #3085 "BP-49: Support reading ahead in async mode"
**BP**

This is the master ticket for tracking BP-49 :

### Motivation

#### Current Design of Read-ahead

Under the current design of read-ahead, every `read-entry` request that the entry data is required to be read from main storage eventually, will force a read-ahead operation through the method `org.apache.bookkeeper.bookie.storage.ldb.SingleDirectoryDbLedgerStorage.fillReadAheadCache`. This m

[2022-03-08 11:23] wuzhanpeng commented on #3085
@merlimat @eolivelli @hangc0276  Hi, could you give some advice?

[2022-03-11 07:44] lhotari opened #3093 "PendingReadOp has a buffer leak in the case of errors"
**BUG REPORT**

***Describe the bug***

The code in PendingReadOp doesn't handle failure cases.

This code doesn't ever get executed:
https://github.com/apache/bookkeeper/blob/017307bc67431a7616861ad09927c4e3327633d1/bookkeeper-server/src/main/java/org/apache/bookkeeper/client/PendingReadOp.java#L628-L645

The reason for this is that execution is guarded with the `complete` field:
https://github.c

[2022-03-11 07:47] lhotari commented on #3093
I misread the code... there's an inner class. closing. :)

[2022-03-11 07:47] #3093 closed

[2022-03-11 10:28] gaozhangmin opened #3094 "Kill zookeeper leader would cause bookie exited"
[code]

[2022-03-12 02:33] kezhuw commented on #2948
Fixed by #2962 in 1b1e937.

[2022-03-12 02:33] #2948 closed

[2022-03-12 10:04] leizhiyuan opened #3098 "support some thread pool associated with CPU cores"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

[code]

this thread pool is hard code, we use 16/32/64core cpu, it was small for performance.

3. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).
   Are you currently using any workarounds to address this issue?

4. Provide any additional detail on your proposed use case for this

[2022-03-14 06:15] lhotari opened #3104 "Recycled LedgerEntryImpl instances are corrupted due to invalid recycling in BK client"
**BUG REPORT**

***Describe the bug***

See https://github.com/apache/pulsar/issues/14436#issuecomment-1064758710 for a detailed analysis by @congbobo184 about the symptoms of the thread safety issue.

***To Reproduce***

Steps to reproduce the behavior:
Follow instructions in https://github.com/apache/pulsar/issues/14436

***Expected behavior***

BK client should handle LedgerEntryImpl instances

[2022-03-14 06:25] lhotari opened #3105 "Improve performance of OrderedExecutor by switching to a more performant BlockingQueue implementation"
**FEATURE REQUEST**

[OrderedExecutor uses `LinkedBlockingQueue`](https://github.com/apache/bookkeeper/blob/3db4de9da1447e2a5135ac9330d4347b9d220a0d/bookkeeper-common/src/main/java/org/apache/bookkeeper/common/util/OrderedExecutor.java#L307-L308) (when `enableBusyWait`=false). This is not optimal.

It looks like @merlimat introduced [GrowableArrayBlockingQueue](https://github.com/apache/bookkeeper

[2022-03-14 07:45] eolivelli commented on #3104
Makes sense to me.
I am fine with reverting #3105

data corruption is a bad problem, "being faster" is only an enhancement.

we should revert that change on master branch and on other active branches and possibly cut a new release

[2022-03-14 07:49] eolivelli commented on #3104
PR for the revert:
https://github.com/apache/bookkeeper/pull/3106

great work @lhotari @congbo1984

[2022-03-14 09:13] lhotari commented on #3105
Pulsar contains GrowableArrayBlockingQueue too, https://github.com/apache/pulsar/blob/master/pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/GrowableArrayBlockingQueue.java . I picked one fix to the BK version of GrowableArrayBlockingQueue when comparing the classes.

[2022-03-15 08:20] eolivelli commented on #3085
next step is to start the discussion on dev@bookkeeper

it looks like a nice work ! well done (I have already taken a quick  look to the PR)

[2022-03-15 15:16] lhotari commented on #3104
This will be fixed by #3110

[2022-03-16 02:13] Nicklee007 opened #3112 "Can't start bookie by bookkeeper-daemon.sh, because the last pid occupied by other progress’s thread"
**BUG REPORT**

***Describe the bug***
After bookie progress is killed or occur some non-normal exit，can't start bookie by bin/bookkeeper-daemon.sh, because the last pid occupied by other progress’s thread.

***To Reproduce***

Steps to reproduce the behavior:
1. Go to directly kill the bookie;
2. Change the bin/bookkeeper-bookie.pid  to other progress’s one thread pid
3. bin/bookkeeper-daemon.sh

[2022-03-16 11:15] gaozhangmin commented on #3094
fixes by #2958

[2022-03-16 11:15] #3094 closed

[2022-03-16 11:54] eolivelli opened #3115 "Tests: suspect warnings like java.lang.LinkageError: loader constraint violation: loader (instance of org/powermock/core/classloader/javassist/JavassistMockClassLoader) previously initiated loading for a different type with name "javax/management/MBeanServer""
***Describe the bug***

I am running locally BookKeeper test and I see warning like the one below, we should take a look

***To Reproduce***
run
`./gradlew build `

[2022-03-16 12:28] nicoloboschi commented on #3115
It looks like a problem with Powermockito, we should remove it and use mockito-inline

[2022-03-17 13:57] czhfe opened #3121 "About apache bookeeper in the parameter unit problem"
**QUESTION**

[2022-03-18 08:57] eolivelli commented on #2900
Isn't this the expected format ? (with ';') ?
`metadataServiceUri=zk+hierarchical://localhost:2181;localhost:2182;localhost:2183/ledgers`

[2022-03-18 13:32] aloyszhang commented on #2900
It's hard to say the semicolon-separated is the expected format. But you can't say this is the wrong format too.
Either semicolon-separated or comma-separated makes sense.  IMO, the comma-separated format is more general.
Actually, at first, we set the `metadataServiceUri` in a comma-separated way and then found only one zookeeper server is connected.
It's better to support the comma-separated for

[2022-03-21 07:27] zcola opened #3128 "Need an api interface for the process to start working normally for rolling restart of booklie"
The official website documentation tells us that we can restart one by one after the canary test.

But in extreme cases, is it possible that the updated bookie process starts too slowly or crashes shortly after startup?

Therefore, when we make operation and maintenance scripts, we need to consider that once the previous update fails to cancel all update tasks, we need an api for detection and jud

[2022-03-21 13:24] eolivelli opened #3129 "Gradle Build: bad file bookkeeper-4.15.0-SNAPSHOT-src-bin.tar.gz instead of bookkeeper-4.15.0-SNAPSHOT-src.tar.gz"
When I build BookKeeper from current master I see that the bookkeeper-dist project generates a file `bookkeeper-4.15.0-SNAPSHOT-src-bin.tar.gz` I would expect `bookkeeper-4.15.0-SNAPSHOT-src.tar.gz`

[2022-03-22 07:13] wolfstudy opened #3131 "[Bookkeeper Admin] Error running ListLedgers"
**BUG REPORT**

***Describe the bug***

For some reason, we are decommission the bookie node as follows:

- Stop Bookie process
- Run decommission cmd
- Run `bin/bookkeeper shell listledgers -bookieid 1.1.1.1` and check the bookie ledgers

And when run `listledgers` cmd, the error as follows:

[code]

[2022-03-22 07:31] #3131 closed

[2022-03-22 07:34] poorbarcode opened #3132 "[feature] [distributedlog] The api for delete empty zookeeper node"
**FEATURE REQUEST**

[code]

After deleted, there has an dirty zk-node:  default/example

I think there should has a safe way to remove nodes, just like this:

[code]

[2022-03-22 07:41] poorbarcode commented on #3132
I submitted a PR: https://github.com/apache/bookkeeper/pull/3133

[2022-03-22 08:24] equanz opened #3134 "Security vulnerability in jackson-databind@2.11.0"
**BUG REPORT**

***Describe the bug***

`OWASP Dependency Check` job detects the vulnerability in `com.fasterxml.jackson.core/jackson-databind@2.11.0`.

[code]

https://nvd.nist.gov/vuln/detail/CVE-2020-36518

[2022-03-22 08:58] nicoloboschi commented on #3134
We have to wait until 2.13.2 is released
https://github.com/FasterXML/jackson-databind/issues/2816#issuecomment-1073483255

[2022-03-23 08:01] #3105 closed

[2022-03-23 08:01] #3075 closed

[2022-03-24 03:51] Shoothzj opened #3136 "second TYPE line for metric name when use metricbeat prometheus module"
***Describe the bug***
second TYPE line for metric name when use metricbeat prometheus module

[2022-03-25 06:46] equanz commented on #3134
@marcospds

Which does your comment mean, "*Will a fix be created for bookkeeper v2.11.x*" or "*Will a fix be created for jackson-databind v2.11.x*" ?

[2022-03-25 21:36] eolivelli commented on #3134
See here https://github.com/apache/bookkeeper/pull/3140

[2022-03-26 09:42] leizhiyuan opened #3141 "auto read only mode support multi disks"
**FEATURE REQUEST**

when diskUsageThreshold is full, the bookie will convert to read-only

1. Please describe the feature you are requesting.

[code]

now, if we have one disk, ledger dirs  are l1,l2,l3,l4 it runs ok

but if we have two disks, one for l1,l2, the other for l3,l4, because of the difference of every entry, after run a long time,

the usage of disk1 will be 95%, but the other maybe 8

[2022-03-27 06:05] eolivelli commented on #3141
I understand the problem.
Unfortunately this is quite hard to implement because the client has no knowledge of the fact that the bookie has multiple disks and also the mapping between a ledger and the disk depends on the configuration and especially the implementation of the Storage.
For for instance a Bookie may be readonly for one ledger and not for the next ledgerid.

Currently the bookie adver

[2022-03-27 23:43] leizhiyuan commented on #3141
Thanks for your reply, what about if we add an alternative strategy  in bookkeeper.conf , which users can config it

`
if ** any ** one of disk full, we will convert bookie to read only
`

where default is all of ledgers partition are full.

[2022-03-28 06:18] junedo opened #3147 "change compactionRateByBytes or compactionRateByEntries dynamically"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

 when  compactionRate  is too small to compact many dirty entry log files  ,we hope  change compactionRateByBytes and compactionRateByEntries dynamically by  rest api  update config and effective immediately

2. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have).

should-have

3. Prov

[2022-03-28 09:33] RaulGracia opened #3150 "How to recover Bookies that completely run out of storage space?"
**QUESTION**
We have done recent tests to observe the behavior of Bookies when exhausting its storage space. In one test, we got the 3 Bookies (10GB journal, 10GB ledger) in read-only mode (expected). But after some time (perhaps after a GC cycle, which may require extra storage), we observed that the 3 Bookies were in `CrashLoopBackoff` (Kubernetes deployment):
[code]

The reason for Bookies not

[2022-03-29 06:29] #3136 closed

[2022-03-30 18:46] dlg99 opened #3162 "Flaky-test: org.apache.distributedlog.TestTruncate"
`mvn test -f stream/distributedlog/core/pom.xml`
[code]

The tests flake (sometimes fail with error above, sometime VM crashes) on my mac but pass if I run them one by one:
[code]

probably there is some race in test setup/teardown

[2022-03-31 02:38] StevenLuMT commented on #3085
Good job.
I want to know what storage getting this evaluation results, SSD or HDD？
@wuzhanpeng

[2022-03-31 13:53] eolivelli opened #3165 "Bookie does not show logs in 4.15.0rc0"
**BUG REPORT**

***Describe the bug***

It looks like in BK 4.15.0rc0 the bookie does not log anything.
We still have log4j1 configuration files in "conf" and we are not setting "log4j.configurationFile" (but log4j.configuration) in the shell scripts

https://logging.apache.org/log4j/2.x/manual/configuration.html

***To Reproduce***

Unpack the binary tarball and then run `bin/bookkeeper localbook

[2022-04-01 04:53] Shoothzj commented on #3165
I change the params in `common.sh`, but it's still no log out

[2022-04-01 05:43] shenqianjin opened #3168 "remove duplicate metrics TYPE on bookeeper prometheus stats"
**BP**

[code]
More than one TYPE with different tags should be blong to the same metrics name. Therefore, I make this proposal to suggest bookeeper to follow the same TYPE name rule of Prometheus.

This is the master ticket for tracking BP-xyz :

[a short description for this BP]

Proposal PR - #abc

[2022-04-01 06:01] Shoothzj commented on #3168
@shenqianjin does #3137 solves your problem?

[2022-04-01 08:36] eolivelli commented on #3165
According to the log4j2 documentation if we set the old system property log4j2 should behave like log41
https://logging.apache.org/log4j/2.x/manual/migration.html

![image](https://user-images.githubusercontent.com/9469110/161226999-d1e8d30c-2f0c-48ac-a4fd-48868a20d546.png)

[2022-04-01 09:38] gaozhangmin commented on #3141
How about, If you configured multi disk, when there are some  disks which capacity is full, this disk should be  excluded while writing ledgers data, instead of transforming bookie to read only. @leizhiyuan

[2022-04-01 12:34] eolivelli commented on #3165
we could:
- add the Log41 bridge (is is a separate jar?)
- switch to reload4j
- convert the configuration files to log4j2 format (YAML)

[2022-04-01 12:52] eolivelli commented on #3165
basically we should move forward with the work started here https://github.com/apache/bookkeeper/pull/2816

[2022-04-01 15:04] hangc0276 commented on #3165
This PR https://github.com/apache/bookkeeper/pull/2816 use log41 bridge to support log4j, and it works well. The root cause of can't log anything is introduced by https://github.com/apache/bookkeeper/pull/3130 . I'm working on fix it.

[2022-04-01 16:23] RaulGracia commented on #3165
Thanks @hangc0276, I agree with you. I remember testing logging with PR #2816 and the follow-up PR #2837. Anyway, I just checked out the project on commit `6e3c82cbfba7e75b946075a65c16cb390c09f9a6` (PR #2837) and logging seems to be working fine:
[code]
However, when doing the same exact experiment with last `branch-4.15` commit, I can confirm that logging is not working:
[code]

[2022-04-02 01:10] hangc0276 commented on #2943
### Motivation
#### Ledger read/write logic
When the BookKeeper server receives a write entry request, it will write the entry into the memory table, which is a bookie-level cache. After the memory table is full, it will sort and trigger a flush into the operating system PageCache. The operating system PageCache will buffer that data again. When the PageCache flush is triggered, the data will be f

[2022-04-02 01:10] hangc0276 commented on #2943
@eolivelli @dlg99 @mauricebarnum  I add more details about this proposal, Please help take a look, thanks a lot.

[2022-04-02 03:36] hangc0276 commented on #3165
Thanks for you reply @RaulGracia .  I test https://github.com/apache/bookkeeper/issues/2837 by update the log4j version from 2.14.1 to 2.17.1, It only print few logs out. But use log4j 2.14.1  works well.

[2022-04-02 04:05] hangc0276 opened #3174 "Build BookKeeper failed when use multi cores"
**BUG REPORT**

***Describe the bug***
When I build BookKeeper source code using multi cores, it failed occasionally.
The build command:
[code]

The build failed message:
[code]

***To Reproduce***

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

***Expected behavior***

A clear and concise description of what you expected to happen.

***Sc

[2022-04-02 06:26] Shoothzj commented on #3168
@dlg99 I think we can close this issue by #3137

[2022-04-06 02:58] wuzhanpeng commented on #3085
The results of the screenshots are evaluated in the HDD. I think it would be better if the data were all on SSD.

[2022-04-06 03:16] jiazhai commented on #3085
👍. Thank you @wuzhanpeng for the great work.

[2022-04-06 13:56] RaulGracia commented on #3165
@hangc0276 thanks, you are right, and I have checked that the problem with logging started with this PR switching to log4j 2.15.0: https://github.com/apache/bookkeeper/pull/2933
Trying to spot in the release notes of that version what could be causing this change in behavior: https://logging.apache.org/log4j/2.x/changes-report.html#a2.15.0

[2022-04-06 17:19] RaulGracia commented on #3165
@eolivelli @hangc0276 please, check locally #3188 to validate that it fixes the logging problem in your settings. If it works for you, we would need to merge it, cherry-pick it to `branch-4.15` and create a new RC candidate, right?

[2022-04-07 02:17] wuzhanpeng commented on #3085
Hi @eolivelli , it has been a while since I started a discussion on the mailing list. Is that possible to move forward to the next step and start the code review ?

[2022-04-07 06:21] gaozhangmin commented on #3150
@RaulGracia  Add or remove ledger and journal directory is supported, I think we lack of the doc about this.
 I will open a new pr to add doc about how to update cookie.  The step is as below:
 1.  Get bookie server instanceid: bin/bookkeeper shell whatisinstanceid
 2. Generate cookie version file:  bin/bookkeeper shell cookie_generate -i ${instanceid}  -j ${all journal directories} -l  ${all ledg

[2022-04-07 08:56] gaozhangmin commented on #3128
Api `/api/v1/bookie/is_ready` is used to check if bookies are ready

[2022-04-08 03:48] lhotari commented on #3104
Fixed by #3110

[2022-04-08 03:48] #3104 closed

[2022-04-09 08:35] hangc0276 opened #3193 "BP-50: Add journal reuse feature to support Intel Pmem disk"
**BP**

This is the master ticket for tracking BP-50 :

### Motivation
This PR https://github.com/apache/bookkeeper/pull/2742 has been introduced the `FileChannelProvider` interface to support different file provider. The default is `DefaultFileChannelProvider` using standard fileSystem to store journal file.

For [Intel Optane Persistent Memory](https://www.intel.com/content/www/us/en/architectur

[2022-04-13 14:50] hangc0276 opened #3206 "Flaky-test: BookieZKExpireTest.testBookieServerZKExpireBehaviour"
When running CI, the test occasionally with the following exception
[code]

[2022-04-15 10:22] sulunemre opened #3209 "Missing label in issue labels list"
Hi, although the flaky test issue [template ](https://github.com/apache/bookkeeper/blob/master/.github/ISSUE_TEMPLATE/flaky_test.md)has `flaky-tests` in its labels, that label is not added automatically to the new issues because `flaky-tests` label doesn't [exist](https://github.com/apache/bookkeeper/labels). It should be created by a project admin.
Example: https://github.com/apache/bookkeeper/is

[2022-04-18 23:53] dlg99 opened #3215 "ReplicationWorker: NUM_FULL_OR_PARTIAL_LEDGERS_REPLICATED metric never changes"
Via code review:

Counter `NUM_FULL_OR_PARTIAL_LEDGERS_REPLICATED` is declared and created but never actually incremented in the code

https://github.com/apache/bookkeeper/blob/7c8930330da3c20747206ef101a497dc58ab0547/bookkeeper-server/src/main/java/org/apache/bookkeeper/replication/ReplicationWorker.java#L117-L121

[2022-04-19 09:29] #3134 closed

[2022-04-19 17:38] dlg99 opened #3220 "Autorecovery does not process underreplicated empty ledgers"
**BUG REPORT**

BK 4.14.3

bookie1 is decommissioned.

`bin/bookkeeper shell listunderreplicated -printmissingreplica`

[code]

[code]

Note `state=CLOSED, length=0, lastEntryId=-1`

Autorecovery does not delete it, does not update metadata.

***Additional context***

From prod.

[2022-04-19 17:52] dlg99 opened #3221 "Docs eat up "--" in the parameter names leaving "-""
**BUG REPORT**

***Describe the bug***

A clear and concise description of what the bug is.

***To Reproduce***

https://bookkeeper.apache.org/docs/reference/cli/#bookkeeper-shell-readlog
See "-ledgerid N" in flag names instead of "--ledgerid N"

[2022-04-19 18:13] dlg99 opened #3222 "Read ledger returns "Bookie handle is not available" when one bookie is up but the ledger is empty."
**BUG REPORT**

BK 4.14.3

bookie1 is decommissioned.
bookie3 is not available.

`bin/bookkeeper shell listunderreplicated -printmissingreplica`

[code]

[code]

Note `state=CLOSED, length=0, lastEntryId=-1` (see https://github.com/apache/bookkeeper/issues/3220 )

Run `bin/bookkeeper shell readledger <LEDGER_ID>`

See connections errors for bookie1 and bookie3 (expected)

For bookie2 see:

[code]

[2022-04-19 19:19] dlg99 opened #3223 "Docs: CLI docs are badly out of date"
**BUG REPORT**

Multiple utilities have new options added, these do not show up in the documentation on the web site.

Docs:
https://bookkeeper.apache.org/docs/reference/cli#bookkeeper-shell-listunderreplicated
[code]

Code:

[code]

and

[code]

Similarly with other CLI commands

[2022-04-19 19:25] #3215 closed

[2022-04-19 21:45] dlg99 opened #3224 "CLI: add count{blah} counterparts to the list{blah} commands"
**FEATURE REQUEST**

Often one needs to get an assessment of the cluster through the CLI: how many underreplicated ledgers there are, how many read-only bookies etc.

Current set of the CLI commands assume one runs the command that prints full list of items (e.g. ids of underreplicated ledgers), pipes output to grep to filter out log output that mixes in, pipes to `wc -l`.
This can take a lot of t